[2018-07-20 18:18] drtrigon commented on #222
I was able to improve a bit here and there (adding pull downs, increase LoRa rx/tx power, changing the send and receive algorithm). Basically what I see is device in front of lora behaves very well. Device behind 2 lora switches is slow but behaves well as long as there is not much traffic. As soon as I start stressing the devices and the bus a bit I start seeing `PJON_BUSY` (sometimes also `PJON_

[2018-07-20 19:16] gioblu commented on #222
CIao @drtrigon I am not sure the [arduino-LoRa](https://github.com/sandeepmistry/arduino-LoRa/) takes care of avoinding collisions. I think just spits out what has been asked to transmit. What do you mean with "start stressing the devices and the bus a bit" ? Have you taken a look to the optinal configuration documented in the ThroughLoRa README?

- Consider that when using LoRa care should be tak

[2018-07-20 20:43] drtrigon commented on #222
What I mean is continuous communication - what works is say sending and receiving 10 messages, wait for some time and do that again. But sending and receiving more messages, respectively repeating this continuously results in the behaviour described. Code used is https://github.com/drtrigon/sketchbook/blob/master/OWPJON/LINUX/Local/LocalUDP/RemoteWorker/DeviceGeneric/DeviceGeneric.cpp.

Can you be

[2018-07-20 21:01] gioblu commented on #222
Ciao @drtrigon look at the routing docs:
https://github.com/gioblu/PJON/blob/master/documentation/routing.md#routing

You can optionally pass the polling time of each bus:
[code]
Setting a higher polling time for LoRa buses may help.

About "continuous" sending, depends on what you mean with that, if you mean literally non interrupted sending, you may be probably jammed by other systems using that

[2018-07-20 21:10] gioblu commented on #222
@drtrigon sorry I forgot about your crc question, yes the crc is always included:
- one is used to check the integrity of the initial packet info: https://github.com/gioblu/PJON/blob/master/specification/PJON-protocol-specification-v3.0.md#initial-meta-data-crc8
- another is applied at the end taking care to check all the packet: https://github.com/gioblu/PJON/blob/master/specification/PJON-protoc

[2018-07-20 21:19] gioblu commented on #222
About the codebase:
- This may not be the best wait to have a timeout: https://github.com/drtrigon/sketchbook/blob/master/OWPJON/LINUX/Local/LocalUDP/RemoteWorker/DeviceGeneric/DeviceGeneric.cpp#L141 specially on a real time OS
- Here longer polling time may help: https://github.com/drtrigon/sketchbook/blob/master/OWPJON/LINUX/Local/LocalUDP/RemoteWorker/DeviceGeneric/DeviceGeneric.cpp#L143
- Also

[2018-07-20 21:47] drtrigon commented on #222
My switch (derived from https://github.com/gioblu/PJON/blob/master/examples/ARDUINO/Local/SoftwareBitBang/Tunneler/BlinkingRGBSwitch/BlinkingRGBSwitch.ino) uses `PJONAny` instead of `PJONBus` might this be relevant for the issues I see?

[2018-07-20 22:45] gioblu commented on #222
@drtrigon I think @fredilarsen may answer better to this but in the `PJONAny` instantiation:
[code]
here good hints about LoRa:
https://arxiv.org/pdf/1607.08011.pdf

This seems promising.

I know my suggestion of laser communication may have sounded a little bit silly, but considering the LoRa limitations well described in the document linked and the undoubtedly present privacy issues, laser conne

[2018-07-20 23:47] drtrigon commented on #222
No laser comm does not sound silly - I just have concerns related to the mechanical setup and safety since I know my skills... Producing accidents is one of my biggest skills. ;)
I understand that LoRa is slow and that I can influence how slow with spreading, bandwidth, etc. But that is no concern to me I am willing to wait for the answer. What I do not understand is why PJON degrades in the way d

[2018-07-20 23:53] gioblu commented on #222
Ciao @drtrigon I would be happy to inspect the degrading issues you describe, and thank you very much for dedicating an effort reporting those. Can you try to describe me better what happens? Do you have any log/print? In which section/medium happens? Have you saved some garbage occurrence?

[2018-07-20 23:56] gioblu commented on #222
@drtrigon we recently pushed some fixes, and @fredilarsen pushed some fixes in particular to the routing classes, are you using master?

[2018-07-21 08:50] xlfe opened #232 "Add ThroughSerial support for LINUX?"
It would be great to be able to use ThroughSerial support for LINUX

I have a prototype which is working well (including using Python through PJON-cython) using the same serial interface from WiringPi (WiringPiSerial)

I have got it working on my Mac talking bi-directionally to an Arduino over USB serial - (but I had to set self.bus.set_synchronous_acknowledge(false) on both sides of the connectio

[2018-07-21 10:35] drtrigon commented on #222
I was using v11 now I downloaded master and updated all 3 switches (devices not updated yet as they are SWBB) to this most recent version.
May be we should build unittest cases for this in order to have useful data. So I use this very simple script https://gist.github.com/drtrigon/e7d8c0601539f92f9ace369780735f2a#file-test-sh and do get output like this https://gist.github.com/drtrigon/e7d8c060153

[2018-07-21 12:48] gioblu commented on #222
Ciao @drtrigon about reflections, yes that can happen. I remember testing LoRa, HC-12 and STX/RX882, being able to obtain a higher range with no line of sight exploiting reflections on buildings, so for sure they occur.

Also @fredilarsen have experimented degradation, and we have isolated the problem in the switch. The problems identified are 2:
1. Freeze in the long run after some days
2. Degrad

[2018-07-21 13:16] andrei-volkau opened #233 "AnalogSampling - 2 LEDs per one robot"
Hi

I want to create a swarm of robots using "AnalogSampling".
Please look at the follow image.
![untitled diagram](https://user-images.githubusercontent.com/12778567/43035894-7492f4ec-8cff-11e8-9238-9281a0ac6c36.jpg)

I have the following question. How can I connect 2 IR LEDs to Robot №2.
Requirements:
1. Robot №2 should be able to communicate with Robot №1
2. Robot №2 should be able to communica

[2018-07-21 13:33] gioblu commented on #233
AH @andrei-volkau look, a hint `strategy.threshold` contains the analog value that determines the difference between 0 and 1, AnalogSampling uses an adaptive system for threshold to be able to work with signals magnitude between few millivolts and 1.1v (if analog reference 1.1 is used). The threshold is effectively the distance between the transmitter and the receiver, it has a high value if the 2

[2018-07-21 13:41] gioblu commented on #233
@andrei-volkau it may have sense to leverage of the Switch or SimpleSwitch classes contributed by @fredilarsen to route packets between robots, so you dont have to reimplement that part of functionality.

[2018-07-21 19:58] fredilarsen commented on #230
@xlfe I have just sent a pull request to @gioblu for the sender autoregistration in GUDP, just as described a few posts up. I have tested it on ESP8266 and Linux. It makes GUDP a lot more attractive in my case at least, and the ESP8266 a stronger candidate.

[2018-07-22 00:45] fredilarsen commented on #222
Point 2: I did improve one thing: A missing or silent device would cause delivery to time out, and the switch would slow to a crawl. Now it does not wait if device location is not known, it just sends the packet and continues.

I had a case here where contact with a device was lost, and this effectively destroyed switch performance and I therefore practically lost contact with the devices behind t

[2018-07-22 02:38] xlfe commented on #230
The pull request looks good. Quick turnaround!

@fredilarsen that sounds like a pretty good demo - the new StdIO strategy would help open PJON to other languages (but I guess you'd still need to implement some of the bus ID details to encode/decode message destinations?)

One question - your ESP8266 GUDP-SWBB switch (or any switch) - can you use it as a node and a switch at the same time?

For exa

[2018-07-22 04:20] gioblu commented on #232
Ciao @xlfe thank you very much for your support.
I have studied your contribution, one thing I see is that wiringpi (at least the serial part) should work on a linux machine and in some way your contribution proves it, Have you tried to download and test wiringpi on linux?

My only concern with your contribution is the code duplication and the future need to keep track of wiringpi development, If

[2018-07-22 11:02] drtrigon commented on #222
So from what I do see after about 1 day is I can tell that it did improve (thanks a lot!!) but still has issues. I don't know whether it is what you mean by 1 and 2, I do see this:
* for the device behind lora (only rarely the one in front) I still see degradation sometimes (even with connection lost) but most of the time fast(er) recovery than with v11
* for the device behind lora I see long dela

[2018-07-22 11:06] fredilarsen commented on #230
In the PJONAny constructor the default device id of a switch can be set. By default it is PJON_NOT_ASSIGNED (255) meaning the switch will be "invisible" on the bus.

If you assign an id to the switch, and use the PJONInteractiveSwitch which allows user callbacks for receive(forward) and error, you can implement your own logic. This is shown in BlinkingRGBSwitch.ino.
One thing to consider is that i

[2018-07-23 12:51] drtrigon commented on #222
As an intermezzo I fell that I have to pronounce that I want to thank you all very much for your work and support! Thanks a lot to everybody!!
Even though the system does not work fully reliable yet I feel that we are close to that point. The results I have so far are promising and very cool; my 2nd LoRa switch and everything behind is powered from a 20W solar panel and - even though we had not th

[2018-07-23 13:17] gioblu commented on #222
Ciao @drtrigon thank you very much for your support. Also thanks to your reports we were able to fix some of the issues and make documentation better. If something does not work still perfectly there is only me to blame, if all works fine, there is an entire community to thank. I would have started some years earlier studying computer science but I have lost some time in futile experiences in adol

[2018-07-23 19:37] drtrigon commented on #222
Just came across the switch code again ;) and am quite sure that they miss `break` statements in all switch `case`, see e.g. here https://github.com/gioblu/PJON/blob/master/examples/ARDUINO/Local/SoftwareBitBang/Tunneler/BlinkingRGBSwitch/BlinkingRGBSwitch.ino#L58.

[2018-07-25 04:46] gioblu commented on #212
Ciao @osman-aktepe thank you very much, I have added your timing as I was able to replicate your results. I will as soon as possible dedicate some time to effectively tuned those values for higher performance and reliability.

[2018-07-25 06:32] gioblu commented on #212
Will keep attention to roger's releases, closing for now, feel free to re-open if required.
Thank you again!

[2018-07-25 06:32] #212 closed

[2018-07-25 12:11] fabpolli commented on #210
I've tested TS with Raspberry Pi and an Arduino device, if on Rpi I run a dedicated program that read continuously the RS485 bus and sometimes put a message for other device on the bus work perfectly without and with syncronous ack.
But with a daemon that sleep for one second, check the bus and manage messages. In this case sync ack will fail and sender notify error 101, without sync ack bidirecti

[2018-07-25 13:06] xlfe commented on #230
Thanks @fredilarsen I will give it a go in the next few weeks and let you know if I have any problems.

thanks for all your assistance

[2018-07-25 13:08] xlfe commented on #232
Hi @gioblu no problems at all - sorry for the delay in getting back to you, I will try to refactor slightly and then send you an update in the next few days

[2018-07-25 17:01] gioblu commented on #210
Thank you very much for your feedback @fabpolli !!! I will add to the known issues what you report.
Closing here for now, feel free to re-open if required.
Thanks again.

[2018-07-25 17:01] #210 closed

[2018-07-25 18:53] andrei-volkau commented on #233
Hi @gioblu ,
**Item 1.**

Sorry, Do you mean passing the maximum reception time in microseconds?
`bus.receive(1000);`

**Item 2.**
I executed standard sketches (Switch/SimpleSwitch). I adopted the code for AnalogSampling strategy. The sketches works fine.

 It easy to specify `receiver_function` in the case of using `InteractiveRouter`.
`router.set_receiver(receiver_function);`
How to do the same

[2018-07-25 19:35] gioblu commented on #233
Ciao @andrei-volkau

**Item 1.**

https://github.com/gioblu/PJON/blob/master/documentation/routing.md
second parameter of `PJONBus` is the polling time for that bus.

if using PJONAny:
[code]
**Item 2.**
For the switch / simpleswitch see the source here:
https://github.com/gioblu/PJON/blob/master/src/PJONSimpleSwitch.h#L105

**Item 4.**
Would be interesting to see which graph comes out from `dista

[2018-07-25 19:40] fredilarsen commented on #233
Hi @andrei-volkau
Regarding callback functions, these are not supported by the routing classes except when PJONInteractiveRouter is "added on top". I named it "Interactive" because it calls user functions when something happens,
So PJONInteractiveRouter does not change the underlying routing, it just adds the callback functionality.

Look at the ARDUINO\Local\SoftwareBitBang\Tunneler\BlinkingRGBSw

[2018-07-26 13:40] gioblu commented on #233
@andrei-volkau good, not sure why is still not perfectly linear but it will probably more than enough to let them rove in formation.

[2018-07-26 14:29] gioblu commented on #233
@andrei-volkau if you need more range than the one you can achieve with this configuration, you can use a couple of pins (separate transmitter and receiver channels) and add a transistor driven emitter with a higher intensity output. This should let you achieve higher range.

[2018-07-26 16:31] gioblu commented on #60
CIao @rajdarge @zoomx @aperepel the support is now available for SoftwareBitBang, ThrouSerial and ThroughLoRa, the issue remained open I am sorry :)
If you can give it a try :)

Closing for now, feel free to re-open if required.
Thank you again for your support.

[2018-07-26 16:31] #60 closed

[2018-07-26 16:41] andrei-volkau opened #236 "PJONInteractiveRouter - allowing a switch or router to have it's own device id"
Class Description says that PJONInteractiveRouter allows a switch or router to have it's own device id.
What should be done to assign the ID?

[2018-07-27 17:39] gioblu commented on #236
Ciao @andrei-volkau sorry for the delay, see here: https://github.com/gioblu/PJON/issues/230#issuecomment-406857843

I will soon start to work on the router classes missing documentation :)

[2018-07-28 21:14] sticilface opened #237 "ThroughSerial is currently a blocking function. Why not let serial interrupts do the work?"
Extensive testing on ESP32, ESP8266 when connected to a AVR leonardo acting as a router between SWBB and ThroughSerial demonstrate very poor and intermittent performance.   This has been quite troublesome to track down and probably is the result of more than one factor.   Despite getting no transmission using ThroughSerial and the  speed test sketch at 115200 baud i could happily print text betwee

[2018-07-29 16:06] andrei-volkau commented on #236
Hi @gioblu
Thank you for the reference.

[2018-07-29 16:06] #236 closed

[2018-07-30 21:30] drtrigon commented on #222
Ok, I think I did a step forward. I setup a lora sniffer as I have 3 lora chips now and found that I have to be blamed... The frequency I was using for LoRa is one of the most common ones and has quite some traffic on it (yes I was warned by you guys about collisions before). I think most of the issue - not sure if that explains all - I see are related to package collisions and stuff like this. I

[2018-07-30 21:54] gioblu commented on #222
Ciao @drtrigon, this is the lorawan spec:
http://net868.ru/assets/pdf/LoRaWAN-v1.1.pdf

In my opinion is a really huge set of rigid and different rules. The goal is to have a central server on the internet able to route data to and from nodes and applications. Although can be handy specially if using only the physical layer That's pretty centralized for no reason:

relay messages between end-devic

[2018-07-31 01:52] gioblu commented on #237
Ciao @sticilface this is an extremely valuable piece of work and I am sure will solve many issues to many users. My compliments for your contribution and thank you for your support to the project.

About the issue you firstly expose I do see an explanation:
The send function does not clear the ACK byte in the buffer and being always present data transmission is never initiated because of its prese

[2018-07-31 09:29] xlfe commented on #232
Hi @gioblu - I wanted to come back and ask a few questions - I'm not sure it makes sense to use WiringPi for the generic Linux/Posix/mac serial interface?

I understand you have used wiringpi for the hardware pin support on Raspberry Pi - which makes sense - but rather than try and use it for Linux serial support too, would you be open to finding a cross platform serial library to use instead?

Ie

[2018-07-31 14:49] drtrigon commented on #222
@gioblu: I think I found something. My device ID 45 (desktop system) is in fact a notebook, connected via wifi, powered by supply and sometimes by battery only. When I power it from battery only - so it goes to lower power settings the delays on the PJON network become that big, that essentially no communication I try to do works reliably. The sniffer also shows packages coming so late that a huma

[2018-07-31 21:08] sticilface commented on #237
Just saw this now!  sorry.

yes i agree.  I feel that async serial will provide a significant speed improvement for most embedded use cases.  It would be good to get it working with full async.

Regarding when to include it..
I have pushed it to my repo... would be good to get some other feedback and wider testing maybe before including it. so we could maybe encourage people to at least test it if

[2018-07-31 21:13] andrei-volkau opened #239 "AnalogSampling - infrared receiver circuit using an infrared (IR) phototransistor"
**Problem statement:** I am using a couple of pins (separate transmitter and receiver channels).
`bus.strategy.set_pins(A0,A1);`
It works in case of using 2 IR LEDs. I did that. I want to conduct an experiential with (IR) phototransistor.

**Question:** Could you please share your thoughts about using of infrared (IR) phototransistor in the following way?
![screenshot from 2018-0sasdsas7-31 dsdsd2

[2018-07-31 22:36] gioblu commented on #222
CIao @drtrigon sorry for the delay, I suspect you are seeing the effect of the notebook not being able to discharge induced interference not having a direct link to ground. To solve the issue, reduce the resistivity of the pull-down resistor, or place it if not present.

[2018-08-01 09:03] drtrigon commented on #222
I did a very naiive test using ping to my router, here the results:

battery powered:
[code]

average ping time: 1.555 ms / minimal ping time: 1.130 ms

from power supply:
[code]

average ping time: 1.124 ms / minimal ping time: 0.858 ms

As you can see on battery the ping time is always >1ms. As it seems this is quite relevant for my setup and even more for the devices behind the lora channels/3

[2018-08-01 14:02] gioblu commented on #232
Ciao @xlfe I agree with you that wiringPi used on LINUX is just a quick and dirty hack.

The wjwwood/serial project is really cool I did not know about it, it can be for sure a source of inspiration.

A couple of considerations:
- I see the project maintenance is poor and the latest release is of 22 Apr 2015
- I also a fair amount of open issues for linux and windows https://github.com/wjwwood/ser

[2018-08-01 14:13] gioblu commented on #239
Ciao @andrei-volkau sorry for the delay in the response. Look here:
![ir_pair](https://user-images.githubusercontent.com/764497/43526686-1dcf11be-95a5-11e8-89e5-b8729d412e24.gif)
source (http://www.me.umn.edu/courses/me2011/arduino/technotes/irbeam/irbeam.html)

This schematic shows the emitter always on connected to 5v, what you should change is to connect the positive of the emitter instead of t

[2018-08-01 15:45] gioblu commented on #239
@andrei-volkau I have never tested AS or PJDLS using phototransistor, it has been tested only using the photodiode (a LED or a photodiode designed for reception only) in positive bias or photo-voltaic mode or more simply  converting light into electricity.

[2018-08-02 08:53] andrei-volkau opened #240 "AnalogSampling - read_byte() detects 1s from noise (actually channel is not busy) --> can_start() returns False all the time"
**Case 1**
I was using Arduino Uno in the following way. The IR LED was used for Transmission/Receiving signals. It worked well.
![photo_2018-08-02xsdsdsd_10-42-21](https://user-images.githubusercontent.com/12778567/43569990-e5dbc39a-9641-11e8-8578-1f7346946a10.jpg)

**Case 2**
I started to use Arduino Pro Mini in the following way.
![photo_2018-08-02_10-59-25](https://user-images.githubuserconten

[2018-08-02 20:58] fredilarsen commented on #222
Now that you have LUDP and SWBB buses under control, I think I would thave tried an alternative to LoRa just to have tested alternatives. What about HC12 or the very simple ASK modules? Reduced sensitivity may reduce problems?

In my earliest setups I used a Nordic Semiconductors NRF24 transceiver which worked well, except for strange temporary periods of a few hours with no communication. I never

[2018-08-03 08:02] drtrigon commented on #222
@fredilarsen: I agree I was thinking about alternatives, 2 things came to my mind:
* (as you mentioned yourself) another kind of radio has similar issues - external interferences - I guess that the probability is lower because of the range - but basically the issues stay the same
* did not find a good supplier for a good module (I did look for the HC-12 when you first mention them)
* (may be not a

[2018-08-03 13:37] drtrigon commented on #222
The AnalogSampling ... I could talk for days about it (I fell in love with it when I first read https://www.researchgate.net/publication/221568729_Very_Low-Cost_Sensing_and_Communication_Using_Bidirectional_LEDs?_sg=r-MhohoC0ihWf5g5jnBHao8JNqV8qDvtWdMB82RV-eAN4Q2GThLUM4gKbKWp-wSdY0nTkxuhig years ago and sweared to use it myself someday ;) ... the points holding me back currently are:
* low speed (

[2018-08-03 16:29] gioblu commented on #222
Ciao @drtrigon that paper is a bible I agree, although it does not describe the same solution we use for LED reception. They apply there the reverse bias technique (charge inversely the LED, voltage discharge time proportional to incident light) also popularized by the Arduino LED sensor example:
https://playground.arduino.cc/Learning/LEDSensor

Using reverse-bias it can be obtained a higher sensi

[2018-08-03 17:54] gioblu commented on #222
Ciao @drtrigon sorry, about LED suggestions this:
![analogsampling_pjdls_good_led](https://user-images.githubusercontent.com/764497/43657706-dc7321d4-9756-11e8-9dd5-19c7fde17da8.jpg)
is L-53SF4C https://www.rapidonline.com/pdf/55-9204_v1.pdf and works nicely @ up to mode 3

or you can buy a bunch and evaluate their performance, see how to do that here:
https://github.com/gioblu/PJON/tree/master/sr

[2018-08-03 17:59] gioblu commented on #222
@drtrigon

this is bad, probably third-party lora library, should be investigated further.

[2018-08-05 07:54] drtrigon commented on #222
No I did not do it, I just did this: https://github.com/drtrigon/sketchbook/blob/master/libraries/PJON-master/src/strategies/LocalUDP/LocalUDP.h#L32
I think a simple `#ifndef` before that should do it, but as I was not sure on how proper this was to tackle my issue I did it as draft to test. Would be great if you could do it (as you have commit access to the repo)!

Regarding the UDP switch issue,

[2018-08-05 11:05] andrei-volkau commented on #240
Hi @gioblu ,
Thank you for the response.

We created the following dedicated PCB.
![robot6](https://user-images.githubusercontent.com/12778567/43683813-33c11d1a-989c-11e8-9171-fcbff8a580f4.jpeg)
The PCB is simple. Our first robot includes the following components
1. 2 IR LEDs [each LED is used for Bidirectional Communication];
2. 2 current-limiting SMD resistors  (120Ω)
3. 2 pull down SMD resistor

[2018-08-06 08:01] mrfawy commented on #222
Hi @ fredilarsen ,

You mentioned ..

May I ask how you were able to do that with PJON? .. my understanding is that ThroughSerial accepts a serial (or software serial ) which is OK for HC-12, but NRFs  has SPI interface ..

apologies if the question is naive .. I'm still a newbie who just discovered PJON!  .. Thanks a lot

[2018-08-06 09:30] xlfe commented on #232
@gioblu Hmm - I didn't see those open issues but yes there looks to be a few...

What about libserialport instead? - I think that is used by the Arduino project for their cross platform serial support - https://github.com/arduino/Arduino/issues/5096#issuecomment-230305207

[2018-08-06 14:40] drtrigon commented on #222
@mrfawy: I guess he is referring to "OverSampling" strategy.

@gioblu: Just came across "If using OverSampling, the asynchronous acknowledgement is suggested as acknowledgement mechanism because includes in the packet's meta-info a packet id, avoiding duplicated receptions." Can you elaborate whether this is useful for lora too? (You recommended to me to use it for ThroughSerial some time back...)

[2018-08-06 16:25] gioblu commented on #222
Ciao @drtrigon if you are looking for packet uniqueness, and so avoid the duplicate reception of packets you could include just the packet id see docs here: https://github.com/gioblu/PJON/blob/master/documentation/configuration.md#extended-configuration

I would suggest you to start from adding the packet id, the asynchronous acknowledgment can be useful to have transmission certainty in a multi-h

[2018-08-06 18:14] mrfawy commented on #222
@fredilarsen @drtrigon  thanks a lot for clarification... yeah  I guess that would be great to implement an over sampling  strategy for NRF24s over SPI ..

[2018-08-08 16:51] drtrigon commented on #211
Would allow to use Dragino LG01-S (Uno/Yun combo) for direct LUDP - LoRa tunneler (also solving level shifting issues). Me be even use as 3 way tunneler LUDP - LoRa - SWBB would be possible.

[2018-08-08 16:57] drtrigon commented on #222
@gioblu: Quick test on tiny85 shows about +500 Bytes to end up with about 6 kBytes (70-75% of space) this is not to much of free space for other code but works theoretically. Asynchronous acknowledgment adds another about 100 Bytes.

[2018-08-08 17:30] gioblu commented on #222
Ciao @drtrigon thank you very much for the test,
you can reduce the memory footprint using optional defines see:
https://github.com/gioblu/PJON/wiki/ATtiny-interfacing
[code]

The LEDAR program:
https://github.com/gioblu/PJON/blob/master/devices/sensors/LEDAR/software/LEDAR/LEDAR.ino
that contains proximity detection, configuration exchange and EEPROM handling compiles like this:
[code]

Async ack

[2018-08-08 17:36] drtrigon commented on #222
Going back to my initial question ... from my side we can clean up this issue as I got a lot of advices regarding on how to setup a solution for an isolated connection going through a wall or a window - thanks! Other issues raised here that need further work:

* updates to lora strategy, eg. timing etc.
* examinating lora third-party library for issues causing a freeze of the tunnel or other issue

[2018-08-08 17:38] gioblu commented on #222
Beautiful, thank you very much @drtrigon  for your valuable and passionate support to the project :)
I will quickly eat something and will give feedback about it 👍

[2018-08-08 18:16] drtrigon opened #241 "Get list of connected devices"
I found https://github.com/gioblu/PJON/blob/master/documentation/addressing.md#dynamic-addressing and am wondering whether I can use `bus.check_slaves_presence();` also on a bus with fixed ids? Does it work on LUDP also? A quick try resulted in error like:

 template<typename Strategy = SoftwareBitBang>

Would automatic listing of device ids for fixed ids be possible?

[2018-08-08 18:29] drtrigon opened #242 "Interactive router acting as a switch or router but also as a device"
According to https://github.com/gioblu/PJON/blob/master/documentation/routing.md#interactive-router an `Interactive router routes packets as a switch or router but it is also able to act as a device`. So that would mean this router can at the same time have an id and be addressed as device? That would be useful to return values and that way get status and debug info from router/switch/tunnels via

[2018-08-08 18:35] gioblu commented on #240
Ciao @andrei-volkau yes, you are absolutely right, for sure this must be solved in software.
Thank you for your report, looking into it, obviously meanwhile you can get away with your temporary patch.

My compliments for the great work 👍
I would be really curious to see a video of the robots roving around!!
Keep me updated and let me know if you need help.

one thing, if you are using continuous r

[2018-08-08 18:45] gioblu commented on #240
@andrei-volkau I would iterate the board and try to see if you can read from 4 LEDs and share the estimated position of each robot to the other and keep them in formation using coordinates.

[2018-08-09 05:51] mrfawy opened #243 "PJON Throughserial on RS485"
I'm trying to connect Arduino uno(sender) with pro-mini (atmega328/16MHz/5v) with ThroughSerial over RS485.

Problem:
I'm getting a lot of Busy/interference  (1667) which affects the throughput. I'm testing with a modified version of network analysis example (modified to work with ThroughSerial)

I'm using software serial with Baudrate :115200 .. also tried with 9600 with similar results

Here's m

[2018-08-09 17:56] mrfawy commented on #243
Thanks a lot @gioblu .. I tried setting it to 0 and result has much improved 👍
Packet Overhead: 10B - Total: 2670B
**Bandwidth: 8010B/s
Data throughput: 5340B/s
Packets sent: 267**
Mistakes (error found with CRC): 0
Fail (no acknowledge from receiver): 0
**Busy (Channel is busy or affected by interference): 0**
Accuracy: 100.00 %

I didn't fully understand the last part about multi-master .. docum

[2018-08-09 19:54] gioblu commented on #243
Ciao @mrfawy I would suggest you if the bandwidth is enough to structure the procedure using master-slave approach:

- Master asks for setting sending a request to each slave and waits for an answer
- Each slave answers back its state after receiving the master's request
- Master sometimes broadcasts new state

Doing so you are sure that no collisions can occur, because each slave will transmit on

[2018-08-10 02:55] gioblu commented on #222
Ciao @drtrigon :
- LoRa timing could be optimized, I agree, @Matheus-Garbelini may look into that when he has free time
- LoRa library hangs on which device? Also this could be useful info for @Matheus-Garbelini
- I think @fredilarsen have already worked out the stdIO strategy if I am not mistaken :)
- I agree that slower modes must be provided, in the last 2 days I have worked out a new single wi

[2018-08-10 03:04] gioblu commented on #241
Ciao @drtrigon the listing of available devices with static addressing is a feature that should be added on top and is not provided by the PJON class, primarily not to affect memory footprint and also because should be part of a higher level class. How this should be implemented depends on the limitations of the data-link used or the set of data-links potentially used (if master-slave request-resp

[2018-08-10 03:11] gioblu commented on #242
Ciao @drtrigon yes absolutely, can be "interactive" and so act also as a device reacting to a packet through its receiver callback. I dont think the class supports multiple ids as you say, but it could be easily implemented on top of the existing classes if required,

[2018-08-10 21:19] ibantxo commented on #195
I am looking forward to testing ThroughAsyncSerial strategy!!   lol
Many thanks to @sticilface, @gioblu and @everybody!!!

[2018-08-12 19:26] gryzli133 opened #244 "PJON for my sensors"
In the example:
PJON/examples/ESP8266/Local/SoftwareBitBang/SendAndReceive/ (Arduino MEGA + ESP8266 dev board 12E)

when I disconnect PJON cable for short time the transmission is recovering, but if it takes too long (few seconds) then I will stop the communication.

The serial monitor results are:

BLINK
BLINK
(...)
BLINK
BLINK
Connection with device ID 44 is lost.

After that the communication s

[2018-08-13 10:36] drtrigon commented on #242
How can I assign an ID to a switch?

I think having multiple ids could be very useful - eg. having a very simple temperature sensor device that has 1 value. When having multiple temperatures I would be useful if that would only need to increase the number of devices as no further change to "api" (commands send to device) would be needed.

[2018-08-13 10:52] drtrigon commented on #83
I think we would need to look at several things:
* we need to add a capacitor from data line to gnd for every device; what is the optimal value? (might heavily depend on used hardware)
* SWBB need to be in high state when busy and timing needs to have plenty of busy time
* investigate on compatible hardware and needed settings (power budget, brown-out detect, watchdog, etc.)
* most of the code mig

[2018-08-13 10:55] drtrigon commented on #241
Does that mean the dynamic addressing (or parts of it) can not be (re)used for this?

[2018-08-13 16:40] drtrigon commented on #222
Most hints I have so far indicate that it seems to be Sw B more often than Sw C. May be also a send receive clash when a alien lora transmission comes in? Don't know yet...

I need https://github.com/gioblu/PJON/issues/242 for more debug info - I need to find the proper condition for the watchdog resp. more details on what happens; which bus stops sending? what error does get triggered? does it fr

[2018-08-14 14:25] gioblu commented on #242
Ciao @drtrigon if I understood correctly, you mean to assign a device id to a certain output present on the same device, instead of relating to different devices? That is a hack, generally device ids are device network addresses.

[2018-08-14 14:26] gioblu commented on #241
Yes absolutely

[2018-08-14 15:30] gryzli133 commented on #244
Yes, I have 160ohm on every input and the bus is pulled down with 100k ohm resitor. When I disconnect the cable for 1-2s there is no message in serial monitor, after reconnect it start to print new BLINK messages. But as soon as I get the message: Connection with device ID 44 is lost.
Nothins more is happening...

[2018-08-14 15:52] gryzli133 commented on #244
Sometimes I don't even get the message: Connection with device ID 44 is lost

Then I have to restart both boards to continue the transmission...

[2018-08-15 18:58] gryzli133 commented on #244
here a short movie what is happening exactly:
https://www.youtube.com/watch?v=k7kuZIPaL98

[2018-08-17 12:29] gioblu commented on #244
Ciao @gryzli133 sorry for the late answer, I took a 2 weeks vacation in a small island in sicily where internet connection is available as much as water in the sahara. Thank you very very much for taking the time to report so precisely the issue.

This is not a problem, if you look the send and receive example codebase, it is practically a ping pong between your ESP and the Mega. What is happening

[2018-08-17 13:51] gryzli133 commented on #244
Thank you! Now is everything clear. I'm not a good C programmer, because I used to program only automation PLCs professionally. But if it comes to use and combine some libraries to work on one project, then want to be sure each of the lib is working 100%.

I'm working on some smart home projects, I have also shared few codes already, that I think most of Poland is using now for control Lights and

[2018-08-17 21:47] drtrigon commented on #242
What I think of is a microprocessor (AVR in my case) that runs code that acts like (a) a switch AND (b) as a device (with own id) at the same time. This is why I also asked for different ids and act as multiple devices.

[2018-08-17 21:52] drtrigon commented on #241
I will have a look at this, thanks! My naive first approach would be to use e.g. `PJON_BROADCAST` as mentioned in https://github.com/gioblu/PJON/blob/master/documentation/data-transmission.md and https://github.com/gioblu/PJON/issues/40.

[2018-08-17 22:06] drtrigon commented on #83
No I don't agree on this:
* the bus gets a pull-up resistor to be kept high (in idle state) all devices (any number of masters and slaves can charge - may be the value of the pull-up needs to be adopted for big number of devices)
* HIGH state is passive by setting the pin to input (high impedance)
* LOW state is active by pulling the pin low (low impedance)
* the total time of low states should be

[2018-08-18 13:32] gioblu commented on #83
Ciao @drtrigon thank you, I am not sure using with the internal pull-up resistor you can get enough current to power all connected devices. For sure it is easier to use master-slave approach in this particular case, although it may be possible to get it working as you describe, probably using an external pull-up.

[2018-08-18 13:52] gioblu commented on #242
Ciao @drtrigon I am sorry I misunderstood your question, sorry if my answers are not detailed as usual but I am in vacation in a place where wireless and electricity are available as much as water in the sahara :0 I will be back fully available 24 of august.

[2018-08-19 08:12] drtrigon commented on #242
No problem - enjoy your holidays and answer when you have time again... I will shift to another project during that time!

[2018-08-22 20:56] YSmetana commented on #214
Hello! :) Gioblu, thanks for your work!

I have similar problem with HC-12 (433 MHz UART) and AltSoftSerial.

    #define BYTES 9
    #define TS_BYTE_TIME_OUT      80000
    #define TS_RESPONSE_TIME_OUT TS_BYTE_TIME_OUT * BYTES * 2.5 // PJON timeout, if operating at less than 9600Bd should be longer
    #define PJON_PACKET_MAX_LENGTH 32
    #define PJON_INCLUDE_TS
    #include <PJON.h>
    ...

[2018-08-23 13:12] Girgitt opened #245 "PJON 11.0 compilation error with Arduino 1.8.6 (TCPHelper_ARDUINO.h:14:30: fatal error utility/socket.h: No such file or directory)"
PJON v11.0 depends on Ethernet library.

Recent Arduino 1.8.6 is shipped with Ethernet library v2.0.0 which does not have  utility/socket.h

A workaround for this issue is to downgrade Ethernet library to version v1.1.2

[2018-08-24 10:52] gioblu commented on #245
Ciao @Girgitt I am finally back. Thank you very much for the report.
Will follow fix.

[2018-08-24 13:40] fredilarsen commented on #242
@drtrigon The PJONAny constructor takes the device id of that bus as a second parameter. The default device id is PJON_NOT_ASSIGNED, making the switch "invisible" on that bus. You can assign a unique device id to each attached bus.

You cannot assign multiple device ids per physical bus to a switch, but have to add this logic yourself, by checking the receiver id of each incoming packet and replyi

[2018-08-28 11:13] gioblu commented on #245
Ciao @Girgitt commenting `socket.h` inclusion does not affect 1.8.5 and let 1.8.6 compilation run fine.

[2018-08-28 13:04] gioblu commented on #244
Ciao @gryzli133 I will dedicate some time on the MySensors transport layer.
Have you looked at https://github.com/fredilarsen/ModuleInterface by @fredilarsen ?

[2018-08-30 14:04] gioblu commented on #214
Ciao @codebeat-nl I think I may have found the problem thanks to the report of @Girgitt,
Could you give it a try and see if the latest referenced commit solves your issue on Windows?
Thank you again :)

[2018-08-31 02:06] gioblu commented on #232
Ciao @xlfe I have taken a look back to serial (https://github.com/wjwwood/serial) and I see that the last commit is of feb and many issues are piling up, on the other side I see your link to the other library (https://github.com/arduino/listSerialPortsC) although it seems probably not as mature as wiringpi is. Probably for now, until a good cross-platform library is found your solution can let use

[2018-09-02 15:43] drtrigon commented on #242
So I modified the SWBB-TL tunneler like this
[code]
that makes sense - then when replying as a device on bus1 I had to use
[code]

It does work. The thing is whenever I got an answer from this device - all other devices do not answer anymore for several seconds. Gives me the impression something wrong/bad is happens. Ideas? Bugs in the code posted?

[2018-09-02 15:50] drtrigon opened #247 "PJON Sniffer (SWBB, LUDP, ...)"
As noted in https://github.com/gioblu/PJON/issues/222#issuecomment-411489899 I was able to build a sniffer for the ThroughLoRa strategy quite easily. What about other strategies? It would be very useful to have some kind of monitor that is able to watch what actually happens on the bus for debugging. I do understand that for the different strategies and media involved completely different sniffer

[2018-09-02 18:34] fermuch opened #248 "Error on PJONMaster.h example with ESP8266 or ESP32"
Hello!

After trying the `MasterSlaveAutoAddressing` example, I found the same error on both ESP8266 and ESP32 chips.
This error happens both with v11.1 and latest master as of this day.

Stack trace:
[code]

Parsed stack trace:

![image](https://user-images.githubusercontent.com/998598/44959481-425d4800-aec5-11e8-9335-7693e87aca2f.png)

[2018-09-02 19:04] gioblu commented on #247
Ciao @drtrigon thank you very much, yes the LoRa sniffer is for sure an interesting contribution.
I agree with you about SWBB, AS and OS they need an oscilloscope or a logic analyzer depending on what has to be observed.  @drtrigon can I ask you to write me to my email (so you will not epose yours: gioscarab@gmail.com) I would like to show you one thing.

[2018-09-02 19:05] gioblu commented on #248
Ciao @fermuch which toolchain you are using?
Thank you very much for your report.

[2018-09-02 20:13] gioblu commented on #248
Ciao @fermuch, sorry, we have still to work out compatibility for the `PJONMaster` and `PJONSlave` classes for non-avr machines. The problem may be caused by the classes procedure that it is for now completely blocking (that is generally not appreciated by ESP8266/ESP32.

[2018-09-02 20:28] fermuch commented on #248
Oh that's a real bummer. What would you recommend to have auto assigned ids in a mixed attiny and esp environment?

[2018-09-03 16:49] gioblu commented on #248
Ciao @fermuch I am sorry, ATtiny does not have much memory available and I suspect `PJONSlave` class would consume most of the available progmem and ram. I think, for now, a custom layer on top of PJON should be evaluated.

[2018-09-03 21:31] gioblu commented on #205
Ciao @charliewilliams thank you for your support, what you mean pre-declaring the function? You mean to have the receiver function declared before `set_receiver` call?

If so, I obtain the same result you obtain, also to me is not clear why that is required in some cases, I can move in the examples all function definitions before the call to avoid the error.

[2018-09-06 12:10] gryzli133 commented on #244
Thank you for the link, but I would like to stay on common systems like MySensors and Domoticz/Home Assistant. The only disadvantage in MySensors is no reliable wired communication, but if prepare PJON for MySensors then I will have all I need ;-) Thank you in advance!

[2018-09-07 09:13] charliewilliams commented on #205
I mean at the top of my file I need to do

`void receiveIR(uint8_t *payload, uint16_t length, const PJON_Packet_Info &packet_info);`

in order for the actual body of the function `void receiveIR(uint8_t *payload, uint16_t length, const PJON_Packet_Info &packet_info) { }` to compile later.

[2018-09-07 10:47] fredilarsen opened #249 "New StdIO strategy"
I have started on implementing this strategy. I add an issue for it here to have a place to describe what I plan, and to exchange opinions and see what other users think, then revise the the design if smart ideas pop up.

Functional requirements:
1. Allow two processes to communicate using stdin+stdout in a simple manner using PJON with this strategy in both processes.
2. Allow one process in any

[2018-09-07 18:34] fredilarsen commented on #249
In the simplistic start/stop packet example, `"START_PACKET <to id> <from id> <payload>STOP_PACKET"`, I did include both receiver and sender PJON ids, which would allow the process to decide its own id, or even act as multiple devices or be a router to a collection of other ids on another type of bus/protocol. The StdIO strategy could act as if connected to a bus and not a single device-as-a-proce

[2018-09-07 19:40] gioblu commented on #249
Ciao @fredilarsen about SFSP, is stupid to think that from stdIO will pass in average bigger packets than other strategies near embedded stuff? If so, if no segmentation is provided SFSP may really be more handy than COBS, not imposing up to 255 - overhead bytes per packet limit.

I agree that probably crc may be an overkill.

About the start and stop for sure that may be a easy and simple solutio

[2018-09-09 04:35] xlfe opened #250 "PJON over ESP-NOW ?"
Hi all

I have a partially working implementation of PJON over ESP-NOW (running on ESP32)

https://github.com/xlfe/PJON/blob/feature/espnow-32/src/interfaces/ESP32/ESPNOWHelper.h
https://github.com/xlfe/PJON/tree/feature/espnow-32/src/strategies/ESPNOW

It's a work in progress. Currently I can get two ESP32s to send approx. 20 small messages (~5 bytes) per second but I get a HEAP corruption error

[2018-09-10 16:29] gioblu commented on #250
Ciao @xlfe cool stuff :) for sure a lot of users will be empowered with this.
Feel free to ask for support if that is required, if I can help I am here.

[2018-09-10 20:17] Girgitt commented on #249
This strategy sounds like a substitute to PJON-piper which is a simple stdin/out proxy to PJON compiled with throighSerial strategy. BTW has been working without a glitch for about a year in an embedded system as a subprocess maintained by PJON-python linked in an upper layer with pub/sub over Redis. PJON-piper has some primitive examples of extremely simple two-threaded (thread dedicated to liste

[2018-09-14 00:14] xlfe commented on #250
I've fixed the bugs and cleaned up the code a fair amount and it's working well now with no crashes.

I added an example https://github.com/xlfe/PJON/tree/feature/espnow-32/examples/ESP32/ESPNOW

If anyone wants to test it that would be great.

[2018-09-14 01:08] gioblu commented on #250
Ciao @xlfe I am reading through the code, simple and effective.  My compliments, with good antennas this strategy could enable a lot of use cases where decentralization is the key requirement. It is now late here but tomorrow I will for sure run your code and see what happens, thank you for your support and passion @xlfe .

[2018-09-14 16:48] fredilarsen commented on #250
@xlfe My compliments for adding what seems to be a great protocol choice for the ESP32.

Your code seems clean and efficient. A few mallocs in there that I guess were the cause of your initial heap problem(?), but they seem fully protected now.

The strategy of going from broadcast to direct connection I have used before myself in other contexts, but your implementation gave me some inspiration to

[2018-09-14 18:37] gioblu commented on #250
Ciao @xlfe I have studied more in detail the helper, I see a couple of things that may be improved in the encoding/framing to reduce the chances of passing up to the network layer false positives:
- A safer way to separate frames can be, as you do, add a magic header and the length of the frame, but also a footer, that signals the end of the frame. You can see this implemented in ETCP.
- Check the

[2018-09-14 20:42] xlfe commented on #250
@fredilarsen and @gioblu - glad you like the addition!

Q1 - esp8266 support. Yes this should be possible - I started with ESP32 because I have been looking at these more recently, but it should definitely be possible to support esp8266 with a bit more work.

Q2 - Blocking. Very good question. At the moment sending blocks until the MAC layer callback that says it has received the data. The obvious

[2018-09-14 20:44] xlfe commented on #250
The problems I had at the start were caused by multiple things - using a variable across threads (maybe) and a threading model that was more complicated than need be. Simplifying meant I was more confident that all malloc/frees we're handled correctly, etc. I also discovered components in esp-idf and the main code use different #defines which caused another problem I had to use JTAG to figure out

[2018-09-14 21:30] gioblu commented on #250
Ciao @xlfe I understand the need to contain the overhead, probably adding 1 byte as end frame delimiter could enable the use of the length as a consistency check.

[2018-09-14 22:51] gioblu commented on #250
Sorry @xlfe I sometimes may seem hit by over cautiousness, PJON specifies a network layer supporting 4 billion busies and more than 1 trillion devices. In the rare case where this could be applied at its own full potential I would not want any of us to be the cause of someone else's problem. I think it is better to be mathematically sure to cover the operational envelope described in the specifica

[2018-09-14 23:29] gioblu commented on #250
I suggest you to take a look to [this paper](https://users.ece.cmu.edu/~koopman/thesis/etran.pdf) that describes the length corruption vulnerability of CAN, or to rely on a broken cyclic redundancy check to discard corrupted frames, that is what would occur in the rare cases where a random acceptable header and length are wrongly found, PJON v3.0 resolves that at the network layer with the header

[2018-09-15 01:03] xlfe commented on #250
@gioblu thanks for the suggestion.

I've changed the magic so it has 2 bytes at the start of the packet and 2 bytes at the end, and I have also added the length as an XOR on the magic, so now each packet is checked for magic, length and start and end integrity

https://github.com/xlfe/PJON/commit/ff1a6ef1481ed0cdac3b87b1a63318df5e34fbfd

Let me know what you think :D

[2018-09-15 02:27] gioblu commented on #250
Ciao @xlfe thank you very much and sorry if I was prolix :)
So for a 2 bytes magic header a false positive should occur once in 2^24 (2 bytes magic header + length) or 16777216 attempted packet receptions of pseudo-random data (not considering the nice and for sure effective length xor based consistency check you made). Maybe it could have sense to reduce the chances the parsing procedure starts f

[2018-09-15 02:27] gioblu commented on #250
@fredilarsen what do you think?

[2018-09-15 18:59] fredilarsen commented on #250
@gioblu, @xlfe This is a purely packet based protocol like UDP, if I have understood correctly. Even in unicast mode. So it all boils down to recognition and verification and not packet separation like with TCP or serial.

To minimize the time spent on a potential "alien" packet I guess a long (4 byte?) magic header plus the receiver id at the start would allow the packet to be left unprocessed an

[2018-09-15 22:40] fredilarsen commented on #250
With unicast, only the receiver will pick up the packets meant for it, meaning that we could drop my suggestion of filtering on the PJON id, leading back to the original implementation of only a four byte header :-)

Sorry @xlfe for suggesting complications when your original implementation probably was the best way... at least I got to think it through :-)

[2018-09-16 00:04] xlfe commented on #250
@gioblu @fredilarsen don't apologise! I think it's great that the code is examined thoughtfully. No problem at all :)

Happy to take constructive criticism always. (I might not always be able to implement the suggestions, but I figure that's okay because open source means anyone can contribute :D)

My plan is - eventually - to use it in a home automation system - I'm working on the other bits of i

[2018-09-16 00:26] gioblu commented on #250
@xlfe I am sorry for being hit by over cautiousness :)

[2018-09-17 16:58] gioblu commented on #240
Ciao @andrei-volkau problem solved, thank you very much for reporting this.
I am really curious to know how the project is going, feel free to ask for support if necessary.
Closing here, feel free to reopen if required.

[2018-09-17 16:58] #240 closed

[2018-09-17 17:28] gioblu commented on #239
Closing for now, feel free to reopen if additional info is required :)

[2018-09-17 17:28] #239 closed

[2018-09-18 02:32] gioblu commented on #249
Ciao @fredilarsen this link is extremely interesting: https://ocaml.github.io/ocamlunix/pipes.html

In section 5.6 Input/output multiplexing:

If there is any interest to support multiplexing this may be taken in consideration while choosing the encoding. If the corruption described above happens both `ThroughStdioPJONNative` (no framing at all if I understood correct) and `ThroughStdioStartStop`

[2018-09-20 11:02] gioblu commented on #250
Ciao @xlfe would you send a pull request to record your contribution?
I think many users will make use of your creation.

Thank you again for your support.

[2018-09-24 01:59] xlfe opened #254 "ThroughSerial can_start() returns false when no data received"
Discovered this while adding testing to PJON-cython -

in [strategies/ThroughSerial/ThroughSerial.h](https://github.com/gioblu/PJON/blob/master/src/strategies/ThroughSerial/ThroughSerial.h#L64) begin

[code]

`_last_reception_time` is not initialised - this appears to matter when can_start() is called later

suggest the following change

[code]

This way, initialisation of _last_reception_time is

[2018-09-24 12:27] gioblu commented on #254
Ciao @xlfe thank you very much for reporting this.

[2018-09-24 13:07] #254 closed

[2018-09-25 04:11] xlfe opened #255 "LINUX Serial Support - serialDataAvailable() returns non-zero when ioctl returns an error even if no data is available for reading"
I was getting some weird behaviour after adding tests to my PJON-cython ThroughSerial wrapper, and eventually tracked down the problem.

In [PJON_LINUX_Interface](https://github.com/gioblu/PJON/blob/master/src/interfaces/LINUX/PJON_LINUX_Interface.h#L154) serialDataAvailable does not initialise result - so if ioctl returns an error and does not set result, the function returns a non-zero number wh

[2018-09-25 14:17] xlfe commented on #232
Now supported thanks!

[2018-09-25 14:17] #232 closed

[2018-09-25 14:34] #230 closed, assigned to nobody

[2018-09-26 08:50] gioblu commented on #255
Ciao @xlfe thank you very much 👍
I have added the patch as suggested https://github.com/gioblu/PJON/commit/9e21f081c6045fadfcbb2c68813cd180169c6c73

[2018-09-26 11:22] xlfe opened #256 "bug: only #include "ESP32/ESPNOWHelper.h" if PJON_INCLUDE_EN is defined"
Otherwise I'm getting a compilation error for PJON :(

PJON_Interfaces.h :-
[code]

[2018-09-26 12:07] gioblu commented on #256
Ciao @xlfe is there any motivation why you did not include the helper in the `PJON_ARDUINO_Interface` (as the tcp or udp helpers of fred) considering that the helper depends on a custom arduino core?

[2018-09-26 12:11] xlfe commented on #256
No that makes sense too actually. I guess the only reason not to is that it doesn't run on generic Arduino - but if you want to move it there I have no objections

[2018-09-26 12:14] gioblu commented on #256
Another thing @xlfe why you include twice the helper both in `PJON_Interfaces` and in the Strategy itself?
Would not have sense to just remove the inclusion from the `PJON_Interfaces` file?

[2018-09-26 12:17] gioblu commented on #256
@xlfe about custom core, the "norm" we have developed is just to fit in ARDUINO interface all arduino compatible cores see:  https://github.com/gioblu/PJON/blob/master/src/interfaces/ARDUINO/PJON_ARDUINO_Interface.h#L30

[2018-09-26 12:20] xlfe commented on #256
Sounds sensible - no objections from me at all

[2018-09-26 12:20] gioblu commented on #256
Consider that when compiling an ESPNOW sketch on ESP32, the interface used is ARDUINO, from where PJON takes all the basic system calls in the first place.

[2018-09-26 12:20] xlfe commented on #256
true

[2018-09-26 12:32] gioblu commented on #256
@xlfe it is a pleasure no probs, I am still reviewing your contribution, one thing I have noticed is that you include here: https://github.com/gioblu/PJON/blob/master/src/interfaces/ARDUINO/ESPNOWHelper.h#L3
and here: https://github.com/gioblu/PJON/blob/master/src/strategies/ESPNOW/ESPNOW.h#L24 `PJON` and `PJONDefines` files? Should they be already available for you there?

[2018-09-26 12:38] xlfe commented on #256
Yes - removing the include from ESPNOW.h doesn't cause any problems

[2018-09-26 12:42] gioblu commented on #256
Good @xlfe thank you again for testing it, I will remove those :)

[2018-09-27 07:33] gioblu commented on #250
Ciao @xlfe I am studying your contribution, one question: What should be changed to let a more entry level user to run the examples using just the Arduino IDE and the core downloaded from the board manager?

I have tried to compile one of the examples but I get those errors:
[code]

Looking at the wifi_country_t I see it is hardcoded here:
https://github.com/gioblu/PJON/blob/master/src/interfaces/

[2018-09-27 07:41] gioblu commented on #250
@xlfe to be able to compile an example using the ESPNOW strategy I needed to:
- Comment `max_tx_power: 80, // Level0`
- Remove `|| ret == ESP_ERR_NVS_NEW_VERSION_FOUND`

[2018-09-27 12:16] gioblu commented on #250
@xlfe testing with 2 ESP32 Heltech WiFi LoRa

I get from one side:
[code]

from the other:
[code]

[2018-09-27 13:11] xlfe opened #257 "ThroughSerialAsync does not have receive_byte()"
Just adding ThroughSerialAsync to PJON-cython but came across the following problem.

[code]

https://github.com/gioblu/PJON/blob/00b9f7f4cd0a89be3eace3ea7db61f2e97fa7459/src/strategies/ThroughSerialAsync/ThroughSerialAsync.h#L77

If I make the following change it appears to work :
[code]

[2018-09-27 13:28] gioblu commented on #257
Ciao @xlfe thank you very much, bug inserted by me here, sorry: https://github.com/gioblu/PJON/commit/63a83001fb173c2f3e3e7b7cf3312aa54e8775d4

Fixed thank you.

[2018-09-27 13:28] #257 closed

[2018-09-27 13:36] gioblu commented on #250
@xlfe could have sense to have something like this in the helper:
[code]

For then let the user do this in the sketch:
[code]
?

Thank you very much for your support and compliments for ESPNOW 👍

[2018-09-27 13:56] #255 closed

[2018-09-27 13:57] #256 closed

[2018-09-28 17:39] gioblu commented on #233
Ciao @andrei-volkau closing here, feel free to reopen if required!

[2018-09-28 17:39] #233 closed

[2018-09-29 01:07] xlfe commented on #250
@gioblu that all looks reasonable to me! Glad to see it working with the Arduino IDE too :D

[2018-09-29 13:38] gioblu commented on #250
Ciao @xlfe thank you for your support, I will add the changes suggested here, the arduino IDE compatible examples and minor changes to codestyle in the helper.

[2018-09-29 23:16] gioblu commented on #250
- WiFi country config constants: https://github.com/gioblu/PJON/commit/e3a6ade96cce20294d8d26faefe2f6705a39064c
- Avoid Arduino IDE errors / codestyle: https://github.com/gioblu/PJON/commit/9ceb5af8b89e76fa52a163e6521677ca4d1d8e6e
- Arduino IDE example and esp32-idf example moved in its own dir: https://github.com/gioblu/PJON/commit/6e8b7bd33cd5b7db150fa3992b45d0c7b736cb46

I have tested the chang

[2018-09-29 23:38] gioblu commented on #250
Ciao @xlfe I have modified the PingPongArduinoIDE to run the exchange at the maximum speed possible, I obtain this result:
[code]

Not bad! see: https://github.com/gioblu/PJON/commit/db42046c207b689b01c84c235f0bee2fe56bfeb5

[2018-10-07 05:38] dominicklee commented on #194
Ciao @gioblu, did you take some time to develop a dedicated data-link for human-body communication without the common ground? For example, from wearable device to wearable device.

[2018-10-09 18:49] gioblu commented on #250
Ciao @xlfe how its going? I have started practical testing of all architectures and strategies, preparing for release, long job. Have you tried the esp32-idf example?

Thank you very much for your support.

[2018-10-10 10:14] xlfe commented on #250
Hi @gioblu sorry I got distracted working on https://github.com/xlfe/reticul8/ !

I've just tried compiling your changed code using esp-idf and I get the follow errors:-

[code]

The following diff seems to fix it

[code]

And it compiles without problem. I think the key thing is (for the esp-idf compiler) that all items are initialised in the order they are defined in the original struct (hence s

[2018-10-10 11:18] xlfe opened #258 "Handle synchronous acknowledgement automatically in _router mode"
I'm just trying out using a PJON<Any> bus as a router by doing bus.set_router(true); and I've found that once I enable the router functionality latency is increased by approx 10 times.

My setup is similar to :

[code]

If I make the following changes in [PJON.h](https://github.com/gioblu/PJON/blob/master/src/PJON.h#L478)

[code]

Then the latency of communicating with the devices goes back to exp

[2018-10-10 12:37] gioblu commented on #258
Ciao @xlfe thank you for raising this issue.
With the change you propose also a packet which recipient's bus id is different from the one of the router device would trigger an ack response, that would be wrong / misleading.

What would be required to do is to check again if both device id and the bus id are the same as the one contained in the packet, or save this info in a bool earlier while pars

[2018-10-10 13:59] gioblu commented on #250
Ciao @xlfe thank you for testing it, on Arduino IDE I get:
[code]
if `max_tx_power: 80` is present in the struct, I am not completely sure how I can use the preprocessor to conditionally define that depending on the toolchain used. Do you have any suggestion?

[2018-10-10 22:32] xlfe commented on #250
Ah - [perhaps you can use](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/build-system.html#preprocessor-definitions)

[code]

to detect if the build happens with esp-idf?

[2018-10-10 22:33] xlfe commented on #258
I think that makes sense - should I submit a pull request?

[2018-10-12 13:11] gioblu commented on #258
Ciao @xlfe  sorry for the delay.
Thank you very much for the PR I will now check compilation on Arduino IDE.

About the router issue:

With that i meant is that here:
https://github.com/gioblu/PJON/blob/master/src/PJON.h#L455

The bus id filtering does not occur in the case `_router` is set true. So if a packet with a different recipient's bus id is picked up by the device in router mode your sugg

[2018-10-13 12:33] gioblu commented on #250
@xlfe could be a possibility to let the user define in the program the `wifi_country_t` struct as required depending on the toolchain? Could we define in the example the `wifi_country` struct, in that case the configuration constants I have created would not be required anymore and we could avoid the problem defining it differently in the 2 examples.

[2018-10-13 22:17] xlfe commented on #250
@gioblu yeah that would work I think

[2018-10-13 22:39] xlfe commented on #258
Ah yes - I see what you mean.

I see. My assumption about natural behaviour would be - bus->set_router(true) only changes behaviour in terms of whether there is a check as to whether the packet is destined for this device. That implies that where the packet is intended for this device, nothing should change? At the moment when set_router(true) is called, the bus no longer sends a synchronous ack i

[2018-10-14 12:14] gioblu commented on #250
Ciao @xlfe thank you very much for your feedback, I will make the change and relate it to this issue soon :)

[2018-10-20 00:16] gioblu commented on #250
Ciao @xlfe I have pushed the changes, thank you for your feedback. The Arduino examples are running fine. Can you give a try to the esp-idf example?

[2018-10-20 05:11] xlfe commented on #250
@gioblu tried the changes last night - all working well on esp-idf!

Thanks

[2018-10-20 05:11] #250 closed

[2018-10-20 11:15] gioblu commented on #250
Thank you @xlfe for this beautiful and useful strategy.

[2018-10-24 21:51] gioblu commented on #249
Ciao @fredilarsen I totally agree with you if the point to point constrain is applied there is no need to use complex encoding and start and stop is for sure enough.

[2018-10-24 23:25] maniekq opened #260 "Problem interfacing ESP32 and Arduino Pro Mini (Atmega328P 16MHz)"
I have successfully established PJON communication between two ESP32s, but I have a problem with communication between ESP32 and Arduino Pro Mini (Atmega328P 16MHz 5V).

ESP32 (port 25) is connected through level shifter with Pro Mini (port 10). I've added 2.2k pull-down resistor between ESP32 commmunication port and level shifter. I've also tried with various pull-down resistors on the Pro-Mini s

[2018-10-25 14:20] gioblu commented on #260
Ciao @maniekq I am not sure what is the cause, but it could be because of the level shifter, are you sure the shifter channel is bidirectional?

Consider that ESP8266 IO's 5v tolerance has been verified by the Espressif CEO himself on facebook: https://www.facebook.com/groups/1499045113679103/permalink/1731855033731442/?hc_location=ufi

I have run extended tests Arduino <-> ESP32 using a bare wire

[2018-10-25 14:59] gioblu commented on #207
Closing here after SoftwareBitBang and ESPNOW strategies support for ESP32 has been added.
Feel free to open a dedicated issue for support to other unsupported strategies available.

[2018-10-25 14:59] #207 closed

[2018-10-25 15:14] gioblu commented on #223
Ciao @drtrigon thanks to the support of @xlfe we have now a dedicated set of system calls for serial communication so I can now update the TS LINUX examples and delete the useless `RPI` constant definition and wiringPi inclusion.

[2018-10-25 15:34] gioblu commented on #223
@drtrigon I also have removed `-lwiringPi` from the makefiles (https://github.com/gioblu/PJON/commit/0148622abd3336ed35bfdecab412c33f52c75f5a), all should be fine now.

[2018-10-25 17:05] drtrigon commented on #223
Your welcome! And thanks for fixing! (Though I have to update quite some code now... ;)

I will test it as soon as I can - do you have an idea by when you will release the next version? I might want to wait until then.

[2018-10-25 17:29] gioblu commented on #223
Ciao @drtrigon a double check fro you would obviously be appreciated. I do not have any other change in mind before the release of v11.2. I have to just run again all tests in all possible configurations (which takes few days). So master should reflect v11.2 if I do not find any other inconsistency while testing.

[2018-10-25 20:55] drtrigon commented on #223
You're right! I will test master before release, but I am under some time constraints thus it might take some time. :)

[2018-10-25 21:33] gioblu commented on #223
Ciao @drtrigon thank you very much for your support and passion :)

[2018-10-25 22:05] maniekq commented on #260
Hi @gioblu. Thank you for replying. I've tried with bare wire (no level shifter), but it didn't helped. That made me think though. I've tried with another Pro Mini to be sure it is not defective and the result was exactly the same.
What I've finally found is that port 10 was a bad choice with the clone of Pro Mini I own. I've changed port to 11 and communication works correctly both ways now. I am

[2018-10-25 22:05] #260 closed

[2018-10-25 23:17] maniekq commented on #248
I have successfully run MasterSlaveAutoAddressing example between two ESP32s. However, when trying to run it between ESP32 (as master) and Pro Mini (as slave), slave cannot acquire id. Slave is correctly receiving message "Master says hi!".
@gioblu Do I understand correctly that it is currently expected behaviour because of the "compatibility for the PJONMaster and PJONSlave classes for non-avr ma

[2018-10-26 16:07] gioblu commented on #248
Ciao @maniekq a couple of questions, is the Pro Mini 8 or 16MHz?
Are you using pin 12 or 25 on ESP32 (the only one supported for now)?

[2018-10-28 16:28] #216 closed

[2018-10-28 18:49] gioblu commented on #209
Ciao @sabas1080 thank you for reporting the compilation error, sorry for the late update, the suggested change has been added https://github.com/gioblu/PJON/commit/a2034a4f1c215d35672a884b6b0091bea0d31aa4

[2018-10-29 21:58] gnomathibus opened #261 "SAM C21 and SWBB"
Hello everyone,
I'm trying to add a homemade board based on a SAM C21 (samc21e18a), the program compiles without error, I then try the program networkanalysis with an arduino uno as a transmitter and my sam c21 as a receiver and I receive the message busy for 10sec and after always fail ... I tested with the default timing and also the timing of arduino zero which is the most similar to the c21 bu

[2018-10-29 22:52] gioblu commented on #261
CIao @gnomathibus try to add a 1 mega ohm pull down resistor, the busy result should disappear.
About the timing, if you have an oscilloscope you can measure the duration of bits of both devices and look for discrepancies. If there are any you can modify `SWBB_BIT_WIDTH`  and `SWBB_BIT_SPACER`  on one side to obtain equal results. Once done run tests tweaking the `SWBB_READ_DELAY` value on receive

[2018-10-30 12:45] gnomathibus commented on #261
hi gnoss, thank you for your answer, I just tried with a resistance of 1M and I have not busy, and the reception of data is still fail, I will try to find an oscilloscope but it is not won for me

[2018-10-31 04:50] xlfe opened #262 "delete is undefined for new[], use delete[] instead"
https://github.com/gioblu/PJON/blob/87f4649a206a55c32e4dd27f66efe2dc4d8c339e/src/interfaces/LINUX/UDPHelper_POSIX.h#L135

memory was allocated using new[], should be deleted using delete[], not delete

[2018-11-02 03:14] gioblu commented on #262
Ciao @xlfe thank you very much for your support :)
I will fix this as soon as possible.

[2018-11-02 10:17] gnomathibus commented on #261
Hi, good news, I managed to find an oscilloscope, I'm not an expert with the use of it but I learn quickly, the first steps I made is with the sketch BlinkTest transmitter independently on each card to compare the results. I have no idea why I do not find the same result?

first screenshot: arduino uno and the second SAM C21 :
![arduino](https://user-images.githubusercontent.com/3436390/47909421-2

[2018-11-04 19:51] gnomathibus commented on #261
Salut @gioblu thx for your help, I added Serial.println ((char *) string); and the result is the same whether it is the arduino UNO or the SAM C21: ", ?? 0-B⸮", I also built a second board SAM C21 and the sketch Blink does not work either between the two boards . I want to say that I have more arduino based atmega 328 and I have no problem with the sketch blink, if there is need I can do other mea

[2018-11-04 23:00] gioblu commented on #261
Ciao @gnomathibus it's a pleasure, if you can take some other pic of the 2 signals could help, it is quite strange. Be sure to use the same program in both cases.

[2018-11-05 12:45] gnomathibus commented on #261
Slt  @gioblu , I attached a CSV image for more precision.

[dump scope PJON BLINK TRANSMITTER CSV.zip](https://github.com/gioblu/PJON/files/2548306/dump.scope.PJON.BLINK.TRANSMITTER.CSV.zip)

another note, for the port of SAM C21 with arduino I use the version of mattairtech [https://github.com/mattairtech/ArduinoCore-samd](url), maybe the problem comes from here, and to finish the clock source us

[2018-11-05 17:47] gioblu commented on #261
Ciao @gnomathibus the problem maybe is here:
https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/SoftwareBitBang.h#L206
Could you print the result of `b & mask` on both devices?

[2018-11-05 19:39] gioblu commented on #261
@gnomathibus does the result change editing:
[code]
?

[2018-11-05 19:59] gnomathibus commented on #261
same result after test

[2018-11-05 21:12] gioblu commented on #262
Ciao @xlfe fixed, thank you very much :)

[2018-11-05 21:12] #262 closed

[2018-11-05 22:49] maniekq commented on #248
Hi @gioblu. Sorry for delayed answer.
I am running PJONMaster on DOIT Esp32 DevKit v1 on pin 25 (tried on pin 12 as well, but the result is the same). I've tried with both level shifter and direct wiring - results are the same.
I am using PlatformIO instead of Arduino IDE.

Output from master (ESP32):
[code]

Output from slave (Pro Mini):
[code]

[2018-11-05 23:40] maniekq commented on #248
I've started to run NetworkAnalysis tests again to add output and I found out that it doesn't work any more on Pro Mini port 11. I switched to port 12 and then everything including MasterSlaveAutoAddressing example started to work.
Now I got an impression that it was working with port 11, because I've moved to it from port 10 which I had problems with (which I've described earlier in #260). Either

[2018-11-06 00:43] gioblu commented on #248
Ciao @maniekq to be sure please include the current limiting resistors as described in the SoftwareBitBang README and PJDL specification. Thank you for reporting back results.

Happy tinkering :)

[2018-11-06 00:43] #248 closed

[2018-11-12 05:40] 4ib3r commented on #244
Hi, I implemented PJON based transport for MySensors, at this moment this exist in my fork: https://github.com/4ib3r/MySensors. I wait for pull-request: #263 and then i will create pull-request for MySensors.

[2018-11-19 07:10] ibantxo commented on #195
After all the night testing, every "secondary" node has sent about 50000 messages to "main" node.
Two of them about 200 messages with a connection_lost error and about 50 messages with a packets_buffer_full error. The third one only 6 times connection_lost error.
I see a lot of repeated packets at receiver.

I am moving to T=1s for testing again.

[2018-11-19 10:24] xlfe opened #264 "Why does ThroughSerial (and Async) send_string only support a maximum length of 255?"
https://github.com/gioblu/PJON/blob/6fcfd759c6f376bd1328a681bd644790fea021b2/src/strategies/ThroughSerial/ThroughSerial.h#L181

https://github.com/gioblu/PJON/blob/6fcfd759c6f376bd1328a681bd644790fea021b2/src/strategies/ThroughSerialAsync/ThroughSerialAsync.h#L277

Shouldn't these functions support a length > 255 ?

[2018-11-19 16:34] gioblu commented on #264
Ciao @xlfe thank you for your support 👍
The TS and TSA strategies support up to 255 bytes because in most use cases the buffer is smaller than 255 bytes, but yes, I agree with you it has sense to support length > 255 as other strategies do.
I will soon make the change and relate it to this issue.

[2018-11-19 20:32] ibantxo commented on #195
T=1s. Multi-master: 3 slaves speaking and one master listening (ack-ing). I am using this config at slaves and at master.
[code]
About 50000 messages sent by each slave. 113, 92 and 42 connection_lost error. No other error type detected. Repeated packets received on "master" node.

I am moving to:
[code]
for testing.

[2018-11-19 21:05] gioblu commented on #195
Ciao @ibantxo try setting a higher `TSA_RS485_DELAY` https://github.com/gioblu/PJON/blob/master/src/strategies/ThroughSerialAsync/Timing.h#L76

In some cases the packet is not received because the enable pin must be set a little earlier.

[2018-11-21 05:29] gioblu commented on #264
CIao @xlfe fixed, thank you for the report.

[2018-11-21 05:29] #264 closed

[2018-11-22 15:58] gioblu commented on #195
Ciao @ibantxo how the test went? Were you able to get it working without ack?

[2018-11-24 07:57] ibantxo commented on #195
Hi! I have changed the code at receiver to count the number of lost packets.
By now... 3 nodes sending 1 heartbeat each 500ms and about 1500 messages sent by each one... 0*3 errors. None error. I will do this test for some hours.

Umm... I thinking about my configuration then... "many speakers":
- some "nodes": they need to start speeking without a pooling wait-time (modbus is not possible)
- one

[2018-11-25 06:37] ibantxo commented on #195
Witch ACK again (async)...
3 nodes sending 1 heartbeat each 500ms:
about 25000 messages sent by each node...
161, 110, 173 messages with problems at receiver ("master"): connection_lost error

[2018-11-27 08:04] ibantxo commented on #237
Umm... I have been reading the [ThroughSerialAsync]( PJON/src/strategies/ThroughSerialAsync/ThroughSerialAsync.h) code and I cannot find the [SerialEvent](https://www.arduino.cc/en/Tutorial/SerialEvent) function.

Is that OK? Many thanks

[2018-11-28 07:58] ibantxo commented on #237
The condition "can_start" to know if channel is free is (both):
1) no data at serial port available
2) PJON_MICROS() - _last_reception_time >= TSA_TIME_IN

_last_reception_time = 0 each time receive_string is called and state=TSA_WAITING

I think that channel is free if no changes at bus:
`attachInterrupt(digitalPinToInterrupt(interruptPin), fast_and_easy_function, CHANGE);`

void fast_and_easy_fu

[2018-11-29 14:58] gioblu commented on #195
Ciao @ibantxo thank you for your precious feedback and excuse e for the late answer.
About the scheme you propose:

Probably is more efficient for the master to roll-call all known nodes asking them if there is something new to transmit. Each slave could be configured to know that can transmit for a given amount of time, and transmit a "NO" if nothing has to be sent to spare bandwidth, all collisi

[2018-11-30 12:04] xlfe opened #267 "Inconsistency between packet_overhead and compose_packet treatment where ACK_MODE=1 and TX_INFO=0"
Consider the case where PJON_ACK_MODE_BIT is set but PJON_TX_INFO_BIT is not

https://github.com/gioblu/PJON/blob/1d26b2784ac224fd24f20057baa58c0892ec0afd/src/PJON.h#L362-L382

Then here

https://github.com/gioblu/PJON/blob/1d26b2784ac224fd24f20057baa58c0892ec0afd/src/PJON.h#L185-L188

The first function adds two bytes to the calculated overhead to accomodate the packet_id (because even if PJON_PA

[2018-12-02 00:35] xlfe commented on #267
I think the fix would be to change the calculation of packet overhead?

[code]

[2018-12-02 00:45] xlfe commented on #267
For information

I discovered this because I am writing a re-implementation of [PJON ThroughSerial in clojure](https://github.com/xlfe/PJON-clojure) - and I wanted to have [tests for every type of packet](https://github.com/xlfe/PJON-clojure/blob/master/test/jonure/autogen_test.clj) so I wrote a test generator using [added that to PJON-cython](https://github.com/xlfe/PJON-cython/blob/master/other/

[2018-12-02 01:50] gioblu commented on #267
Ciao @xlfe thank you very much for reporting this, and sorry for the late answer.
For sure the change you suggest would fix the inconsistency in the overhead calculation.
I observed and starred already PJON-clojure a couple of days ago compliments for this great work 🥇
clojure at a first glance seems pure madness O_O never worked with that, but as soon as a sintetic README with some basic instruct

[2018-12-02 01:51] gioblu commented on #267
Don't mind to make a pull request @xlfe I will make the change and relate it to this issue.

[2018-12-02 01:57] xlfe commented on #267
Thanks @gioblu

Yes clojure is an interesting language - at first it seems like pure madness - but then the more you get to know it the less it seems like madness and the more every other language does! :D LOL

Once I have PJON-clojure working properly (including a readme, etc) I will open an issue for it to be added to you list of PJON related projects - but yes it's not ready for real world use

[2018-12-03 03:11] gioblu commented on #267
Ciao @xlfe fixed, thank you again for raising this.

[2018-12-03 03:11] #267 closed

[2018-12-04 22:57] akadlec opened #268 "BestPractice for Master - Slave"
Hi there,
firstly, many thanks for this lib.

I would like to build small network of slave devices based on arduino boards and one master (gateway) device based on esp8266 casting as gateway for other services.

And i would like to ask more skilled members if they could share some best practise how to do communication. Usually i'm sending data through mqtt protocol, but what about this type of com

[2018-12-05 00:41] gioblu commented on #268
Ciao @akadlec welcome :)
If choosing ESP8266, being 5v tolerant you can connect it directly to devices that use 5v voltage level, keep in mind to apply current limiting resistors to protect IO pins. With 3v3 voltage level the maximum range will be lower than using 5v, specially if on the other side there is a 5v device, so if your wiring is long, be sure executing a practical test that the 3v3 wil

[2018-12-05 02:19] gioblu commented on #244
Ciao @gryzli133 how its going? See here: https://github.com/mysensors/MySensors/pull/1230

[2018-12-09 12:41] akadlec commented on #268
Hi @gioblu i'm planing to use RS485 shield so the voltage levels should be solved by this shield (for teseting & dev)

I tried ModuleInterface, but i think it is not what i need, but as a example is good.

I have one question for you for right now. Is there a posibility to add another data to packet header? I would like to add `unsigned int packetId` to the header as mandatory field. This identifi

[2018-12-09 14:54] gioblu commented on #268
Ciao @akadlec sorry I thought you wanted to use the SoftwareBitBang strategy and so PJDL.

About the header you can include in the packet a packet identifier:
https://github.com/gioblu/PJON/blob/master/documentation/configuration.md#packet-identification

But If I understood correct your necessity:

I think I would use the network service identifier or port:
https://github.com/gioblu/PJON/blob/mas

[2018-12-09 17:11] akadlec commented on #268
am i miss something, i can not make it work :/

Node is sending packet to master:
[code]

Master handle message:
[code]

and parsing is always unsuccessfull :(

even if i try to send only one char like in examples:

Node:
[code]

Master:
[code]

[2018-12-09 17:57] akadlec commented on #268
Mabye more info from my sketch:

`bus.set_receiver(_communicationReceiverHandler);`

This callback is on both sides:

[code]

[2018-12-09 18:02] akadlec commented on #268
And slave is periodically sending init message like this:

[code]

[2018-12-09 18:07] akadlec commented on #268
1. Node send packet with content:
`{"packet":1}`
2. Master handle received packet with successfull parsing to json and send reply:
`{"packet":2}`
3. Node receive reply but is not able to parse it as valid json even the size of the string is correct `12`

[2018-12-09 18:39] akadlec commented on #268
Hi @gioblu, thanks for pointing me to the example. I just updated json object init with this:
[code]
and it started to work :]

[2018-12-09 18:49] gioblu commented on #268
Good 👍 thank you for reporting back @akadlec

[2018-12-09 22:41] akadlec commented on #268
:( few ours later and the issue is back again. What you mean with `Does it work adding a 0 as the last byte of the data`

Something like this?
`JsonObject& _parsed_packet = _json_buffer.parseObject((char *) payload + '\0');`

[2018-12-11 10:34] akadlec commented on #268
Hi @gioblu ok now I know that I have to watch memory usage, that is now for me a big issue. Could you recommend me how to prepare data to be send? As I wrote above, i'm using simple json structure, but the size is not good. Is there any way how to send more optimized data?

[2018-12-11 16:06] gioblu commented on #268
ciao @akadlec look at this example that shows how to encode an integer in the simplest way:
https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Local/SoftwareBitBang/SendArbitraryValues

you can compose the array as you wish and then feed it to PJON

[2018-12-14 20:46] fredilarsen commented on #223
@drtrigon If you are using LocalUDP you may want to have a look at the new DualUDP strategy which is now in master.

I switched to using this in my own setup, and it is equally simple to use but has some advantages like causing no disturbance in other devices than the receiver device, and less WIFi traffic on any access points if present, and it can reach outside the LAN to specific IPs.

[2018-12-28 10:53] fredilarsen commented on #258
@xlfe, @gioblu A little late to comment on this, but it is very simple to send a sync ACK from user code in a router mode device, so I feel that it is perhaps cleaner to say that router mode always make the device into a passive listener, leaving routing logic including ACKing to user code.

[2019-01-06 00:48] xlfe opened #274 "[TSA] performance regression"
I noticed a regression in performance between ESP32 using ThroughSerialAsync and PJON-cython after updating to the latest PJON version.

Using git bisect I was able to narrow it down to 957afa46a2d0889b5220b4a2397f425a560039de related to #271

If I run a [simple benchmark](https://github.com/xlfe/pjon-serial-benchmarks) which sends packets back and forth performance goes from ~32pps down to <6 pps

[2019-01-06 17:31] gioblu commented on #274
ciao @xlfe thank you very much for reporting.
I suspect the speed change you see is provoked by the change I have done and you link above.
Before that change TSA was not waiting to detect the channel free for a duration longer than the response timeout (this procedure is specified in TSDL and is designed to avoid any possible collisions of a third device trying to start transmitting in between a p

[2019-01-06 17:32] gioblu commented on #274
Ah @xlfe probably a quick test could be to predefine `TSA_TIME_IN` to 0 and see if you get ~32pps.

[2019-01-07 06:15] xlfe commented on #274
@gioblu yes adding #define TSA_TIME_IN 0 fixed the regression. Thanks for your quick response!

[2019-01-07 06:15] #274 closed

[2019-01-08 01:03] gioblu commented on #274
Ciao @xlfe thank you for your support.
I will release soon v11.2 so testing is more than welcome 👍

[2019-01-08 01:04] gioblu commented on #268
Ciao @akadlec , happy new year :)
I will close here, feel free to reopen if required!

[2019-01-08 01:04] #268 closed

[2019-01-08 01:06] gioblu commented on #244
Ciao @4ib3r happy new year and thank you for your support. I saw that sadly your pull request was closed due to inactivity. Can I in any way help you to let the pull go through, a lot of people contacts me asking for the MySensors support, its sad we were almost there but it got stuck :).

Thank you again.

[2019-01-08 06:54] 4ib3r commented on #244
Hi, thank you for wishes.

Unfortunately, at now I don't have time to clean and update code.

On 08.01.2019 02:07, Giovanni Blu Mitolo wrote:

[2019-01-18 19:12] dominicklee commented on #194
Hi @gioblu, I am working on a circuit to make the data-link for human body communication without the common ground. Can you please help me with the following questions so that I can come up with a solution:

1. What is the frequency range of SoftwareBitBang? I am seeing some kHz number in the scope but it varies alot.

2. Is there any way that I can use SoftwareBitBang with a fixed OOK frequency?

[2019-01-19 17:35] gioblu commented on #194
Ciao @dominicklee, happy new year and sorry for my late answer.
SoftwareBitBang's transmission method does not make use of any carrier, see here the PJDL specification:
https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/specification/PJDL-specification-v3.0.md

I would be happy to support you in this, please consider:
- Human body has capacitive, resistive and interference c

[2019-01-19 17:59] gioblu commented on #194
Ciao @dominicklee, here a practical test done on myself :), I generate a 500kHz square wave on an Arduino UNO on pin 13, powered by a laptop NOT connected to AC/DC power supply. I keep with the left hand my finger in contact with the oscilloscope and with the other hand I touch the conductive end of a wire connected to pin 13. As you can see a lot of 50Hz AC induced interference is present, but th

[2019-01-20 13:10] dominicklee commented on #194
Hi @gioblu, happy new year. Thanks for your reply!  I understand the limitations of SWBB. We can make a receiver circuit for removing the 50Hz AC noise and amplifying the small voltage of the signal. I will be using an inductor and capacitor (LC) circuit to transmit a software-based carrier frequency.

Thanks for sending me your oscilloscope tests. I would like to know: How did you generate the 50

[2019-01-25 05:51] gioblu commented on #194
Ciao @dominicklee I have just use `digitalWrite` and `delay` to generate the pulse. There is no strategy available for now that uses a On-off-keying or just a carrier in a similar way you describe your goal. I chose the 500Hz (sorry I have made a mistake about the frequency used above and will correct it) just because is 10 times faster than 50Hz and should not be influenced too much by 50Hz inter

[2019-02-09 01:51] dominikborkowski opened #277 "ESP-NOW strategy support for esp8266"
Hi,
I was wondering if PJON's support for ESP-NOW could be extended to the esp8266 platform. On the surface it appears it may be currently available for the esp32.

Quick test using platformIO and sample code from  https://github.com/gioblu/PJON/blob/master/examples/ESP32/ESPNOW/PingPongArduinoIDE/Device1/Device1.ino I get errors such as:

[code]

I can define said constant, but I'm not sure what

[2019-02-09 11:46] gioblu commented on #277
Ciao @dominikborkowski thank you for your support.

The first error may be fixed changing the condition as follows:
[code]
If you are using ESP8266 the constant should be defined and so the error should be avoided.

I am not sure about the second question, @xlfe (the creator of ESPNOW strategy), what do you think?

Changing the `#include` on esp8266 are you able to run the example successfully?
Th

[2019-02-09 18:05] canDry opened #278 "Compile error on ESP8266 (bitbang)"
When I try to compile the ESP8266 software bitbang example (using any ESP8266 board - but I'm specifically trying it with a Wemos D1 mini) it fails with:

[code]
Using library PJON at version 11.2
Using library ESP8266WiFi at version 1.0

If I switch the board to ESP32 it compiles fine - so I may end up just using an ESP32, but am wondering what I'm doing wrong.

[2019-02-09 18:07] gioblu commented on #278
Ciao @canDry try to include only SoftwareBitBang strategy using `#define PJON_INCLUDE_SWBB true`

[2019-02-09 18:12] canDry commented on #278
Added... recompiled.  Same result.

FYI, simply trying to compile this example:
https://github.com/gioblu/PJON/blob/master/examples/ESP8266/Local/SoftwareBitBang/SendAndReceive/ESP8266/ESP8266.ino

[2019-02-09 19:01] gioblu commented on #278
ciao @canDry thank you for reporting this and for linking the file, this seems strange, as described here:
https://github.com/gioblu/PJON/blob/master/documentation/configuration.md#data-link-configuration
if you define `PJON_INCLUDE_SWBB` **before** PJON.h inclusion the UDPHelper error should disappear.

[2019-02-09 19:06] gioblu commented on #278
I will make some tests and try to resolve the error. Thank you @canDry

[2019-02-09 19:31] canDry commented on #278
Tip: never code before finishing your first coffee in the morning.  I added the define after the include.  Adding it before the include does indeed skip the issue causing the error!
Thanks so much for the quick response.

[2019-02-10 00:04] dominikborkowski commented on #277
Thanks for your prompt reply. I'm not sure why, but that logical OR doesn't seem to work. I can use simple
[code]
or
[code]
and the code compiles just fine. As soon as I add the logical OR, regardless of order, it doesn't seem to work:

[code]

[code]

With regards to FreeRTOS, I'm wondering what's the applicable library? Presumably this should have been set up with platformIO as a dependency. Pla

[2019-02-10 00:34] dominikborkowski commented on #277
Doh! This should have been the right incantation, logical AND not OR:

[code]

[2019-02-10 01:40] dominikborkowski commented on #277
After further digging, it appears that ESP-NOW strategy leverages esp-idf, which is esp32 specific. I guess that answers the original question, whether this could be used on esp8266. It would be interesting to see if this strategy could be implemented eventually to support this simpler platform.

Thanks!

[2019-02-10 14:02] gioblu commented on #277
Ciao @dominikborkowski I am sorry, my stupidity to answer when there was not enough available time to develop a correct reply. I hope you did not lost of time because of that.

Indeed the logical OR is not the right way to do it, although also the AND is not what we are looking for considering that the error should be thrown if also just one of the two constants is defined, a way to solve that is

[2019-02-12 20:29] xlfe commented on #277
I think it is possible - see https://github.com/yoursunny/WifiEspNow/tree/master/src for an example - I've got a few things on my plate so if anyone wants to give it a god they should go ahead and not wait for me to try!

[2019-02-13 03:38] dominikborkowski commented on #277
Thank you kindly for your responses. Unfortunately, writing that is currently beyond the scope of my experience with C/C++ and familiarity with PJON itself. However, I'd be more than happy to pitch in by testing/debugging if such port ever appears. Cheers!

[2019-02-14 09:45] akadlec commented on #243
Hi there. I am facing same issue here. I have simillar network. One master (NodeMCU) and slaves on Atmega. When slave is connected, search for mater by broadcasting to all. Master will reply. Slave store master address and send few describe packets (tells master who he is IO, etc.) Master store this info.

Now i am facing problem, that after founding master, i am not able to send from slave to mas

[2019-02-14 11:13] akadlec commented on #243
Hmm mabye master controled is the way, it is like modbus right?

[2019-02-15 00:00] gioblu commented on #243
Ciao @akadlec if you get `PJON_BUSY` trying to send a packet immediately or soon after a packet is received that return value it is normal or to be expected. TSDL to support the synchronous acknowledgment in multi-master mode imposes to all connected devices to wait to transmit and probe the channel for a period longer than the maximum time assigned for an acknowledgement reception, if no data was

[2019-02-16 02:51] gioblu commented on #277
Ciao @xlfe thank you for pointing out WifiEspNow, it deserves for sure some time to be studied, and compliments for the new PJON-cython release.

[2019-02-18 22:33] akadlec opened #280 "PJONMaster and Slave on TS"
Is it possible to use MasterSlave with other strategies? I am using TS strategy over RS485. Right now esp8266 as master and uno as slave. When i try to use Master Slave, i get compile error, so i edited both library files:
[code]
to
[code]
(for slave PJONSlave.h)

but my master on ESP8266 is crashing

[2019-02-21 15:20] gioblu commented on #280
Ciao @akadlec `PJONMaster` and `PJONSlave` classes have been developed and tested with SoftwareBitBang strategy and Arduino Uno, Nano, Mega, Leonardo ecc.

I am now working on those classes to enable new features and simplify their codebase.
If you are able to gather any info about the crash that would be helpful.

I will in any case work on the ESP compatibility before the release.
Thank you for

[2019-02-21 15:23] gioblu commented on #280
Thanks also for exposing the outdated template declaration there.

[2019-02-21 15:43] gioblu commented on #280
Ciao @akadlec looking back at the example, maybe the definition of [`PJON_RECEIVE_WHILE_SENDING_BLOCKING`](https://github.com/gioblu/PJON/blob/master/examples/ARDUINO/Network/SoftwareBitBang/MasterSlaveAutoAddressing/Master/Master.ino#L4)
freezes the ESP, could you give it a try avoiding its definition in master's and slave's program?
Thank you very much for your support.

[2019-02-21 17:31] akadlec commented on #280
Oh, thanks for your reply. I took your main parts from master/slave and reimplemented it into project i am working on. I thing one issue is in master when it boot up, there is loop which is looking for slaves `list_ids();` when i disable it, esp will boot normally

[2019-02-23 13:57] akadlec opened #281 "Problem with send_repeatedly - not able to reset"
I am reimplementing MasterSlave to TS and RS485. Everything is working well. I use `send_repeatedly` as you implemented in your masterslave. But when init fails and slave negate for new address, master keeps sending repeatedly packet, even if i call clearing `remove_all_packets` for all slaves.

[2019-02-23 19:02] gioblu commented on #281
Ciao @akadlec that may mean that you are for some reason loosing the pointer to a packet in your code for example overwriting another or deleting its value without removing the packet.

I am working on a new version of the dynamic addressing specification and implementation, which does not need the packets buffer and does not use anymore that broadcast scheme, that on data-link like RS485/serial m

[2019-02-25 07:34] akadlec commented on #281
ok, it could be. i am closing it

[2019-02-25 07:34] #281 closed

[2019-03-04 22:50] #278 closed

[2019-03-18 03:50] mxbranson opened #283 "Feature: Dynamic addressing in Shared mode"
Hi,
Awesome to see this developing along.
I have a situation where I can have 255+ radios talking to one gateway in which all require dynamic addressing.
Is this possible using shared mode with the gateway/master assigning a free bus/ID pair to the slave on request.
The bus id should be selected from an array variable of available gateways to avoid (global) collisions.

Thanks again!

[2019-03-18 15:06] Mirodin opened #284 "PlatformIO - Missing header file"
Forgive me if this is a problem with PlatformIO but I thought I might find help here since it is an issue with PJON.

I wanted to get my feet wet with microcontrollers and stuff and found PJON quite intriguing for networking. However I have PlatformIO (v.3.6.0) running on my system and installed PJON via their CLI which pulls PJON 11.2.

However when I want to upload my sketch to my Arduino board,

[2019-03-18 19:56] gioblu commented on #283
Ciao @mxbranson thank you.
The `PJONMaster` and `PJONSlave` classes can operate in both local and shared mode already.
See this example (that uses SoftwareBitBang but can be easily adapted to your needs): https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Network/SoftwareBitBang/MasterSlaveAutoAddressing

The classes are designed to let up to 253 slave to be connected to a master in share

[2019-03-18 20:03] gioblu commented on #284
Ciao @Mirodin thank you very much for your report.
I am sadly not an expert of PlatformIO's inner workings, although it seems it is not able to find the Ethernet library. It suggests to look for this missing dependency here:
https://platformio.org/lib/search?query=header:Ethernet.h

Which strategy is used in the program you are trying to compile?

[2019-03-18 20:10] Mirodin commented on #284
Hi Giovanni,

thank you for answering me. I am quite new to PlatformIO myself as well but it seems to be the only somewhat free solution I have other than the Arduino IDE. Whilst debugging I removed line by line and in the end it came down to this which causes the issue:

[code]

I tried the Ethernet library that was most popular as I figured it might be the most likely candidate but that caused a

[2019-03-18 20:15] gioblu commented on #284
Ciao @Mirodin thank you for your quick response.
It seems he does not like something in the program's code?

[code]

Could you share it here?

[2019-03-18 20:19] Mirodin commented on #284
I did above already, it is just those two lines I had after removing line by line and checking if the error persists:
[code]

[2019-03-18 20:27] gioblu commented on #284
Ciao @Mirodin thank you for your answer, I have understand your point.
A quick solution is to define `PJON_INCLUDE_SWBB` before `#include <PJON.h>
That should avoid the dependency problem.

For sure I must add the `dependencies` in `library.json` thank you for pointing out.
Will try to study PlatformIO more in detail as soon as I will have some free time.

[2019-03-19 05:33] mxbranson commented on #283
That sounds great! I'm thinking how PJON could be expanded into a open source cell network with codec 2's 700 bit audio codec.
Joining gitter.

[2019-03-19 05:33] #283 closed

[2019-03-19 06:38] Mirodin commented on #284
Hi Giovanni,

thank you for your help, that quick fix made my compilations pass. Thank you for this awesome peace of software as well, I will see if I can help when I get more used to the whole arduino world.

[2019-03-23 04:19] gioblu commented on #261
Ciao @gnomathibus, sorry for the very late follow up.
I suspect the problem may be the type `char` used for data, that I would say is not portable, although it behaves the same in most cases: https://github.com/gioblu/PJON/blob/master/src/PJON.h#L162

If the sam behaves differently here, it may corrupt data.
Thank you for the report.

[2019-03-23 10:35] gnomathibus commented on #261
Salut @gioblu, thank you again for the interest in my problem, I do not have much time now but as soon as I have I look, meanwhile I use arduino pro mini instead, my project is to replace my current home automation installation by rail modules with PJON inside :wink:  that I built. The interest of the SAM C21 for me is more ram and functions like the integrated agenda and he operates in 5v.

here

[2019-03-23 23:22] gioblu commented on #261
Ciao @gnomathibus those modules are really beautiful! Do you use gitter?
Would be nice to have a chat! Compliments again!

[2019-03-25 14:45] gnomathibus commented on #261
Hi @gioblu, thank you for your compliments about my modules I joined the group on gitter :smiley:
I made this test on the SAM C21: "char d = -54" and the result gives 202 so the SAM C21 does not support the signed char, but what I do not understand is that the SAM D21 (arduino zero) works in SWBB while the SAM C21 and SAM D21 are very simililaires and I found this post:

- [https://forum.arduino.c

[2019-04-01 01:36] gioblu commented on #280
Ciao @akadlec I have updated the dynamic addressing implementation and specification.
Although for now it does not handle device addresses collisions it is much more reliable and efficient.

[2019-04-02 21:57] gioblu commented on #261
Ciao @gnomathibus I have wrote you on gitter.
I agree, the same problem occurs on the SAM D21 and I suspect the switch to `uint8_t` will solve the issue.

[2019-04-07 12:16] gioblu commented on #280
I will close here @akadlec, feel free to re-open if required.
Happy tinkering!

[2019-04-07 12:16] #280 closed

[2019-04-07 12:18] gioblu commented on #206
Ciao @ovedmo the dynamic addressing procedure has been updated and should now be more stable. Consider that the procedure changed and older/deprecated versions will not be maintained.

[2019-04-07 12:18] #206 closed

[2019-04-11 23:51] gioblu commented on #261
Ciao @gnomathibus I have updated the codebase to handle `uint8_t` buffers and `const void *` parameters for the send functions, that should avoid the compatibility issue we have identified. I have ordered a some SAM D21 but they will need a couple of weeks to arrive. Could you give a try to master?

Thank you for your support.

[2019-04-13 20:03] chestwood96 opened #288 "ThroughSerialAsync full buffer handling"
It appears that Serial.write returns but does not actually send anything if the buffer is full so big packets get corrupted.

I fixed this temporarily using a while loop but it probably needs a better solution (avoiding infinite loop and all that).

[code]

[2019-04-13 22:17] gioblu commented on #288
Ciao @chestwood96 thank you very much for your report. Absolutely, handling the full buffer case is necessary, I will work it through properly as soon as possible.

Thank you again :)

[2019-04-14 20:03] gnomathibus commented on #261
Sorry for my late return (I do not have much time right now), I tested with the new pjon modifications but unfortunately does not change anything. For the moment I did the test only between the sam C21 and an arduino uno.

[2019-04-16 15:42] gioblu commented on #288
Ciao @chestwood96 I have added the fix, thank you very much.

I use the constants `TS_BYTE_TIME_OUT` and `TSA_BYTE_TIME_OUT` as maximum time dedicated to attempt to send a byte (they were also used already as the maximum time dedicated to a byte reception ).

[2019-04-16 15:51] gioblu commented on #209
Ciao @sabas1080 I suspect this issue is related to https://github.com/gioblu/PJON/issues/261

The dynamic addressing v2.0 (which this issue refers to) has been discontinued and will not be developed further, see the new version, [dynamic addressing v3.0](https://github.com/gioblu/PJON/blob/master/specification/PJON-dynamic-addressing-specification-v3.0.md) and its related implementation.

I will c

[2019-04-16 15:51] #209 closed

[2019-04-16 17:11] chestwood96 commented on #288
Thanks for the fix. I am currently writing a prototype implementation of the protocol in dotent core to use in my higher level applications and this made me question my sanity before I figured it out.  I'll let you know if I find anything else.

[2019-04-16 17:42] gioblu commented on #288
Cool, I am sure many other users will appreciate that.
Thank you again for your support.

[2019-04-16 17:42] #288 closed

[2019-04-17 04:23] henrik-muehe opened #289 "Debugging PJON connection between ESP8266 (nodemcu) and Attiny85"
I am not sure if this is a great forum to ask this question, let me know if I should move elsewhere.

I am trying to communicate between an Attiny85 and a nodemcu. SoftwareBitBang works between Attiny85 and an Arduino Uno. It also works between two Nodemcus but not between the ATtiny85 and the Nodemcu. I am running all chips (except the Uno) at 3.3 for this experiment.

I look at the signal on the

[2019-04-17 11:58] gioblu commented on #289
Ciao @henrik-muehe it seems it may be an issue related to the discrepancy in the duration of the 1/4 bit high emitted by transmitter and its expected duration in the receiver.

To verify it, just run the same example disabling the synchronous acknowledgement on transmitter side.
If works fine, the issue must be caused by the discrepancy described above.

Let me know your the test results if you ca

[2019-04-17 13:16] gioblu commented on #289
Ciao @henrik-muehe if the problem is unsuccessful reception, on which side occurs? If you switch the sides still occurs?

[2019-04-28 16:46] chestwood96 opened #292 "InteractiveRouter not sending synchronous ack for packets directed at it"
It appears the InteractiveRouter does not send a synchronous ack when it receives the packet itself.

I have worked around that by sending it myself right now but should it not do it itself?

[2019-04-29 12:28] gioblu commented on #289
As discussed on gitter, we have identified that the problem was in the use of the internal PPL clock, that is not supported for now. I think could be possible to define a slower mode that could work with the internal oscillator and its lower precision (if compared to an average external crystal oscillator). I will try to work out the slower mode in the next iteration. Thank you for reporting and h

[2019-04-29 12:28] #289 closed

[2019-04-29 22:53] gioblu commented on #292
Ciao @chestwood96 thank you very much.
I have discussed this with @fredilarsen on gitter, and we agree, the `InteractiveRouter` being a class that wants to implement the features of the router along with the ones of the device, it should send the synchronous acknowledge automatically as you suggest.

I will apply the change as soon as possible.
Thank you again.

[2019-04-30 15:53] chestwood96 commented on #292
While you are at it it would be nice to have a regular PJON-Like send function for the interactive router.
The current one kind of requires you to either build the whole packet or know which bus to send to.

Should i make a separate issue for this?

[2019-04-30 16:18] gioblu commented on #292
Don't be preoccupied @chestwood96 I will add the overload to the functions you need, thank you for pointing out.

[2019-05-02 19:09] jeffaries opened #293 "Master.ino example is crashing on ESP82xx"
Hi,
This is my first contribution and definitely not my last. I have discovered PJON a couple of weeks ago and I have decided to do some POC in the context of a project for bird breeders. I have successfully tested all aspects important to me and my project... It is a super great library.
However, I am facing an issue when I try to run a Master on an Esp8266 or Esp8285 (These are the only microcon

[2019-05-02 19:32] gioblu commented on #293
Ciao @jeffaries thank you very much for your compliments.
Yes, the old version of the dynamic addressing had issues with esp and if I remember correctly it was related to `check_slaves_presence`.

I have now developed dynamic addressing v3.0 that you can find in master, see its [specification](https://github.com/gioblu/PJON/blob/master/specification/PJON-dynamic-addressing-specification-v3.0.md),

[2019-05-02 19:38] gioblu commented on #293
Sorry @jeffaries forgot to link the updated example: https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Network/SoftwareBitBang/MasterSlaveAutoAddressing

[2019-05-02 20:33] jeffaries commented on #293
Gracie Giovanni,

It is indeed working now ;)

I can continue my adventure with PJON.
FYI, I am testing with ESP8285... and even with ESP01 with the 1-wire on GPIO2 (GPIO0 is not working).

Note: Even the ESP8285, a DIYMORE model, accepts to work with other GPIOs.

Thank you again

Jeff

[2019-05-02 20:33] #293 closed

[2019-05-02 21:13] gioblu commented on #293
Thank you for your detailed report @jeffaries
Can I ask you on those new devices we have never tried, on which pin works and which speed you get from the NetworkAnalysis test? So I could add that to the compatibility matrix

[2019-05-02 22:16] mercurio04 commented on #278
hi, I'm having this error.
I guess this could be because IPv6 is now internally supported by ESP8266 and it can't make sure that it's an IPv4 address for this operation.
my correction was:
broadcastIp = ~uint32_t(WiFi.subnetMask()) | uint32_t(WiFi.gatewayIP());

[2019-05-02 23:12] gioblu commented on #278
Ciao @mercurio04 thank you very much for your report.
@fredilarsen have recently contributed with the same [fix](https://github.com/gioblu/PJON/commit/d0d34d5d42071dc022a7ffe8ba0ebaa60ae15a63) now included in master.

Happy tinkering!

[2019-05-03 12:28] gioblu commented on #292
Ciao @chestwood96 I have added the ack fix you have proposed.

@fredilarsen how would you implement the PJON-like send functions?

I think @chestwood96 is right to expect to find them, being the InteractiveRouter also a device, should provide the functions to send normally as a device, although those functions should leverage of the router features.

I have made some experiments, I suspect they sh

[2019-05-06 00:12] mercurio04 opened #294 "EthernetTCP strategy, loosing responses"
Ciao!
I'm using platformio with esp8266 and windows 10.

I'm using the examples receiver and transmitter, (receiver in esp and transmitter in win)

I'm loosing responses, like 50% of them. Using bus.reply
I'm using the example as it is in github

Is it the example outdated?

Grazie Mille
Saludos de Argentina

[2019-05-06 12:04] gioblu commented on #294
Ciao @mercurio04 looking at the code I think the motivation why some replies fail may be because of the network and OS latency in between packet transmission and response reception. Try to change the `ETCP_IDLE_TIMEOUT` to a higher value:
[code]

[2019-05-06 12:23] fredilarsen commented on #294
It may be that using the ESP over WiFi introduce more latency than was present when the timeout value was selected, so I agree increasing the ETCP_IDLE_TIMEOUT is worth a try.

I will test EthernetTCP with the combination of ESP over WiFi and Windows when I get the time.

Do you need a one-to-one connection or do you want to create a many-to-many or master-slaves bus?
The DualUDP strategy that has

[2019-05-06 21:59] mercurio04 commented on #294
I'm trying to create many to many connection. so I will try increasing the timeout. anyway, I will try also LocalUDP strategy,
I will come to you with the results.
Gracias!

[2019-05-09 10:10] mjasny commented on #130
Sorry to dig this old issue up, but I had a similar problem when I'm using PJON is a more bigger Linux-based project.
I got the multiple definition compiler error because my header-file which included PJON.h was included my multiple other files. I suggest the following paradigm to still have the benefits of a header-only library, but also the optional possibility to have separate .cpp and .hpp fil

[2019-05-10 18:40] fredilarsen commented on #130
It is standard to have templates fully contained in header files, and the compiler/linker will make sure only one copy of each compiled template instantiation will be linked in (often template instantiation and compilation is done in the link phase).

Do you get duplicate symbols for functions in the PJON class? Or is it the non-template PJONTools class defined in PJONDefines.h that gives the prob

[2019-05-10 18:57] fredilarsen commented on #294
@mercurio04 I would rather recommend the DualUDP strategy instead of LocalUDP, as UDP broadcast does not work very well on the ESP cards for some reason.
DualUDP uses UDP broadcasts initially to establish routes but will then go to directed sending which will perform better.

[2019-05-10 19:02] fredilarsen commented on #292
@gioblu, @chestwood96 There is a PJONINteractiveRouter::send_packet which should do this:

[code]

[2019-05-10 19:14] mercurio04 commented on #294
I was trying DualUDP, and for an unkown reason i got responses for a few seconds, and then nothing else.   using wireshark, I can see the udp broadcast, still active but I'm not getting any responses. I tried also with an ESP32 as a receiver and ESP8266 as a transmitter, and the result is the same. but if I use the ESP32 in Access Point mode, the comunication works perfect. so.. just in case i wil

[2019-05-10 19:40] fredilarsen commented on #294
@mercurio04 I my tests I used a pair of ESP8266, and later a pair os ESP32, connected as DHCP clients to my WiFi network (Netgear WiFI router as access point).

[2019-05-11 08:42] mjasny commented on #130
Hi @fredilarsen ,
I did not get the error for the PJON-internal templated classes, only for the implementations of the micros(), millis() etc.. functions which are located inside the Linux-interface implementation. They are not part of any template, just global functions and therefore caused the multiple-definitions error.

[2019-05-11 14:16] chestwood96 commented on #292
I was actually using `router.get_bus(router.get_callback_bus()) ` for the testing.

I kind of looked at PJON_Packet_Info like something pjon internal I should not be messing with from the outside.

[2019-05-13 12:04] jeffaries opened #295 "SoftwareBitBang - One wire without common ground"
Hi everybody, I am looking for advices on the correct wiring to connect multiple devices (ATTiny85 based), organized in stars with own power supply (all with the same voltage 5V) to use with SoftwareBitBang (final topology: tree). Do I need to add an extra ground wire to the connection between stars or can I bridge their grounds?
Isn't there a way to connect the simply connect these stars with one

[2019-05-13 12:08] gioblu commented on #295
CIao @jeffaries if you have already a gound present at each node you can avoid to transport the ground along with the data line. Although, specially if the setup is vast and in close vicinity of AC wiring, it may be more cautious to transport the ground in parallel with the signal wire.
See: https://github.com/gioblu/PJON/wiki/Protective-circuitry#avoid-ground-loop

[2019-05-13 12:08] jeffaries commented on #293
@gioblu , I will do it.
Do you need only ESP8285 in the network or one is enough? So far, I have only one, others are ordered and are on the road (the silk road).
For ESP01, I have several, so I can launch a test.

[2019-05-13 12:18] jeffaries commented on #295
My latest tests show that without a common ground, the SBB is not working. So, how could it work without transporting the ground?
The setup could potentially include 100 nodes but on a not so large distance (longest road would be max 20m). The 100 nodes would be grouped (max 8 nodes per group) in star networks powered with one power supply per star. The bus cable would bind these stars together (w

[2019-05-13 12:42] gioblu commented on #295
Ciao @jeffaries I meant that If you have an existing ground cable in the vicinity of the nodes, you could avoid to transport the ground from the master to all its slaves.

If you don't have an existing wiring to operate with, you can:
- Connect a ground wire from one power supply to all its nodes
- Connect the grounds of the power supplies together

Consider that is generally suggested to feed a c

[2019-05-13 12:45] gioblu commented on #293
Ciao @jeffaries thank you very much for your support to the project 👍
ESP01 tests if you have at least 2 would be very useful (you could verify that ESP01 works between each other and with other supported devices)

To be sure all works fine I suggest you to run the `NetworkAnalysis` example both ways (EPS01 tx other rx and the contrary)

[2019-05-13 13:53] jeffaries commented on #295
Thanks a lot for your help.

[2019-05-13 16:30] gioblu commented on #295
CIao @jeffaries thank you for your support to the project.
Feel free to use the gitter chat for direct support, I see you have wrote there but I was not online at the time.

[2019-05-14 00:24] gioblu commented on #292
@chestwood96 yes the `PJON_Packet_info` is used by PJON internally and to let the user access to packet's meta-data within the receiver function callback. I agree with you that could be more straight-forward to expose to users the same `send` function parameters the `PJON` class exposes. That may avoid mistakes and confusion. What do you think about this @fredilarsen ?

[2019-05-14 00:28] gioblu commented on #292
To be clear for the `send` functions a list of parameters is used instead of passing the `PJON_Packet_Info` struct to minimize the amount of memory overhead on setups that use the least amount of features, for example ATtiny85 running in local, and to minimize the amount of code lines required to send a packet.

[2019-05-21 13:48] #295 closed

[2019-05-28 15:00] mauricebauer opened #297 "Tutorial Videos about PJON on YouTube"
Hey there,

first: I am really thankful and impressed by your great work on PJON 👍

Now the question: I am study Computer Science and I think the start with PJON could be easier. The documentation is great, but: It's a documentation. I think its purpose is to strictly define how the things work.
Is there a tutorial like guide on how to use if properly? I've seen you have some videos about PJON on

[2019-05-28 17:06] gioblu commented on #297
Ciao @mauricebauer thank you very much for your compliments, it is really a pleasure to know that this experimental work is becoming more and more used also in the real world :)

I agree with you about the necessity of a series of videos/tutorials presenting the protocols features and the more common use cases.

Adam of [AdamBuilds](https://www.youtube.com/channel/UClyUGbnXRe_YU-NLlAPHlDg) is work

[2019-05-28 17:07] gioblu commented on #297
When the Adam's video will be published I will add the links in the repo and related the commits to this issue. Thanks again.

[2019-05-29 12:26] jeffaries opened #298 "ATTiny85 without external oscillator"
Hi,
I am analyzing the requirements for my project.
I would need a microcontroller that can have 3 Digital outputs + 1 Analog input + 1 GPIO for PJON SoftwareBitBang...
I am considering the ATTiny85, however, I read about the "suggestion" to use an external oscillator (https://github.com/gioblu/PJON/wiki/ATtiny-interfacing) ... this would jeopardise my project since I would have only 3 GPIOs avail

[2019-05-29 12:53] mauricebauer commented on #297
I am really looking forward to this videos. I hope in the future the start with PJON would be as easy as possible for beginners and also for professionals (who want to start as fast as possible).
Maybe I will make some videos too in the future, at the moment I dont know.

So thanks again and I wish huge success with PJON in the future :)
PS: Is there a PC software to use as a "bus monitor" so you

[2019-05-29 12:58] gioblu commented on #298
Ciao @jeffaries the problem is the inherent inaccuracy of the internal PPL clock.
I have never tried to calibrate although if I am not mistaken that can be done.

What I have experimentally determined is that from the same batch attinies using the internal PPL clock can drift enough to break the PJDL binary timing and so not be able to communicate with each other. Using an external crystal oscilla

[2019-05-29 15:00] jeffaries commented on #298
Thank you very much for your answer. Since, it is not worth the risk, I will follow your advice and go for ATtiny84.

[2019-05-29 15:00] #298 closed

[2019-05-31 16:45] gioblu commented on #261
Ciao @gnomathibus I have run some experiments on SAMD21 and all works fine although SoftwareBitBang needed a minor timing update. Data is transmitted correctly.

Do you have any suggestions for a development/breakout board that uses  SAMC21?

[2019-06-08 17:16] gioblu commented on #297
Ciao @mauricebauer here is the link to adam's work: https://www.youtube.com/watch?v=8okhWVkMnng

For sure something like that would be useful! It may be done using an Arduino that has both SoftwareBitBang and serial over usb, that shares with the computer the received data over the bus via serial.

[2019-06-10 03:04] Seserie opened #299 "Issues with Arduino Nano"
I have been trying the SoftwareBitBang -> Network -> MasterSlaveAutoaddressing -> Master code Example But It keeps having Errors when Compiling to the Arduino Nano Board.

[2019-06-10 03:06] Seserie commented on #299
Here is the Error I receive:

`

C:\--\PJON\src/strategies/SoftwareBitBang/SoftwareBitBang.h: In function 'SoftwareBitBang::handle_collision() [clone .isra.4]':

C:\--\PJON\src/strategies/SoftwareBitBang/SoftwareBitBang.h:95:5: internal compiler error: Segmentation fault

     };

     ^

Please submit a full bug report,

with preprocessed source if appropriate.

See <http://gcc.gnu.org/bugs.html>

[2019-06-10 04:45] #299 closed

[2019-06-10 07:21] Seserie opened #300 "Add support for Particle Photon?"
I use both Arduino and Particle Photons, and I would like to see PJON implemented into the Particle Library System, I am currently working my way through just copying it into the Web IDE but it would be much appreciated if support could be added! (I would love to help if there was anything I could do?) I've been using PJON for a bit but this is the first time I have actually posted in the PJON com

[2019-06-10 16:37] gioblu commented on #300
Ciao @Seserie thank you for your support and welcome :).
I will buy a couple of Particle Photon and see what I can do.
I think this will come after release of v12.0 (soon).

How PJON behaved in your projects?
Have you spotted any limitation/issue?

Thank you again for your feedback!

[2019-06-11 13:02] gioblu commented on #130
Ciao @mjasny sorry for the late response, would you create a pull request (just the work you have done already)? Obviously I can do myself, although it could be nice to record your contribution! This fix to the LINUX interface may for sure be useful for many applying PJON in more complex linux projects.

[2019-06-11 14:02] gioblu commented on #130
Thanks for your fix @mjasny

[2019-06-11 20:41] Seserie commented on #300
As of right now, I have gotten the Software BitBang to work! I love the Photon's as I am able to upload firmware to the device without having to connect it to my computer.

I am trying to get the MasterAutoAddress to work on a Particle Photon with the Slave being some Arduino Nano's but I am getting the error of PJON_Packet_Info does not name a type... I have been trying to figure it out for a few

[2019-06-11 20:56] gioblu commented on #300
Ciao @Seserie thank you very much for your feedback.
Which changes you have done to get it working on Particle Photon?
Were you forced to define a dedicated timing to have compatibility with other supported boards?

Would you paste here the error you get for us to further study that?

[2019-06-11 21:13] Seserie commented on #300
So I had to copy and paste the source files: PJONMaster.h, PJON.h, PJONDefines.h, PJON_ARDUINO_INTERFACE.h (I left out the PJON_IO.h for Arduino as the ports are different and I am pretty sure that isn't required), PJON_CRC32.h, PJON_CRC8.h, PJON_Strategies.H, SoftwareBitBang.h, and Timing.h

The changes I made were:
Arduino Interface File, I commented out the Arduino Define, all the commands are

[2019-06-11 21:15] Seserie commented on #300
My goal with this implementation is to make a device to monitor my Saltwater Fish tank. I am so busy with school I want to make something to monitor my tank when I am away. The particle photon would be communicating with my Home Server which would be accessible through my phone.

[2019-06-11 21:20] gioblu commented on #300
nice project @Seserie ! Why not to use just the PJON class instead of PJONMaster/Slave ?

[2019-06-11 21:33] gioblu commented on #300
@Seserie you could just program in the photon's code the master's behavior you need using just the PJON class (periodically read sensors implementing a request-response exchange, periodically actuate filter or lighting sending a request) and use static device ids (set at compilation in their program) in the other devices.

[2019-06-11 21:37] gioblu commented on #300
If you need an example for the sensor reading see [here](https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Local/SoftwareBitBang/SendArbitraryValues)
If you need help for a request response exchange see [here](https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Local/SoftwareBitBang/SendAndReceive)

[2019-06-12 18:54] Seserie commented on #300
Cause I guess I like to overthink things lol...

Well After a bit of research I found out that Particle has a bit of an issue with typedefs ... great. So I guess I have to turn off the preprocessor...

[2019-06-13 16:16] #297 closed

[2019-06-30 21:41] jeffaries opened #304 "Slave on ATTiny84 won't work"
Hi,
I continue my investigations with PJON... after ESP8266 and ESP8285 only tests, I have started tests with an ESP8266 as Master and an ATTiny84 as Slave (I have just received these low-cost microcontrollers and my experience with these is not as extensive as with the ESPxxxx)
Note: my tests of communication peer to peer were working (sending a message from ESP8266 to ATTiny with known device_id

[2019-06-30 21:48] gioblu commented on #304
Ciao @jeffaries try adding the missing braces in the `error_handler` of the first sketch you have pasted! Although I suspect memory issues may arise in ATtiny84 using PJONSlave, why dont you use the bare PJON class? Do you effectively need dynamic addressing in place? Consider if you could get away with static addressing because that would leave more space for the application.

[2019-07-01 21:02] jeffaries commented on #304
Ciao @gioblu ,
First, thank you for your super fast answer... and if I took so much to also answer, it is because I wanted to test several things prior to revert to you.

In my project, I have a master that is sending simple commands to several devices (up to 200) via SBB. However, at installation time, the master doesn't know the list of devices. It is similar to an IoT where you would buy a cent

[2019-07-04 13:28] osman-aktepe opened #305 "SoftwareBitBang ESP - STM32 Connection Lost"
Hi @gioblu

First of all, Thanks for your effort. At second, I need to tell you something, for ESP8266, the value of PJON_ADDRESSING_TIMEOUT is too high, it causes wdt reset. I used it as 1.9 seconds, I wanted you to know.

Here is my problem: I have a SWBB bus between several STM32 (slave) and ESP8266. Normally If my slave can not have an address every 30 seconds I send hearth beat from master, b

[2019-07-04 15:15] gioblu commented on #305
ciao @osman-aktepe, how much time you dedicate to polling, or better in both sketches what is the value you pass to `bus.receive`?

[2019-07-04 15:16] gioblu commented on #305
another question, how much time `iwdg_feed` lasts?

[2019-07-04 15:18] gioblu commented on #305
@osman-aktepe try to run the networkAnalysis example and please post the results here.

[2019-07-04 15:22] osman-aktepe commented on #305
Hi @gioblu

Thanks for your quick reply.

TBH I used various values to use in bus.receive but the smallest one is 1000, iwdg_feed takes 3 micros at most.

Do you advice any values to poll and what is the best way to acquire id?

To run networkAnalysis, I need time, but I run before and result was just one drop as I remember. Now it can connect but it is not stable.

For example sometimes it can no

[2019-07-04 15:24] osman-aktepe commented on #305
Also I wrote a code in the loop and checked the acquired id, if it is 255 i called bus.acquire_id_master_slave(). The thing is it always returned true but the id was 255 still.

[2019-07-04 15:25] gioblu commented on #304
@jeffaries thank you for your answer, what is the result of the networkAnalysis (having ATtiny on receiver side) example? Does that work? And the SpeeTest example (having the ATtiny on the transmitter side)? Those results would help to exclude an issue on a lower level.

If the results are fine the problem may be in the PJONMaster or PJONSlave procedure, although I suspect the issue is the availab

[2019-07-04 15:28] gioblu commented on #305
@osman-aktepe I suspect you are using the old version of the dynamic addressing which is deprecated. The new version is here in master, still not released, it works much better and it is more stable.

[2019-07-04 15:29] gioblu commented on #305
@osman-aktepe see https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Network/SoftwareBitBang/MasterSlaveAutoAddressing

[2019-07-04 15:33] osman-aktepe commented on #305
@gioblu probably, i am, I updated to last release but not from master but I can, but the thing is, you are not using bus id but directly giving device id, I want auto-addressing. Did I get something wrong?

[2019-07-04 15:45] gioblu commented on #305
@osman-aktepe if you want to use this in a local network you can generate randomly the 5 bytes device address in each device and pass it to PJONSlave

[2019-07-04 15:46] osman-aktepe commented on #305
What if they overlap? :) Could it break?

[2019-07-04 15:56] gioblu commented on #305
@osman-aktepe here: https://github.com/gioblu/PJON/blob/master/src/PJONMaster.h#L271 it does not handle device address duplication but it may be quickly modified to conditionally do so, it effectively could be nice for it to have a local mode. If you need those changes I will work them out in this week end.

[2019-07-04 16:02] osman-aktepe commented on #305
@gioblu Can you explain what is the difference between them because I think that they can not sync which is the problem.
Maybe I should work on timings of SWBB, what do you think? Could it be the real problem?

 If you guide me about it, I can implement it too.

[2019-07-04 16:12] gioblu commented on #305
@osman-aktepe  Are you using the bluepill? If so I can test it for you I think I should have a couple.
The first thing to do is to run a NetworkAnalysis example and see results.
Generally if works but performance is not perfect just tweaking the `SWBB_READ_DELAY` can fix the issue.

It would be great to have PJONSlave and PJONMaster be able to support also local networking and randomly-generated d

[2019-07-04 16:15] osman-aktepe commented on #305
Yeah I am using bluepill and esp-01, with 2 pins.

In my case, just broadcasting and sending messages to the master.

If you need any help, just tell me, during that time if you think something to tweak or analyzing, I can do it now and provide what you need.

Thanks for your help.

[2019-07-04 16:15] gioblu commented on #305
Sorry @osman-aktepe the big difference is that the master-slave communication occurs in shared mode. For sure it would be more efficient in a use case like yours to have local networking support and handle randomly generated device addresses duplications.

[2019-07-04 16:17] gioblu commented on #305
I have a bluepill and a nodeMCU 1.0 is that fine?

[2019-07-04 16:22] osman-aktepe commented on #305
I did not understand the difference, is there any document or article to read?

Yeah they looks fine in esp I use pin 1,3 and for bluepill you can choose any pins with adc support.

Should I just wait for you?

[2019-07-04 16:48] gioblu commented on #305
Here is the new spec https://github.com/gioblu/PJON/blob/master/specification/PJON-dynamic-addressing-specification-v3.0.md

I think I can provide with test results tonight.

[2019-07-04 17:09] osman-aktepe commented on #305
By the way, I became obsessed with the problem:

[code]

readSerial takes 0 millis, I measure, I do not touch the system, I just reset, If it connects everything works perfectly, if not, It can not obtain id too just ones it could achieve.

Is there any chance that I am looking at right point, maybe master is the problem. Can you give any idea about that too?

[2019-07-04 17:16] gioblu commented on #305
@osman-aktepe for sure this is wrong:
[code]
Doing so you call `bus.acquire_id_master_slave();` every 10 milliseconds that is a tempest of requests :) that may inhibit the master to effectively respond. Save the value of millis and try to acquire an id with an interval equal to the addressing timeout you have configured.

[2019-07-04 17:31] osman-aktepe commented on #305
Noo it does not request every 10 millis but if it is dividable by 10. Basically it requests every 3 minutes.

[2019-07-04 17:42] gioblu commented on #305
That stricly depends on the time dedicated to the rest of the code and by the granularity of the increment, not sure if that is the right way to obtain the result.

[2019-07-04 23:03] osman-aktepe commented on #305
@gioblu I also wanted to ask something,

I changed timing values and for a case i found a very good timing values, I can acquire id and receive data, after that in loop i just added one line, Serial.available(), when I add that, I can not obtain any communication. This line's duration is less than 1 ms.

Is this normal?

[2019-07-05 12:57] gioblu commented on #305
Ciao @osman-aktepe that is definitely not normal, sadly I do not have huge experience with the STM32. I have bought some bluepill from ebay to verify the port you have proposed long ago. I am now not able to obtain communication with the NodeMCU, tried pins 12, A0 and A1, and D1 on ESP8266. I suspect the problem may be related to the oscillator. On my board I do read 8MHz, that may be not quick en

[2019-07-05 13:08] osman-aktepe commented on #305
Hi @gioblu, Thanks for your response, I am quite experienced with STM32, if you need anything you can just ask me.
If you can install software but can not communicate, you can change timings to 44 112 52 -10 for STM32.

Can you describe your problem?

[2019-07-05 13:11] gioblu commented on #305
CIao @osman-aktepe thank you for your support, let me try again with the timing you suggest.
One question, what is the definied constant that identifies the bluepill? So I can conditionally define!
Thank you again.

[2019-07-05 13:13] osman-aktepe commented on #305
@gioblu TBH, normally i do not work with bluepill but a self designed card. The thing is my controller is STM32F103C too and your definition is quite ok, it is working. If you have problem, I have blue pill too, I can check.

[2019-07-05 13:16] gioblu commented on #305
We now have this in master:
[code]

although If I use the Arduino IDE select tools->board->Generic STM32F103C series
and I flash the thing, the constant `__STM32F1__` is not defined.

[2019-07-05 13:17] osman-aktepe commented on #305
How do you flash? Do you use bootloader?

[2019-07-05 13:19] gioblu commented on #305
I have both jumpers set to 0 and I have just flashed it via usb, I do see the new code being executed so I suspect the flashing procedure goes through.

[2019-07-05 13:20] osman-aktepe commented on #305
I mean, do you have st-flash or do you have stm32bootloader like this:
https://github.com/rogerclarkmelbourne/STM32duino-bootloader

[2019-07-05 13:22] osman-aktepe commented on #305
But installing bootloader for bluepill is a little bit problematic, so i recommend you to solve it by defining them by yourself bypassing __STM32F1__ and define those values as default :)

[2019-07-05 13:36] gioblu commented on #305
Thank you @osman-aktepe I will buy also a couple of Maple mini with pre-installed bootloader.

[2019-07-05 13:41] osman-aktepe commented on #305
By the way, i will try your new implementation, because my case a little bit urgent i need to solve it until next wednesday, i can use chips unique ids to address. But i think that the problem i face about swbb configuration not your old implementation.

If you need any data or case, i can provide you.

[2019-07-05 13:42] gioblu commented on #305
@osman-aktepe send me the code if you want: gioscarab@gmail.com I will review it for you

[2019-07-05 13:47] osman-aktepe commented on #305
I can send my code but it is hard for you to make it work because it uses specific sensors and libraries but you can review it. I am sending right them now.

[2019-07-09 07:00] drtrigon opened #306 "Compatibility with ARM particularly ATSAMD"
I cannot find any info about the status of compatibility with ARM and particularly ATSAMD (M0, M4). I was considering to use a trinket M0 instead of attiny85. Would that be possible?

[2019-07-09 10:19] mxbranson commented on #241
All devices will receive broadcast messages.
Stick your message processing code in your receiver function and look for packet_info.receiver_id to check if its a zero.
You can also use ports to specify different message types and decode the payload based on the packets port.

[2019-07-09 14:41] gioblu commented on #306
Ciao @drtrigon I am happy to hear from you again :)
If you speak about SoftwareBitBang, see: https://github.com/gioblu/PJON/tree/master/src/strategies/SoftwareBitBang#compatibility
Compatibility for SAMD - Arduino Zero has been added for pins D0, D1, D3, A0, A1

[2019-07-10 07:19] drtrigon commented on #306
I allways follow the project. Just did not had time to enhance my bus/network yet. Not even to check the new DualUDP strategy recommended by @fredilarsen in https://github.com/gioblu/PJON/issues/223

I recommended PJON to several work-mates - so may be we'll use it on research or industrial project too somewhen - but that will take time.

I started working on hardware (a very minimal 328 design) t

[2019-07-11 13:32] osman-aktepe commented on #305
This was caused by Serial comm. If you wanna use debuggin you should be careful because it hurts SWBB.

Thanks for your support @gioblu

[2019-07-11 13:32] #305 closed

[2019-07-11 13:52] gioblu commented on #305
Ciao @osman-aktepe thank you very much for reporting back results :)

[2019-07-12 00:43] #294 closed

[2019-07-12 00:46] gioblu commented on #244
Ciao @gryzli133 @4ib3r I beg you give a try to https://github.com/mysensors/MySensors/tree/b24711fdbe2e482867574abc44dc258bd3884e60

It is the pull request containing the PJON transport for MySensors, the developers of MySensors need some feedback from experienced users, if you can give it a try and let them know how it goes here:
https://github.com/mysensors/MySensors/pull/1278

[2019-07-12 00:47] #223 closed

[2019-07-24 06:52] ovedmo commented on #201
if i want to use bare max485 for the ThroughSerial how do i connect it...

[2019-07-26 12:43] mschmidi opened #307 "Cant get SoftwareBitBang to work on Wemos D1 Mini"
Hi,
I just discovered PJON a couples of days ago.
However this is exactly what i was looking for my garden project and i'm very exited.
So i started with PJON/examples/ESP8266/Local/SoftwareBitBang/SendAndReceive/
unfortunately i could not make it work at all. Then i overcame the compiling error with the Arduino IDE 1.8.9. But still the Arduino Mini pro and the Wemos D1 Mini  would not talk to eac

[2019-07-26 15:38] gioblu commented on #307
Ciao @mschmidi thank you very much for your report.
I am still waiting for the Wemos D1, I can test only with ESP8266 NodeMCU 1.0 and ESP32 Heltech Lora. Testing with those I get nominal functionality.

Have you tried different pins? For now Wemos is not officially supported and some of its pins may not work as expected.

[2019-07-26 16:05] mschmidi commented on #307
Thank you for your fast feedback. I will check and let you know.

[2019-08-11 00:19] gioblu commented on #292
Ciao @chestwood96 at the end we understood that was necessary, as you correctly pointed out. Here is the commit that fixes it https://github.com/gioblu/PJON/commit/9fc81b3af01812d5712e14ac866b0a831710f7d1

Soon v12.0 will be released including this optimization.
Thank you for raising this.

[2019-08-11 00:19] #292 closed

[2019-09-08 19:20] ulno commented on #277
Just wondering if any progress was achieved on the PJON ESP8266 ESPNOW implementation? Has anybody made some more experiments to have an idea how complex it would be?

[2019-09-08 19:23] ulno commented on #307
I basically teach all my classes based on the wemos d1 mini. SO far it has really behaved very similarly to the nodemcu 1.0. @mschmidi have you tested other pins if it would work there?
If not, I might be able to run some tests here myself.

[2019-09-08 20:11] mschmidi commented on #307
Hi @ulno
I have tried all different pins unfortunately with no success. I ordered an nodemcu to see if i can make it work on this one. Would be great if you could test

[2019-09-09 12:22] gioblu commented on #277
Ciao @ulno, @dominikborkowski after a lot of work and thanks to the support of the community v12.0 will be soon released. After that, I will focus, solve this issue and add the compatibility. I am now sadly stuck with the release related hassle and I cannot focus fully on this although looking at [this library](https://github.com/yoursunny/WifiEspNow/blob/master/src/WifiEspNow.cpp) that has suppor

[2019-09-09 19:56] ulno commented on #307
As promised, I made some tests with two Wemos D1 minis.
I flashed one with ESPTransmitter and one with the corresponding Receiver.

I tested both D1 to D1 and D5 to D5 communication -> both worked with and without 1MOhm termination, I did conenct common ground (not tested without, but would probably work as connected to same USB-hub).

However, going there was not straight forward. Unfortunately,

[2019-09-09 20:33] gioblu commented on #307
Ciao @ulno thank you very much for your support.
I will fix the examples and reference the commits as you suggested as soon as possible.

@fredilarsen have you noticed this error?

The motivation why not all pins workcan be found here: https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/Timing
is related to subtle differences that each pin has in the time required to change i

[2019-09-09 21:41] fredilarsen commented on #307
@gioblu It seems something has changed so that the compiler does not know which operator to use. A simple typecast should fix it: ```broadcastIP = ~(uint32_t)WiFi.subnetMask() | WiFi.localIP();```

[2019-09-10 10:14] gioblu commented on #307
Ciao @fredilarsen thank you very much for running tests.
The same here, on Arduino 1.8.9 NodeMCU 1.0 compiles fine.

[2019-09-10 15:13] gioblu commented on #307
Ciao @ulno could you give a try to the change proposed by @fredilarsen and see if that fixes the compilation error?

[2019-09-10 17:43] ulno commented on #307
Ok, I will check it this weekend (can't do it before) and create a PR when successful.

[2019-09-10 17:51] gioblu commented on #307
Thank you very much for you support @ulno

[2019-09-11 19:39] mschmidi commented on #307
hi guys,

Thank you all for your efforts. I was able to make it work with 2 Wemos D1 mini, or by using 2 arduino pro mini. however if i mix them up (using 1 mini and 1 wemos) i can't make it work. I saw that the mini is not officially support but since it worked if i use 2 of them i'm really wondering if its really not possible. I rather would like to believe that i'm just too stupid...
has anybod

[2019-09-11 20:07] ulno commented on #307
@mschmidi Cool that it works now.

Just to confirm, is the arduino pro mini also based 3.3V or on 5V?

That's one of the reasons I love i2c as it's low active and allows to conenct (easily) microcontrollers with different core voltages together without a level shifter.

However, the documentation of SoftwareBitBang mentions soem resistor computation scheme dependent on the voltages - @mschmidi - i

[2019-09-11 22:55] gioblu commented on #307
Ciao @mschmidi and @ulno

The motivation why it does not work mixing the Arduino Pro mini with Wemos is because the pro-mini is not supported for now and so generates bits of slightly different durations. It would need a dedicated timing setup here:  https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/Timing.h
As soon as I will be able to release v12.0 I will take some time t

[2019-09-11 23:37] gioblu commented on #307
@mschmidi @ulno if you want to attempt to find the correct timing setup:

1. Find a constant that can let you identify the pro-mini as it is done [here](https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/Timing.h#L153) for example
2. Use a compatible device and flash it with [Local/SoftwareBitBang/NetworkAnalysis/Transmitter](https://github.com/gioblu/PJON/tree/master/exampl

[2019-09-13 08:49] gioblu commented on #243
Ciao @akadlec would you share the code?

[2019-09-13 09:18] akadlec commented on #243
@gioblu it is quite big, but this should be mandatory part:

[code]
void _gatewayReadNodes()
{
    for (uint8_t i = _gateway_reading_node_index; i < NODES_GATEWAY_MAX_NODES; i++) {
        // Composing address, payload and calculating length
        // ....

        uint16_t result = _gateway_bus.send_packet_blocking(
            address,     // Node address
            payload,    // Content

[2019-09-13 09:27] akadlec commented on #243
and for slave node:

[code]

[2019-09-13 09:29] gioblu commented on #243
Ciao @akadlec not bad.
One thing I would do is to set_synchronous_ackonwledge(false); because you don't need an ack for each packet, considering you send a request, and you wait for a response from the slave. This should make the bus quicker removing a lot of overhead. The second thing I would do is to just use send_packet instead of send_packet_blocking you dont need retries, your algorithm alrea

[2019-09-13 09:30] akadlec commented on #243
Hi @gioblu thanks for your time, will try it

[2019-09-13 09:33] gioblu commented on #243
Another thing @akadlec I do see you use SoftwareSerial, why not a hardware serial port, that spare time to the mcu and provide with better performance, give a try also to `ThroushSerialAsync` strategy that has a better performance and can be substituted to TS straight-away.

[2019-09-13 09:40] akadlec commented on #243
@gioblu right now i can not use HW serial, because testing board is hardwired to other pins, but in the next evolution will give a try. Ok i will try `ThroushSerialAsync` and let you know result :]

[2019-09-17 07:54] akadlec commented on #243
Hi @gioblu, so i tested `set_synchronous_acknowledge(false);` and found some bugs in my code :) after fixes it is working without any `PJON_BUSY` so i moved to test `ThroushSerialAsync` and yes it was working but i had some `PJON_BUSY` errors so i moved back to `ThroushSerial` with `set_synchronous_acknowledge(false);`

One thing i noticed with `ThroushSerialAsync` is, it look like slave node send

[2019-09-17 21:08] gioblu commented on #243
Ciao @akadlec sorry for the late answer if often the response comes twice it means that the transmitter has missed the acknowledgement response. This generally happens because of a too low `TS_RESPONSE_TIME_OUT` or `TSA_RESPONSE_TIME_OUT` value, try to set a higher a value higher than default and see if the problem is solved.

To be sure not to receive twice the same payload, because of a retransm

[2019-09-19 21:15] akadlec commented on #243
Hi @gioblu, finaly found issue, was testing in on my breadboards and had some issues with wires. Now is `ThroughSerialAsync` working much better, no `PJON_BUSY` logged, but another one :D `PJON_FAIL` when master is sending packet to the slave.

Tested packet id, without any success, no packet was transfered.

Tested `TSA_RESPONSE_TIME_OUT` to be `20000` instead of default `10000` and it was worse.

[2019-10-03 12:22] drtrigon commented on #306
@gioblu: ...so no plans for adding AnalogSampling compatibility for SAMD (e.g. Arduino Zero) ?

[2019-10-03 12:57] gioblu commented on #306
Ciao @drtrigon I will give it a try as soon as possible. Probably the next week.

[2019-10-09 04:07] ulno opened #308 "GlobalUDP on ESP8266 floods the network"
Just trying to send some packages from my Wemos D1 Mini (ESP8266, very similar to NodeMCU) to a small PJON python receiver on my desktop.
I can send the package, however looking at the Network device with tcpdump shows a very weird behavior:
[code]
I see UDP packages coming in every 0.3 ms, meaning about 30000 messages per second. I highly doubt that this is very efficient.

This problem also occu

[2019-10-09 15:18] ulno commented on #308
It seems to be limited to the esp8266, running the same example on an esp32 only shows a boost of 3-4 packages when data is sent.
The described problem starts on the esp8266 before sending actual packages. The bus.begin() call is basically open the flood gates.

[2019-10-09 17:15] gioblu commented on #308
Ciao @ulno thank you very much for reporting this and running an extended analysis.
Can you check if the `PJON_ESP` is defined here: https://github.com/gioblu/PJON/blob/master/src/strategies/GlobalUDP/GlobalUDP.h#L125 ?
It may help to rule out that the problem may not be related to the back-off.

[2019-10-09 18:20] ulno commented on #308
I added ```#pragma message "**** iotempower check PJON_ESP defined ****"``` after ```#ifdef PJON_ESP``` and indeed this is defined as the message shows up during compilation.

So it might be not a problem in back_off?

[2019-10-09 18:45] gioblu commented on #308
Thank you for your feedback @ulno . Would you share the program you use on transmitter side?

[2019-10-09 18:52] ulno commented on #308
Sure, it's basically the normal example compiled with Lolin(Wemos) D1 R2 & mini mini board settings in Arduino IDE.

transmitter:
[code]

receiver:

[code]

[2019-10-09 18:53] ulno commented on #308
This is my tcpdump command on the linux accesspoint started with hostapd and dnsmasq through create_ap:
```tcpdump -xx -n -i ap0```

[2019-10-09 21:39] fredilarsen commented on #308
I have not had the time to look into this yet. @ulno Can you try letting GlobalUDP.get_max_attempts() return 1 instead of 10 and see if that changes anything?

[2019-10-10 09:36] fredilarsen commented on #308
As a starting point I used tcpdump on my Windows server running my [ModuleInterface](https://github.com/fredilarsen/ModuleInterface) master and web server for my home automation system, filtering out only the relevant port number. I did see only single packets, no duplications in either direction.

There are obvious differences in the setups, like DualUDP instead of GlobalUDP (but these are quite

[2019-10-10 15:03] ulno commented on #308
Kind of at a loss here:
1. I changed GlobalUDP.get_max_attempts() to return 1 -> re-flashed, no change
2. I ran the c-receiver (i cloned PJON repo, adjusted settings of GlobalUDP receiver example, and run make in GlobalUDP example, and then run the receiver)
2 did though not show any received pings (the python program did).
Is this due to running 11.1 and head mixed?

The network flooding also sti

[2019-10-10 19:31] fredilarsen commented on #308
@ulno Did you use the same PJON version in the ESP and on Linux? Master is at this point not 11.2 but 12.0 soon to be released so I am not sure of compatibility.

[2019-10-10 20:10] ulno commented on #308
I have been using mixed versions for my latest tests (but not for the start as cython version is 11.2). Which version are you using?

Agreeing regarding the broadcast, I thought that was strange too.

I might be able to remove the duplicates, however they are not the issues as also the follow-up package after 2 microseconds, so the duplicates are not really the issue here.

You don't see "ulno" as

[2019-10-10 21:12] fredilarsen commented on #308
Hmm, I am thinking of another experience I had when working on the ESP8266 with these strategies. I was expecting the LocalUDP to run fine as it does on Arduino, Windows and Linux, but it nearly does not work at all on ESP8266. Abysmal performance. It is based on UDP broadcasts. My conclusion/theory was that I could not get it to work properly because UDP broadcasting must be broken for the ESP826

[2019-10-15 10:06] gioblu commented on #308
I am sorry for the late response but I got struck by a strong flu,
Ciao @ulno @fredilarsen reading your feedback makes me suspect the problem is present in `GlobalUDP` strategy or in the `UDPHelper` or something within the ESP8266. I have never seen packets sent by `update` with an empty buffer and reading the code that must be impossible thanks to this conditional here: https://github.com/gioblu/

[2019-10-15 10:33] gioblu commented on #308
I have tried to compile this example:
[code]
Commenting the `send_repeatedly` function as @ulno suggested. To see if an update call goes for some reason through also with an empty buffer I have added a couple of prints after line 981: https://github.com/gioblu/PJON/blob/master/src/PJON.h#L981

[code]

Result:

[code]
As you can see I cannot replicate what @ulno reports, no packets are sent by upda

[2019-10-15 11:23] ulno commented on #308
Thanks @gioblu and @fredilarsen for taking a look. I also had the flu and then started a bit late at looking at PJON for my IoT classes, so I got stuck at the here reported problem. However, I am now on a week vacation with very little technology access and will then fly to Austria for a full IoT introduction class. I am not sure if I cover PJON this time as I mainly have esp8266 devices and Raspb

[2019-10-17 18:44] esaheiskanen opened #309 "Support for 328PB MCU"
Hi!

I was planning to test PJON with uStepper. It has 328PB MCU, but it failed to compile. I checked out source and it seems that 328PB is not supported. How difficult it is to add support for it?

[2019-10-17 19:53] gioblu commented on #309
Ciao @esaheiskanen thank you for your report. Reading this document:
https://www.pololu.com/file/0J1464/Atmel-42559-Differences-between-ATmega328P-and-ATmega328PB_ApplicationNote_AT15007.pdf
seems it should be quite straight-forward.

Could you share the compilation error you obtained?

[2019-10-17 20:06] esaheiskanen commented on #309
I was just reading the same document!

This is only a clip of the compile errors. It seems that most of the errors are caused by missind defines.

`/Users/esaheiskanen/.platformio/lib/PJON_ID245/src/strategies/SoftwareBitBang/SoftwareBitBang.h:277:7: note: in expansion of macro 'PJON_IO_PULL_DOWN'
       PJON_IO_PULL_DOWN(_input_pin);
       ^
/Users/esaheiskanen/.platformio/lib/PJON_ID245/src/int

[2019-10-17 20:10] gioblu commented on #309
yes, thank you for sharing, so change this line: https://github.com/gioblu/PJON/blob/master/src/interfaces/ARDUINO/PJON_IO.h#L98
in:
[code]
And change this line:
https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/Timing.h#L27
in:
[code]
After those changes, I think it should work out of the box if your hardware uses an external 16MHz oscillator and the chips are effectively

[2019-10-17 20:14] gioblu commented on #309
@esaheiskanen it may have sense to define `PJON_INCLUDE_SWBB` to avoid the inclusion of any other  strategy out of [SoftwareBitBang](https://github.com/gioblu/PJON/tree/master/src/strategies/SoftwareBitBang) and so avoid other potential errors related to unsupported strategies.

[2019-10-17 20:31] esaheiskanen commented on #309
Thanx! now it compiles. I'll check if it works correctly otherwise.

[2019-10-17 20:32] esaheiskanen commented on #309
I'm using ThroughSerial and rs485.

[2019-10-17 20:44] gioblu commented on #309
Sorry @esaheiskanen I took for granted you were interested in SoftwareBitBang.
Thank you for your feedback, let me know how it goes :)

[2019-10-17 21:08] esaheiskanen commented on #309
Can confirm that it works - at least for me with ThroughSerial and rs485 :)

Do I need to do pull requestor will you add this?

[2019-10-18 07:36] gioblu commented on #309
Ciao @esaheiskanen thank you very much.
Soon the version 12.0 will be released, after that I will push this change.

Thank you again! :)

[2019-10-20 14:58] #309 closed

[2019-10-20 19:44] esaheiskanen opened #310 "master broadcast and listen to all slaves response"
Hi!

I'm building device network where RPI is master and multiple arduino nanos as slaves. Communication strategy is Serial over RS485.

Is it possible to broadcast from RPI and read slaves responses. I would like to dynamically list all slaves from the bus. I have tried async method, but also with that all responses collide and master gets no response back.

Any ideas or sample code how to make t

[2019-10-20 20:19] gioblu commented on #310
Ciao @esaheiskanen because of the inherent limitations of the serial link, it is suggested to keep a master-slave request-response scheme (that excludes the use of the asynchronous acknowledge). When you send a broadcast that triggers a response in many slaves, you are effectively implementing a multi-master scheme. If the bandwidth is enough, the master-slave approach will provide you with a more

[2019-10-23 11:45] notreallybob opened #311 "How to recover from PJON_CONNECTION_LOST"
Hi,

I've been playing with SoftwareBitBang between 2 esp8266s with good success.
When I disconnect the slave, (eg in the SendAndReceive example), after a certain timeframe (around 5s) the expected error code of PJON_CONNECTION_LOST shows up on the master. If I reconnect the slave, the master still does not recover/continue sending.

My question is: Does PJON automatically recover, or is there a w

[2019-10-23 14:07] gioblu commented on #311
Ciao @notreallybob what you describe is not an issue of PJON, but just a limitation of the SendAndReceive example. If one of the two devices is unreacheable, the chain of packets is interrupted, and one of the 2 sketches must be reset to start back the ping-pong.

As you can se from the code here:
https://github.com/gioblu/PJON/blob/master/examples/ARDUINO/Local/SoftwareBitBang/SendAndReceive/Devi

[2019-10-24 20:23] gioblu commented on #311
Ciao @notreallybob I have run some tests on other systems and I am not able to replicate the issue, so I think it must be ESP related. I will now start ESP testing. One thing I do see is that you schedule a packet sending every second, also if the earlier were not successful and may still be in the buffer waiting to be delivered or to fail. Did you get any `PJON_PACKETS_BUFFER_FULL` error? What ha

[2019-10-24 20:58] #307 closed

[2019-10-25 12:25] notreallybob commented on #311
This is embarrassing. I can no longer replicate the error. I was able to replicate the error fairly consistently the last few days, but not today. Nothing should have changed. Last night I just unplugged usb on both ESPs after sending the email with code, and today reconnect usb, but cannot reproduce the error again after lengthy disconnect/reconnect routine.

I suppose we just leave this "issue"

[2019-10-25 12:36] gioblu commented on #311
Ciao @notreallybob no problem :)
Consider that ESP8266 has been proven vulnerable by @Matheus-Garbelini here:
https://github.com/Matheus-Garbelini/esp32_esp8266_attacks

Be sure to have your toolchain updated.
Feel free to re-open the issue if you find a way to replicate it.

[2019-10-25 12:36] #311 closed

[2019-11-02 15:28] dariosalvi78 commented on #202
I am also interested!
nrf24 has some interesting functionalities already baked in.
I wrote [an Arduino library](https://github.com/dariosalvi78/nRF24) some time ago, maybe it could help.

[2019-11-04 07:08] #205 closed

[2019-11-05 21:39] robkettridge opened #314 "SoftwareBitBang ATMEGA328PB compatibilty"
Hello

I have an ongoing project that is at the production board stage and so far have been populating the units with ATMEGA328P processors. However I've just accidentally ordered a batch of the PB models which claim to be backwards compatible, but when I try a board with this processor it all seems to work, apart from one digital output that only seems to work if I use it as a PWM output, and the

[2019-11-05 21:53] gioblu commented on #314
Ciao @robkettridge there may be some subtle differences in the calls durations.
Try to change `SWBB_READ_DELAY` here: https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/Timing.h#L53
on both sides and see if works. If you don't have any success it may mean that the ATmega328PB is a little slower than the 328P and so it is not able to run mode 3, in that case, mode 2 is the on

[2019-11-05 21:54] gioblu commented on #314
I still did not have the time to acquire one and test SoftwareBitBang with it but I have ordered now some :)

[2019-11-05 22:30] robkettridge commented on #314
Just tried changing the SWBB mode. Mode 3 (as it was) doesn't show any signs of data, mode 2 occasionally flashes up showing received data, mode 1 comes and goes a few times a second. Unfortunately I don't really have the ability to debug this properly as all my breadboarding versions are the older P variants which I developed these boards on. So I only have the valid data lights on each end of th

[2019-11-05 22:34] gioblu commented on #314
@robkettridge there must be some difference. Try fiddling with `SWBB_READ_DELAY` probably with a slightly higher or lower value will work (who knows maybe the PB is quicker?), make a trial and error session flashing both devices with a new value and see results.

[2019-11-05 22:35] gioblu commented on #314
@robkettridge obviously the lower is the bandwidth the easier is to find the right timing, so may have sense to start from mode 1.

[2019-11-05 22:38] gioblu commented on #314
Another thing @robkettridge , it may help to run the NetworkAnalysis example to debug performance while testing new values of `SWBB_READ_DELAY`

[2019-11-08 00:12] mamanbudiman opened #315 "PJON on battery-powered devices ?"
Dear all,

Is there anyone have been implemented PJON protocol for battery-powered devices ?
What is the strategy for sleeping the devices ?

Regards,
Maman

[2019-11-08 14:53] gioblu commented on #315
Ciao @mamanbudiman which strategy you are using?

[2019-11-10 07:02] mamanbudiman commented on #315
I want to use PJON protocol on water meter reading project.

[2019-11-10 07:02] #315 closed

[2019-11-10 12:54] gioblu commented on #314
Hei @robkettridge have you managed to find the correct setup?

[2019-11-10 13:44] robkettridge commented on #314
Unfortunately not. As I said I'm not really in the position to be doing evaluation with the different. I've ended up ordering some of the original parts as I'm on a tight schedule to get these other units working. Once I've got those out the door I might get some time to go back to prototyping and see if I can get it working.

[2019-11-10 13:49] gioblu commented on #314
@robkettridge I hope I will get the ICs as soon as possible to get some testing done.

[2019-12-05 21:45] garageboxnv opened #317 "Teensy ThroughSerial RS-485 Blink example not working"
Hi,

For a home project I am trying to deploy PJON as a RS485 bus.
To start I loaded the Blink RS485 example and loaded the transmitter and a receiver to a teensy LC.
Using pin 17 to control the RTS of the rs485.

I see that the transmitter is sending data but goes into error mode because of connection lost.
I also see that the receiver does not call the receiver function to start.

**Transmitter*

[2019-12-05 22:34] gioblu commented on #317
Ciao @garageboxnv I suggest you to see if the example works using bare serial connection (remove RS485 in the middle). If it works then try to set a higher delay in between the enable pin state change and the effective use of the line: https://github.com/gioblu/PJON/blob/master/src/strategies/ThroughSerial/ThroughSerial.h#L279

That may solve the issue.

[2019-12-11 19:58] ulno commented on #308
Good, I am back and have a bit time for testing, I am working with the latest example by @fredilarsen.

I am also seeing the network storm on a "real" wifi router from ubiquiti and an attached network switch to which my network is connected.

I made though an interesting new observation:
When both the following lines in the example are disabled/uncommented, the network storm stops:
[code]

If I en

[2019-12-11 20:58] ulno commented on #308
More testing shows, the storm (or at least one package is triggered each time) is happening in the call ```udp.receive_frame(data, max_length);``` when called from receive_frame in GlobalUDP.h.
I will continue to look...

[2019-12-11 21:04] ulno commented on #308
Seems like udp.flush(); in UDPHelper_Arduino sends out a udp package each time it is called??!
This is from WifiUDP class of Espressif.

[2019-12-12 11:50] gioblu commented on #308
Ciao @ulno happy to hear from you again, consider that calling `bus.send_repeatedly(44, "P", 1, 20000)` will make PJON send a packet containing `P` every 20 MICROseconds.

[2019-12-12 13:50] ulno commented on #308
I am aware of that, however it's commented out, so why is a send of a package triggered in udp.flush()?

[2019-12-12 14:41] gioblu commented on #308
Ciao @ulno thank you for your fast reply.
If I understood correct, if you call just `bus.receive()` without ever calling `bus.send` or `bus.send_repeatedly`? That is quite strange.

What you mean with

Is the "real" Ubiquiti router running Linux?

[2019-12-12 15:01] gioblu commented on #308
Ciao @ulno I see what you mean, it seems ESP8266's `flush` may behave differently and this could explain why this issue does not appear when using ESP32. Thank you I will dig further and try to replicate the issue.

[2019-12-12 16:12] fredilarsen commented on #308
I see that strangely there is a flush call at the start of the receive call in UDPHelper for Arduino. That seems stupid, but I have written a comment about it:

     #ifdef PJON_ESP
    udp.flush(); // Empty receive buffer so it is prepared for new packet
    #endif

So this must have been to solve an observed problem.

But obviously it seems to not only "Empty receive buffer" but probably also se

[2019-12-12 16:17] fredilarsen commented on #308
@ulno Can you help me to test if removing the flush() call in interfaces/ARDUINO/UDPHelper_ARDUINO.h  fixes it all when combined with a recent ESP WiFi library? (I see relevant library fixes done in 2018)

[2019-12-12 17:58] ulno commented on #308
Ok, I will comment it out and test.

[2019-12-12 18:00] ulno commented on #308
Looks good so far, but need to test some actual examples.

[2019-12-12 20:19] fredilarsen commented on #308
Seems there is a big difference from ESP32 to ESP8266. ESP32 required every byte of each message to be read, otherwise it will not clear the read buffer and that will block any more incoming messages. flush() did just clear the read buffer, so I did use that to clear the buffer explicitly to avoid a packet larger then the receive buffer to stop the data flow.
But that obviously did not flow well o

[2019-12-13 10:59] gioblu commented on #297
Ciao @mauricebauer I have added also:
- AnalogSampling: https://www.youtube.com/watch?v=1BeGYMjg-DI
- SoftwareBitBang: https://www.youtube.com/watch?v=GWlhKD5lz5w

[2019-12-13 16:20] gioblu commented on #308
Ciao @ulno thank you very much for your detailed report. Reading @fredilarsen's code I see that the flush call on ESP8266 calling `endPacket` would likely send a packet if `ctx` is not empty. That would explain also the malformed or partial packet you have shared above.

[2019-12-17 14:21] drtrigon opened #319 "Mistakes in book"
I think page 93 (DualUDP) of the book has a mistake at the end of the first paragraph. The last sentence should read: "Like the **LocalUDP** strategy ..." or am I wrong?

[2019-12-19 18:48] ulno commented on #308
Good news, I tested the the example with the Linux example as a receiver and all seems to work.
So removing the flush seems to make UDP on the ESP8266 work.

One confusing note though: the example for Linux defines a port, the example for Arduino doesn't - just had to take a close that you cannot "just" mix platforms for testing. Maybe the examples should be more unified?

[2019-12-23 17:10] happytm commented on #277
Is ESPNow protocol implemented yet on ESP8266 ?

[2019-12-23 21:38] happytm opened #320 "Feature Request: Implement probe request protocol as a stratagy"
Thank you for your great out of box software. I have been working on simple IOT sensor network solely using probe request protocol. It is very power efficient for battery powered devices. Please implement this protocol in your software. There are 2 sketches for my software called ProbeReceiver.ino which is single main gateway on the network and ProbeSender.ino is used by all battery powered ESP de

[2019-12-27 12:27] mschmidi opened #321 "Udp and SoftwareBitBang"
Dear guys,

First if all happy holliday to you all.
Now to my question. I’ve been playing with SoftwareBitBang a couple of months ago, and with the support of the community i was able to make it work between 2 arduinos and 2 wemos d1mini.
Unfortunately due to lack of time and success, i left this topic sitting on my work bench since.
Now i would like to restart a and give it another try.
Before i

[2019-12-27 12:47] fredilarsen commented on #321
@mschmidi I have in my automation setup two SoftwareBitBang local buses in different buildings. To avoid pulling still another wire between the buildings I use one Arduino Nano with an Ethernet card on each bus to connect the 2 physical buses into one "virtual" local bus through my wired Ethernet LAN.

The Nano "switches" use the [BlinkingRGBSwitch](https://github.com/gioblu/PJON/tree/master/examp

[2019-12-27 12:49] gioblu commented on #321
Ciao @mschmidi happy to hear from you again :)

If you are making the first steps with PJON I would suggest you to avoid to run a mixed voltage level bus (3v3 and 5v) because that adds various potential issues (and also the ESP is not that secure specially for a long term deployment). For entry level use / evaluation I would suggest you to start with Arduino nanos for slaves/nodes and arduino nano

[2019-12-27 13:12] gioblu commented on #319
Yes, thank you very much @drtrigon :)
I hope the book will be useful for your research.

[2019-12-27 19:28] mschmidi commented on #321
Hi guys,
As usual, this was quick!
I will try find some time within the next few days and comment my results. Thank you all for your support!

[2019-12-28 09:09] justoke opened #322 "ESPNOW Examples runtime failure using esp_wifi_set_channel"
I have just tried the Arduino [example ](https://github.com/gioblu/PJON/tree/master/examples/ESP32/ESPNOW/PingPongArduinoIDE)for the ESPNOW strategy and encountered a run-time error.

[code]

It is exactly as described in this [espressif-idf issue 4311](https://github.com/espressif/esp-idf/issues/4311) .  It appears to be a change to ESPNOW implementation and not a bug as such. I have posted the c

[2019-12-28 11:22] gioblu commented on #322
Ciao @justoke thank you very much for your support.
@xlfe do you have any idea why this issue may occur?

[2019-12-28 12:21] justoke commented on #322
I have found the issue and will raise a PR and an example using ESPNOW with PlatformIO in VSCode

[2019-12-28 12:56] gioblu commented on #322
Ciao @justoke I have answered to your email request, thank you for your support :)

[2019-12-29 16:06] gioblu commented on #322
Ciao @justoke thank you very much, I have accepted your pull-request, will follow minor code-style changes.

[2019-12-29 16:06] #322 closed

[2019-12-30 22:43] fredilarsen commented on #308
I think the setting of the port in one example was to demonstrate the possibility. If you set up two groups of devices, and each group has a common port different from the other group, the two groups will be completely isolated from each other even if running on the same network.

But you are probably right, it is best to keep it minimalistic and working across all platforms without changes to the

[2020-01-21 18:44] garageboxnv commented on #317
Thanks, this helped me debug, some connection was wrong on the RS485 board

[2020-01-21 18:44] #317 closed

[2020-01-21 19:02] garageboxnv opened #324 "MQTTTranslate and ThroughSerial strategy router/switch"
I am creating a PJON network to interact with relays and input boards, which I want to sync with a router to a MQTT server.
I was planning to make 1 master board with a translation table between PJON nodes and MQTT nodes, however due to the new MQTTTranslate strategy, this seems not the way to go.

Unfortunately when creating the router, I get following error:
[logMQTT_Serial_Router.log](https://g

[2020-01-28 21:16] fredilarsen commented on #324
@garageboxnv The routing is based on several buses with different devices talking to each other through a router. In your setup I guess that one of the MIRROR modes would be the best choice, and this does not fit directly into the routing functionality, though we will evaluate if it can be.

The MQTT strategy can run in BUS or MIRROR modes. The BUS modes allow one device to talk to another device

[2020-01-28 23:17] gioblu commented on #324
Ciao @garageboxnv, looking at the log, it seems you have not defined `PJON_INCLUDE_MQTT`, being still experimental code MQTTTranslate strategy it is not automatically included as other more mature strategies. That should fix the compilation error. I will add a remark about this in the documentation, thank you for reporting this.

[2020-01-28 23:31] gioblu commented on #324
Here docs updated, sorry for the late response: https://github.com/gioblu/PJON/commit/37304aea865748df210ceeb9a2f93884987f07fa

[2020-01-28 23:36] #321 closed

[2020-01-29 07:50] fredilarsen commented on #324
The MQTT feature is new in master and not present in v12.0.
To use it, make sure to download master and not a release, until v12.1 is released.

[2020-01-31 14:36] willie68 commented on #314
For my model railway I'm designing a new decoder for turnouts, lights, and other parts. And i want to use PJON as the main protocol (because DCC ist a little bit more foccussed on digital train management, but i just want to control the enviroment without a PC):
Therefor i have a newly designed board and i need some more pins, so i just used the ATMega328PB. If i try to compile the sources, i get

[2020-01-31 17:47] gioblu commented on #314
Ciao @willie68 thank you for your report. Let me know how it goes :)

[2020-01-31 20:03] robkettridge commented on #314
I could get it to compile but couldn’t get a PB unit to talk to or listen to the bus.

[2020-02-01 13:04] gioblu commented on #314
Ciao @willie68 I am really curious to see the application running :)

Here:
https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/Timing.h
I suggest you to try on the PB to include the timing constants of the 328 and see what happens, as you did in PJON_IO.h

If that does not work I suggest you to:
- Try to fiddle with the value of `SWBB_READ_DELAY` on PB side while running the

[2020-02-01 16:44] willie68 commented on #314
Just fiddling a little around with SWBB 2, this will be my best parameter...
      #define SWBB_BIT_WIDTH   33
      #define SWBB_BIT_SPACER  88
      #define SWBB_ACCEPTANCE  56
      #define SWBB_READ_DELAY   8

Results from networktests:
17:40:15.383 -> Packet Overhead: 10B - Total: 640B
17:40:15.383 -> Bandwidth: 1920B/s
17:40:15.383 -> Data throughput: 1280B/s
17:40:15.383 -> Packets sent: 64

[2020-02-02 02:01] gioblu commented on #314
ciao @robkettridge thanks to @willie68 we have ATmega328PB compatibility for MODE 1 and 2 on pin 10, as soon as I will receive the hardware I will try extend compatibility to other pins and to mode 3 and 4.

[2020-02-02 11:36] #314 closed

[2020-02-06 11:54] ulno commented on #277
In my IoT class last year, we have used and run some tests with ESPNow, both on esp32 and esp8266 and got in spite of common myths surrounding ESPNow on the ESP32 the same result (only about 100m line of sight connections - though both platforms worked well).
We used the same reference mentioned before as base: https://github.com/yoursunny/WifiEspNow

Is anybody else taking a look at this? If not,

[2020-02-07 15:03] gioblu commented on #277
Ciao @ulno that would be a great help :)
Thank you for your support.

[2020-02-21 21:58] dtony opened #332 "Stop working when using SHTSensor"
I am trying to send a temperature data of a SHT31 on I2C from an Arduino Pro Micro to an Arduino Uno using PJON. Communication works great between the two devices but as soon is I am doing SHT.init() there is no more PJON communication. I tried SoftwareBitBang and OverSampling on several pins of the Pro Micro (4,6,8 and even 10). I use pin 12 of the UNO.

I have a 100 Ohm resistor between the two

[2020-02-21 23:10] gioblu commented on #332
Ciao @dtony I suspect the library you use for the sensor uses interrupts, that breaks the sync of OverSampling and SoftwareBitbang. One solution may be to call `init`, make the measurement and then call `cleanup` and use PJON until the next measurement.

[2020-02-22 14:33] dtony commented on #332
Thank you, it look like that solved the issue. I was indeed calling the sht call and bus.update() each time on the loop. By calling the sht read only once every few seconds it solved the issue. I was also able to solve a similar issue I had with Ethernet and PubSub library, calling their update function only once every second and bus.update() every time solved the issue.

Thanks.

[2020-02-22 14:33] #332 closed

[2020-02-22 14:44] gioblu commented on #332
Ciao @dtony happy to hear that :)
Happy tinkering!

[2020-02-24 21:50] rebel2234 opened #333 "[Request] Implement use of AT commands for use in radios like Reyax RYLR896 and similar"
Would it be possible to implement some methods that would allow communications to take place with the use of AT commands over serial, SPI, etc. etc.  In modules such as the Reyax RYLR405, RYLR406, RYLR895 and RYLR896.  Maybe the methods could be written in such a way that they are not specific to these modules but could also work with other devices that use AT commands such as RockBLOCK MK2 Iridiu

[2020-02-25 12:39] gioblu commented on #333
Ciao @rebel2234 sorry for the delay. Yes a strategy for that hardware that makes use of AT commands would be really cool, and enlarge our operational envelop.

I am now in Milan, all is paralized because of the coronavirus outbreak, so I am not sure how much time the test units will take to reach me here.

If you are interested in trying to develop the strategy I can support you here or directly o

[2020-02-29 22:51] dtony commented on #284
Hi, I had the same problem with PlatformIO and I was able to solve it by removing the global installation of the Ethernet library in PlatformIO. I removed the Ethernet library directory in ~/.platformio/lib/

[2020-03-04 20:44] #237 closed

[2020-03-04 20:45] gioblu commented on #237
Solved with the addition of ThrouSerialAsync.

[2020-03-18 13:53] sacreyoubeurt opened #337 "SWBB half duplex issue"
Hello,
I'm working on a project of MIDI (or equivalent) modular controller based on Arduino Uno boards.
1) Peripheral Arduino boards have to send their sensors values (buttons, potentiometers, faders) to a central Arduino board connected to the computer.
2) In return, the central board have to send to the peripheral boards the correspondant values from a software (probably Ableton Live) to insure

[2020-03-18 14:03] gioblu commented on #337
Ciao @sacreyoubeurt I suspect the problem is `Serial.print`. Try to delete the prints and see if communication gets better. I have experienced that Serial prints can disrupt performance. If you really need the prints, try to call `flush` when finished to print and call `bus.receive()` passing a duration: `bus.receive(1000);` to receive for a millisecond.

[2020-03-18 14:18] gioblu commented on #337
@sacreyoubeurt I also see here `if(millis() - time > 10) {`
Are you transmitting cyclically from each node every 10 milliseconds?
That's a tempest of packets I suspect you are saturating the band, specially if running MODE 1

If you need to send a binary state for buttons/switches using a single bit instead of an entire byte.
That would reduce almost by half the length of your packets.

[2020-03-18 17:03] sacreyoubeurt commented on #337
Hi @gioblu , thank you for your help.
I can't delete Serial.print because there are at the moment my only way to see if communication is okay.
I tried Serial.flush() but it didn't change anything.

However, what you said about bandwidth is interesting for me.
Currently, I'm only using 1 peripheral board and 1 central board :
- 1 payload of 9 bytes transmitted from periph to central
- 1 payload of

[2020-03-18 17:16] gioblu commented on #337
Ciao @sacreyoubeurt for sure one way to reduce the bandwidth use is to transmit only when the value changes. If the module can advertise his own type, the master could know how the data received is formatted.

Consider that if you use `send_packet` or `send_packet_blocking` you don't need to call `update`. You need to call `update` if you use the `send` or `send_repeatedly` functions.

[2020-03-18 17:17] gioblu commented on #337
@sacreyoubeurt one thing, once you got it working stable try faster communication modes to have higher bandwidth.

[2020-03-18 17:20] gioblu commented on #337
@sacreyoubeurt I suggest you to toggle the state of a LED instead of the prints if you are probing communication performance, try also to call `receive` in the slaves passing a longer duration

[2020-03-18 23:49] denizetkar opened #338 "Possibly unnecessary packet overhead"
@gioblu Thank you for this great library, it is written with such a readability that I love reading through it. With that being said, I might be onto something which can be improved here. Although note that I'm not a communication expert like you. However I couldn't help but notice the rather large overhead of a packet from its definition:
[code]
The first thing that caught my eyes was `uint16_t s

[2020-03-19 18:08] gioblu commented on #338
Ciao @denizetkar thank you for your compliments and your suggestion, you are right, absolutely.
I have waited to release version 12.1 before answering you, because this are breaking changes that we could include in the next release (13.0). This is clutter sedimented in older versions.

- `receive_frame` could be modified to return 0 in case of failure or the length of the frame
- `receive_response

[2020-03-19 19:14] gioblu commented on #338
@denizetkar to be clear, `state` is never transmitted, so I am not sure if I would define this as overhead in strict terms, although for sure this change could reduce the amount of used progmem and ram.

[2020-03-19 20:05] denizetkar commented on #338
Yes you are right! it is indeed not sent as part of the content. Still we could always try to reduce flash and ram usage :)

As far as I can understand, the `state` variable of a `struct PJON_Packet` can only take 4 different values: `PJON_ACK`, `PJON_TO_BE_SENT`, `PJON_BUSY` and `PJON_FAIL`. So for instance, we instead define them like this:
[code]
And define the struct as:
[code]

[2020-03-19 21:32] gioblu commented on #338
It is always a huge pleasure to shave away even few bytes of ram or flash :)

Setting `PJON_FAIL` to 255 would create a problem, `receive_frame` could receive a frame 255 bytes long (the maximum frame length is 65534 bytes), for this reason I was suggesting to use 0 instead (`receive_frame` will never receive a frame 0 bytes long), same thing for `compose_packet`. Then if `PJON_FAIL` and `PJON_BUS

[2020-03-20 10:48] denizetkar commented on #338
First of all, excuse me for this late reply. I felt the need to thoroughly analyse parts of the library that will be affected by the suggested changes to `PJON_FAIL` and `PJON_BUSY`. Here are the complete list of functions in `PJON.h` that will be either directly or indirectly affected:
[code]
As I was saying, I was analysing whether these functions would behave the same way as before. Although I'

[2020-03-20 11:49] denizetkar commented on #338
Here is a more comprehensive analysis of the affected functions in `PJON.h`. I found by manual inspection that there are 3 main types of return values for these functions and they are namely `FRAME_LENGTH`, `PACKET_INDEX` and `PJON_OPERATION_STATE`. As their names imply they respectively relate to "length of the processed frame", "index or count of packet(s)" and "state of the operation (whatever

[2020-03-20 21:05] gioblu commented on #338
Ciao @denizetkar thank you for your valuable analysis. You are right, yes I have missed `dispatch` issue when using 0 for `PJON_FAIL`. Although, I think your suggestion has sense, and I find a nice idea to use macros for the types you have correctly categorised. Would you propose the changes to record your contribution or you prefer me to work on the implementation as you suggested?

Thank you ver

[2020-03-22 14:21] sacreyoubeurt commented on #337
Hello there,
I made some improvements in the data transmission frequency but still the half duplex communication between peripheral board and central board is not functional.

When a sensor value changes on peripheral board, it is sent to the central board.
This central affects assigns this value to a MIDI parameter (NoteOn or CC) depending on the type, the Id ans the sensor number of the peripher

[2020-03-22 15:33] gioblu commented on #308
Ciao @ulno I hope you are fine!
I will close the issue here, please let us know how your experiments ended up.
Thank you for your support.

[2020-03-22 15:33] #308 closed

[2020-03-23 07:35] jhoogeboom opened #339 "question: implemented on top of radiohead?"
Did you consider, or has anyone looked into implementing this protocol on top of RF libraries like RadioHead? This is a software library for interfacing with HopeRF and a bunch of other popular transceivers.
https://www.airspayce.com/mikem/arduino/RadioHead/

This seems to be the interface to implement on the PJON side:
https://github.com/gioblu/PJON/tree/master/src/strategies

[2020-03-29 05:12] rapnagem opened #341 "ESP8266 & Nano in PJON<SoftwareBitBang> incompatibility: possible cause found?"
Hi there,
I have been trying for a while to make a "NodeMCU 1.0 (ESP-12E Module)" communicate to an "Arduino Nano (ATmega328P - Old Bootloader)" using I2C (bi-directional communication).
I tried a few PJON examples with the following hardware pins configuration, and both serial ports connected to the computer USB ports for software upload:

[code]
When running

[ESP8266>Local>SoftwareBitBang>Speed

[2020-03-29 22:30] rapnagem commented on #341
Hi, I came back to this problem today and the following changes basically solved the problem
[code]
meanwhile uint32_t and other types are not correctly handled.

[2020-03-29 23:48] elimisteve opened #342 "ThroughLora strategy for ESP32?"
Some friends of mine are working on a couple really awesome mesh networking projects, namely https://disaster.radio/ ("a disaster-resilient communications network powered by the sun") and https://peoplesopen.net/ ("People's Open is a community-owned and -operated wireless network in Oakland, California.Open source, peer-to-peer internet").

They are using the ESP32 and I told them about PJON.

As

[2020-03-30 13:33] gioblu commented on #342
Ciao @elimisteve thank you for your support and for spreading the word. Yes, the support for ESP32 is for sure necessary, I will try to work it out as soon as possible.

[2020-03-30 13:34] gioblu commented on #339
Ciao @jhoogeboom sorry for the late reply, thank you for your suggestion.
For sure a RadioHead strategy would be a good thing, I will look into RadioHead as soon as possible. If you have the hardware and the will to try to implement it feel free to propose a pull-request.

[2020-03-30 13:36] gioblu commented on #341
Thank you very much @rapnagem, I will patch the examples as you well suggested. Consider also that, the `Serial.print` calls may disrupt SoftwareBitBang communication, so that may be the cause of receiving only odd ids, each exchange a packet may go lost because of Serial print interference.

[2020-03-30 13:39] gioblu commented on #341
If that happens `Serial.flush` may help (avoinding parallel or simultaneous transmission of Serial and SoftwareBitBang data).

[2020-03-30 13:39] #341 closed

[2020-03-30 13:43] paidforby commented on #342
For what it's worth, the example [ThroughLoRa HalfDuplex code](https://github.com/gioblu/PJON/blob/master/examples/ARDUINO/Local/ThroughLoRa/HalfDuplex/Device1/Device1.ino) compiles and doesn't crash when flashed to the ESP32 LILYGO TTGO V2.1 dev board. It doesn't do much else, so it's hard to tell if the LoRa transceiver is being initialized, but at least that's a start.

[2020-03-30 14:08] gioblu commented on #342
Thank you @paidforby I will give it a try with a couple of Heltec WiFi LoRa and report back here.
Compliments for the work done on disaster-radio, it is really a cool project. I suspect AnalogSampling: https://www.pjon.org/AnalogSampling.php may be a really cool addition to its support, it could be possible to connect nodes that have line of sight wirelessly using lasers diodes and just LEDs or de

[2020-03-30 15:18] rapnagem commented on #341
Hi Giovanni
First of all, I would like to wish to you and all my latin colleagues, all the best with the actual situation in Italy. I have been there once, and I do hope you all can get over this as soon as possible.
Secondly, thank you very much for your kind replies. It was really good to hear from you and to see that you are doing a great library! Congratulations.
Yes. You are absolutely right!

[2020-03-30 15:22] gioblu commented on #341
Thank you for your warm words @rapnagem I hope all will get resolved worldwide as soon as possible. Will soon follow a referenced commit with the patch we have identified.

Thank you again.
Stay safe.

[2020-03-30 15:29] rapnagem commented on #341
Hi @gioblu I removed my previous comment as it had a lot of personal information on it... hahahaha (first time using the GitHub). But the message was sent to you! Keep yourself safe too!
Placing the ```Serial.flush()``` at the end of every cluster of ```Serial.print()``` commands (included in the ```void loop {}```, ```void setup{}``` and ```void functions{}``` ) solved the issue. Congrats for suc

[2020-03-30 15:34] gioblu commented on #341
No probs @rapnagem :)

[2020-03-30 15:46] paidforby commented on #342
Sure, PJON definitely looks like a valuable protocol that we would want to support. We'll discuss the progress on support in our repo here, https://github.com/sudomesh/disaster-radio/issues/63.

[2020-03-31 13:54] gioblu commented on #337
Ciao @sacreyoubeurt sorry for the late response.
Have you added a pull-down resistor as suggested in the README? https://github.com/gioblu/PJON/tree/master/src/strategies/SoftwareBitBang

`send_packet` attempts the transmission once, if the channel is busy or interference is present (possibly because of the missing pull-down) packet sending could be aborted.
Try to use `send_packet_blocking` inste

[2020-04-01 09:05] jhoogeboom commented on #339
Hey no worries. I am interested and I should have some hardware somewhere, although it might not be on a very quick timeframe. Should be relatively easy, although RadioHead has a lot of routing functionality that will go unused.

[2020-04-03 08:58] fotosettore opened #343 "simulating one esp32 master - two d1-mini slaves cable connection"
ciao gioblu !!
first : my compliments for PJON library !!
It seems solve my problem about this scenario:
I need to connect throught cable (no wifi - no BT) one ESP32 as master and two D1-MINI as slaves.
I saw a lot of example inside here but i'm really confused.
May you help me to indicate which is the .ino that should be the nearest example to solve my problem ?
many thanks
peppe

[2020-04-03 09:44] gioblu commented on #343
Ciao @fotosettore, thank you for your compliments, if you need a single cable connection you are looking for [SoftwareBitBang](https://github.com/gioblu/PJON/tree/master/src/strategies/SoftwareBitBang) the examples are [here](https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Local/SoftwareBitBang) just change the pin used in the examples to reflect your setup.

[2020-04-03 13:15] fotosettore commented on #343
ciao gioblu
i found two errors in TRASMITTER.INO  in
PJON-master\examples\ARDUINO\Local\SoftwareBitBang\SendArbitraryDataType:

1. SOLVED
line 8 :
`unsigned long time;`
must to be changed in (example)
`unsigned long Mytime;`
because time is now a reserved reserved word
obviously the same for line 31

2. NOT SOLVED
during compilation, it stops in line 15 with following error :
`"previous definition

[2020-04-03 15:51] gioblu commented on #343
Ciao @fotosettore I have fixed the errors you have reported, thank you very much.
I have tried to compile the examples using the Arduino IDE for various ESP boards, such as NodeMCU and Wemos D1 mini, I cannot preproduce the redefinition error, are you sure you haven't duplicated the definition in your code?

[2020-04-03 16:58] fotosettore commented on #343
ciao gioblu !
**ERROR 2 SOLVED**
sorry sorry sorry
usually i make a copy of original .ino.and I put it in a temporary folder using it for my test.
i forgot to move it and - of course - the second file was as  to belong the same project, with duplicate definition.
A beer is ready to drink for free in virtual pub of gioblu-github !

So one master  <-> one slave configuration works fine !

In few tim

[2020-04-03 17:00] gioblu commented on #343
Ciao @fotosettore peppe, grazie mille del tuo report.
Stammi bene anche tu, speriamo che sta storia finisca presto.
Un abbraccio.

[2020-04-03 17:00] #343 closed

[2020-04-04 00:07] gioblu commented on #333
Ciao @rebel2234 arrived the modules, I will tomorrow start to work out the support. Thank you for rising this :)

[2020-04-12 13:03] fotosettore opened #344 "PJON<SoftwareBitBang> bus(xx) inside void setup"
hi folks!
my question is simply :
is there a way to put slave number inside void setup ?
at moment, the number is out of setup so, if i need to change on the fly, it is not possibile

i need something similar :

[code]

So if i put SlavePin to ground, slave number will be 51, if i put it to +3v3, it will be 50

At moment the number is gave inside compilation

ciao
peppe

[2020-04-12 13:24] gioblu commented on #344
Ciao @fotosettore, buona Pasqua, you can instantiate an object without passing an id, for example:
[code]
The device id is by default `PJON_NOT_ASSIGNED`, until you use `set_id`, for example:
[code]
Device id 0 or `PJON_BROADCAST` is used as broadcast address, so avoid it.
I will soon answer to your email :)

[2020-04-12 13:24] #344 closed

[2020-04-12 17:14] fotosettore commented on #344
hi gioblu
i'm really happy that you are ok ... buona pasqua anche a te !!!
i tried and, naturally, all works fine !
i will use this way to choose the right id number on many devices with only a compile job.
i tried on esp32 (all types) and I have never had any errors.
my last test was on esp32 mini
[https://images-na.ssl-images-amazon.com/images/I/61o9SHnESdL._AC_SL1000_.jpg](url)

p.s.

grazie !!

[2020-04-20 18:02] rebel2234 commented on #333
@gioblu How's it coming along?  Sorry I can't be of much help as I am not very good at programming.

[2020-04-22 17:19] gioblu commented on #333
Ciao @rebel2234 sorry for the late response, I am not sure why but the 2 modules I have received seems totally unresponsive, do you know if the modules need to be flashed with the firmware or there is something i am missing?

[2020-04-22 21:07] rebel2234 commented on #333
They should work out of the box. You will have to use AT commands to set
parameters (bandwidth, coding rates, etc.)

AT command guide can be found here.
https://www.google.com/url?sa=t&source=web&rct=j&url=http://reyax.com/wp-content/uploads/2018/01/REYAX-Lora-AT-COMMAND-GUIDE_EN.pdf&ved=2ahUKEwjx8sTr9_zoAhXVrJ4KHUtGDZUQFjABegQIAxAC&usg=AOvVaw2mQhKeuS4PoTg3cNCiPJx7

Maybe use AT command to reset t

[2020-04-26 10:36] kopierreko opened #346 "Support for Attiny402"
Is it possible to support Attiny402 ?

[2020-04-27 07:38] gioblu commented on #346
CIao @kopierreko it may work although you would not have much memory left for the program.

[2020-04-27 07:46] kopierreko commented on #346
It's what I encountered when I tried to modify the sources... I was searching for a solution to make a one wire slave with attiny402 and I found your projet which look really nice but there is this problem of memory now ^^
Thanks 😊

[2020-04-27 08:09] gioblu commented on #346
Ciao @kopierreko the smaller MCU PJON supports is ATtiny85, that is already a feat, I am not sure we will ever be able to support the 4k family. You may have luck using the SoftwareBitBang strategy alone, and design for it, a custom, simpler, packet format.

[2020-04-27 08:09] #346 closed

[2020-04-28 22:01] fotosettore opened #347 "traffic light on SoftwareBitBang bus.reply"
Ciao Giovanni,
I succesfully connected 3 (and more) slaves using SoftwareBitBang . The scenario is that may be possible that all togheter or two of them send a **bus.reply** in the same time.
Master cannot manage the answer because i saw that go in trouble for it.
Is there a way to have a "traffic light" for that ? In other words something that creates a RX queue so no data will be lost ?
Peppe
p.

[2020-04-29 10:38] gioblu commented on #347
Ciao @fotosettore all fine here, I hope all is ok there too. SoftwareBitBang operates using a variation of CSMA, for this reason collision may occur in some cases. For example, if from a master you send a packet that means "send me back your state" many devices could answer back mostly at the same time, potentially colliding. So if you need to ask the state from a master to the slave it is more re

[2020-04-29 13:39] gioblu commented on #347
@fotosettore cool :) feel free to call me if you need, sorry if I disappeared but I had to focus on the new changes

[2020-04-29 13:39] #347 closed

[2020-04-29 19:25] rwlakin opened #348 "AT commands on HC-11"
No AT response using TeraTerm virtual terminal.  Works fine on all bluetooth modules. Trying several HC-11 modules.  Pin 5 to gnd.