[2020-04-29 19:42] gioblu commented on #348
Ciao @rwlakin I have recently bought Reyax LoRa modules to implement AT commands support. For now PJON using ThroughSerial or ThroughSerialAsync can work with HC-12 and other "transparent" modules.

I have never tried bluetooth modules, would you tell me the models so I can list them in the documentation? Have you used ThroughSerial or ThroughSerialAsync?

Thank you for your support.

[2020-04-29 21:15] rwlakin commented on #348
Problem solved.  I stop using TeraTerm and switch to CoolTerm and it works
fine.  Haven't tried the ESP8655 module yet.

[2020-04-29 22:07] #348 closed

[2020-04-30 23:41] fotosettore opened #349 "bus.reply fail to send before ESP.restart();"
hi Giovanni
i need to restart a slave when requested from master.
And before restart, I send to master a message that slave is resetting itself.
I use this simple code :
[code]
but it does not work.
I tried to use a "millis" routine but it does not work too.
I tried to comment ESP.restart() and the message is send succesfully.

Any idea to solve?

ciao

[2020-05-01 09:27] gioblu commented on #349
Ciao @fotosettore I think the problem is you don't call `update` after `reply`, so the packet is dispatched in the buffer but never transmitted.

[2020-05-01 15:54] fotosettore commented on #349
i'm sorry
it does not work :-(
`...
bus.reply("RESET"), 5);
bus.update();
delay (2000);
ESP.restart();`

any more idea ?

[2020-05-01 16:18] gioblu commented on #349
Ciao @fotosettore `update` returns the number of packets that are still to be transmitted, when its return value is 0 means all packets dispatched were transmitted. Instead of calling a `delay` try to call update until it returns 0, it should fine then.

[2020-05-01 22:12] fotosettore commented on #349
Well done Giovanni !
Many thanks for your input !
Now, using this code, all works fine
[code]
I also used **millis** to force exit if any problem about communication happen.
Ciao
Peppe

[2020-05-02 13:29] gioblu commented on #349
Ciao @fotosettore thank you, consider that when the maximum amount of retries is reached the packet is discarded, so `update` will return 0, no risk of looping in there forever :)

[2020-05-02 13:29] #349 closed

[2020-05-02 19:09] fotosettore commented on #349
so ... how many maximum amount of retries are allowed ?

[2020-05-03 11:45] gioblu commented on #349
Ciao @fotosettore if using SoftwareBitBang it takes around 3.5 seconds and 20 retries.

[2020-05-05 19:30] happytm commented on #320
Can some one take a fresh look at this request please?

Thanks.

[2020-05-05 21:20] gioblu commented on #320
Ciao @happytm sorry for the late response, we are hardly working on breaking changes scheduled long ago. Do you have a link to the documentation or the specification of the protocol?

[2020-05-05 23:21] happytm commented on #320
Other than information at link in first post there is no documentation because it is very simple code of 300 lines if you look at ProbeReceiver.ino sketch. Basically the gateway receive all data from remote battery powered sensors via Probe Request and automatically convert it to json format and built in MQTT broker publishes these data so any MQTT client can connect to the gateway and receive dat

[2020-05-06 11:05] justoke opened #350 "LocalUDP Receive causes intermittent abort on ESP32"
I have been chasing down ESP32 reboots and this is something I observe intermittently on the LocalUDP strategy. Obviously reboots of this nature are not desirable, so I'm wondering if any defensive strategy can be taken to safeguard the strategy.

Abort message:

Which can be decoded as follows:
[code]

[2020-05-06 12:16] gioblu commented on #350
Ciao @justoke thank you for your report, I will look into it and alert @fredilarsen

[2020-05-06 16:55] fredilarsen commented on #350
On line 210 of the current WiFiUDP.cpp for ESP32 on github, it does a `new char[1460]`.

@justoke Can you check if this is the same code as in your copy of WiFiUDP.cpp?

It seems the C++ library gets panic when trying to allocate the memory. It does not explicitly say it is an out-of-memory situation but that would be the most probable cause. Are you in a tight memory situation? Do you think there

[2020-05-06 17:01] fredilarsen commented on #350
Regarding the 3 UDP related strategies in PJON, DualUDP and GlobalUDP were created first to cover LAN and WAN cases, each with its strengths and weaknesses (GlobalUDP needing to know the IP and id of every device to talk to, LocalUDP stressing wireless networks by broadcasting everything).

Therefore the DualUDP was created to combine the autodiscovery-part of LocalUDP and the non-broadcasting and

[2020-05-06 19:00] justoke commented on #350
Thank you for the prompt response. I'll check the code you are referring to.
This is the level of reliability I would like to achieve! Currently my app is far from running out of memory, but I will endeavour to track down anything which might be causing this behaviour. But I accept that my code is far from perfect and is at least to some degree less than optimal. I should mention I switched to Dua

[2020-05-07 09:11] justoke commented on #350
Yes, indeed there was a memory leak. I had not cleaned up a pointer in the message processing part of my code. I'll leave the stations running now and see how they perform.

Thank you for your prompt response.

[2020-05-07 09:21] #350 closed

[2020-05-07 14:15] justoke commented on #350
I ended up using this by default. Having only one UDP strategy and one that covers most use cases would keep things simple.

[2020-05-08 22:32] fredilarsen commented on #350
@justoke Thank you for the feedback. It is always nice to know if advice was good or bad :-)
I hope your application will be running stable now that the memory problem is solved.

The other two strategies may have their use cases. LocalUDP for example requires much less memory as it has no tables and very little code, We are discussing whether to just flag DualUDP as the recommended of the 3, or t

[2020-05-12 21:06] andistancu opened #351 "SoftwareBitBang on Digispark - How to debug"
Hello,

First of all, thank you for the amazing contribution to the society.
Second of all, I understand this is not a support forum, and I apologise for asking this question here.

I have set up a nice SoftwareBitBang network and it works amazingly. As soon as I start using DigiSpark boards nothing happens. Can you please advise where to start debugging?
I reduced the complexity to the basic Loca

[2020-05-12 22:53] gioblu commented on #351
Ciao @andistancu thank you for your compliments :)
Which pin you are using on digispark? Have you tried other pins?

The digispark board does not have an internal clock that is generally required for the operation.
Many users reported digispark working nominally with SoftwareBitBang, although the clock is not precise, so some boards may work, others not, consider that depending on how is powered t

[2020-05-12 22:59] gioblu commented on #351
To debug I generally use an oscilloscope, if you don't have can you can just light up a LED when a packet is received or when a transmission failed, you can even drive a LED with the bus, so you can see flashes when packets are transmitted (as it is done for tx and rx serial pins on the arduino).

[2020-05-12 23:02] gioblu commented on #351
See also: https://github.com/gioblu/PJON/wiki/ATtiny-interfacing

[2020-05-13 08:24] andistancu commented on #351
Hi there @gioblu,

I'm so impressed that with all the time you need to put in this library you had time to answer my question as well. As soon as I'm typing this I'm going straight to your shop to support you.

We are powering it externally.
We tried with pin 1, and with pin 2 when we noticed is not working.
We tried to different boards, hoping the first one is fried.

We also attempted to try add

[2020-05-15 01:45] gioblu commented on #351
Ciao @andistancu is USB absolutely required or you could be ok to program devices using iSP?

[2020-05-15 05:35] andistancu commented on #351
Hi @gioblu. Last night we switched to Pro Mini and now SoftwareBitBang works like a charm. Tonight I'll try AnalogSampling. I'm very excited.

Thus, personally I am not interested in making the digiSpark work anymore, however I am willing to continue debugging if it would help you identify a possible defect/improvement, or to write a tutorial for the community.

Would you like me to try ISP progra

[2020-05-15 13:52] gioblu commented on #351
Ciao @andistancu thank you very much for your support to the project, I hope you will enjoy the book. I am happy you have fixed the issue already using the Arduino Pro Mini, that is for sure much more reliable.  AnalogSampling is really cool, I agree, I also need soon to make another iteration on it to simplify PJDLS. I Hope to see you in our gitter chat :)

Forget about it, I was considering whic

[2020-05-15 13:53] #351 closed

[2020-06-12 08:55] jcallano commented on #247
any decoder available for pulseview for PJDL SINGLE WIRE BUS?

[2020-06-14 01:03] gioblu commented on #247
Ciao @jcallano I don't think they are available already. I for now still use old-style oscilloscope.

[2020-06-14 01:06] gioblu commented on #338
Ciao @denizetkar I have made some tests, the few bytes spared don't value a breaking change specially if compounded with many others that are coming out in the next release, I will re-evaluate this in the next iteration. Thank you for your support.

[2020-06-14 01:06] #338 closed

[2020-06-14 01:09] gioblu commented on #284
Finally solved by https://github.com/gioblu/PJON/commit/d2585c3f0fbebb5b2cde26301f3520b50816e255 thank you for reporting.

[2020-06-14 01:09] #284 closed

[2020-06-14 01:10] #241 closed

[2020-06-16 08:12] jcallano commented on #247
I will try to write a PJDL decoder for sigrok - pulseview open source logic analyzer software. Do you have a flow chart of the process of decode used in the library to use as start point? Sigrok decoder wiki page at https://sigrok.org/wiki/Protocol_decoder:Pjon,

[2020-06-16 13:51] gioblu commented on #247
Ciao @jcallano thank you for your support :)

I suggest you to check out the specification of PJDL:
https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/specification/PJDL-specification-v4.1.md

Probably the clearer description is the code itself:
https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/SoftwareBitBang.h

If you need any help or direct support

[2020-06-17 10:25] HEvNeck opened #355 "Getting started with Master / Multiple slave over RS485 (ThroughSerial strategy)"
Hi Gioblu,

I've been looking for weeks for a good and reliable communication-library before stumbling at PJON.

It seems just the library i need for connecting several slaves (4 at present) which do several tasks in my home (pump-control / data-aquisition / valve-control etc.) to one master-device:
- The slaves have to report acquired data and or status-messages to the master.
- Also the slaves h

[2020-06-17 11:28] gioblu commented on #355
Ciao @HEvNeck thank you for your support to the project and for your good suggestions.
We have really few examples using RS485, and they are not well documented as you underlined, although you can use them to make the first steps:

https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Local/ThroughSerial/RS485-Blink
https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Local/ThroughSer

[2020-06-17 12:31] HEvNeck commented on #355
Hi Gioblu,

Thanks for your very prompt response!
It is nice to notice that you take my comments seriously.

For what concerning SoftwareBitBang vs. ThroughSerial...; I do not completely see the relationship between those two. Moreover as you suggest to look at the examples TroughSerial/RS485-Blink(withResponse).

Could you please give some background information on this part?

When i make progres

[2020-06-17 13:03] gioblu commented on #355
`SoftwareBitBang` is a strategy that implements the [PJDL](https://github.com/gioblu/PJON/tree/master/src/strategies/SoftwareBitBang) protocol, which I have invented and iterated for the last ten years.  It supports simplex and half-duplex asynchronous serial communication for up to 254 devices over a single wire. The maximum length of the bus can reach between 800 and 2000 meters depending on the

[2020-06-17 13:52] HEvNeck commented on #355
Hi gioblu,

Thanks for your fast reply again.

May i conclude from this, that you suggest to leave out the RS485 transceivers completely? And use BitBang instead?
In that case i understand that i did not see the relationship between the two strategies!

But i think that i'll go for the 485 solution in the first place, because all (except one) of the slave units are already in use at the moment, an

[2020-06-17 14:14] gioblu commented on #355
@HEvNeck yes, I was suggesting to run SoftwareBitBang instead, that does not require any additional hardware to operate. I think the most important difference between PJDL and RS485 is that multi-master mode is much more efficient if you use PJDL. So if you often need to arbitrarily send data from the slaves, PJDL will likely be more stable, have a better performance and less collisions.

[2020-06-17 15:01] HEvNeck commented on #355
I was trying to avoid the collision-problem by only letting the master take the initiative, by requesting the slaves on a polling base...
But even that is perhaps more difficult as one would think. The main problem lies in the slaves having to buffer the messages to send on request. Memory stays scarce on Arduino.. (I even thought about SPI-memory expansion for that... but that also, would require

[2020-06-17 15:05] gioblu commented on #355
@HEvNeck if you use the request-response scheme, and so operate in master-slave only, it should be stable and reliable using RS485. I suggest you to create a test setup and make a performance comparison. Many users after dropping RS485 and using PJDL are really happy and would never go back.

[2020-06-18 21:12] HEvNeck commented on #355
Hi gioblu,

Thanks for your advice.
I was planning to re-write some of my existing code to let it make use of Pjon.
But i think i'm going to run in to much trouble mixing this (to me...) new technology and the pretty complex code already written (more than 600 lines for the simplest one)

So I'll create a test-setup first, as you suggest, and play with the options i have.

Thanks for now! You may

[2020-06-18 21:16] gioblu commented on #355
Ciao @HEvNeck sure, if you need any help or want to have a chat you can find me in our gitter chat room here: https://gitter.im/gioblu/PJON

If you run into any issue please report it :)

Thank you again for your support.

[2020-06-18 21:16] #355 closed

[2020-06-23 15:24] Kaitoukid93 opened #356 "I can't find Master Slave Auto Addressing Example and more..."
I'm Using STM32f103 (blue pill) as the Master device to transmit data package to a network of
arduino nanos Using hardware serial (connect all Rx to the same blue pill's TX)
I used the "through serial" example, STM32F103 with transmitter sketch, it send 'B' to each device with 2 different ID as the sketch I show below
but the LED in pin 13 is not flash as I think it should (1 sec interval and 2 se

[2020-06-23 16:53] gioblu commented on #356
Ciao @Kaitoukid93 I have never tried a bus in that configuration. Does it work as expected when having a point-to-point connection between just 2 devices? What you can do is to try disabling the acknowledge and see what happens.

The auto or dynamic addressing has been moved into the [OSPREY](https://github.com/gioblu/OSPREY) repository although is still in unstable state.

[2020-06-23 17:59] Kaitoukid93 commented on #356
Thanks @gioblu , I tried 1, 2 ,3 devices and they act the same, the 'B' is randomly sending, not following the interval that I set
this is what shown on Serial Monitor. As I said, the data not constantly show up, they "choke" at some point and then going crazy fast, but they're a lot faster than 1 second interval. If it's 1 second then slowdown, I will think of interference or blocking code but th

[2020-06-23 18:23] Kaitoukid93 commented on #356
After set ACK to false, the time interval was perfectly correct, the garbage character still there but they didn't affact the time interval, I think it's just the bus ID byte or something

[2020-06-23 22:37] gioblu commented on #356
Ciao @Kaitoukid93 the only single wire communication supported for now is with the [SoftwareBitBang](https://github.com/gioblu/PJON/tree/master/src/strategies/SoftwareBitBang) strategy.

What you see iin the serial monitor is not garbage but additional meta-data transmitted along with the payload by the PJON library. I am not sure why the acknowledgement does not work for you. What could be requir

[2020-07-10 12:39] #319 closed

[2020-07-20 21:08] theo1cardoso opened #359 "SWBB dynamic handshaking"
Hello @gioblu,
I and two other colleagues are working on a project of MIDI (or equivalent) modular controller based on Arduino Uno boards.

Peripheral Arduino boards (slaves) have to send their sensors values (buttons, potentiometers, faders) to a central Arduino board connected to the computer (master), which finally transmits the values trough it serial port.
In order to reduce bandwidth use, we

[2020-07-20 23:24] gioblu commented on #359
Ciao @theo1cardoso welcome :)
Cool project!

Please fix a little the code indentation, and make ALL the Serial prints optional. When you transmit serial and SoftwareBitBang data in parallel (at the same time) SoftwareBitBang's performance drops. I think performance will be nominal if you remove the serial transmission. If you effectively need to send both serial and SoftwareBitBang data, after cal

[2020-07-21 04:19] tinamore opened #360 "can ESPNOW PJON strategy can up more 10 ESP32 devices ?"
Hi,
I have a question
ESPNOW is a great way.
Is there a way to configure PJON with ESPNOW as a MESH network. Then there can be unlimited node (Device)?
Thanks.

[2020-07-21 08:22] theo1cardoso commented on #359
Ciao @gioblu,
Thank you for your quick response !

We are going to clean the code and try these different things today.
But we would like to know more about Serial and SoftwareBitBang concurrency.
Given that we need central board to communicate with computer, it is required that we use a protocol available on this board. We are using Arduino Uno so serial is, if I'm not mistaking, the only protoco

[2020-07-21 09:58] gioblu commented on #359
Ciao @theo1cardoso for parallel or concurrent PJDL and Serial communication (that is a problem) I mean:
[code]
In this particular case, Serial data is transmitted while PJON is transmitting data. In the example below instead serial data is transmitted, and when that is finished PJON data is transmitted.

[code]

This avoids performance drops.

[2020-07-21 10:06] gioblu commented on #359
@theo1cardoso forgot to say, try to see if you can get away with master-slave, that approach would be much easier to implement than multi-master specially if you are making the first steps with the library. With this I mean, let the master decide the pace at which data is gathered through a request (from master) and a consequent response (from the slave) and avoid, if you can, slaves to arbitraril

[2020-07-21 13:44] gioblu commented on #360
Ciao @tinamore ESPNOW is really handy, I will dig into the implementation and the system library and try to have a definitive answer, the original contributor of the ESPNOW strategy, @xlfe, may have a better insight into this.

[2020-07-22 11:21] theo1cardoso commented on #359
Bonjour @gioblu,
Thank you for your responses.

We make a little break and will work on the project again on Friday.
We will try to implement a master-slave approach.
However given that we might have a certain amount of peripherals, we fear that if slave wait for a request from master before sending data, sensor values received by master won't be fluent.
We will in the same time try to separate PJ

[2020-08-09 15:21] Strix-CZ commented on #277
I have just created a pull request to introduce the support. I will be glad if you review the change and help me improve it. Also, I am not sure if I broke ESP32 support, because I only have ESP8266s laying around...

https://github.com/gioblu/PJON/pull/361

[2020-08-25 13:03] Cimex97 opened #362 "feature-request: It is possible to create a PJON_Receiver to listen on a specific port?"
Hey,
I want to implement two applications that use the same PJONBus or PJONRouter.
It is possible to set for a port a PJON_Receiver function?
For example:

[code]
I know that I can use this function:
[code]
But this works only for one port and I won't get other messages.

Some background information:
I have a system with a couple of devices using PJON. This hardware runs with the [zephyr-rtos](htt

[2020-08-25 14:50] gioblu commented on #362
Ciao @Cimex97 yes that looks a potential use case for the PJON protocol. Look at the implementation of the setter:
https://github.com/gioblu/PJON/blob/12.1/src/PJON.h#L815

It is made to let you call `include_port(true)` this sets the port as `PJON_BROADCAST` then:
https://github.com/gioblu/PJON/blob/12.1/src/PJON.h#L391
because of that, received packets are never dropped whatever is the value of

[2020-08-25 14:55] gioblu commented on #362
Ciao @Cimex97 I will document this feature better in v13.0 documentation, thank you for exposing the lack of clarity about this in the documentation.

[2020-08-26 07:32] Cimex97 commented on #362
Thank You for the answer. I will try it out and let you know if it works.

[2020-09-03 03:32] brendanmatkin opened #363 "PJONLocal Receive Example will not compile for ESP8266"
Only changed `bus(44)` to `bus(5)`. Get `exit status 1` `Error compiling for board <whichever esp8266 board I try>`

[code]

Arduino 1.8.13, ESP8266 core 2.7.4

[2020-09-11 12:26] Cimex97 commented on #362
Hey,
I implement a simple PJONSession class for me to handle this. I can now upgrade my devices, that run with Zephyr-OS, over PJON.
I will create a PR soon for the Zephyr interface.

[2020-09-11 12:26] #362 closed

[2020-10-05 16:34] #356 closed

[2020-10-06 08:49] Cimex97 opened #367 "```suggestion"
[code]
You must update the revision to master.
_Originally posted by @Cimex97 in https://github.com/gioblu/PJON/pull/366#discussion_r489405871_

[2020-10-06 08:49] #367 closed

[2020-10-06 08:50] Cimex97 commented on #367
This issue was a mistake. Sorry for that

[2020-10-18 12:05] porkyneal opened #369 "ESPNOW and MAC Address Sending"
Many thanks for your great library, got up and running very quickly with two ESP32s.
My problem now comes when I am trying to talk between 3 or more ESP32s

I am using #define PJON_INCLUDE_MAC

My aim is to only use Mac Addresses to communicate with specific devices, rather than the PJON ID, is this possible?

[code]

I seem to have a problem where when sending to a device that was the second devi

[2020-10-18 12:13] porkyneal commented on #369
For now, I have used bus.set_id(random(1, 254)); to get round this issue.
But I am hoping to use all 10 device, and cannot risk a clash.
Addtionally, hardcoding of IDs is not a route I would like to take.

[2020-10-18 12:27] gioblu commented on #369
Ciao @porkyneal yes, you are right, thank you for raising this. The ESPNOW strategy and in particular `find_remote_node` are not designed to handle mac addressess. It looks `find_remote_node` should receive a second `mac` parameter. In `send_frame` the strategy needs to parse the packet to get the mac address if present within the payload and pass it to `find_remote_node`, the function should use

[2020-10-18 12:47] gioblu commented on #369
@porkyneal we have recently added MAC support within the PJON format this is why `ESPNOW` is in this state.
To be able to communicate to all devices with acknowledgement support my suggestion is to use `PJON_NOT_ASSIGNED` device id for all nodes, after `find_remote_node` and `send_frame` are patched it should work fine. Let me know if you want to attempt to fix the source or you want me to do it.

[2020-10-19 00:43] gioblu commented on #369
Ciao @porkyneal I have merged your pull, made few minor changes and added you in the list of contributors.
Thank you again for your support.

[2020-10-19 07:35] porkyneal commented on #369
No worries, appreciate the quick responses!

[2020-10-19 07:35] #369 closed

[2020-10-21 20:25] gioblu commented on #363
Ciao @brendanmatkin sorry, I am shamed to respond so late to your request, I must have stupidly missed it.
Please use the `PJON` class instead, I will dig into it.

[2020-11-05 08:39] drtrigon commented on #319
Is you offer to sell a signed book to me still present?

Is it possible to also get a digital copy of your book?

[2020-11-05 13:01] gioblu commented on #319
Ciao @drtrigon happy to hear you, sure. Sadly we are still working on the digital version, we hope it will be ready soon.

[2020-11-06 21:32] drtrigon commented on #319
How did you deliver the book to the printing service? pdf, ps or dvi? Can I get a copy of this file together with the book?

Also; do you need help on reviews or else?

[2020-11-07 22:36] gioblu commented on #319
Ciao @drtrigon sorry for the late answer. The production files do not contain links and proper interactivity an e-book should have but we are working on it. I would be happy to send you the new version of the book, updated to the new coming v13.0. Wait to purchase until the new release is out and the new books will be available in the shop.

[2020-11-09 08:43] drtrigon commented on #319
Actually that would be ok for me, links are nice but not a must have.

I take v12 or v13 of the printed book I just would like to make sure that:
- you sign it
- my name is mentioned in the book (as it is in v12 ;)

[2020-12-12 11:03] Nume1977 opened #372 "Support for Atmega32A"
I really love this protocol, and recently i updated one of my projects from a Atmega328p to a Atmega32A (44 pin variant), but it is not supported by Pjon (throws erros when compiling, mainly because of "'PJON_IO_PIN_TO_PORT_REG' was not declared in this scope" ) and my guess is because of the pinouts.

This chip is available on the MightyCore boards along with the 1244/644/324/164 etc.

Is there a

[2020-12-12 14:44] gioblu commented on #372
Ciao @Nume1977 thank you for your compliments and welcome :)
It is relatively easy to add support for new chips: https://github.com/gioblu/PJON/blob/master/src/interfaces/ARDUINO/PJON_IO.h
In particular here: https://github.com/gioblu/PJON/blob/master/src/interfaces/ARDUINO/PJON_IO.h#L97
You see how the registers are conditionally defined for the 88/168/328, you just need to:
1. Duplicate this con

[2020-12-14 23:11] akadlec opened #374 "Raspberry Pi as master with RS485"
Hi to all,
i have a small network composed of arduino as a slaves and one esp8266 as a master. Using TS over RS485. This setup is working great. But right now I would like to replace esp with rpi with rs485 header. My idea is to use rpi to send and receive messages and proxy them to some message queue to be handled by my PHP app.

Is it good or bad idea? Did someone similar setup?

[2020-12-15 10:02] akadlec commented on #374
Or is better idea to have anoter arduino as a proxy, where will be "master" sketch for the pjon network and rpi connected via serial link to aurduino?

[2020-12-15 13:52] gioblu commented on #374
Ciao @akadlec ThroughSerial over RS485 works fine on RPI as well, it should work fine with the setup you describe!

[2020-12-15 14:46] akadlec commented on #374
Hi @gioblu thanks for your reply. I will try to start with an example code from this repo. And what do you think about the rs485 and TS? I saw in other issues your comments where you recommend other strategy.

[2020-12-15 14:52] gioblu commented on #374
I suggest you to try SoftwareBitBang, with a single wire you can connect up to 255 devices and it supports multi-master.
The only con is that you need a TS-SWBB switch between nodes and the RPI (SWBB does not run on any rtos because of timing issues).

[2020-12-15 21:14] PizzaProgram opened #375 "Node-Red support"
I've accidentally found this project and I'm amazed by it at first view.
Spent 600 working-hours during last 1 year to search for a :
- stable
- auto-reconnecting
- hot swap capable
- addressable / "named" boards
- minimal wiring but NO wireless!
- with long distance (5-50m) capability
standard, that could help me connect some Tiny85 and Arduino Nano boards to my Raspberry Pi to control my home.

[2020-12-15 21:26] gioblu commented on #375
Ciao @PizzaProgram for sure SoftwareBitBang strategy fits in your requirements, some users did use PJON along with Node-Red, although we have not prepared a ready made example.

Consider that PJON runs also on a real operative system, so you could:
- have an instance of PJON over SoftwareBitBang running in each attiny/arduino
- have an instance of PJON over SoftwareBitBang and one PJON over Throug

[2020-12-15 21:36] PizzaProgram commented on #324
@garageboxnv
- Did you succeeded with your project?
- Can you please share your sketch / code how you did it?

[2020-12-16 18:46] PizzaProgram commented on #375
( _Thanks for the quick answer! I was investigating everything during the last 14 hours before answering._ )

- It's not clear yet, which one would be the best solution. With ThroughSerial I'm back at the beginning.
  (_What happens if the COM port is taken / can not reconnect / changes from "..USB0" to "USB1"_ ... )

- I've thought MQTT would be best solution, but I don't see how, if connected wi

[2020-12-16 18:47] PizzaProgram commented on #375
I've also found this:

https://github.com/Halytskyi/PJON-gRPC/tree/master/examples/devices/two_routers
Which seems to be a bit overkill to waste +2 boards just as gateways, but promising.

And there is a gRPC node for Node-RED:
https://flows.nodered.org/node/node-red-contrib-grpc

[2020-12-16 19:42] gioblu commented on #375
Ciao @PizzaProgram

- You can run 2 instances of PJON in parallel, for example EthernetTCP and SoftwareBitBang, or MQTTTranslate and SoftwareBitBang
- You could use one of the MCUs supported by SoftwareBitBang which can also run the MQTTTranslate strategy (for example the ESP8266) you then just need to implement a switch
- What you would need the "server" if you use MQTTTranslate https://github.co

[2020-12-16 19:49] gioblu commented on #375
@PizzaProgram see also https://www.youtube.com/watch?v=GWlhKD5lz5w

I agree with you that https://github.com/Halytskyi/PJON-gRPC may be a quick solution to link node red with PJON.

Thank you for your support, I will for sure make use of your valuable feedback :)

[2020-12-22 11:21] #244 closed

[2020-12-27 13:12] mofosyne opened #377 "What is the "padded" and the "jittering" aspect of PJON? What are the differences between UART and PJON?"
https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/specification/obsolete/padded-jittering-protocol-specification-v0.1.md

Was doing a quick read of the above and while I think I get the general idea of the spec. I'm not too sure I understand all the design decision behind this spec. Is there a list or page explaining the reason it's designed that way?

Also it would be nice

[2020-12-27 13:39] gioblu commented on #377
Ciao @mofosyne the spec you link is the first iteration dated 2010, the updated spec is found here:

PJON (Padded Jittering Operative Network)
https://github.com/gioblu/PJON/blob/master/specification/PJON-protocol-specification-v4.0.md

PJDL (Padded Jittering Data Link)
https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/specification/PJDL-specification-v5.0.md

You see from

[2020-12-27 13:49] gioblu commented on #377
@mofosyne about the differences between PJDL and UART:
- PJDL can reach 2km of range using a twisted pair
- PJDL supports up to 255 devices connected to the same data and ground wires
- PJDL transmits also the clock signal along with data
- PJDL supports the acknowledgement
- PJDL is more interference-proof

Upon PJDL generally is used the PJON network protocol that is more comparable to IP

[2020-12-29 20:24] level20peon opened #378 "Reduce memory footprint of PJON"
I am trying to use PJON in order to establish communication between a Raspberry Pi and a couple of ATTiny85s. In order to do so, I am using an Arduino as router, which communicates with the Pi via Serial Link and with the Tiny via BitBang.

Simple examples like sending a message from the Pi to the Tiny and the Tiny replying are working. However, even if I only create a simple "Blink LED on any mes

[2020-12-29 21:13] gioblu commented on #378
ciao @level20peon, welcome, here some ways to reduce the footprint:
- Use only `send_packet` function, don't use `send`, `send_repeatedly` or `send_packet_blocking`
- Reduce the length of the packets defining `PJON_PACKET_MAX_LENGTH` before the inclusion
- Reduce the length of the packet's buffer defining `PJON_MAX_PACKETS` with a value of `0` before the inclusion
- Do not call the `update` functi

[2020-12-30 10:17] level20peon commented on #378
Wow, thank you @gioblu!

Actually I noticed the following:

Changing `PJON_PACKET_MAX_LENGTH` to `10` and `PJON_MAX_PACKETS` to `0`  without changing anything else in my code (so I still had `send` and `update` in there) brought RAM usage down to 88 bytes.
**But** using `send_packet` instead of `send` actually increased RAM usage to 100 bytes.
Also, using `update` (vs. not using it) didn't change

[2020-12-30 11:54] gioblu commented on #378
ciao @level20peon no problem, it's a pleasure to help 👍
It uses less ram when using `send` because there is no buffer in memory, although it would not work.
Stick with `send_packet` if you can, if you need guaranteed delivery and retries use `send_packet_blocking` instead

[2020-12-30 11:56] gioblu commented on #378
@level20peon if you use PJON In local mode and you need to send payloads of 10 bytes, use `PJON_PACKET_MAX_LENGTH` with a length of 15 (10 for the payload and 5 for the overhead of PJON)

[2021-01-02 12:56] level20peon opened #379 "packet_info.tx.id is always empty in PJONThroughSerial"
I am trying to print the packet_info.tx.id on my receiver but it seems to always be empty. My sender tries four different approaches, none of them lead to my receiver being able to print the sender id. What am I doing wrong?

Expected output:

Actual output:

**Sender**
[code]

Receiver
[code]

[2021-01-02 13:03] level20peon commented on #378
ok, I'm still experimenting a little bit with packet delivery optimization, but the goal of actually reducing the memory footprint is solved. So I will close this topic and open other issues as they arise, because I don't want to mix topics in a single thread.

Thank you again 👍

[2021-01-02 13:03] #378 closed

[2021-01-02 13:09] #377 closed

[2021-01-02 15:03] fredilarsen commented on #379
Is this the exact code? I see no printout of "Length" anywhere.

The id is a uint8_t so it cannot be "empty". If it gets printed as empty it must the stream that handles it incorrectly -- can you try a typecast, for example `cout << (int) packet_info.tx.id;`?

[2021-01-02 15:25] level20peon commented on #379
I snipped a few lines too much when posting, so I added the "Length" above.

The typecast with `(int)` you proposed worked, thank you! I will adapt this to my current code and report back if everything I subsequently intend to do with that id works, too.

[2021-01-03 16:09] level20peon commented on #379
ok, everything works as intended, thanks for your help! 👍

[2021-01-03 16:09] #379 closed

[2021-01-04 11:09] akadlec opened #382 "PJON + PJON Cython + TSA"
Hi @gioblu
right now i'm moving my master code to python with pjon_cython package. Everything is working fine, but with a small issue. Master is resending packets :/ It looks like when acknowledge function is enabled there is some issue with timing and master is maybe to fast? Do you have any advice?

[2021-01-10 13:30] gioblu commented on #382
Ciao @akadlec sorry for the very late answer, I must have missed this.
If master re-transmits packets you may try setting `TSA_RESPONSE_TIME_OUT` to a higher value than default (45000), that should help. I suggest you to also switch to PJON v13.0 TS which is an updated version of TSA.

Let me know how it goes, and sorry again for the late response.

[2021-01-10 15:12] akadlec commented on #382
Hi @gioblu, thanks for you reply. Right now I'm not able to configure timeout :/ on rpi I'm using `PJON_cython` and this port does not support this configuration :(

[2021-01-24 10:04] akadlec commented on #224
Hi @er1z have you figured out how run PJON on MicroPython

[2021-01-26 22:34] akadlec commented on #382
Hi @gioblu
So I did some other tests on my dev env. Just to be clear, my master is RPi with `pjon_cython` v12 using TSA and right now one slave is Uno with v12 too.

So I had still some issues with message sync or async ack a got a lot of `PJON_Connection_Lost` states. So I tried to change baud rate from 115200 to 38400 and result is better. Sync ack is now working without any error.

The paramete

[2021-01-28 09:29] gioblu commented on #382
Ciao @akadlec thank you very much for your report.
In this iteration I will work to enable quicker baud rate without errors.

[2021-01-28 20:02] akadlec opened #384 "Communication direction over TS"
Hi @gioblu i have a question on you :)

Right now I have system with one master and n slaves. Communication is controlled by master. Master is iterating through
known slaves and asking them for data and slaves reply back with data, or in case slave is actor, master is sending commands and slaves reply with acknowledging

But I think this communication is not ideal. So I think about something simil

[2021-01-29 10:15] akadlec commented on #384
Maybe my question a bit chaotic :D

Right now I'm using TSA with sync ack. Master is pooling every single slave and reading their registers, similar to Modbus. Each slave have to reply to master request with data. But in real world, almost all slaves will be idling.

So I'm thinking about changing this scenario. Each slave could send their data if had something to transmit. But how to solve commun

[2021-01-29 10:57] gioblu commented on #384
Ciao @akadlec I suggest you to remove the sync ack if the slave must respond when the master asks. Avoid multi-master mode (or letting the slave transmit arbitrarily) TSA does not work well in this configuration (there is no way to avoid collisions).

[2021-01-29 11:17] akadlec commented on #384
Hi @gioblu thanks for you reply. So KNX style of communication with TS or TSA is a bad idea?

[2021-01-29 11:25] gioblu commented on #384
Yes, the ThroughSerial or ThroughSerialAsync strategies do not support multi-master, other strategies can be used applying this approach, for example SoftwareBitBang, AnalogSampling, EthernetTCP, DualUDP, LocalUDP and GlobalUDP.

[2021-01-29 12:59] akadlec commented on #384
Hmm right now I'm locked to use TS or TSA in v12. So there is no way how to detect by slave if bus is ready? I'm thinking about mixed version, where master will pool data from nodes in defined interval, lets say 10s, which is ok for regular sensors like tem, humidity etc., but also give slaves ability to send messages to master when needed, to notify master, something happen for example push butto

[2021-01-29 13:05] gioblu commented on #384
@akadlec yes you can do so if arbitrary transmissions are rare, collisions may arise but PJON will re-transmit if that happens, so the packet should be delivered as expected. Although it would for sure be more reliable if using one of the strategies that fully support multi-master mode.

[2021-01-30 16:19] akadlec commented on #384
Hmm....so in that case, I'm thinking about creating another device which will act as a proxy between PJON devices and RPi master. Because right now I'm locked into V12 and only TS/TSA or UDP via PJON_cython

[2021-01-30 18:03] gioblu commented on #384
Ciao @akadlec I would evaluate SoftwareBitBang and see if fits your use case at the edge, and use TCP or UDP in a master.

[2021-02-10 22:21] canDry opened #385 "ARM Cortex-M3 support?"
I'm trying to get PJON working on an arduino DUE (ARM Cortex-M3).

Although there's no errors in compilation the network test never connects with ans ESP32 receiver (it works successfully when the sender is an arduino uno on pin 12).  I've tried various pins (12, 25, 52) with no luck.

Is there support for this board?

Cheers!

[2021-02-11 00:05] gioblu commented on #385
Ciao @canDry :)
Take a look here: https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/Timing.h#L207
This is the timing configuration of ESP32, we do not have a dedicated setup for Arduino DUE, although if you already see even few successful exchanges that means a slight tweak will likely yield optimal performance.

Please see: https://github.com/gioblu/PJON/wiki/SoftwareBitBa

[2021-02-11 02:43] canDry commented on #385
Thanks for the quick response Gio!

Was hoping perhaps someone will see this that's got the timing working (but never bothered to pull request).  😎

[2021-02-12 19:28] gioblu commented on #385
Ciao @canDry it is probably the time for me to buy an Arduino DUE, I will let you know how my tests go.

[2021-02-12 19:46] canDry commented on #385
I have a cheap DSO-138 oscilloscope....  do you think that would be sufficient for me to diagnose/tune the timing?

Regardless, if you actually purchase a DUE to solve this issue and you fall into the _relatively-poor open-source-developer camp_ send me a copy of the bill and I'll reimburse you via paypal.  :)

Cheers!

[2021-02-13 00:01] gioblu commented on #385
@canDry I don't think you need an oscillo to find the right timing it you already get some packets through. Try changing `SWBB_READ_DELAY` on due side and see if results are better, it may be just that setting a slightly higher or lower `SWBB_READ_DELAY`, in the worst case `SWBB_BIT_WIDTH` may require to be tuned too, and in that case an oscillo may help, probably the DSO-138 is more than enough.

[2021-02-13 00:04] gioblu commented on #385
Ah @canDry about the DUE purchase, don't be preoccupied it is some time I had in mind to test that MCU, and that is not a huge expense, just too many things on the list :)

[2021-02-13 00:11] gioblu commented on #385
@canDry I bought also the chinese ebay clone for less then 15 dollars, curious to know if the behave the same. Do you have the real or the clone?

[2021-02-13 00:19] canDry commented on #385
Mine is from Sainsmart - so a clone.

If I get some time this weekend, I'll try playing with the `#define SWBB_READ_DELAY` +/-  to see if I can get the DUE talking to the ESP32.

Thanks again for your prompt and very helpful response (as usual!).

[2021-02-15 19:09] drewfish commented on #306
I'm working on a PR trying to add support for a few SAMD21 and SAMD51 boards, using SoftwareBitBang. I've have an Arduino Pro Mini (AVR 16Mhz 5V) talking to an Adafruit Feather M0 (SAMD21 48Mhz 3V3). It seems to be working well enough. However the Pro Mini doesn't seem to be able to talk to my Adafruit QT Py (SAMD21 48Mhz 3V3 crystal-less), nor my Adafruit ItsyBitsy M4 (SAMD51 120Mhz 3V3). (I've a

[2021-02-15 19:13] jdaandersj commented on #306
@drewfish nice work, I suspect that in the case of crystal-less devices the onboard clock generation has too much drift or jitter to be greatly successful. The crystal based boards should be workable in my opinion.

[2021-02-15 19:29] drewfish commented on #306
Yeah I figured, but why not try? :)  BTW the "crystall-less" QT Py is actually running on the DFLL48M fed by the OSC32K, which the datasheet describes as a "High Accuracy Internal Oscillator". I'm a software person so don't know how much jitter that might actually have.

[2021-02-15 19:47] jdaandersj commented on #306
@drewfish if you look at the SAM D21 datasheet, section 37.13.4, it finally reveals that the 'High Accuracy" OSC32K is actually obtained from an RC oscillator with a few kHz variation. However there is hope since it seems to suggest (in the earlier clock sections) that they factory calibrate the device. In any case worth a try but it's likely to vary a lot over temperature ranges and perhaps betwe

[2021-02-15 20:57] gioblu commented on #306
Ciao @drewfish sorry for the late response:

SAMD21 works fine because its timing configuration is already defined here:
https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/Timing.h#L179

As you can see each MCU often requires its own setup to work nominally. This because of the clock speed and many other factors.  Adafruit QT Py (SAMD21 48Mhz 3V3 crystal-less) may do it with

[2021-02-16 02:21] drewfish commented on #306
@jdaandersj Thanks! I didn't think to look in the "electrical characteristics" section but that makes sense now.

I was able to get the QT Py working, by making it use the same SWBB/Timing.h numbers as the Arduino Zero.

Thanks @gioblu! I'll work through those steps as I try to get the other boards working (and fine-tune the QT Py). I've dug through the constants (either `#define` or command-line

[2021-02-16 11:59] gioblu commented on #306
That looks sane @drewfish , good luck.
Let me know if you need any help

[2021-02-24 18:50] alastaira opened #386 "Current state of support for SoftwareBitBang on ESP32?"
Hi,

I'm mid-build of a project (an escape room game), which initially consisted of around 8 Arduino Nanos, which communicated beautifully using PJON's SoftwareBitBang strategy (and I must commend you for the elegance of this library - I was very impressed by performance and reliability, and the ease of just a single wire interface :) ).
However, the requirements for some of the devices have now e

[2021-02-25 01:34] gioblu commented on #386
Ciao @alastaira thank you very much for your compliments! I would be very curious to see your craft sooner or later :)

The voltage level converter may be the culprit, have you tried to look if the output is effectively there with an LED/oscilloscope?
Have you tried test it with just a resistor in series, let's say 1k, instead of the converter?

I have the Heltech WiFi LoRa and it works well on pi

[2021-02-25 10:39] alastaira commented on #386
Thankyou for the quick reply. I have some progress to report, and I think you may be right about it being a problem with the level convertor rather than strictly with the ESP32....

Unfortunately, I only have access to a very basic software oscilloscope, but I thought it was better than nothing..... First I recorded the output I measured on Pin 12 of a 5V Arduino running the basic "BlinkWithRespon

[2021-02-25 10:50] alastaira commented on #386
Thankyou for the proposed workaround and simulation - I'll have a rummage around as I'm not sure if I have any 1N34s, but I'll try to order some to test out.
I'm also trying to understand exactly how that solution would work when there were many various 3.3V/5V devices sharing the same bus, rather than just a pair of devices? In the past I've been accustomed to just chucking in one of those logic

[2021-02-25 15:43] gioblu commented on #386
@alastaira  I think should work fine even if both devices are 3v3, the voltage drop should be still around 1v per "converter" so 2v overall, the receiver device should see around 1.3 volt, looks more than enough for a 1 to be detected. Consider that the low voltage level used (3.3v) and the voltage drop of diodes (2v) reduces the maximum range, so it should be tested. Another option is to run 2 pa

[2021-02-27 20:35] alastaira commented on #386
What do you think about using a simple resistor divider, with diode on the 3.3V side, like [this ](http://www.falstad.com/circuit/circuitjs.html?ctz=CQAgjCAMB0l3BWEA2AzNA7ATi8gHACxhaKTJYh4RIGogICmAtGGAFABu4WATCKgj7E+PDH0hQQBCejoT50BJ3pg+AvglUhR4ydPqSFSgO5SCefoO0Jkl8WwAm12z0gWeN8D3fgAcqgI2AAduETcvd3CIeTZTD1t1ULsoWJU1KwJzZMhUzIs8CTzwLRy4zwLnYvtTYSrK1mqpZAI6zSES3Oa6ooaUkLbtcIQMFyjDNgBnNO0xadcLCQgAMwB

[2021-02-27 23:46] gioblu commented on #386
@alastaira nice design, I suspect it would work with 100/200k, 1M looks too much to let the signal pass through, although I am be wrong. Let me know how it goes.

[2021-02-28 00:07] barbiani commented on #386
I always use this circuit to shift the levels.

![images (1)](https://user-images.githubusercontent.com/7387556/109403910-bc100880-793f-11eb-917c-dea5cb2d02b3.jpeg)

[2021-02-28 08:20] alastaira commented on #386
Thanks for the suggestion. My understanding is that design is the same approach used in the Sparkfun logic level convertor which I first tried (https://www.sparkfun.com/products/12009) and have used successfully for other mixed voltage devices on a shared bus but, for whatever reason, just wouldn't play ball with PJON. Interesting to know it works for you... do you specifically use it on a PJON ne

[2021-02-28 10:35] alastaira commented on #386
Initial tests are good! I'm actually using 42kΩ/84kΩ resistors at the divider and a 1N914 diode, because those are the components I had to hand. It's been running for a little while now, connected first time and doesn't appear to be dropping any packets - yay! I'm closing this issue, since my problem is fixed and it appears to not actually be a problem related to the ESP32 anyway. But may I sugges

[2021-02-28 10:35] #386 closed

[2021-02-28 12:13] gioblu commented on #386
Ciao @alastaira thank you for your suggestion, I will add the required info in the wiki.

[2021-02-28 12:16] gioblu commented on #385
Ciao @canDry it's a pleasure. Have you found the optimal configuration? Do you need any help?

[2021-03-05 08:07] alastaira opened #387 "Document behaviour of set_random_seed() and role of A0 pin during begin()"
I spent some time today debugging a strange issue with my device, which I eventually managed to track down to (what I think is) undocumented behaviour in the PJON begin() method. Even though I've now fixed the problem, I thought I'd write it up here for the benefit of anyone else in the future!

### Short version
PJON expects pin "A0" to be an unconnected Analog Input pin, so that it can be sample

[2021-03-05 13:28] gioblu commented on #387
Ciao @alastaira thank you very much for your support, I will add the missing documentation as soon as possible.

[2021-03-05 14:47] gioblu commented on #387
Ciao @alastaira thank you very much for your report. I am sorry you lost some time figuring this out. I have added the required section in the documentation. Feel free to open a pull-request if you think that should be stated differently.

Happy tinkering :)

[2021-03-05 14:47] #387 closed

[2021-03-11 13:19] gioblu commented on #385
Ciao @canDry I finally have my Due and some time to try! I will let you know in the next days.

[2021-03-13 19:01] rainerschoe opened #388 "Proposal: PJON Highlevel implementation for Linux"
Hi,
I am using PJON for a home automation project. As a gateway and frontend I use a Raspi or Linux system translating PJON to gRPC.
However the Linux interface provided in this repo is not usable in standard C++ linux programming without considerable frustration, as it uses event-loop, is not thread safe and has some other limitations.

I implemented a wrapper around PJON, called __PJON_Highlevel

[2021-03-14 00:59] gioblu commented on #388
Ciao @rainerschoe thank you very much for your compliments and for your feedback.

I have been stuck on a lower level for more than a decade. Few years ago, I started to study the inner workings of linux and work on the LINUX interface with the help of the community, although that is still not mature nor optimal. I am open to accept contributions to make it better.

I agree with you, what you prop

[2021-03-14 08:06] rainerschoe commented on #388
Thanks for the feedback.

I will try to create a PR as a "Work in Progress" for further technical discussion, need to do some cleanup first though.
Most pressing point will be the issue of PJON being a _header only_ library, as _PJON_Highlevel_ currently is written using small parts in cpp files which need to be compiled and linked.

__Regarding address string representation:__
I don't really care

[2021-03-14 11:08] gioblu commented on #388
Ciao @rainerschoe in the mid 2010s I chose to have a header-only library not to worry about different platforms where the library might be used and furthermore avoid to worry about build systems. Although I agree the state of the project now may require a more advanced setup. I agree with you about the reduced and extended forms, very nice. My only concern about LOC and implementation complexity i

[2021-03-14 11:20] gioblu commented on #388
Ciao @rainerschoe forgot to say that PJON supports also the use of the MAC address to identify devices, for example it is possible to create a mesh network on bus id 0.0.01 for example setting all devices to 255 or `PJON_NOT_ASSIGNED` and use unique MAC addresses, if set as routers devices can route packets between each other and use the hop count to avoid network loops. It may have sense to suppo

[2021-03-22 10:54] rainerschoe commented on #388
Hi, have been working this weekend to clean up the PjonHL implementation to make it ready for a PR.

I also implemented the new Address parser as discussed. However I did not manage to include MAC support for now. I think this will be added as a feature later on, as I first need to read into the specification for this to get the general idea.

I need to do some testing first to make sure refactori

[2021-03-22 11:19] gioblu commented on #388
Ciao @rainerschoe thank you very much for your support to the project, I think you did right to wait extending the address parser. As soon as it is ready I will test it and report back to you results.

Thank you again.

[2021-03-22 18:04] #258 closed

[2021-03-22 18:06] #195 closed

[2021-03-25 13:11] #359 closed

[2021-03-25 13:13] #222 closed

[2021-04-02 07:50] rainerschoe commented on #388
Hi @gioblu,

I spent the last week finalizing, cleaning up, documenting, unit-testing and system-testing the PjonHL implementation.
I published the result here:
https://github.com/rainerschoe/PjonHL

The code size is now at 773 lines of code excluding comments, unit-tests and example.
However I did not create a PR into PJON for now, as I wanted to discuss some things first with you:

- PjonHL foll

[2021-04-02 09:23] rainerschoe opened #392 "Compiler error/warning: memset clearing an object of non-trivial type 'struct PJON_Packet_Info'"
Hi,
I just ran across this warning:
[code]
As I compile my projects with `-Werror` to enforce clean code-style, this causes the build to fail. Not sure if memset is used deliberately here. in modern C++ there are multiple safe ways to default initialize member variables
- In declaration of a struct by writing `struct S { int member = 0; };`
- In constructor of a struct by writing `struct S { S() :

[2021-04-02 09:57] gioblu commented on #388
Ciao @rainerschoe thank you very much for your valuable contribution to the PJON project. I am sure many users will love this.
Compliments for the work done, very slick.

I think one of the motivations why PJON is handy and easy to use for many, is its implementation design. It is monolithic, it requires 0 dependencies in most cases and the repository contains both examples, implementation, docume

[2021-04-02 10:01] gioblu commented on #392
Ciao @rainerschoe thank you very much for reporting this. I will fix it as soon as possible.

[2021-04-02 10:41] gioblu commented on #392
Ciao @rainerschoe looking at the definition of `PJON_Packet_Info` all values are already defined as in your first proposed solution, so it looks I could just remove line 297. I will run some tests.

[2021-04-05 11:43] gioblu commented on #388
Ciao @rainerschoe I have looked into PjonHL and its new release, compliments for the work done.
I will run tests this afternoon and let you know the results.

If you wish to keep it in a separate repo I can add it to the [compliant tools](https://github.com/gioblu/PJON#compliant-tools) list where other wrappers and compatible projects are linked. It would likely get more traffic and usage being pa

[2021-04-05 12:01] gioblu commented on #392
Solved, thank you for your report @rainerschoe

[2021-04-05 12:01] #392 closed

[2021-04-05 20:49] #196 closed

[2021-04-06 07:55] rainerschoe commented on #388
Sure, I spent some time this weekend doing some more tests (found out that default bus config did not correspond to native PJON bus config, which was causing some problems receiving packets). Now PjonHL supports explicit and compatible default configuration.

It seems to work now except some timing issues. I needed to increase TS timing for ACKs to be seen in time on AVR side.

This is most likely

[2021-04-06 10:57] gioblu commented on #388
Ciao @rainerschoe I see you sleep for 10 millis at line 331 of Bus.inl, that time is added to the computation time needed by the receiver and the latency, the sum overshoots the maximum acceptable timeout of 45 millis.

1. You can edit the maximum time out defining `TS_RESPONSE_TIME_OUT` before including PJON.h
2. You could also make the sleep time configurable, that for sure will help with fine-t

[2021-04-06 16:40] rainerschoe commented on #388
Is there some generic (strategy agnostig) way to determine if calling receive() is needed to be called soon?

I.e. If the strategy received a single byte in this iteration we could assume it is very likely to receive another byte within the next milliseconds and then we could skip the sleep in this case.

For example in ThroughSerial I see the internal statemachine which holds this information. Un

[2021-04-06 17:35] gioblu commented on #388
Ciao @rainerschoe I think has sense to sleep in case `receive` returns `PJON_BUSY` or `PJON_NAK` and I agree it is better to avoid sleeping while something is being received. Maybe could be more simple to let `receive` return `PJON_RECEIVING` and let strategies which support non-blocking reception return it? In that case you could also avoid sleeping if `receive` returns `PJON_RECEIVING`. It may h

[2021-04-06 19:58] rainerschoe commented on #388
Sounds good to me. I am in no rush for this.

Although experience has taught me, that mixing too many things into one integer return value (good / bad + some semantics) might bite back if you over-do it, as you lose overview over which function might return back which kind of values.

In essence this becomes a type-safety issue as it is not strictly defined by the C++ type system what the semantic

[2021-04-06 21:12] gioblu commented on #388
@rainerschoe the return value of `receive` just contains the result of the attempted reception, (channel busy, fail, crc error, success) adding the result "reception in process but not completed" does not look like mixing things. Although, I do see as a con that existing sources relying on the `receive` return value may need to be updated, requiring effort to users.

@fredilarsen @jdaandersj what

[2021-04-06 21:17] jdaandersj commented on #388
Perhaps I am oversimplifying or do not understand some part of the new bits:

Surely lack of return indicates not yet completed? What is the purpose to include it in the return?

[2021-04-06 22:02] gioblu commented on #388
@jdaandersj the point is, @rainerschoe uses `ThroughSerial`, which is the only strategy able to make non-blocking reception, on linux. ThroughSerial has an internal buffer in which composes the frame bit by bit as it comes in and ultimately returns it to PJON when it is complete. @rainerschoe needs to reduce cpu usage giving some time to the rest of the system in between each `receive` call. Altho

[2021-04-06 22:15] rainerschoe commented on #388
Hi @jdaandersj I think I need to givesome background in Linux application programming vs. Embedded low-level programming (sorry in advance for being a little bit verbose here):

For AVR plattform or embedded low-cost controllers without threading support in general, the Event-Loop is a very good idea and well implemented in PJON: Call `receive()` + `update()` often and PJON will try to do as less

[2021-04-06 22:39] jdaandersj commented on #388
Ok thanks for the thorough overview.

I think my conclusion would be that @gioblu should decide which path he prefers.

Add it to the return value to stick with the common approach of PJON currently. Or, decide that the intention is to expand PJON in long term, in which case probably makes sense to start to refactor all code in direction described by @rainerschoe. Could start just with high level

[2021-04-07 13:42] gioblu commented on #388
Ciao @jdaandersj @rainerschoe thank you very much for your feedback.
I took some time to evaluate your suggestions, I think @rainerschoe is right and a `bool` in the strategy is cleaner and will likely spare time to distracted users.

I agree, and also PJON in its more constrained use cases runs with 50 bytes of RAM, I was forced to keep the implementation simple to spare even few bytes of ram.

`

[2021-05-08 10:46] michael-sayapin opened #393 "Proposal: using Mespnow in ESP-NOW strategy"
Currently ESP-NOW strategy is limited to sending `250 - overhead` bytes packets. Using Mespnow high-level APIs could lift this limitation and allow sending much larger payloads.

https://docs.espressif.com/projects/esp-mdf/en/latest/api-reference/mespnow/index.html

The API is very similar, and changing it should be pretty straightforward. If interested, I will work on submitting a PR in the near

[2021-05-09 10:23] gioblu commented on #393
Ciao @michael-sayapin thank you very much for your support to the project.
For sure the additional features of mespnow are interesting, could simplify life to PJON over ESPNOW users.
I would be happy to test your contribution and include it in master if feasible.

Thank you again.

[2021-05-28 18:27] osman-aktepe opened #394 "ESP32 ThroughSerial Low Packet Count"
Hi @gioblu

As you know, I already used your project and this time I am here for ESP32.
Before starting, I really appreciate your effort.

My environment: 2 ESP32 Dev board, 2 MAX485 module.
I wanted to test RS485 with PJON to check whether it fulfills my needs or not.

Slave Code:
`#define PJON_PACKET_MAX_LENGTH 1024

#include <PJONThroughSerial.h>
#include <HardwareSerial.h>

// PJON object
PJON

[2021-05-28 19:00] gioblu commented on #394
Ciao @osman-aktepe with a higher packet size you implement a more efficient exchange. The overhead of each packet and its time consuming tasks (medium access control, acknowledge) are distributed on a bigger payload. In your particular case, most of the time is dedicated to medium access control, see https://github.com/gioblu/PJON/blob/master/src/strategies/ThroughSerial/Timing.h#L48 (the transmit

[2021-05-28 19:31] osman-aktepe commented on #394
Hi @gioblu thats right but there is a difference; https://github.com/gioblu/PJON/issues/243, in here you can check their packet count and bandwidth with its baudrate. I think that 20 packets per second is too low. I can achieve 55 packets when I use SWBB.

I changed my baud rate to 9600 and added these

#define TS_INITIAL_DELAY 100
#define TS_TIME_IN 10000

my packet count is 20 (by the way becaus

[2021-05-29 13:41] gioblu commented on #394
Ciao @osman-aktepe do you have an oscilloscope?
Could you take some pics of the output?
What was the length of the packet for the last test you speak about?

For sure something unexpected may be happening, although serial at 9600 bits per sec minus 1/5 of that time dedicated to check the line (with `TS_TIME_IN` set to 10000) is 960 bytes per sec minus the acknowledgement phase. SoftwareBitBang is

[2021-05-29 18:57] osman-aktepe commented on #394
Hi @gioblu

I do not have any oscilloscope, sorry :(
It was 20.

I will give some output for different baud rates and with and without acknowledge. By the way I commented out TS_INITIAL_DELAY and TS_TIME_IN so it uses default values now.

Baud Rate:9600
With acknowledge:

Packet Overhead: 10B - Total: 120B
Bandwidth: 360B/s
Data throughput: 240B/s
Packets sent: 12
Fail (no acknowledge from receive

[2021-05-31 14:28] hal295 commented on #311
Hi, I think I have similar problem with ESP8266 (NodeMcu) and I am really lost.
I am using two ESP8266 (D1 mini) with SoftwareBitBang strategy.
Sending data every 3 seconds from device 1 to device 2 and from device 2 to device 1.
Its working nicely, but after some time connection with device is lost and cannot be restored.
Restarting only one device does not help. I have to turn off the power to b

[2021-06-02 16:32] gioblu commented on #394
Ciao @osman-aktepe sorry for the delay in the response, the acknowledge greatly reduces the available bandwidth. It operates correctly when `TS_RESPONSE_TIME_OUT` is effectively longer than the time it takes for the receiver to respond an acknowledge, if not, that is lost unheard. That is why you experience this gap in performance. What you did was the right thing to do, reduce `TS_RESPONSE_TIME_O

[2021-06-06 22:22] osman-aktepe commented on #394
Hi @gioblu

Sorry for the late response, I understand what you mean but I want to  understand one thing. Basically it is timeout duration for waiting response. I do not change anything in the slave part and just change the timeout of the master. In the case that the slave send the response in a given time, normally decreasing timeout should not change the bandwidth that much, at least I would expe

[2021-06-06 22:38] gioblu commented on #394
Ciao @osman-aktepe if you implement a master-slave approach over serial I don't think you need the acknowledgement.
Master can retry if does not receive a response.

When using the acknowledgement, before transmission, master waits for a lot of time, to avoid disrupting an exchange potentially occurring. That is why you see a drop in bandwidth.

[2021-08-08 16:13] ksmosna opened #395 "Loosing connection between Wemos D1 and Arduino Mega"
Hello,
I am trying to pass data from sensors connected to ESP to Arduino Mega. Ewerything is ok, but sometimes the connection is lost and i cannot do anything about that. Only way to restart connection is disconnect from power arduino mega and reconnect it to power - reset button is not doing anything. The connection is loosing and cannot be reconnected even if I restart ESP.

To connect ESP to Ar

[2021-08-22 20:33] ksmosna commented on #395
adding resistor solved the problem

[2021-08-22 20:33] #395 closed

[2021-09-04 04:47] EternityForest commented on #384
CAN Transcievers cost just over a dollar in singles and will happily carry UART data(I've done lighting control like this).   you can instantly detect any collision this way, because CAN is designed with dominant and recessive states specifically for this purpose.    What if you made TS listen while transmitting, and fail and retry later if you ever saw anything other than what you just sent?

The

[2021-09-04 13:35] akadlec commented on #384
@EternityForest so you are using MCP2515 with PJON?

[2021-09-08 08:47] A-R-S-D opened #396 "Problem (PJON_BUSY Error) using ThroughSerial strategy in multi-master mode"
Hi there!
First i think that i have to appreciate this great open source network library, high regard for contributors.
I'm working on a project in which i'm trying to establish a multi-master network over RS485 physical layer, with bus topology. I have noticed that the documentation of ThroughSerial says multi-master is supported using slotted ALOHA as MAC sublayer and that is really great.
So i

[2021-11-01 00:41] Fanotec opened #397 "More pin suport for Atmega328PB"
Atmega328PB is very close to Atmega328. Can you add support for other pins.
ATmega88/168/328 (Uno, Nano, Pro) Supported pins: 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, A0, A1
ATmega328PB	Supported pins: 10

[2021-11-19 11:53] X-Ryl669 commented on #386
I don't think the diode is required, you can probably remove it, since there is no current in the diode and the voltage across the diode is never enough to make it pass.

[2021-11-19 11:59] X-Ryl669 opened #398 "What is the reason for only GPIO12 and 25 on ESP32 ?"
In the documentation, only those 2 pins are listed. I don't see anything common and specific to these pins on ESP32, so I'm wondering what is the reason PJDL would only work on such pins ?

GPIO12 is a bit painful to use since if you have it pulled high (for whatever reason) while booting, the ESP32 will likely fail to boot (it's used to change the voltage of the flash chip from 3.3V to 1.8V).
It

[2021-11-30 18:36] william-seaton opened #399 "Communication between a Arduino Pro Mini 8Mhz and ESP32"
Hi there,

In advance, I hate posting 'help me' in issues, but I don't really know where else to go for this, I'm quite stumped:

The ESP32 is a `ESP32-WROOM-32U`

I have an ESP32 and the 3.3v Arduino Pro Mini connected like this:
[code]
They share a common ground bus and the run between the two is only about 5 inches.

I've confirmed they're connected using DigitalWrite and read on the two and I

[2021-12-05 22:11] gioblu commented on #399
Ciao @william-seaton thank you very much for your feedback.
Sadly 8MHz are not enough to generate or read nominally the pin.
Switch to 16MHz pro mini if you can.

[2021-12-05 23:01] gioblu commented on #398
Ciao @X-Ryl669 I have found the compatible pins mostly by trial and error, thank you for your feedback, I didn't know about GPIO 12, that is for sure a problem, I will give a try to other pins and report to you back here.

[2021-12-05 23:02] gioblu commented on #397
Ciao @Fanotec yes, it would be cool to expand Atmega328PB pin support, I will give it a try as soon as possible

[2021-12-05 23:05] gioblu commented on #396
Ciao @A-R-S-D I am sorry for the very late response.
I suspect you are experiencing a very common issue. The problem is the following. To understand if a collision occurred the device has only the chance to check the rx buffer to see if any communication occurred, or is occurring. To reduce the amount of `PJON_BUSY` you need to receive for a small time before attempting any transmission, that woul

[2021-12-05 23:12] #394 closed

[2021-12-06 11:01] happen-studio opened #400 "Topology - SoftwareBitBang"
Hi,

I'm planning to use PJON (SoftwareBitBang) in my house, right now I'm designing some custom PCBs.
I had a look in the docs, but I can't find any information about the wiring, what is possible what not?

See attached a random groundplan with a couple of ESP32/custom PCB and a master (raspberrypi) to get a better picture of my question. Is this wiring possible, are there any limitations (star t

[2021-12-06 14:45] gioblu commented on #400
Ciao @happen-studio you can just use a single wire connecting all devices. The topology can be bus or star.
Check out the SWBB documentation here: https://github.com/gioblu/PJON/tree/master/src/strategies/SoftwareBitBang#softwarebitbang
Check out also:
https://github.com/gioblu/PJON/wiki/Protective-circuitry
https://github.com/gioblu/PJON/wiki/Mitigate-interference
https://github.com/gioblu/PJON/w

[2021-12-06 22:15] sephalon opened #401 "AVR Tx -> ESP32 Rx bad reply rate"
I would like to establish bidirectional communication between an ESP32 and an AVR ATmega. If the ESP32 is transmitting and the AVR receiving, everything is fine:

[code]

![image](https://user-images.githubusercontent.com/893474/144927076-7b69e7df-0217-497d-af18-b5f1793462a2.png)
ESP32 Tx -> AVR Rx. One can clearly see the higher voltage level of the AVR during the reply.

![image](https://user-im

[2021-12-07 08:45] happen-studio commented on #400
Hi @gioblu,
thank you very much for the input, did't find the points in the wiki. ;-)
The posted groundplan is a mixture of bus and star. Is it possible to mix both topologies?

@gioblu thanks a lot for all the work with PJON.

[2021-12-07 14:04] gioblu commented on #400
Yes you can mix topologies :)
It is a pleasure :)

[2021-12-07 14:10] #400 closed

[2022-01-03 12:41] drtrigon opened #403 "Dead links"
Hi @gioblu

Today I was browsing pjon.org and the git repo and encountered quite a number of dead links, e.g.:

- on this page https://www.pjon.org/strategies.php the links to the pages describing the stragtegies are dead
- https://github.com/gioblu/PJON/tree/master/src/strategies/OverSampling the link "PJON Oversampling packet radio" is dead

[2022-01-05 10:08] SunboX opened #404 "ESP32 to ESP32 using SoftwareBitBang and cable connection, no packets arrive"
Hi,

I'm running a simple test, two ESP32 connected with one cable (GPIO 25 <-> GPIO 25), GND and 5V are also connected directly.

![PXL_20220105_095508972 MP_2](https://user-images.githubusercontent.com/83344/148199241-a75f9875-8f01-481c-954f-66adb1025060.jpg)

This is the code running on ESP32 "A":
[code]

And this is the code running on ESP32 "B":
[code]

Both are compiled and uploaded using Pl

[2022-01-05 10:56] SunboX commented on #404
Here are both projects to try out: https://we.tl/t-lFjg2oIFPK

[2022-01-09 11:35] heresiarch opened #405 "ATMega328P @ 8Mhz to ESP8266 no luck"
Hello I tried to connect a custom 3,3 V Arduino Board based on ATMega328P running @8Mhz to Wemos D1 mini. I have no luck with the timings. What could I try or change to get it working?

[2022-01-10 20:36] SunboX commented on #404
btw., the issue number is 404 🙈

[2022-01-11 00:09] rainerschoe opened #406 "Undefined behavior when using Ports"
Hi,
I am using PJON in a network, where a Device sometimes sends packets with a Port (value `2` or `1`) and sometimes without one (calling `send()` with defaults which should be `PJON_BROADCAST`).

`PJON_INCLUDE_PORT` is enabled on all bus participants.

On the Receiving side (via [PjonHL](https://github.com/rainerschoe/PjonHL)), I then check the port if it is `2` or `1` and do special operations

[2022-01-15 00:11] gioblu commented on #406
Ciao @rainerschoe happy new year and thank you very much for your report. Yes this is indeed me doing a stupid mistake. I will dig into the code and report back.

[2022-01-15 00:12] gioblu commented on #403
Ciao @drtrigon happy new year, thank you very much for your report, I will fix the links ASAP

[2022-01-27 10:50] fanczy commented on #398
Hello, any new info on this? I have an ESP32 version where pins 12 and 25 are unfortunately unavailable.

[2022-01-31 00:15] gioblu commented on #406
Ciao @rainerschoe you are right, thank you very much for your detailed report. You are right, the solution you propose is OK, so the old port value will be deleted as expected.

If you are willing to create a PR to fix this that would be a great help, I am fully taken by work in this period, so I have very few moments to focus on PJON.

[2022-01-31 00:17] gioblu commented on #405
ciao @heresiarch I think the 328 @ 8MHz does not roll the code quick enough, I have tried to fiddle with the timings too in the past with no luck, my suggestion is to create a slower mode (dividing by 1.5 or 2 the timings) that in theory should work.

[2022-01-31 00:19] #399 closed

[2022-01-31 00:20] #396 closed

[2022-01-31 09:23] rainerschoe commented on #406
Hi @gioblu thanks. Will create a PR, might take some days though, as I also have quite some things to do :package:P

FYI: I recently stabilized [PjonHL](https://github.com/rainerschoe/PjonHL) a little bit and now use it successfully in production environment (my smart-home ^^). However it is still not feature-complete and some rough around the edges. Unfortunately I have very little time and too m

[2022-01-31 14:29] gioblu commented on #406
Ciao @rainerschoe thank you very much. I am very happy PJON is serving you well.
I am sorry again for this stupid bug :)

I think would be nice to record your contribution through a PR, although if you do not have the will or the time I can do that ASAP, at the end the change requires to add just one line of code.

I can add PjonHL to the wiki when you consider it is ready :)
Compliments again for

[2022-01-31 15:24] rainerschoe commented on #406
Will do :) I plan to testing the changes before creating a PR :P
If you could add PjonHL to the wiki (basic protocol is supported and tested) It would be nice, as it might generate some traffic and contributions.

[2022-01-31 16:42] MArimont3 opened #407 "ESP32 <-> ESP8266 softwarebitbang communication failure"
Hi,
I did some first trials with this library with 2 Arduino Nano boards communicating to each other using the softwarebitbang strategy. the examples did run fine.

Then I moved to the environment I would like to use: an ESP32 (Espressif ESP32-WROOM) communicating to one or more ESP8266 (NodeMCU V3) boards. I did start with an ESP32 and a single ESP8266 board.
I used pin 12 on the ESP32 and pin 5

[2022-01-31 17:09] MArimont3 commented on #407
I also added the error_handling (see PJON doc) to both transmitter and receiver scripts. No errors are raised...

[2022-02-10 19:37] #324 closed

[2022-02-10 21:03] #406 closed

[2022-02-18 13:46] VeldtDataConsultancy opened #409 "Question: How to read a character array from a received struct."
Good day.

I'm using PJON for a short while and I already love it a lot. The documentation is very good and I love the single wire transmission. I'm currently trying PJON in a little bit more professional fashion, but I'm running into a small issue when I want to read a received struct with a character array.

I’m trying to setup a simple PJON network. In this network I’m using an ESP-32 as a comm

[2022-02-18 14:03] fredilarsen commented on #409
Hi, I guess this could have to do with padding/address alignment, depending on the architecture. If on a 32 bit architecture, the uint8_t will be padded with 3 bytes so that next member starts on a 32 bit aligned address. So could get some garbage between the members, and this varies between 64 bit , 32 bit and 16 bit architectures.
Sending a structure is generally fine as long as the number of bi

[2022-02-18 14:53] VeldtDataConsultancy commented on #409
Awesome @fredilarsen.

Thanks a lot with your quick answer.
Let me try it out. Once I got a result I will come back.

[2022-02-19 10:33] VeldtDataConsultancy commented on #409
@fredilarsen. Man, now that I know the answer for this issue I'm ashamed to mention it to you. I found out what the issue is while I worked with your feedback. Classic development example of how one character can ruin your day (e.g. read the **** manual). At the moment of sending I used the size of the pointer as payload size, instead of the actual struct.

So in the sender code I had:

`bus.send(

[2022-02-19 10:33] #409 closed

[2022-02-19 15:40] vitalh commented on #87
Any updates for SoftwareBitBang and atmega328 + F_CPU == 8000000L ?
Any plans to support system prescaler (at least 2 and 4) in SoftwareBitBang for supported MK?

[2022-02-19 21:57] gioblu commented on #87
Ciao @vitalh I have tried to fiddle with the prescaler, I was not able to get stable results.
I think it may be done using the calibration procedure, which I have never tried.

I am now far from my stash of electronic components now so I do not have a way to make any tests, but I can support anyone willing to try it out.

[2022-02-19 22:05] #388 closed

[2022-03-18 14:40] SunboX commented on #407
Maybe the same issue I'm facing in issue #404 😕

[2022-03-19 13:04] gioblu commented on #404
Ciao @SunboX I am sorry for answering you so late. I do not have the hardware to replicate your setup now, but I suspect there may be a wrong timing configuration in the esp8266. Please try to tweak SWBB_READ_DELAY and SWBB_BIT_WIDTH on the ESP8266 side (the right value may be shorter or longer, start with SWBB_READ_DELAY, if you don't see packets after tweaking it you may need to go back to its o

[2022-03-19 13:13] gioblu commented on #407
I think the problem was identified here https://github.com/gioblu/PJON/issues/398 by @X-Ryl669

It can be pulled high if the other side of the communication link is trying to communicate while the ESP32 is rebooting. In that case, the system will never resume in a working condition, unless manually reboot while GPIO12 is low.

When the ESP32 used as a receiver will likely fail to boot because the

[2022-03-19 13:14] gioblu commented on #407
@SunboX I think the problem was identified here https://github.com/gioblu/PJON/issues/398 by @X-Ryl669

    GPIO12 is a bit painful to use since if you have it pulled high (for whatever reason) while booting, the ESP32 will likely fail to boot (it's used to change the voltage of the flash chip from 3.3V to 1.8V).
    It can be pulled high if the other side of the communication link is trying to co

[2022-03-19 13:17] gioblu commented on #398
Thank you @X-Ryl669 for pointing this out.
I will work to solve this ASAP.

[2022-03-19 15:37] SunboX commented on #404
@gioblu Thanks for your reply! Both were ESP32, not ESP8266. But thanks, I will try this and let you know the result!

[2022-03-19 16:09] gioblu commented on #404
Sorry @SunboX in this case you should modify the constants here: https://github.com/gioblu/PJON/blob/master/src/strategies/SoftwareBitBang/Timing.h#L207

[2022-03-24 09:16] SunboX commented on #404
Great! Seems I have success using this configuration on both ESP32 using pin 25:

[code]

[2022-03-24 09:17] SunboX commented on #407
@MArimont3 Can you please check if this timing config on the ESP32 (using pin 25) also works for you?

https://github.com/gioblu/PJON/issues/404#issuecomment-1077405057

[2022-03-30 21:08] gioblu commented on #404
@SunboX I don't have a way to test it now, but your test result shows it is working perfectly.
I am not sure how I did not spot this in the last test round.

[2022-04-02 17:13] malaki86 opened #411 "Dynamic addressing"
I'm working on an ESP 32 project that will use both ESPNow and SoftwareBitBang strategies. I was looking at the dynamic addressing and it seems vital that I include this, but I can't find any sample code or examples of actually using it. Does anyone have any that they can share? It will be a single Master with multiple slaves.

[2022-04-02 17:18] malaki86 commented on #411
This was implemented in 2016, according to this post, #94, but none of the links in that thread work (error 404, not found).

[2022-04-03 13:00] gioblu commented on #411
Ciao @malaki86 the dynamic addressing was discontinued in 2019 since version 12.0

I think the best solution for your use case is to include the [mac address](https://github.com/gioblu/PJON/blob/master/specification/PJON-protocol-specification-v4.0.md#hardware-identification) in the packet (here [docs](https://github.com/gioblu/PJON/blob/master/documentation/configuration.md#hardware-identificatio

[2022-04-03 13:04] malaki86 commented on #411
That's definitely a problem, then. The slaves won't know the Mac address of the master, so there's no way to contact it.

[2022-04-03 13:05] gioblu commented on #404
@SunboX can I ask you to execute a test that would help me to verify your config?
I would need to know if your config works also when ESP32 transmits to or receives from Arduino Nano/Uno or Mega.
This would verify that the configuration found works properly in both cases (ESP to ESP and ESP to arduino)

[2022-04-03 13:07] gioblu commented on #411
@malaki86 Master can transmit a cyclically a broadcast including its own mac address.

[2022-04-03 13:09] malaki86 commented on #411
Would this work:

Master is assigned bus id 1 (never changes). Every slave is assigned 254. At initial start, the slave contacts the master for a new ID. The master then assigns a new ID, say 10 and transmits the new ID to the slave. The slave receives it, then changes to the new ID.

[2022-04-03 13:10] malaki86 commented on #411
I just saw the master broadcasting comment.

So, no "standard" bus ID?

[2022-04-03 13:15] gioblu commented on #411
It depends on the application and the functionality you aim to implement, if you don't need to separate devices in groups, or  to implement subnets, the bus id is not useful. Using the mac address is better if it is desirable to have an address that does not change and identifies a certain device, then the master just needs to advertise its presence and wait for slaves to show up and provide with

[2022-04-03 13:17] malaki86 commented on #411
Ok, I think I understand.

Next to learn is using 2 strategies as one combined network.

Thanks for the info

[2022-04-03 13:21] gioblu commented on #411
@malaki86 if you aim to implement the pattern described above remember to add a random delay in the node before transmitting a response to the master's broadcast, so you avoid to momentarily saturate the link (many nodes get the broadcast, they all want to answer at the same time).

[2022-04-03 13:22] malaki86 commented on #411
Ok, I definitely will

[2022-04-03 13:32] gioblu commented on #411
@malaki86 feel free to ask support if needed. Have a nice sunday :)

[2022-04-03 13:32] #411 closed

[2022-04-03 14:15] SunboX commented on #404
Hey, yes. That's no problem. I should have some Arduino in one of my boxes. I can have a look in some hours which ones I have and can tell you.

[2022-04-03 18:32] SunboX commented on #404
Ok, I have those to work with:

![PXL_20220403_182747120](https://user-images.githubusercontent.com/83344/161442729-9174fcfb-3c84-426b-b670-07b29c2b354d.jpg)

![PXL_20220403_182733819](https://user-images.githubusercontent.com/83344/161442733-371a866e-9212-4e72-bc90-2c500a194683.jpg)

![PXL_20220403_182708785 MP](https://user-images.githubusercontent.com/83344/161442737-74736780-21ec-4534-82c3-588

[2022-04-03 19:39] gioblu commented on #404
The Arduino duemilanove is OK.
You can use the networkAnalysis sketch:
https://github.com/gioblu/PJON/tree/master/examples/ARDUINO/Local/SoftwareBitBang/NetworkAnalysis

[2022-04-06 05:18] SunboX commented on #404
@gioblu Yesterday I tested the UNO (for some reason I could not flash my Duemilanove with macOS Monterey) together with the ESP32. It did not work. ;) I will investigate when I have a bit more time.

[2022-04-06 10:52] fletchjp opened #412 "PJON on RP2040"
Is there any plan for PJON to be supported on the RP2040? I would like to work with Raspberry Pi Pico and Arduino NANO RP2040 connect. I have naively compiled for the Raspberry Pi Pico using PJON library on the Arduino IDE. It tells me RP2040 is not supported although it does complle the Serial code.

[2022-04-09 05:40] furynick opened #413 "SAM3X8E (Arduino Due) Support"
Is there a plan to support SAM3X8E processor from [Arduino Due](https://docs.arduino.cc/hardware/due) ?

I have a project with D1Mini (ESP8266), Mega 2560, Nano and/or Pro -mini and Due, Zero have not enough pins for my needs.

[2022-04-09 19:54] furynick opened #414 "ESP <-> Mega - is level shifter supported ?"
I'm trying to establish a communication between an ESP8266 and a Mega with SBB, I'm using a bidirectionnal level shifter as shown below but it seems it's not working.

Is it possible ?
Which type of shifter should I use ?

![image](https://user-images.githubusercontent.com/3520080/162589641-48a5863c-5482-4e92-976e-a283048a2e1d.png)

[2022-04-10 06:24] furynick commented on #414
Found [solution in Wiki](https://github.com/gioblu/PJON/wiki/ESP8266-interfacing).

Tested  just now and working.

[2022-04-10 10:26] gioblu commented on #414
Ciao @furynick have you implemented the alastair's "converter"?

[2022-04-10 10:33] #414 closed

[2022-04-10 10:34] gioblu commented on #412
Ciao @fletchjp give it a try, it may work out of the box, I do not have the chance now to test it myself.

[2022-04-10 13:20] furynick commented on #414
Yes I do and it's working, thanks.

[2022-04-10 19:12] fletchjp commented on #412
Thank you for the suggestion. I have had a try at this with the Bitbang test with the error handler in the transmitter.
I get Connection lost with device id 44 and nothing in the receiver.
I have looked into the code and something is needed for ARDUINO_ARCH_RP2040. I don't know enough about how your code works to know what to put where. At the moment compiling generates this warning:
WARNING: libr

[2022-04-11 16:13] fletchjp commented on #412
I thing what is needed is some configuration information. Is there any information about what is needed? John

[2022-04-12 11:58] furynick commented on #413
I can help to make some tests if needed to help implement SwBB strategy on SAM3X8E.

The clock of Due is 84MHz, I tried extrapolated timings but I don't know which pin characteristics are intended to select the good one.

[2022-04-24 10:42] toi-go opened #415 "ESPNow: Encryption not working"
Documentation at [https://github.com/gioblu/PJON/blob/master/src/strategies/ESPNOW/README.md](url) suggests that communication would be encrypted if a PMK is passed to the set_pmk method:
[code]

For me, this is not the case: My two nodes are still able to communicate with each other even if both nodes do the above with a **different** PMK or if only one of them does set a PMK.

Apparently, add_pe

[2022-04-25 21:05] gioblu commented on #415
Ciao @toi-go thank you very much, this is bad. I will fix it ASAP.
Could you provide with testing? I am now far from my electronics stash.

[2022-04-25 21:10] gioblu commented on #415
Here is the fix: https://github.com/gioblu/PJON/commit/5f790b3c05a63a0c2854a72ad66d9566e388ae56
If you can give it a try.

[2022-04-30 13:16] toi-go commented on #415
Hi @gioblu ,

thank you for providing the patch. Unfortunately, with it, my two ESP32 cannot communicate with each other - no matter if I call bus.strategy.set_pmk or not. So, there must be another problem.

To test, I've used the ping example at examples/ESP32/ESPNOW/PlatformIO.
My setup() functions looks like this:

[code]

[code]

[2022-04-30 17:25] toi-go commented on #415
@gioblu

It seems that the remaining problem is somehow related to autoregistration mode, as it works if it is disabled.

[code]

If you register remote nodes manually, you have to use the MAC address of the interface (AP or Station) which is actually in use (depending on CONFIG_STATION_MODE):

From ESPNOWHelper.h
[code]

In my case, CONFIG_STATION_MODE was not defined, so I had to use the MAC add

[2022-05-13 16:05] fletchjp commented on #385
Is there any progress on this? I have connected two DUEs using SoftwareBitBang and get no connection. I cannot see anything in the Timing.h file which relates to a DUE. I don't know enough to know what to add.

[2022-05-20 08:31] rozrabiak opened #416 "PJONSoftwareBitBang between stm32f4 and arduino nano not working"
Communication between two arduino nanos working.
That same code in stm32f4 (stm32duino) not working, arduino nano says: Connection with device ID 10 is lost.
I'm using WeAct BlackPill pin PC14 (5V tolerant) and Arduino Nano PD5.

**ARDUINO NANO CODE:**

#include <PJONSoftwareBitBang.h> // Include only SoftwareBitBang
#define pjonPin 5   //pin komunikacyjny pjon

PJONSoftwareBitBang pjonBus(43);

v

[2022-05-30 08:21] rozrabiak commented on #403
pjon.org not working...

[2022-06-07 07:24] gryzli133 commented on #416
Did you try to use other pin on stm32? I had similar problems with ESP8266, but then I have used another pin and it starts to work.

[2022-10-10 05:57] rozrabiak commented on #416
I'll try all pins :-)
F4 is on unsuporrted list with SBB...

[2022-11-04 12:25] alastaira commented on #407
It might be unrelated, but I came across this issue (and #404) while searching for solutions to a somewhat similar problem I'm facing with using PJON on ESP32, except I'm using the ESPNow strategy (after applying fix in #419).  Using the "PingPongArduinoIDE" example, I can send from/to either of two ESP32 devices, but don't ever receive any packets from a reply sent in the receiver function.
Obvio

[2022-11-24 01:32] locriacyber commented on #403
Hello, pjon.org seem to be taken by some online gambling site

[2022-11-24 17:26] gioblu commented on #403
Ciao @locriacyber thank you for your report. I had to stop to maintain the website because I am now fully taken by work. I am obviously not affiliated with the new owners of the www.pjon.org domain. It just expired and has been bought by someone else. I will add a remark on the README just to be sure.

[2022-11-24 17:26] #403 closed

[2022-11-24 19:16] JeroenVanHoye opened #420 "Unable to compile MQTT examples"
When trying to compile examples that make use of PJONMQTTTranslate.h the Arduino IDE throws an error that it can not find the ReconnectingMqttClient.h library.

What needs to be installed for this to work?

Many thanks in advance!

[2022-11-25 15:47] locriacyber commented on #403
Without offense, you don't need to maintain the website to keep the domain up.

[2022-11-26 13:43] gioblu commented on #403
Ciao @locriacyber to keep a website up means to keep up with new known vulnerabilities and standard changes that is what I meant in my answer. I will check out github pages and see if I can drop the bare HTML it in there.