[2015-08-12 08:12] MichMich opened #2 "Benefits over i2c"
Frist of: awesome work. Very impressed with the concept and final product. I'm temped to use it in my current project: 4 [automatic curtains](http://michaelteeuw.nl/tagged/curtains) controlled by one master Arduino or ESP8266.

Before I do, I would like to know the benefits over using i2c. Is this something you can elaborate on? (Maybe even put it in the Readme doc?)

Thanks for your work. Cheers!

[2015-08-12 08:14] MichMich opened #3 "Feature request: Add Multicast"
Like /u/kloptopsmentions on [Reddit](https://www.reddit.com/r/arduino/comments/3gh5it/pjon_arduino_communication_protocol_working/), it might be a good idea to implement multicasting.

[2015-08-12 10:23] gioblu commented on #3
Ciao! To broadcast to all devices a message use BROADCAST constant as ID. Every node will receive the message but will not answer ACK  to avoid communication overlap. Thank you for your support and feature request, will read again PJON and make considerations

[2015-08-12 10:26] gioblu commented on #2
Ciao Mich I agree with you. This type of documentation and comparison will help the people to understand what is PJON. Will write as soon as possible

[2015-08-12 10:53] MichMich commented on #3
Ah, cool. Please add it to the README.

Cheers!

[2015-08-12 10:53] #3 closed

[2015-08-12 11:41] MichMich opened #5 "Documentation request: Sending arbitrary values."
While the documentation clearly describes on how to send short commands, it isn't completely clear how to send arbitrary values. For example, if we want to expand the blink example, by adding the blink speed to the message, how should this be done?

It would be great if a short command could contain an addition payload which would be used as a paramater to the reaction method.

For example:

Sende

[2015-08-12 11:57] PaoloP74 opened #6 "Library version for IDE 1.6.5"
Can you create a new branch for a new library version?
--> https://github.com/PaoloP74/PJON/tree/PJON-1.5.x

[2015-08-12 17:45] gioblu commented on #5
There is send_command! Does exactly what you need! Actually the only supported data type is integer but I will for sure expand it to support other data types! I will add it to read me as soon as possible

[2015-08-12 19:41] gioblu commented on #6
Hi Paolo! I would be able to maintain only one version of PJON for 0.x 1.x and 1.6x!
I would merge your contribution but I am not sure if I want to have digital write fast and PJON in the same arc directory! And also I can t get the sense of having the src directory! Generally is used in repos where u can / have to compile or maybe I am ignorant :)

[2015-08-12 19:48] gioblu commented on #6
In any case I really thank you for your effort! i will for sure include all other necessary mods u did

[2015-08-17 10:06] MichMich commented on #5
Any news on this? I can't really figure out how to receive values. I'm really eager to use this in one of my projects, but unfortunately I'm a bit stuck now.

Thanks! Cheers, Michael

[2015-08-17 21:38] gioblu commented on #5
Ciao Michael. You can use the send_command function that can receive an int as third parameter:
send_command(100, 'B', 1000);

Inside the function will be called with B symbol access to network.data to read the int you have sent!

Let me know how it goes! I

[2015-08-18 06:46] MichMich commented on #5
I already experimented a little bit with this. But in my opinion, the `network.data` is still a bit to raw. (ie. the length of the data object isn't always correct.)

In my opinion it would be better if the actual value (so, not the whole data object) was given a parameter to the function called when receiving the command.

[2015-08-18 13:18] gioblu commented on #5
Ciao Mich, thank you for your useful support! how you would implement it in an elegant way??

[2015-08-18 13:20] gioblu commented on #5
Can you please describe in which case you get an incorrect nwtwork.data length ??

[2015-08-18 13:51] gioblu commented on #2
Hi Mich I studied your project a little bit and seems really well made, useful and practical! I would be happy to see PJON inside there while still in alpha! I am sorry if you see me not so active but I am in the only two weeks of vacation planned this year :) I will be back full operational in a week!

[2015-08-19 07:23] MichMich commented on #5
For the implementation, I would take a look at the way it's done with I2C:

    void setup() {
        Wire.begin(4);                // join i2c bus with address #4
        Wire.onReceive(receiveEvent); // register event
    }

    void receiveEvent(int howMany) {
        while(Wire.available) {
            char c = Wire.read();    // receive byte as an char
        }
    }

About the length: The

[2015-08-19 07:26] MichMich commented on #2
After some testing, I decided to go for I2C, this this is a well proven technique. [I am running into some issues](http://michaelteeuw.nl/post/127008384257/masters-slaves-and-failures), though. So I will keep PJON in mind for this project.

Enjoy your holiday!

[2015-08-19 11:30] MichMich commented on #2
BTW, did you do any testing on the maximum length of the cable connecting the two arduino's?

[2015-08-19 12:42] gioblu commented on #2
Yes works perfectly over a 30 meters long wire !

[2015-08-19 12:45] MichMich commented on #2
Then that might be a MAJOR reason to use it over I2C :)

Will give it an other try this weekend.

[2015-08-19 12:50] gioblu commented on #2
I updated my answer. Maybe you missed a part of it :)

[2015-08-19 12:52] gioblu commented on #2
In any case I would really see a well made project like yours running over PJON!! And maybe would be happy to have the same system at my home :)

[2015-08-19 12:56] MichMich commented on #2
I'll give PJON a try this weekend and write a blogpost about it on MichaelTeeuw.nl - On thing I did notice was that when I register a function with `A` as the trigger: `network.insert_reaction('A', led_blink, false);`
and I send command `B`: `network.send_short_command(44, 'B');`, led_blink will still be called.

Maybe something to look into?

[2015-08-19 12:57] MichMich commented on #2
(if you want I can make a separate issue for this?)

[2015-08-19 18:47] gioblu commented on #2
I think is reasonable!! I am trying to understand how this bug can happen! The problem could be while storing the symbol in the reacton struct or in compare reaction function!!! I am not now able to physically test with two arduinos because I am in the only two weeks of vacation I planned this year! I will be back full operational on a week being able to contribute and fix faster!!

[2015-08-19 18:52] gioblu commented on #2
Could be a useful test to see after reaction registration if inside network.reactions[n].command_type you can find the same symbol you passed! If yes the problem should be in compare_reaction

[2015-08-21 02:57] konekko commented on #2
I would like the same thing, I am starting a project that has not even made it to pin on paper yet but I know I am going to have a shortage of pins and I need encryption and I know you offer both I am real interested in this, but need to look more into it to see if I can turn the 1 wire into a differential pair with out much work or need more info on drop per foot and effect of running along side

[2015-08-21 03:03] konekko commented on #2
but first enjoy your vacation :smiley_cat:

[2015-08-21 13:30] gioblu commented on #2
Hi konekko I am now using PJON over a lan wire alongside the standard house wiring inside the walls! The PJON bus is 30 meters long and passes behind fridge, microwave oven etcetera and works fine!

The drop per foot depends on the wire you are using and its length and resistance!

As soon as possible I will try to determine the drop in my wiring at different distances and its resistance!

[2015-08-22 16:57] gioblu commented on #5
Hi Mich I am working on the implementation you proposed.
In the meantime I fixed the length issue you enlighted!
Thank you so much for your support!!

[2015-08-24 09:06] MichMich commented on #5
Cool thanks! I'm trying to implement it right now ... unfortunately, I'm running into a new issue: the library takes 30% of the Arduino's memory. Together with the OLED library, this won't fit. Any suggestions? (Other then buying a Teensy?)

[2015-08-24 12:34] gioblu commented on #5
Yes memory is an issue I am thinking to implement a linked list for the packets, so malloc based but I am not sure if this could provide to the user another undebuggable series of problems exceeding memory during program execution! What you think about it?

[2015-08-24 12:36] MichMich commented on #5
I think the constant is a good way to solve it. I would first focus on some of the bugs and the documentation. :)
Did you get my mail? :)

Cheers,

Michael Teeuw

	Michael Teeuw
Eigenaar Xonay Media
Xonay Media
Nieuwstraat 23B
3743 BK  Baarn	Tel: 035 887 57 07
Mobiel: 06 51 71 36 15
Email: michael@xonaymedia.nl
Web: xonaymedia.nl
Twitter: MichMich
Tumblr: michaelteeuw.nl

On 24 augustus 2015 at 14

[2015-08-24 14:02] gioblu commented on #5
Answered you (erroneously twice)

[2015-08-25 01:51] konekko commented on #2
Perfect I’m making an alarm / home automation set up and would be nice to have minimal wiring plus use encryption for key pads and remote devices to make it harder to hack the alarm portion of it. I will keep you updated over the next 6-12 months as I work on it. May also reverse engineer PJON and cape to make them work with pi as well, will give full credit for the project idea and any code share

[2015-08-25 13:57] gioblu commented on #2
Sure could be really interesting to have a port for pi! Will be a little bit tricky to time and sync but it's possible!

[2015-08-25 13:59] gioblu commented on #2
I forgot to tell you that my wiring is I star configuration so many on wires connected together in various nodes! I used a pull down resistor to kill electromagnetic spikes and reflections! Try to run the speed test and check the accuracy of the channel and add it if necessary!

[2015-09-06 08:56] PaoloP74 commented on #6
OK, i add a PR whit only library.properties and kaywords files.

[2015-09-07 00:53] gioblu commented on #2
Hi there I added in the readme the section "Why not I2c?".
Tell me if you think is satisfactory, if yes I will close the issue.

[2015-09-07 00:57] gioblu commented on #6
Ciao Paolo, thank you so much for your contribution. I discovered with your suggestions on the arduino forum how the new library structure is made after 1.5 version, so as you correctly did in the closed pull request, I should create a 1.5x compatible master version with that modifications. I will soon set is as master, if you want to contribute you will be able to pull request the new features th

[2015-09-07 08:25] MichMich commented on #2
Perfect!

[2015-09-07 08:25] #2 closed

[2015-09-21 07:20] #6 closed

[2015-09-26 01:16] gioblu commented on #5
Ciao!!! I added the example SendArbitraryValues  :)
Thanks again

[2015-09-27 18:09] dnet opened #12 "Document the standard"
I see that the source code has plenty of comments, but a specification be much more readable in a separate Markdown file or (GitHub) wiki page.

(continued from https://news.ycombinator.com/item?id=10283322)

[2015-09-27 18:10] dnet opened #13 "ATtiny compatibility"
I see that it uses Wiring, but I'd be interested what the minimum requirements are for a compatible implementation. For example, would it be possible to implement it without some serious bit hacking on an ATtiny?

(continued from https://news.ycombinator.com/item?id=10283322)

[2015-09-28 01:42] gioblu commented on #12
Hi, thank you for opening this issue. I started working on the PJON wiki, please, consider it as a "public draft" with a lot of work in progress. Do you have some suggestion on how to structurize this wiki, if you think is necessary to divide it in pages and if you like ascii schematics or you would prefer images??

Thanks you again

[2015-09-28 06:48] dnet commented on #12
Thanks, it looks nice. I'm good with ASCII art, and will take a more detailed look at it soon.

[2015-09-28 19:55] q2dg commented on #13
Maybe this comment should be placed in another issue but...is it possible ARM (Due & Zero) compatibility? Thanks

[2015-09-29 00:50] gioblu commented on #13
Ciao, ARM is still not compatible. Why don't you open a dedicated issue for that?

[2015-09-29 09:54] gioblu opened #14 "Raspberry PI compatibility"
Ciao! I am considering which is the best and most efficient approach to implement the PJON standard on Raspberry. Do you have some suggestion? I sincerely would remain on C / C++ / Wiring.

[2015-09-29 11:02] q2dg opened #15 "ARM compatibility"
It would be terrific if this library could run on Due and Zero boards.
Thanks

[2015-09-30 23:49] gioblu commented on #12
Ciao dnet What do you think of the actual state of development (early) of the wiki?
https://github.com/gioblu/PJON/wiki

You perceive it easy to understand?
You think I missed something or the format is not coherent with a standard reference?

[2015-09-30 23:51] gioblu commented on #15
Thank you for your suggestion. As soon as I wil finish documentation and wiki I will buy a Due and will try to make some experiments. Do you have a Due?

[2015-09-30 23:55] gioblu commented on #13
Ciao dnet. I digged a littlebit on the web and I think it is possible that this library runs without modifications on ATtiny85 16Mhz (external and maybe also with internal PPL clock). It is necessary to select a custom porting for ATtiny on Arduino 1.6 IDE to have Wiring and be able to code as you normally do with Arduino boards. If you want to give it a try I can support you.

[2015-09-30 23:57] gioblu commented on #5
Ciao Mich! Why don't you close this issue? You can find now in examples SendArbitraryValues :)

[2015-10-01 07:36] q2dg commented on #15
No, sorry :-(

[2015-10-01 11:24] MichMich commented on #5
Cool, thanks. I'll give it a try ASAP.

[2015-10-01 11:24] #5 closed

[2015-10-02 10:58] dnet commented on #12
Looks good!

[2015-10-08 19:01] gioblu commented on #15
Thanks to Esben we know that on Arduino Zero to Arduino duemilanove is not working. From his oscilloscope's reading it seems that the spikes are smaller and less precise. In my opinion Arduino Zero microsecond duration is different, probably shorter then Arduino duemilanove.
I will soon try out Arduino Zero and will try to set BIT_WIDTH to a different value, to match the real microsecond duration

[2015-11-02 14:08] domonetic opened #16 "¿Used with RF link?"
¿utilizable con link RF?
I can use it with a single RF module or only cable?
You can comment more about of medium of transportation?

[2015-11-02 14:20] gioblu commented on #16
Hi there, if you take a close look to the readme you can find the link to the 315/433Mhz implementation of PJON: https://github.com/gioblu/PJON_ASK

Thank you for your suggestion. I will bring more clear this information.

[2015-11-02 14:31] domonetic commented on #16
Thank you very much, the library is very useful.
Sometimes we do not know how to connect a network type 1wire whats hardware use.

[2015-11-24 01:36] gioblu commented on #16
Hi domo, why don't you close this issue?

[2015-11-24 01:48] #16 closed

[2015-11-24 01:57] gioblu commented on #12
Hi dnet, now that the standard is documented, why don't you close the issue? Or you think documentation has some downsides?

[2015-12-13 16:09] tipsy-gypsy opened #17 "License"
Hi,

Sorry if an issue isn't the best way to ask this, but I couldn't find any other way. Could you please specify a licence. I would really love to use this in my garage-scale (hopefully) commercial product.

[2015-12-13 21:30] gioblu commented on #17
Hi there, you are right, the license was not complete, thank you for your report and support :).

I added what I think is necessary:
https://github.com/gioblu/PJON/blob/master/PJON.cpp#L16
https://github.com/gioblu/PJON/blob/master/PJON.h#L21
you can find the same in the readme.

When you consider this issue solve, please close it, so we will mantain order :).
Thank you again for your support and

[2015-12-13 21:32] #17 closed

[2015-12-17 11:48] gioblu opened #18 "Check if user is configuring a protocol assigned ID"
Some IDS are used internally to identify particular types of packets like Broadcast.
In Initialize should be checked if user configured the device using one of theese reserved ids.

[2015-12-21 09:54] #12 closed

[2015-12-25 18:34] gioblu commented on #18
Complex and not enough useful to be implemented.
Wontfix.

[2015-12-25 18:34] #18 closed

[2015-12-28 03:23] gioblu commented on #13
ATtiny45/85 compatibility added:
https://github.com/gioblu/PJON/commit/bdc0b570e2d017b56cd633dc48972805f9fc9e41

As you can see I reduced the timing value of BIT and BIT_SPACER to match the other boards produced duration and added to digitalWriteFast PJON version the ATtiny compatibility.

I will close the issue for now, reopen if not satisfied or need other ATtiny processors.
Marry Christmas!

[2015-12-28 03:24] #13 closed

[2015-12-28 23:27] morpheus000 opened #19 "Not working with mega 2560"
hi there, i cant get a network up and running with two uno's and one mega2560, if i use a third uno PJON works like a charm.
Maybe i found the right excuse to buy a new oscilloscope!

[2015-12-29 01:39] gioblu commented on #19
Ciao! It's a pleasure to hear you tinkering with PJON.
Please explain in a more detailed way your setup.

Please be sure to have the actual master version.

[2015-12-29 02:01] gioblu commented on #19
I will post you a fast checklist to be sure, follow this for every device you wire:
1. Check wiring
2. Check pin number assignment in code
3. Be sure that common ground is present
4. If you are working with a mixed device network be sure to run PJON in COMPATIBILITY_MODE
(in PJON.h line 57 COMPATIBILITY_MODE should be true) as it is by default.

If you have communication problems try to run networ

[2015-12-29 07:09] morpheus000 commented on #19
I already checked the 4 points you mentioned but your network_analysis example didn't crawl in my tired brain yesterday :) will give it a try later today and post the results as well as the setup!
An older version (circa 2 month old) is working though there is some data loss.
Thanks for the great work, i going to use pjon as short-range protocol for my home automation.

[2015-12-29 08:42] morpheus000 commented on #19
Seems like i have to be sorry for opening that issue, i can not recreate the error!
Its working now, the only thing i got often are messages send twice, but thats not an issue.
Just as explanation, the mega is forwarding messages incoming from ethernet/mqtt to your pjon protocol. I don't know what i changed but it works, i will try to recreate my mistake.

[2015-12-29 13:43] gioblu commented on #19
Ciao Morpheus! Not a problem! I am happy you have it up and running!
Why don;t you send me some pictures and a short description of your project? I will add it to the application examples!

I will close the issue
Marry Christmas

[2015-12-29 13:43] #19 closed

[2015-12-29 14:30] gioblu commented on #19
Ciao Morpheus, the double sending is a known issue related to the COMPATIBILITY_MODE stadard timing setup. I am working on it and will fix before vacation finishes

[2015-12-29 18:20] morpheus000 commented on #19
I will gladly send you something if there is a fix concept.
PJON is already a really brilliant work, keep it up!
I'm going to stress test your protocol soon under really tough conditions, unshielded wiring installed beside the 230V wires for at least 30meter.... really curious about the result.

[2015-12-29 19:04] gioblu commented on #19
Happy to hear about it! Good luck I am doing the same at home here with cat 5 lan wires and goes perfectly. If you have some problem / issue / bug reports, open an issue!

[2015-12-30 22:56] morpheus000 commented on #19
Ciao globlu, to you sometimes get messages mixed around( send messages in order 1 2 3 receive messages in order 1 3 2) too or is ah problem related to my code?
Thanks for being so helpful!

[2015-12-31 00:19] gioblu commented on #19
Ciao Morpheus please post here the code. Thank you very much again.

[2015-12-31 20:26] gioblu commented on #19
Ciao Morpheus, so I made a little analysis. I think your setup is mega to mega in compatibility false.
In this setup mega to mega has not reliable communication because the actual duemilanove/uno standard timing values are too short for mega, and so some times some packets are received not correctly or lost. I have only to tweek to find a common setup for duemilanove and mega a littlebit higher th

[2015-12-31 20:26] gioblu commented on #19
In any case happy new year. Pull PJON in the next days to see solved this little issue.

[2016-01-01 21:04] morpheus000 commented on #19
Ciao gioblu, my setup is mega to uno/nano.
If packets are mixed around its not a problem for my application of pjon, i just wanted to mention it in case you were not aware of this.
Happy new year too and thanks again!

PS: I will notify you when i have tested my setup again with your new code.

[2016-01-01 22:07] gioblu commented on #19
Happy new year to you too! Good luck for your application, email me here gioscarab@gmail.com if you would like to share your build in the new section "Application exampes" I will add in the wiki soon.

[2016-01-02 04:15] Earlz opened #20 "Latency amount?"
I didn't see any obvious answer, but what is the expected latency of this protocol and maximum latency? Going just from the speed of compatibility mode, I get 1.8ms to send a byte.. but I'm pretty sure that's not the right way to figure out latency, especially maximum latency with error correction and such

[2016-01-03 14:00] gioblu commented on #20
Byte transmission time:
- 236 microseconds in standard mode
- 472 microseconds in compatibility mode.

Packet latency depends on the **length of the packet**, **bandwidth occupation by other devices** and **noise**. Expected latency can be calculated using data throughput:

packets/s = 2.6kB/s or 1.3kB/s  / (packet length + 3) (internal symbols: ID, length, CRC)

Standard mode:
How many custom siz

[2016-01-03 14:02] gioblu commented on #20
Probably this should be added. explained more clearly, in the readme

[2016-01-05 17:43] gioblu opened #21 "Timing tweek to fix Mega reception problem in COMPATIBILITY_MODE false"
Slight COMPATIBILITY_MODE = false timing slow down for duemilanove / uno / nano to match Arduino Mega execution time and Attiny consequent tuning.

[2016-01-08 12:56] TeeTrizZz opened #22 "Is it possible to get the sender id?"
Hi gioblu,

very nice library! I have a question, though. Is there a possibility to get the sender id of a package? I saw that the set_receiver function's comment had a param for this in an older version. I guess this has never been implemented, has it? Should I send the sender id as part of the content?

Best,
Fabian

[2016-01-08 15:06] gioblu commented on #22
Hi Fabian, I was near to implement it but after some calculations I decided not to insert sender_id in the standard packet header. This because it generally slow down every communication and not every one needs to transport this information in the packet, for this reason I chose to let the user decide if to send it or not.

What you think about it?

[2016-01-08 18:58] Earlz commented on #15
Have you tried this on any other ARM processors, such as the LPC1768 (ie, mbed)?

Does it come down to instruction timing and/or does some of this need to be written in assembly to fit within a certain timing profile ?

[2016-01-09 04:18] gioblu commented on #15
Hi there, I never tried mbed, but I will experiment with it as soon as I will be able to port ESP8266.

I don't think it needs assembly code or convulted solutions, but I am not sure which could be the right one in a multithread environment, I am still studying this architectures to have a more clear idea.

[2016-01-09 21:00] TeeTrizZz commented on #22
Thanks for the fast reply! I already thought that this was the reason. It's no problem, though. I'm going to transmit the sender_id as the first byte of the content. I just wanted to be sure that this is not implemented :-)

[2016-01-09 22:19] gioblu commented on #22
Good luck for your project!
Contact me if you want to add your build to the PJON's application examples in the wiki.

[2016-01-09 22:20] gioblu commented on #22
I will close the issue. Have a nice weekend

[2016-01-09 22:20] #20 closed

[2016-01-10 06:23] Earlz commented on #15
I have an mbed and should have an oscillioscope sometime soon, so hopefully I can contribute.. This is definitely not my expertise though so no promises

[2016-01-10 09:04] Earlz opened #23 "How to get working with ATTiny85?"
I'm trying to get this working with an ATTiny85 and having problems with the Arduino IDE. I installed the ATTiny package for the Arduino IDE, but get these compiler errors:

<pre>

Build options changed, rebuilding all
In file included from C:\Users\Jordan\Documents\Arduino\libraries\PJON\PJON.h:33:0,

                 from C:\Users\Jordan\Documents\Arduino\libraries\PJON\PJON.cpp:23:

C:\Users\Jo

[2016-01-10 09:08] Earlz commented on #23
Er, don't use the version from the Arduino library service...

[2016-01-10 09:08] #23 closed

[2016-01-10 09:43] Earlz commented on #15
I got it to compile for mbed using the web compiler and I think things are correct.. but I can't get any communication to work yet. If you want to take a peek, the code is at https://developer.mbed.org/users/earlz/code/pjon_testing/ (will move it to github once it's actually working)

[2016-01-10 14:23] gioblu commented on #23
What you mean! I didnt get this issue!

[2016-01-10 14:35] gioblu commented on #15
Thank you so much, I am reading your code, will give you feedback soon.

[2016-01-13 13:26] Earlz commented on #15
I took a look at all of this with my newly acquired oscilloscope and found out that the pin I was testing PJON with on my mbed is apparently bad... but changing the pin to something else also didn't immediately fix it. I did some simple timing tests as well by just generating a square wave with `delayMicroseconds(X); digitalWrite(0, Y)...` Down to 200us, both the ATTiny85@8MHz/3.3v and the mbed ru

[2016-01-13 15:58] gioblu commented on #15
Hi Earlz, Really interesting feedback. I am sure I will be able to suggest you a solution with these readings.

Read carefully these pages in the wiki:
https://github.com/gioblu/PJON/wiki/ATtiny-interfacing
https://github.com/gioblu/PJON/wiki/Troubleshooting

Consider that execution time is probably different in these architectures, consider ATTiny's as the canonical speed and try to adapt the oth

[2016-01-13 23:15] gioblu commented on #15
Another interesting hint was made by lucky, in Agenda another library I am developing. In any case, he, working to port Agenda to ESP found a huge bug because of the fact that types in a 32 bit system are differently memory allocated see:
https://github.com/gioblu/Agenda/issues/1

As I fixed in Agenda, probably also PJON needs typecasting or temporary variable where to execute calculation where ty

[2016-01-16 06:28] Earlz commented on #15
I tried some more stuff for timing, but I feel like this might not actually be able to tolerate so much potential inaccuracy as the ATTiny85's internal oscillator. I got it to receive a few "busy" packets, but then it proceeded to freeze up in some way that I don't understand. (ie, a "this should never happen" type thing). I'm still working to see if I can get it to properly handle packets

 I fee

[2016-01-16 10:49] gioblu commented on #15
Please let me see your code, I will try to identify where could be the problem.
If it is freezing up is probably because of a buffer oveflow and / or for type compatibility as Lucky enlighted. As many other protocols, is not completely collision free, but there is a really slight chance that 2 devices can speak in the same time. If this happens, message is detected as broken and retrasmitted.

[2016-01-16 15:58] Earlz commented on #15
I published my changes at https://developer.mbed.org/users/earlz/code/pjon_testing/ However, I don't even think it's a buffer overflow, or at least not an obvious one. it seems to at some point stop updating the timer is my best guess, but I don't have any real debugging tools for this other than toggling some LEDs so it's pretty difficult to figure out. The problem is somewhere in send_string, pj

[2016-01-16 18:06] gioblu commented on #15
Thank you for your support, and I am sorry because I perfectly understand your anger / frustration :).I am taking a look to the code, I hope to find something. Will soon give you some feedback.

In any case, I did a little tweaking to the values. I did a test of all the supported devices to be sure there was nothing hidden that could have blocked you. I found only a slight reliability loss because

[2016-01-16 18:18] gioblu commented on #15
From a fast and initial analysis seems fine. For a faster debugging I suggest you to test the all low level functions in an isolated way, for example try with really slow speeds to call network.send_bit() and visually check with a LED, network.send_byte() and see if the LED flashes have corrispondence with the bits of the character you passed as parameter, After this try send_string() and see if t

[2016-01-16 18:20] gioblu commented on #15
Using this method you will probably find in which function it freezes

[2016-01-21 17:02] TeeTrizZz opened #24 "Receiving wrong data, etc."
Hi! I have a lot of issues right now. My head is a bit spinning as I was working on this the whole day. Maybe I miss something important. Anyway, I thought I should ask you before I continue with debugging. Hope you can help me.

My setup consists of two Unos and one Nano. When I start my software (a small C# tool) it connects to one of the two Unos ("master", e.g. device id 1) via USB. Then, the

[2016-01-21 17:53] gioblu commented on #24
Ciao. I would suggest you this procedure:
- Start with master codebase.
- Try NetworkAnalysis and ErrorTest examples with your devices in every combination (one to one)

If you can share here your results and I will help you to fix.
I think it seems a really high interference amount scenario.

Can you please document precisely which devices and microcontrollers you are using?

Please read also:
ht

[2016-01-21 21:35] TeeTrizZz commented on #24
Thanks! I'll run those examples tomorrow. Interference might be possible but the received packets are always the same: 3-5-... is always transmitted correctly, 4-5-... is always transmitted incorrectly. So at least it is not some kind of random interference.

Currently, I have two Arduino Genuino UNO (ATmega328) and one Arduino Nano (ATmega328). In the final configuration I will only use Nanos (ab

[2016-01-21 22:25] gioblu commented on #24
Good. So following your report you should test with NetworkAnalysis trnasmitting the content usually is transmitted incorrectly. I will also give it a try in an hour. Will give you feedback using the same devices you have in your setup.

[2016-01-21 23:27] gioblu commented on #24
Ciao again :).
I tested the actual master with a UNO and a Nano with NetworkAnalysis, and communication is perfectly stable. After this I modified NetworkAnalysis transmitter's sketch to roll a byte value from 1 to 255 and back again to see if all bytes are correctly received, I did this adding to networkAnalysis receiver's sketch the setter and the receiver function with a Serial.print to show wh

[2016-01-22 09:54] TeeTrizZz commented on #24
Ciao! Thank you for the suggestions! I'm back at the office and ran the tests using two Arduino Uno (instead of one Uno and Nano). Besides that, I use the same setup you've used (pin 12, common ground by USB and common laptop, 10 cm jumper cable).

Now, the good news is: I have encountered no error. Even with my customized PJON library (and a lot of Serial.println() in the PJON.cpp) I get this:

S

[2016-01-22 17:40] TeeTrizZz commented on #24
So, after a few more hours of debugging, I found several potential issues in my code. One was a ```delay(1);``` in my main loop. I used it because of [this example](https://www.arduino.cc/en/Tutorial/DigitalReadSerial) on the Arduino website. I guess this is not too much of a problem if MAX_ATTEMPTS is high enough. 1ms + other stuff like Serial.readStringUntil() and digitalRead() can add up to a c

[2016-01-22 18:03] gioblu commented on #24
So for sure I should add in troubleshooting the check to conversion and type of the content you are triyng to send, I also had a lot of bugs because of this, so, thank you to have underlined this issue and potentially saved time to the future users.

[2016-01-23 12:17] gioblu opened #25 "Digispark ATtiny85 usb board compatibility"
Test and if necessary add compatibility to Digitspark ATtiny85 usb board.

[2016-01-26 15:25] TeeTrizZz commented on #24
Unfortunately, it's still bugged. I have fixed several other problems and reverted my changes to your code (sender id inclusion is now on a higher level). But even with the original library I have problems sending a message from a device with id 1 to a device with id 3 or 4. This is strange enough but the more ridiculous thing is this:

**1. setup:**

- two devices (Arduino UNO), one with id 1, on

[2016-01-26 16:15] TeeTrizZz commented on #24
(Looks like I have to change the baud rate in Windows' device manager, too. Can't check that right now but the baud rate can't be the reason anyway. One thing I should check tomorrow is if the content of the packets matter for the two described setups.)

[2016-01-27 11:57] TeeTrizZz commented on #24
Finally, I found a very very simple test case. Please try to run these two programs on your Arduinos.

[TestCase.zip](https://github.com/gioblu/PJON/files/106527/TestCase.zip)

You should get a "Lost Connection to 2" message (as there is no device 2, of course). Then change the message in line 16 of Transmitter.ino to ```1, 3``` instead of ```1, 4``` and run the program again. I don't get the "Los

[2016-01-27 14:57] gioblu commented on #24
Ciao Tetrizzz Thank you so much, and I am sorry if I closed this issue, when was not still closed by your side. I will as soon as possible try your test case and give you feedback.

[2016-01-28 23:28] gioblu commented on #24
HI Tetrizzz. You found a bug :+1:  and I want to really say you thank you for your support to the library.

Facts:
- Issue appears only with short messages, with low content byte values and low values of ID
- Issue stops if I change the initial value of the CRC from 0 to B10101010 (in send_string and receive), seems a fix, but could have moved the problem on a different range of values, packet len

[2016-02-01 01:24] gioblu commented on #24
You found an enormous bug O_O. Thank you.
FAIL that values 0x100 or 256 is saved in data that is an array of uint8_t (that is wrong -_-). For this reason the condition data[i] == FAIL was never true. For this reason every incoming byte resulted FAIL was saved as 0 and the function able to reach NAK response instead of returning. Because of the general stability and reliability of the channel this

[2016-02-02 19:04] gioblu commented on #24
I finally completely uncovered this problem, and I am really ashamed :)

Here the solution:
https://github.com/gioblu/PJON/commit/2548e3cc50d2368f107b5db1cc4c6666ad26bb2b

`int PJON::receive() {
  int state;
  int package_length = PACKET_MAX_LENGTH;
  uint8_t CRC = 0;

  for(uint8_t i = 0; i < package_length; i++) {
    data[i] = state = this->receive_byte();

    if(state == FAIL) return FAIL;

[2016-02-04 16:23] #24 closed

[2016-02-08 12:00] TeeTrizZz commented on #24
Thank you very much! I will try this today and answer your email!

[2016-02-21 21:15] TeeTrizZz opened #26 "Issues with big packets"
I'm sorry for the long delay in my response. I hadn't had the time to test everything until this week. Fortunately, after a lot of testing, I can say it is very stable now when sending short messages. I haven't noticed any more problems so far. I added two more bytes to my messages (a total of 4 bytes now) to be more stable in general, though.

After the problems with small packets, however, I hav

[2016-02-22 18:40] gioblu commented on #26
Hei! Thank you again for your support.
I should investigate further but I think you are right

I think a solution might be at line 409 https://github.com/gioblu/PJON/blob/master/PJON.cpp#L409
[code]
So every time a length is saved if less than 4 return FAIL.
If you can try to modification and let me know your results.

[2016-02-25 15:34] domonetic commented on #26
when you make changes, please launch a new release

[2016-02-25 15:50] gioblu commented on #26
Hi domonetic. You mean this changes in particular of you are suggesting to make a new release for every changes made?

I any case I am working on this problem, but seems the code I proposed is a solution.
I would hear feedback also from Fabian to understand if my results are matching his.

[2016-02-25 16:06] gioblu commented on #26
You are absolutely right. WIll be done as soon as this problem will be cleared out.
Thank you for your support.

[2016-02-25 16:09] domonetic commented on #26
Thank you for your sharing

[2016-02-27 04:01] gioblu commented on #26
So I tested over and over again, and I have obtained similar results. As described filtering away possible packets with a length from 0 to 3 (that in any case should not be considered) the problem seems solved. By my side I agree with @TeeTrizZz .

To give a fix to the second issue I added the CONTENT_TOO_LONG error and modified send function to catch the case and call _error with a dedicated erro

[2016-02-27 04:47] gioblu commented on #26
Here it is: https://github.com/gioblu/PJON/releases/tag/1.1

[2016-02-27 11:03] TeeTrizZz commented on #26
Thank you for the tests and the fix gioblu! I can't test it with large messages right now. I had a few more problems with short messages in the last few days, though. I used six Arduino Nanos and after starting them, the communication between the devices usually worked flawlessly for a while. But after a few seconds, minutes, or whatever, it broke. It felt like the communication was stuck somehow.

[2016-02-27 13:56] gioblu commented on #26
So, @TeeTrizZz if you are ok with it and you perceive this problem fixed I would close this issue and open anotherone for the "freezing after a while" problem. I am sorry if this affected your showcase, but I am in any case sure we will identify and fix the problem soon. Thank you again for your support and I am so curious to see your console application.

[2016-02-27 14:53] #26 closed

[2016-02-27 15:48] gioblu commented on #26
Ok, I started a test with only two devices on the bus, I think it will not crash, and this will be a good indication of where the bug could be located in the codebase.

You want me to create the issue or you are doing so?
Will let you know results after a 12 hours test.

[2016-02-27 15:55] gioblu commented on #26
@TeeTrizZz if this clue can help you: another user, Mauro, confirms that a freezed device doesn't transmit but is able to receive a message and execute the _receive() function.

[2016-02-27 23:46] TeeTrizZz commented on #26
Unfortunately - or fortunately :-) -, I have no relevant results yet. Only two of the 3900 possible messages might be problematic every now and then. While this is actually pretty good, the CRC respectively the checksum could be a bit more reliable, though. Maybe it should take the position of a byte into account or something.

Anyway, I guess something else was the reason for the frozen communica

[2016-02-28 01:33] TeeTrizZz opened #27 "Better CRC or Starting Symbol?"
Currently, the CRC doesn't take the position of a byte into account. This can lead to problems when bytes are missing (e.g. when a device starts to read the stream at an unknown time and misses the first few bytes). I used my little app to test messages with 5 bytes of content (8 bytes in total). With the current CRC calculation method there are a lot of potential issues (and I mean **A LOT** if o

[2016-02-28 02:23] gioblu commented on #27
Hi, I don't think what you are describing is a problem of the CRC, it is not failing, it is working correctly, the problem I think is upstream. Also if you bring CRC more convoluted on byte position you can't avoid to get that correct number in the correct position in the pseudorandom bytestream. The responsability to identify if a chunk of the stream is a packet for a certain device I think is of

[2016-02-28 05:00] domonetic commented on #26
Dontt use dinámic memory as getmem() in embedded devices. This not free or not can fit in next call

[2016-02-28 11:33] TeeTrizZz commented on #27
You are right! The CRC shouldn't be responsible for something that shouldn't happen in the first place. I thought about a starting symbol a while ago, but I don't like the idea of using a specific value for this. There will be still a lot of cases where this will go wrong, I guess. How about using the synchronization bit (SyncPad) instead? Something like 1 01 is the start of a message while 1 00 i

[2016-02-28 11:59] gioblu commented on #27
I also have thought to syncpad to solve this problem but doing so you are only moving the probblem from byte to bit level, with I think few improvements. I think in this case your app could be really useful to determine how often this could happen with a certain setup. I would try to make some experiments and find the best setup to solve this problem.

[2016-02-28 12:41] gioblu commented on #27
@TeeTrizZz you added in your simulator also the empty spaces where the channel is not used as a case in the bytestream?

[2016-02-28 14:14] TeeTrizZz commented on #27
I will do that. I will probably rebuilt the simulator in C# so that timings and things like the syncpad are way easier to simulate. Each device could be a separate thread which reads from a common "wire variable".

[2016-02-28 15:12] gioblu commented on #27
So my test result is positive with 1.1 I don't have a freeze with a couple of devices in a 24 hours timeframe. Mauro tested 1.1 with 6 nano and 1 mega and all seems fine after 12 hours. Are you sure some of the issues you encountered were not a consequence of using the old code base, some bug in your sketches or some hardware issue?

[2016-02-28 17:34] gioblu commented on #27
@TeeTrizZz I am doing a simple test to identify if this problem occurs and how often.

I use only two devices, one is always in reception and one is always transmitting 30 bytes packet of random generated data, to a device that is not connected. This leads to message transmission attempts until `MAX_ATTEMPTS` is reached and packet deleted. After this data is generated back and a new packet is crea

[2016-02-28 19:44] TeeTrizZz commented on #27
Thanks! That sounds good! I'm going do something similar with the six devices as soon as they are back in my office tomorrow. You might be right that there are some other issues in my code. It was pretty strange. Sometimes it worked well with all devices, sometimes only a few devices worked reliably and sometimes nothing worked. I was sending ping-like messages which should be answered by every de

[2016-02-29 11:51] TeeTrizZz commented on #27
Unfortunately, we have to move the test to Wednesday. 4 of 6 Arduinos are dead, I have to order new ones. I will come back to you later this week!

[2016-02-29 16:10] gioblu commented on #27
Glad to confirm you that the LED 13 test described above gave a positive result. LED 13 off = no false positives in a 24 hours timeframe. I will wait for Mauro's 7 devices test result to confirm a third-party problem (see your sketches, hardware wiring, faulty components).

[2016-02-29 16:22] TeeTrizZz commented on #27
They are from SainSmart. They shouldn't be too bad but who knows. It's good to know that your test results were positive!

[2016-02-29 16:42] gioblu commented on #27
Buy the blackone and hope :) arduino nano doesnt exist as "original" is not any more part of the Arduino / Genuino products they moved with Micro to 32u4

[2016-02-29 17:18] TeeTrizZz commented on #27
I guess the main problem was a buffer overflow. I didn't check for that error and I didn't realize that I need to send 17 messages at once. I think I have raised the max value to 15 - which is still not enough of course. That would explain why it worked in some cases and didn't work in other cases. If the channel was free, this was no problem. If the channel was busy, however, then the queue ran f

[2016-02-29 19:05] domonetic commented on #27
@gioblu @TeeTrizZz
Creo que no es buena idea usar malloc en ningun microcontrolador. ¿porque?
Aqui la explicación http://blog.benoitblanchon.fr/arduino-json-parser/

[2016-02-29 19:11] domonetic commented on #27
Perhaps because of this failure , in different scenarios .
In a simple example, malloc() always returns the same location. But in another environment with timers and other objects being created and destroying it, malloc() returns other positions and begins to fail

[2016-03-01 01:27] gioblu commented on #27
Hi @domonetic, thank you for your support. I totally agree with your point on `malloc()` and `free()`. For this reason I have used vastly the stack memory for all the rest. For the content of a packet to be sent I use `malloc()`, catch its error in case of `NULL` return and free the memory when sent. Because of code's simplicity, there is no chance for the system not to free one of these, and thei

[2016-03-01 01:36] gioblu commented on #27
@domonetic What you mean with "begins to fail"? If you consider a failure a `NULL `return, this is covered by the functionality. In the actual master If malloc() returns `NULL ` a 102 `PACKETS_BUFFER_FULL` error is thrown.
Thank you again.

[2016-03-01 14:33] domonetic commented on #27
I'm not saying json begins to fail . I say can happen holes remaining , and no scope to deliver the necessary memory and then start to not to send .
As I understand the library should only send and receive packets not keep a list .
The main program should bring the package list.

Please do not think I do not appreciate your work.

[2016-03-01 14:56] gioblu commented on #27
I didn't know how much was bad seen malloc() and how much problems created in the Arduino environment to people. I agree with you that a static choice could be more reliable and for this reason in 1.2 I will probably as you correctly suggested, switch from dynamic to static memory allocation.

The only sentence where I am not sure i am catching your point is that the package list should be in the

[2016-03-01 15:05] gioblu commented on #27
@domonetic The packet list is there to:
- Save packets are not received correctly and resend them until correct communication occurs
- Save packets to be sent cyclically and manage the sending in the correct time
- Save packets to be sent in future

[2016-03-03 16:00] TeeTrizZz commented on #27
Everything works fine! I've raised the max value to 25, updated PJON, and checked the hardware. Seems to be very stable now. Next trade show is in London next week. Will come back to you after this event! Thanks for your help!

[2016-03-03 17:00] gioblu commented on #27
Ok, I will close this issue for now

[2016-03-03 17:00] #27 closed

[2016-03-10 12:53] aperepel commented on #22
Hey guys, decided to check any closed issues before I file one, and, bingo!

Is it possible to control the sender I'd inclusion as a configuration switch for the library? Both arguments above are valid. Not sure if you can incorporate it into an existing protocol or maybe it's time to have protocol versions? ;)

[2016-03-10 16:18] jayeye opened #31 "There is no encryption (or however it was the word was misspelled!)"
Why claim you have encryption when you don't? Also, crypto should not be done at this layer in the first place.

[2016-03-10 16:20] jayeye opened #32 "It's XOR based error detection, not CRC"
What you are implementing is a simple parity scheme. Please don't call it a CRC. In any case, there is plenty of spare cycles to implement CRC8 if all you want to use is eight bits.

[2016-03-10 16:39] gioblu commented on #22
Ciao @aperepel, thank you for your support and for sharing your opinion.

PJON Standard is designed to offer the minimum you need for a one-to-many or many-to-many communication in multimaster configuration, defining a basic bus line where the end user can implement through his sketches its own implementation needs, for example adding the sender id as the first character of the content. I think is

[2016-03-10 16:55] gioblu commented on #32
@jayeye You are right, its not Cyclic Redundancy Check, but XOR based error detection.
I will soon fix this issue in documentation and comments. Thank you.

At the actual stage of development this error detection implementation it actually never failed (with a false positive) in 4 years of development, and I never heard by other users of an event like this.
If I have to be sincere in some way I am

[2016-03-10 16:58] gioblu commented on #31
@jayeye Ciao again, true, encryption should not be at this level and that are remains of an older version comments (pre 1.0) where Cape library was still not extracted from the PJON codebase.

Comment update soon

[2016-03-10 17:24] gioblu commented on #31
@jayeye thank you again for your support.

[2016-03-10 17:24] #31 closed

[2016-03-10 21:10] gioblu commented on #22
@aperepel for sure this is a lack in the master documentation. Should be added an example where is explained how to add the sender id as first character of the payload. Please don't think I was triyng to advertise my opinion.

My only concerns for this issue are:
- Consistent overhead adding also the sender_id in any case, for every packet,
- Speed loss because of longer function execution time (m

[2016-03-10 21:12] aperepel commented on #22
Hi, I agree the overhead might be too much if we are going 'micro'. For basic cases where there's 1:1 comms only, it may not make much sense even. So, if there's a quick doc example people can reference (read, copy/paste), this should address things without the need to add it to the protocol.

[2016-03-11 09:25] TeeTrizZz commented on #32
The communication between my Arduinos is very stable now :-) No false positive so far.

[2016-03-14 14:15] MichMich opened #33 "Wiring Diagram ESP8266 - Arduino"
Since PJON is now compatible with the ESP8266 (which is a 3v3 device), it might be helpful to supply a wiring diagram in the readme on how to connect a 3v3 device (ESP8266) to an 5v device (Arduino).

Keep up the good work!

[2016-03-14 14:44] domonetic commented on #33
simple. you need use a shift level. or zener to drop down.

https://dl.dropboxusercontent.com/u/1641023/ESP8266%20BASIC.png

Please if you need help send me email.

[2016-03-14 21:04] gioblu commented on #33
Hi Mich, domonetic, I would make a wiki page for ESP.
@domonetic would you help me a little with this part?

[2016-03-14 21:08] gioblu commented on #33
Ciao @MichMich I had success with these modules:
![unnamed2](https://cloud.githubusercontent.com/assets/764497/13759986/251b1660-ea31-11e5-9310-64b22b5e02a2.png)
![unnamed](https://cloud.githubusercontent.com/assets/764497/13759988/279422a6-ea31-11e5-8add-22c49c599234.png)

As suggested by user @240974a You just need to put pulldown resistors 1-2 kOhm to signal lines on both sides (3.3v and 5v). S

[2016-03-14 22:35] domonetic commented on #33
@gioblu yes of course . I help tou

[2016-03-15 06:43] itsjustvenky commented on #33
Using level shift is always better because the data transmission is faster on level shifter compare to a voltage divider or zenor diode setup.

[2016-03-17 12:18] aperepel commented on #25
I have the DigiSpark as well as some generic attiny85 boards. Wanted to help out for a while, tied up with something else currently. If it's nothing urgent, feel free to assign to me, please.

[2016-03-17 16:21] gioblu commented on #25
It's a pleasure to get some support to this issue. Thank you @aperepel
I will in this case assign to you the issue! Please let me know your results with Digispark.

[2016-03-18 16:08] gioblu commented on #33
Ciao @domonetic .
I am trying to understand how to give you access to the wiki, so we can work together to the ESP8266 interfacing page. Will write you soon

[2016-03-18 16:18] domonetic commented on #33
simple. i write a new entry and you accept changes

[2016-03-18 16:49] gioblu commented on #33
Thank you! Following the actual index standard the title is "ESP8266 interfacing".
I really appreciate your support.

[2016-03-19 23:42] aperepel opened #34 "Add an option to invert the 0/1 logic so we can use internal pull-up resistors"
Hi, I was getting frustrated not able to make basics work, but was finally able to dig up that bit in a troubleshooting guide about a 'Busy' signal and, after adding a 10K pull-down resistor, everything worked. I, however, see couple problems with a pull-down resistor requirement:

1. It's an external component. If we are going for simplicity, not the right direction.
1. Most Arduino/Wiring-compat

[2016-03-20 03:16] domonetic commented on #34
Atmega hace pull-up and pull-down options

[2016-03-20 03:16] domonetic commented on #34
Atmega hace pull-up and pull-down options

[2016-03-20 03:16] domonetic commented on #34
Atmega hace pull-up and pull-down options

[2016-03-20 03:18] domonetic commented on #34
Atmega have pull-up and pull-down options. No need external resistors

-----Mensaje original-----
De: "Andrew Grande" <notifications@github.com>
Enviado el: ‎19/‎03/‎2016 20:42
Para: "gioblu/PJON" <PJON@noreply.github.com>
Asunto: [PJON] Add an option to invert the 0/1 logic so we can use internalpull-up resistors (#34)

Hi, I was getting frustrated not able to make basics work, but was finally ab

[2016-03-20 03:26] gioblu commented on #34
Hi @aperepel. This proposal is interesting on two different sides. What you are saying is correct, and, what you also get adding this, is to have the chance to potentially power the connected devices, as 1-Wire does, using the transmission line (adding the right capacitor and imposing some limits on sending a lot of byte 0 one after the other).

If you have the will and some time to experiment on

[2016-03-20 03:40] gioblu commented on #34
Here an interesting document on Parasite Powering:
http://www.midondesign.com/Documents/PARAPWR2.PDF

[2016-03-20 15:21] aperepel commented on #34
@domonetic I bet some confusion crept in. There is Arduino Mega board (2560 chip), which has both pull up and pulldown. Then, the whole Atmel line of chips all starting with AtMega. Uno and Leonardo use e.g. AtMega328P and AtMega32u4, which don't feature pulldowns.

[2016-03-20 15:25] domonetic commented on #34
You're correct

-----Mensaje original-----
De: "Andrew Grande" <notifications@github.com>
Enviado el: ‎20/‎03/‎2016 12:21
Para: "gioblu/PJON" <PJON@noreply.github.com>
CC: "Maximiliano Duarte" <maximiliano.duarte@gmail.com>
Asunto: Re: [PJON] Add an option to invert the 0/1 logic so we can useinternal pull-up resistors (#34)

@domonetic I bet some confusion crept in. There is Arduino Mega board (2

[2016-03-20 15:57] gioblu commented on #34
@domonetic @aperepel didn't know that 2560 includes a pulldown. This is really interesting and maybe should be documented in the wiki how to use it, so the end user will be able to simply set it in his sketch instead of physically adding it.

[2016-03-20 16:33] joaand commented on #34
The datasheet [http://www.atmel.com/Images/Atmel-2549-8-bit-AVR-Microcontroller-ATmega640-1280-1281-2560-2561_datasheet.pdf](url) does not mention pull downs, only pull ups.

[2016-03-20 17:47] aperepel commented on #25
I've spent some time on it, but couldn't make Attiny85-based dev boards to work. My bare-bone attiny85 chips haven't yet arrived, so I can't attest to results mentioned here: https://github.com/gioblu/PJON/wiki/ATtiny-interfacing Would like to know more detail from whoever succeeded in those tests.

Trying out with all 6 available pins produces only Failed reports, with P3 reporting Busy. This bus

[2016-03-20 17:49] aperepel commented on #25
As a side-note, the esp8266 to esp8266 communication worked with a 10K pull-down resistor. With AtTiny85 and Uno/Esp8266/AtMega32u4 I didn't get any busy signal at all. Same with 1MOhm.

[2016-03-20 20:49] gioblu commented on #25
Hi @aperepel I personally had success with a raw chip and a generic breakout board. Generally pull-down resistor was not necessary to have correct data communication. Probably, Digispark toolchain use different compilation optimization flags, and so function execution time could variate compared to the attiny porting of Mellis (that is the one suggested in the wiki and the one used for testing).

[2016-03-20 21:10] aperepel commented on #25
IIRC, Digispark and all dev boards for AtTiny85 are 16Mhz, that would explain it.

[2016-03-20 22:45] gioblu commented on #34
Thank you @joaand

[2016-03-21 18:52] itsjustvenky commented on #34
Even ESP8266 has only internal pullup

[2016-03-26 15:32] gioblu commented on #33
CIao! aperepel created a wiki page, I also worked a little on that and this is the result:
https://github.com/gioblu/PJON/wiki/ESP8266-interfacing

Lets me know if you think is enough or you would add something else.

[2016-03-26 15:34] MichMich commented on #33
Cool! Maybe You could add the zener diode version as welk.

[2016-03-26 16:17] gioblu commented on #34
I have considered a lot, and digged and I obtained as a result only few questions:

1. 0s are detected as 1s because the channel is "floating" or electricity around the channel is not correctly grounded, to ground this additional unwanted interference pull-down are used, if we invert, we will only experience the problem in the opposite side?
2. And also how we can mantain multimaster capability in

[2016-03-26 17:06] gioblu opened #36 "Timing in a separate file"
Ciao! I am considering to move timing values in a new file `Timing.h` to have a dedicated space for that and to mantain clarity and add practical space for useful comments. Let me know what you think about it.

[2016-03-26 17:09] gioblu commented on #33
Ciao @MichMich I am studiyng the alternatives, and will practically try.
I will then add all the acquired info in the wiki!

Hope you are having good tinkering.

[2016-03-26 17:35] MichMich commented on #33
I will start my test setup for my PJON curtain system in a few weeks. If I run into nice solutions, I'll add it to the Wiki.

[2016-03-26 23:35] aperepel commented on #36
I'm  in support of making things more accessible. This might help. E.g. if one is thinking of writing a custom parser for a logic analyzer capture,  having all possible timings easily accessible helps. Today it's  somewhat buried in main files.

[2016-03-28 13:02] gioblu commented on #36
@aperepel right, buried is the right word.
I would make this modification after the release (soon) of 1.2 with ESP and Zero compatibility. We are working to test it extensively because its quite a huge update. After all this process I will start with this issue on the next release (1.3).

[2016-03-29 21:22] aperepel commented on #33
Hi @gioblu I've made some corrections to the resistor values (all hail the new shiny logic analyzer for this!) :)

The Uno side requires 1.5K pulldown (2.2K will most probably work as well), otherwise the pin flips high after ACK/NACK. Note that 10K pulldown here results in some noise and, as a result, retransmissions.

The esp8266 is ok with 10K pulldown.

Ran network tests with either board bein

[2016-03-30 01:31] gioblu commented on #33
ciao @aperepel, in PJON.h are still not defined timing values for the mode COMPATIBILITY_MODE false for ESP. In any case my suggestion if you want to work on timing tweaking to work on the branch I personally sent you and some other contributors, 2.0 is much more organized and easy to work with timing. I will soon also create the branch as you correctly suggested.

I updated wiki according to your

[2016-03-30 11:12] aperepel commented on #33
Thanks @gioblu . On the same wiki, the GND to GND connection for esp8266-esp8266 made no difference in my tests. Literally 1 wire was ok. Maybe make a note there, it could depend on how boards are powered.
Now that I've got the right tools, I might look into tuning/adding Fast & Overdrive modes. In the future :)

[2016-03-30 11:14] aperepel opened #38 "Implement FAST mode for esp8266"
Currently there are timing definitions for the `COMPATIBILITY_MODE` only.

[2016-03-30 11:29] aperepel opened #39 "MSB/LSB switch?"
Hi, I spent some time debugging the physical comms on the wire, and saw that current PJON version uses LSB-first mode. This is quite inconvenient when looking at signals and trying to make sense of them. Was it done for some performance reasons? If not, does it make sense to add the MSB/LSB option and leave LSB the default?

[2016-03-30 11:46] gioblu commented on #39
Ciao @aperepel, you are right. After long tests I found the send_byte function algorithm as the fastest to be executed. If I am not mistaken also Serial and SoftwareSerial are using the same approach (LSB-first). I know I had the same issues when looking for the first time to it with an oscilloscope, but after a while i got used to it (initial padding bits helps a lot human readability). I think t

[2016-03-30 11:48] gioblu commented on #36
@aperepel I close this issue because has been fixed in 2.0

[2016-03-30 11:48] #36 closed

[2016-03-30 11:50] #21 closed

[2016-03-31 00:39] thomsna opened #40 "Phantom device (change BROADCAST ID)"
Two Arduino pro mini ATmega328.
A master set at address 45 and a slave set at 44.
Bus on pin 12.

While sending to device 124 even though it didn't exist on the network, I get ACK values back.

Can someone reproduce this?

Here, I wrote a script to check for a response on all addresses.
Code for master:
[code]

Code for slave:
[code]

[2016-03-31 03:01] aperepel commented on #40
@thomsna if I read the code correctly, address 124 is the broadcast. In your teat, try counting how many acks you get and from what addresses to confirm.

[2016-03-31 10:57] thomsna commented on #40
@aperepel Thanks for clearing that up. 124 is indeed the broadcast address.
The code above will check for the ACK from a device on all addresses. An ACK is received on address 124, even though no device is set to that address.

[2016-03-31 11:04] aperepel commented on #40
Great, this is not an issue, it looks. I would maybe prefer to have the broadcast on a more 'classic' address like 0 or 255, than in a middle of the range. @gioblu any comment on that? 124 doesn't  even look cool in binary :)

[2016-03-31 11:06] thomsna commented on #40
+1 for setting broadcast address to 0, like I2C :)

[2016-03-31 11:24] gioblu commented on #40
Hi @aperepel @thomsna to be consistent and not subjected to versioning changes (as the one you are proposing) bugs, always use constants if you can: `for(uint8_t i = 0; i < 256; i++) if(i == BROADCAST) continue;` so if `BROADCAST` value will change during development this will not affect your sketches.

Could be more clean I agree, we should run extended tests, but if all is ok, I don't see limits

[2016-03-31 20:27] aperepel opened #41 "PJON Protocol Analyzer"
Hi guys,

I've been busy hacking recently (well, scratching my own itch), and brought a custom protocol analyzer for Saleae Logic to a usable state: https://github.com/aperepel/saleae-pjon-protocol-analyzer

It doesn't yet understand multi-byte payloads (will come next, so for now don't send more than a 1 byte payload :) ). It can do a lot already, and I figured I'd put it in front of people soone

[2016-03-31 21:42] gharris012 opened #42 "ATtiny841 and ATtiny1634 Support"
I have been able to make this library work (well, the Blink Transmit/Receive examples) on the ATtiny841 (core from https://github.com/SpenceKonde/arduino-tiny-841) by adding __AVR_ATtiny841__ to the list of Tiny chips.
DigitalWriteFast.h needs some updates as well, but they are over my head (I just reverted back to DigitalWrite in setup to get Blink to work).

It looks like adding 1634 support sho

[2016-04-01 00:35] gioblu commented on #42
Ciao @gharris012. Add compatibility to this chips would be amazing!
And I am happy you got a fast positive test result.

Please if you can describe your test setup and what you did to get it working (you changed or defined new timing for 841?). If you would propose a code base addition / modification wait some days, we are releasing 2.0 and if you pull request after release, merging will be less p

[2016-04-01 00:37] gioblu commented on #41
This is really fantastic. :+1:
The only thing I can say, I will buy tomorrow the hardware and I will be soon on the way testing it.
Thank you so much creating a so amazing debugging and analysis tool for PJON.

[2016-04-01 00:38] gioblu commented on #41
Lets add it in the wiki!!!

[2016-04-01 01:36] gioblu opened #43 "Infinite collision"
As came out from tests made by Mauro and from suggestions made by the community on the hackaday post, there is a bug. If we code in the same way many devices and they start at the same time, for example, because of a common power supply, they will likely all collide and in the same way execute quadratic backoff always colliding or finding the channel `BUSY`.

So I see 2 possible cases (both leads

[2016-04-01 04:33] morpheus000 commented on #43
We could try something like nick gammon in his rs485 example did: http://www.gammon.com.au/forum/?id=11428

[2016-04-01 14:03] gioblu commented on #39
Infomation included in the home wiki page. Thanks for reporting.

[2016-04-01 14:03] #39 closed

[2016-04-02 13:35] hellerbarde opened #44 "license"
Is the Stipulation about advertising materials compliant with common Open Source license requirements?
Or is this not meant to be strictly speaking [Open Source software](https://opensource.org/osd-annotated)?

The section I could see being violated is "1. Free Redistribution" because requiring the ad-note could be interpreted as payment of sort.

I don't feel comfortable to say that this is certa

[2016-04-02 13:49] gioblu commented on #44
@hellerbarde you are right, this issue has been pointed out. And I agree and hope with you, that someone, with a strong experience with this will give his/her contribution to this project.

This issue is considered to be fixed in 2.0 release and one considered option is to select Creative Commons Attribution.

[2016-04-02 13:51] aperepel commented on #44
To be fair, current license is very similar to a CPAL license, which is a standard approved OSS license. I agree I would prefer to converge on an easily recognizable license, rather than a customization of one.

[2016-04-03 11:54] gioblu commented on #44
I am studiyng this field, I perceive this as maybe the most compatible:
https://creativecommons.org/licenses/by-sa/4.0/legalcode

[2016-04-03 18:10] thomsna opened #45 "Can I mess with MAX_PACKETS and PACKET_MAX_LENGTH?"
In order to free some memory, I see that reducing MAX_PACKETS and PACKET_MAX_LENGTH helps a lot.
Do their value depend on the length of the packets I send? I'm for example never sending packets larger than two bytes.
What should I consider if I want to reduce those values?
Thanks.

[2016-04-03 18:19] gioblu commented on #45
I am happy to see you understanding so clearly this part.
Yes you can freely tweak this values to your needs. Remember that a string longer than MAX_PACKETS can't be received or sent by the device.

[2016-04-03 18:32] thomsna commented on #45
Don't you mean PACKET_MAX_LENGTH?
If I understand this correctly: if packets are never longer than two bytes, I could set this value to 2.

[2016-04-03 18:38] gioblu commented on #45
Yes I am sorry, `PACKET_MAX_LENGTH`.
Absolutely. This could obviously also co-exist with other devices transmitting bigger packets.

[2016-04-03 19:00] gioblu commented on #44
Ciao @aperepel the actual license is BSD-3 clause, but I don't remember from which source I took this and seems not to be the Standard BSD-3, thanks for reporting. Will be changed in 2.0 (near to release) to the standard BSD-3. After study, I don't see big limitations for the user or companies to adopt PJON in their works / products.

[2016-04-04 12:54] gioblu commented on #45
Also `MAX_PACKETS` value tweaking affects memory.
Less packets the system has to handle less memory is consumed.

Consider how many packets you need, in the worst case, to handle in the same time and set it as `MAX_PACKETS`. If you don't have other questions I would close this issue.

Thank you again for your interest.

[2016-04-04 16:56] thomsna commented on #45
No other questions on this subject :)
Thanks for the clarifications.

[2016-04-04 16:56] #45 closed

[2016-04-04 19:33] thomsna commented on #43
@gioblu Would this implement what you suggested?
[code]

[2016-04-05 03:07] gioblu commented on #43
Ciao @thomsna. Yes, I will show you what I am locally testing:

`uint16_t PJON::send_string(uint8_t id, char *string, uint8_t length) {
  if(!*string) return FAIL;
  if(!this->can_start()) return BUSY;

  uint8_t CRC = 0;
  pinModeFast(_input_pin, OUTPUT);

  this->send_byte(id);
  CRC ^= id;
  this->send_byte(length + 3);
  CRC ^= length + 3;

  for(uint8_t i = 0; i < length; i++) {
    this->sen

[2016-04-05 10:50] aperepel commented on #41
Hey guys, I've just made public a massive release. Theread are now builds for OSX, Linux and Win64, which should reach most people. Give it a try with e.g. examples included in the `assets` folder of the repo. https://github.com/aperepel/saleae-pjon-protocol-analyzer/releases/tag/0.6.0

[2016-04-05 12:27] thomsna commented on #43
Nice to see an improvement is in the pipeline for this matter :)
I guess the key here is this line: `delayMicroseconds(random(0, COLLISION_MAX_DELAY));`
where `(0, COLLISION_MAX_DELAY)` is the window defined by quadratic backoff.

[2016-04-05 15:49] littleprojects commented on #22
I think, this would be an important feature. If you get the sender id, you can easy make a pjon scanner. Or you can use the ids not for the device idetification but for the content identification.
You can use the id for device or content or both. what you need. it makes its more flexible.
This is a realy awesome work!

[2016-04-05 16:04] littleprojects opened #46 "easy function to send Integers"
Hi,
is there a easy function to send and receive a integer value (8,16 or 32 bit). I think, this is the most payload. And its easier to handle than a string of chars.
And in combination with the sender_id as a content_id it would be more awesome. So i can send one command to all devices.

[2016-04-05 16:04] gioblu commented on #43
Ciao @thomsna I am not sure to have understood your point.

By my side, I think `COLLISION_MAX_DELAY` should not be shorter than the average oscillation in code execution (temperature, ceramic resonator, different board layout i.e. vias length to clock) but should be as short as possible to reduce bandwith and computation time loss.

[2016-04-05 16:07] gioblu commented on #43
so you let me stumble in this issue: `delayMicroseconds(random(0, COLLISION_MAX_DELAY))`, minimum should not be zero but this value we should still determine/estimate to go over oscillation.

[2016-04-05 16:19] gioblu commented on #46
Ciao @littleprojects. One of the IDs is dedicated to `BROADCAST` to all devices. Every device will receive the message but will not respond with ACK. This gives you a slight performance gain but you loose the certainty of packet delivery. Maybe some of them are busy executing something and will not receive the message and you are not aware of it, so it's useful for some key situations like general

[2016-04-05 16:22] gioblu commented on #22
Ciao @littleprojects. Thank you for your compliments and support. One of the IDs is dedicated to `BROADCAST` to all devices. Every device will receive the message but will not respond with ACK. This gives you a slight performance gain but you loose the certainty of packet delivery. Maybe some of them are busy executing something and will not receive the message and you are not aware of it, so it's

[2016-04-05 16:27] gioblu commented on #46
If I understood correctly you would be able to pass to the `send()` function an integer, without having to pass also its length? I think this can be done to ease the transmission side sketch. But, I am not sure on the receiver part would be possible to rebuild the int in "background" without adding a considerable amount of complexity. But, obviously, if you have a better idea, share it :)

[2016-04-05 18:11] littleprojects commented on #22
If we can use the sender_id as a content_id, we can save 1 byte for adressing.
When i send 1 byte i need 40 bits. When i need a extra byte for a content_id in the payload i have 48 bits. With a sender_id as content_id i can reduce the trafic about 20%. We can say, it 20% quicker.

So i combine the posetives of I2C / OneWire and CAN if i use the message Id as a sender_id or content_id. And its is l

[2016-04-05 18:19] littleprojects commented on #46
maybe like this:
[code]

[2016-04-06 13:26] gioblu commented on #22
Ciao @littleprojects.
Being PJON a non-interrupt driven system and because of the structural choices of the Standard itself, would not be possible for the transmitter to be sure that all devices expecting a particular content_id received the message (ACK is syncronous). For this reason considering this loss, I don't see sparing saving a byte to be as decisive as necessary to add the expected compl

[2016-04-06 13:34] gioblu commented on #22
We could bring back the old setter from 0.x that was enabling/disabling `ACK` transmisssion and reception. If loss of acknowledgment is a choice of the user, he/she could call `network.set_acknowledge(false)` and then use the ID in the way he prefer.

[2016-04-06 13:43] gioblu commented on #46
Maybe something like:
[code]

On the receiver side I would propose a set of functions able to "parse" content in the receiver function. But I think they should not be part of the PJON class, but more probably a dedicated class in the includes directory? I don't think is something should be included in the PJON class.

[2016-04-07 07:48] gioblu opened #47 "Bootloader to code Arduino through PJON"
Ciao! I am a while thinking about this. Would be amazing to ble able to code any device on a PJON bus, through PJON and the bus itself using a dedicated bootloader.

[2016-04-07 21:33] gioblu commented on #43
Ciao @thomsna today I met with Mauro personally and we have built a network sharing our hardware:
- 15 Arduino Nano
- 1 Arduino mega
- 1 ESP8266 and
- 1 ATtiny85

With a true multimaster setup (so with bidirectional flux of packets to many devices) and with the new 2.0 version works flawlessly (O_ o we are shocked works really amazingly)!!

The added delays reduced enormously the chance of a colli

[2016-04-07 21:36] gioblu commented on #42
ciao @gharris012, 2.0 has been released now. Finally there is a more organized way to port new MCUs / architectures. take a look to the new `Timing.h` file: https://github.com/gioblu/PJON/blob/master/Timing.h

Now you can consider to make a pull request with your results on top of the new release.
Happy tinkering :+1:

[2016-04-07 21:37] gioblu commented on #43
CIao @morpheus000, @thomsna. With the release of the 2.0 version, the license clause has been updated to the standard BSD-3 Clause.

[2016-04-07 21:39] gioblu commented on #40
Ciao @aperepel, @thomsna.
With the release of the 2.0 version this issue has been fixed and BROADCAST id is now 0, as correctly proposed :+1: . Thank you again for your support and passion in this project.

[2016-04-07 21:39] #40 closed

[2016-04-08 16:11] gioblu commented on #44
Ciao @aperepel @hellerbarde , thanks for reporting License Clause has been updated in 2.0 version as proposed to BSD-3 Standard License Clause.

[2016-04-12 11:35] aperepel opened #49 "Refactoring digitalFastWrite.h include to be a sibling"
Hi, can we move the subj to be on the same level as all other header files? E.g. it makes things work out of the box when not using an arduino ide, otherwise have to go in and modify the paths manually.

[2016-04-12 11:42] gioblu commented on #49
You would remove includes directory?

[2016-04-12 11:51] aperepel commented on #49
Yes, it always caused issues when building from command line. E.g. with PlatformIO, the library becomes available on a system path via <> style includes. Using directory paths in "" doesn't work well with this structure.

[2016-04-13 03:04] domonetic opened #51 "How to Deal with interference (wiki)"
I understand that just connect 1 Data Cable works, but is there you got previous care, pullup resistors, diodes protection?
No it is not clear how protect in a noisy environment or outdoor use.
Can add this to wiki?

[2016-04-13 08:03] gioblu commented on #51
Ciao @domonetic. Hope all is going good.
Abolutely, you are right, maybe I should create a Wiki section dedicated to interference reduction.

[2016-04-13 13:53] domonetic commented on #51
Yes please. I try to test this lib with RF 100w more than 25 meters away.
Do you test with Arduino pro micro?

[2016-04-13 14:42] gioblu commented on #51
Ciao @domonetic, 100w?? You are transmitting to mars :) or you mean mw ?
In any case I would be happy to help you, please if you can describe technically your setup and I will try to support you to get a decent communication channel.

- PJON (not PJON_ASK) is not tested on radio and probably is not effective because is a standard single sample in the middle of the bit, PJON_ASK uses a sort of "ove

[2016-04-13 14:51] gioblu opened #52 "Physical layer strategies"
Hi there. Is long time I am considering to give the chance to the user to develop its own strategy for data transmission and reception, and so enable to switch the low level functions needed to physically receive and transmit data. This would give the chance to the user to port different communication media like Infrared / visible light, radio waves (see PJON_ASK) and obviously one or more conduct

[2016-04-13 14:56] gioblu commented on #49
Ciao @aperepel I am a little captured by some issues, could you please propose a fix to this?
Or in any case I will come back to this point as soon as possible.
Thank you again.

[2016-04-13 14:59] #22 closed

[2016-04-13 15:00] #34 closed

[2016-04-13 15:01] gioblu commented on #33
We can consider the wiki page now satisfactory?

[2016-04-13 15:01] gioblu commented on #41
@aperepel Compliments. Reading your progress.

[2016-04-13 15:04] #44 closed

[2016-04-13 15:17] domonetic commented on #51
I do not transmitting to Mars, but yes, to the rest of the world, I am amateur radio. The idea is digitalize a rotor antenna to find the position and display it in my rack. The transmit antenna (interference) is about 50cm cable distance, the control logic will be shielded by the rotor casing. Also as another serious interference that the power line is 24VAC.
I use arduino PROMICRO be 5v.

[2016-04-13 15:24] gioblu commented on #51
Fantastic, compliments :+1: !!!
Happy to know we have a radio amateur in the PJON community (I am attending the courses to get the call-sign here in Italy!). Do you have some sort of result with communication or you get absolute absence?  Are you using PJON or PJON_ASK implementation?

Possible fixes:
- Different power source
- Diode before power feeding to Arduino
- Pulldown resistor on the trans

[2016-04-13 15:29] gioblu commented on #51
@domonetic try also to use a Nano/Duemilanove/Uno to clarify if the problem is the board itself or the rest.

[2016-04-13 15:40] domonetic commented on #51
Great, I am LU4HNE when you have it we connect. Or if you do operational practice let me know.
I do not even armed myself because I have two scenarios to test. Before i need correct a minimal problem with movement of pot.

1. Potentiometer reading the crown
2. magnetometer or external Compass

And send readings to the base station and display

Also, you can send that want to position degrees, and

[2016-04-13 15:46] gioblu commented on #51
Seems really an interesting project. When you will be working on it feel free to ask support here.
And if you want to share it done, soon we will release PJON's website where we will showcase some projects by the users. Happy tinkering.

[2016-04-13 15:47] gioblu commented on #51
@domonetic soon follows addon on the wiki as you requested.

[2016-04-13 15:55] gioblu commented on #41
@aperepel Where you think would be more appropriate to showcase this tool for troubleshooting or analysis?

[2016-04-13 16:10] aperepel commented on #41
Analysis for troubleshooting :) It's a great tool to visualize the actual protocol, but also helps find timing issues once things are connected. I'm leaning more towards analysis, as it will be not the only tool for troubleshooting, but an important one in a toolset.

[2016-04-13 16:25] gioblu commented on #41
Fantastic, compliments again. Maybe my english overflowed :) but I meant where we could embed a link to your work inside the PJON's repo documentation / wiki

[2016-04-13 16:30] aperepel commented on #41
Sure, I see. I would personally link to it somewhere from an introductory page where it describes the protocol in details - e.g. it helped me immensely once I saw what was going on on the wire. I found that troubleshooting page is very useful, but has tons of information, the link could be lost. Or maybe link from both :)

[2016-04-13 16:43] gioblu commented on #41
https://github.com/gioblu/PJON/wiki/Troubleshooting

[2016-04-13 18:17] gioblu commented on #51
Hi @domonetic , I am still working on it, but you can already take a look: https://github.com/gioblu/PJON/wiki/Deal-with-interference

[2016-04-13 19:08] domonetic commented on #51
Magnific!!.
In buses rs485 are used TVS or diodes in opposition
This suppresses transient voltages, used olso in ADC systems

        ^ +vcc
         |
        [=] DIODE
         |
PIN -------------- BUS
         |
        [=] DIODE
         |
        --- GND

You think you can work here?

[2016-04-13 19:25] gioblu commented on #44
Switched to Apache 2.0.

[2016-04-13 19:46] gioblu commented on #51
Never tested this approach. Can you please explain more clearly? I would be sure to have understood the circuit diagram!

[2016-04-13 20:13] domonetic commented on #51
![adc_hw](https://cloud.githubusercontent.com/assets/4523833/14507816/e47a2944-019a-11e6-89ee-b1709bdcc3c8.gif)
![4705-01_fig06](https://cloud.githubusercontent.com/assets/4523833/14507840/03b090b4-019b-11e6-8bd6-ea33aa307df8.jpg)

[2016-04-13 20:15] domonetic commented on #51
first. This method is used on inputs of home alarms
Second. More eficient protection used in rs485 buses.

[2016-04-14 12:32] gioblu commented on #51
Ciao @domonetic can you check in the new page wiki that, what you suggested is correctly explained?

[2016-04-14 13:57] domonetic commented on #51
Good!! im preparing my RF test. when it done i upload a video.

2016-04-14 9:32 GMT-03:00 Giovanni Blu Mitolo <notifications@github.com>:

--
El que pregunta aprende, y el que contesta aprende a responder.

No a la obsolecencia programada:
http://www.rtve.es/noticias/20110104/productos-consumo-duran-cada-vez-menos/392498.shtml

Linux User #495070
http://domonetic.com/blog

[2016-04-14 14:10] gioblu commented on #51
@domonetic Fantastic. Feel free to open an issue here to showcase your work. We will manage to add it in the application examples made by the contributors and users like you. Thank you again for your support and passion! (I will for now close this issue because seems we reached a satisfactory result)

[2016-04-15 17:46] domonetic commented on #51
hear a prototype
https://youtu.be/UtZoIAoqQns

Tomorrow the real test.

[2016-04-16 18:32] sticilface opened #54 "Use of interrupts?"
I completely understand your desire to implement this entirely in software.  This is more of a theory question.  I have not tried to implement it yet as I've not got pjon working on ESP8266 just yet!  but here goes..

The ESP8266 wifi has to be serviced every so often, otherwise you get a crash.  polling a pin for 1ms constantly is not the 'most' efficient thing to do, and would hold up wifi.  Is

[2016-04-16 20:29] sticilface commented on #38
I'd also like to ask for 160Mhz support.  I always run it at that speed, would that be difficult to add?

[2016-04-17 00:11] gioblu commented on #54
Ciao @sticilface !
I don't see any limit using PJON inside a interrupt callback, if you can give it a try!
Thank you for compliments, if you like spread the voice :+1: !

[2016-04-17 00:19] gioblu commented on #38
Ciao @sticilface, if you want to try to implement it, is not so complicated:

- Look in Timing.h, add the 160Mhz condition following the file format
- Add the new timing setup.

To find the correct timing you need only to be sure to have a functional setup with the STANDARD mode between an Arduino and an ESP. If you have a way to measure the bit duration of your ESP in STANDARD mode, you will only

[2016-04-17 00:33] gioblu commented on #51
@domonetic I saw the video, compliments!!!! I am really curious to see the final result.

[2016-04-17 08:48] olehs commented on #51
@domonetic, the first pircture with protective diodes shows these diodes are already a part of the AVR (which is also described in Atmel's datasheet part about I/O pins internal protection).
As far as I understand, you suggest adding extra diodes for protection, right?

I also heard about PTC and Zener diode protection of IO pins, but don't really know if this approach is suitable for PJON protoco

[2016-04-18 17:29] domonetic commented on #51
The PTC do not know if they work, the zener often cut off or slow pulses. It
is best to use tvs or high speed diodes. I think a couple of diodes helps
maintain healthy inputs and is not much to add them.

I simple tests with 15 meters of cable. but still it raining in my city and I
can not even try with rf

2016-04-17 5:48 GMT-03:00 olehs <notifications@github.com>:

--
El que pregunta aprende, y

[2016-04-18 22:16] sticilface opened #55 "Arduino -> ESP8266 communication."
I've been struggling with this for a whole day, and I'm not sure what to do.

Logic is working. See osillyscope, correct signals, correct voltages.  I've got 2 arduino nano's communicating.  One using BROADCAST, the other receiving. Using STANDARD mode. ESP8266 is 80Mhz.  If I write a sketch that attaches an interrupt it detects the pulses.. and seems like the correct timing... but I have no debug

[2016-04-18 22:57] sticilface commented on #55
So adding a print to the receive byte function gives me this
[code]
and what this should say is this
[code]

so it is receiving and kind of there... just not quite..

[2016-04-18 23:03] sticilface commented on #55
OK.. got it working
[code]

[2016-04-19 10:07] gioblu commented on #55
CIao @sticilface
So you fixed changing the Timing value.
Which ESP you are using? Which clock and toolchain?
Are the standard examples working with the standard Timing?

[2016-04-19 10:09] #54 closed

[2016-04-19 11:14] sticilface commented on #55
Need to check. Basically this is receive only and my sketch. Need to test sending. There may be an issue with functions being cached to flash on arduino esp. They are by default. And this causes delay at the start. Icache_ram_attr needs to be added. I'll see though.

[2016-04-19 15:04] gioblu commented on #55
Ciao @sticilface you are right. I should probably have considered this in my answer to you above.
Please, to be sure all is alright, try the test sketches to be sure to have a stable communication in the standard scenario in the first place.

[2016-04-19 16:18] thomsna opened #56 "Auto addressing sometimes finds duplicate addresses"
The ARP implementation sometimes finds duplicate addresses.
Tested with 5 slave Arduinos (Pro Mini) reporting their address to a master.

I rolled my own ARP for a project – the way I implement it is having all slaves send their randomly generated address to a master, along with a UID (randomly generated 32-bit integer). The master just looks for duplicate addresses if any, and sends a new address

[2016-04-19 19:59] sticilface commented on #55
so I've just spent the entire evening battling!!!  I could get the receive to work on the arduino, but just not the send.   major debugging.. took me all through the code... checking the different methods you have for pin writing... which were all fine... in the end it was because the pin was busy... oscilloscope out again... and indeed the ESP would write to the pin when it was pulled down.. but

[2016-04-19 20:31] sticilface commented on #55
I've managed to get the OVERDRIVE mode working between the ESP8266 and an arduino nano
Absolute com speed: 3216.00 B/s |Practical bandwidth: 2680.00 B/s |Packets sent: 1340.00 |Mistakes 2.00 |Accuracy: 99.85 %

but this is only with the ESP8266 in receive.
If i run the speed test on the ESP8266 I get wdt reset...

[2016-04-19 20:43] gioblu commented on #55
Hi @sticilface. Yes, the pull-down resistors necessity is a known issue described in the ESP wiki page.
I considered you already passed there I am sorry.

In any case, good result :)

`OVERDRIVE` mode is there to let the users run the architecture at its maximum speed regardless compatibility, so max speed ESP to ESP. In my opinion if you want to contribute looking for still not implemented timing

[2016-04-19 20:45] gioblu commented on #55
@sticilface Can you please tell me if you have a correct communication also with the Timing setup is actually in the master version? Why you changed from 44 to 46?

[2016-04-19 21:13] sticilface commented on #55
I did read the wiki, but i'm just using raw ESP8266, so no extra pull down, as you suggested then requires the 2K not the 10K.  nonetheless I have it working now..
ESP8266 to Arduino, and back
[code]

so correct me if I'm wrong.  FAST is still platform independent whereas overdrive requires the same platform.  I just thought the ESP should be able to do the fastest, but i see you point.  reserve O

[2016-04-19 21:14] sticilface commented on #55
I've also modified the speediest, to be async, as a 10second while causes wdt.  Using interrupts also seems to work pretty well on the ESP.

[2016-04-19 21:42] Makuna commented on #55
With the latest Esp8266/Arduino, the ram attribute works even on C++ files.
Something to note, all software pin IO on Esp8266 runs at 8mhz update, you can see this if you toggle a pin in a loop and look at it on a logic analyzer (or oscilloscope that captures).  If you try to go faster, you may loose pulses.

[2016-04-20 02:54] gioblu commented on #55
Ciao @sticilface now I understand, I thought your setup was NodeMCU. I never tested a raw ESP.
So you proved a raw ESP to be compatible. :+1:

If you are interested to make a pull request with your changes I will ask you some questions:
- Do you have a NodeMCU, to perform a comparison test and to test mutual compatibilty?
- Do you think is possible in `Timing.h` to conditionally define timing for

[2016-04-20 03:22] gioblu commented on #56
Ciao @thomsna happy to hear from you here.
So, the issue you are reporting has been detected with extended tests, and this can happen if you startup devices in the same time and they generate a very similar initial delay duration.

I totally agree with you that with a master slave scenario, ARP is much easier and less critical to achieve.

I am locally testing various approaches. The one that seem

[2016-04-20 14:09] thomsna commented on #56
I tried to generate a better seed for randomSeed(), as I need unique 32-bit numbers for my project.

On the Arduino Pro Mini there are 8 ADCs – reading from them all, and giving those numbers to a hash function seems to generate some pretty good data. I was able to generate [~20000 unique numbers](http://pastebin.com/raw/Qc56Dnjc) with no duplicates, until I stopped the readings.

This function ta

[2016-04-20 23:23] gioblu commented on #56
Yes if it has a good performance could for sure help the random delay problem, and also open up the possibility to switch to random id search strategy instead of the actual implementation, that is for sure slower and less efficient.

[2016-04-20 23:27] gioblu commented on #56
The duration can change, because of the analogRead duration, that (can be modified in the sketch), by the clock rate, the MCU and architecture. So, should be designed a universal way to accomplish this, from ATtiny to ESP. (for example ATtiny has only 3 analog input, and running at 8Mhz can be slower to compute the function).

[2016-04-22 18:12] MichMich opened #58 "Unable to receive data when interrups are being used."
Since I want to use PJON for a stepper motor project, I need to use interrups. The interrups make sure the motor runs, while the main runloop is free for other tasks (like receiving any network communication).

Unfortunately, PJON is unable to receive any messages, while the interrupts are active. If I disable the interrups, everything works fine.

Any idea how to solve this?

I'm using https://gi

[2016-04-22 18:58] MichMich opened #59 "Unable to send zero."
I'm trying to send a byte value as a payload. Any value works, except 0. A zero won't be broadcasted (checked it with a scope.)

Works:
[code]

Doesn't work:
[code]

[2016-04-22 20:03] gioblu commented on #59
Ciao @MichMich, yes this is an issue. if you send a single byte, the value 0 is not transmitted.
I am now near to release the 2.1, probably tomorrow, with many corrections and bugfixs, then I will dig in this direction.

[2016-04-22 20:05] aperepel commented on #59
Curious why 2.1? Did I miss the 2.0 release? The last listed for me is 2.0-beta, but I don't see the GA.

[2016-04-22 21:04] gioblu commented on #59
Ciao @aperepel ! You are of course right, 2.0 stable version
I found some other little issues but I have to test back all with all the architectures.

[2016-04-22 21:07] gioblu commented on #58
Ciao Mich, my suggestion is to try to use interrupts on the bus, to detect the incoming packet or a initial HIGH you can generate, before transmitting, and detach the interrupts are now messing with PJON, for the time you need to receive or transmit.

[2016-04-23 00:36] gioblu commented on #59
Maybe how this condition is formulated: `if(!*string) return FAIL;`
https://github.com/gioblu/PJON/blob/master/PJON.cpp#L212
Can't test now but will soon give you feedback.

[2016-04-23 01:28] gioblu commented on #49
To be fixed in 2.0 stable

[2016-04-23 01:39] gioblu commented on #56
Ciao @thomsna, I am testing this side. But I can't replicate this bug.
Can you please paste here the code in which id duplication occurred?

It is possible you forgot to call the receive() function in loop after id acquisition?

[2016-04-23 03:54] gioblu commented on #32
CRC8 table-less implementation will be added in 2.0 stable.

[2016-04-23 03:56] sticilface commented on #59
Think you are right. The pointer is dereferenced so it checking the first character. Removing the star should fix it.

[2016-04-23 04:12] gioblu commented on #56
https://github.com/gioblu/PJON/commit/dd36899cc6e39f54f9c996df4973546dc82988dc

[2016-04-23 04:12] #32 closed

[2016-04-23 04:12] #49 closed

[2016-04-23 04:21] gioblu commented on #59
I tested and you are right :+1:  fixed.

[2016-04-23 04:21] #59 closed

[2016-04-23 04:33] gioblu commented on #49
@aperepel fixed.
Now should be more easy to be used on platformio.

[2016-04-23 21:10] rajdarge opened #60 "STM32F103R"
Hi there :)
Been trying to compile this library on a STMF103RB,  ARM Cortex-M3 MCU,
[http://www2.st.com/content/st_com/en/products/microcontrollers/stm32-32-bit-arm-cortex-mcus/stm32f1-series/stm32f103/stm32f103rb.html](url)
similar to the teensy, due. Better known on the [http://www.stm32duino.com/](url)  site as the "blue pill"
unfortunately it doesn't compile. It does compile on the ESP8266 12F

[2016-04-23 21:42] aperepel commented on #60
Hi @rajdarge !

Yes, if timing for the board wasn't defined, it would cause those compilation errors. This is done via a lot of trial and error, testing and tools.

For the packet length, consider that this is a very low-level chunk of data, which will get retransmitted if channel is busy, etc. It is also held in a rolling memory buffer until acknowledged by a receiving party. You probably don't w

[2016-04-24 00:06] rajdarge commented on #60
Thanks for the response:)

I'm expecting that the timing tools are beyond my level of expertise at the moment.
However there are plenty of people at STM32Duino that could be of help in this regard. I can put up a library request or you quite welcome to ask for help as there a number of people with a great deal more skill than I. Those numbers: are they at all dependent on what device is listening

[2016-04-24 07:22] zoomx commented on #60
Timings are defined in Timings.h
They are only four values 'BIT_WIDTH' , 'READ_DELAY', 'BIT_SPACER' 'ACCEPTANCE'
They depends on clock and mode.

For a initial test you can have a timings.h made of only these four values, I believe that they have to be close to the ones of ESP8266 and Arduino zero. So you can use a timings.h like this only for STANDARD mode

[code]

[2016-04-24 19:25] thomsna commented on #56
Hi @gioblu, sorry for the late reply. It's possible that I omitted to call the receive() function, so I've been testing the auto addressing again this afternoon, just with the example sketch.

It seems to behave incorrectly this time.
With 4 slaves, the master is receiving 2 1 1 1 2 1 1 1 2 1 1 1 ...

Can you replicate this?

[2016-04-25 09:45] gioblu commented on #60
Ciao @rajdarge.
I am happy to see that other users and contributors already gave you good indications for this porting.
How it's going?

[2016-04-25 09:45] gioblu commented on #56
Ciao @thomsna I am testing will soon give you feedback.

[2016-04-25 11:48] rajdarge commented on #60
will test today. PH in aus :)

[2016-04-25 12:56] gioblu commented on #60
You still get compilation errors?

[2016-04-25 13:15] rajdarge commented on #60
yes, I'm not sure what the Compiler is calling my Board. It works fine for the esp8266

[2016-04-25 14:11] gioblu commented on #60
Clear. Which sort of framework / toolchain you are using for STM32F103R?

[2016-04-25 14:13] gioblu commented on #60
I am not sure is the toolchain you are using but, you should take a look inside the hardware directory:
i.e. https://github.com/frankpolte/stm32duino/blob/master/hardware/Arduino_STM32/STM32F4/cores/maple/boards.h#L124

[2016-04-25 16:16] gioblu commented on #56
Ciao @thomsna, I discovered that the random delay was not executed correctly. Thank you for your report. So I discovered the possibility of executing (obviosuly) only in the setup or loop functions.
For this reason I defined a new method: `begin()` as other protocols have. This function has to be called in the setup before any other function call to the PJON bus instance (all documentation has bee

[2016-04-25 21:17] gioblu commented on #58
Ciao @MichMich, 2.0 is finally out stable.
How your experiments went with the strategy proposed?
Happy tinkering :+1:

[2016-04-25 21:49] gioblu commented on #51
Ciao @domonetic how its going with the rotor antenna experiment?
2.0 stable is finally out, give it a look! :)

[2016-04-25 21:51] #33 closed

[2016-04-25 21:52] gioblu commented on #51
Ah and if you can tell me if you consider the wiki page satisfactory and so this issue solved.

[2016-04-25 21:56] #43 closed

[2016-04-25 22:13] sticilface commented on #55
PS.  I've just got PJON receive working on the TEENSY 3.1 (not checked SEND yet.)

Makuna has mentioned that on AVR, the timer for micros() can have a variable resolution of 2,4 or even 8 micros.  That might be why there is so much change with the micros between boards.  worth a mention, i thought.

[2016-04-25 22:33] gioblu commented on #55
Fantastic!! Would be amazing to personally test.
Thank you for your support.

Check 2.0 release :+1:

[2016-04-25 22:34] gioblu commented on #55
@sticilface interesting i lost that about resolution, it's an intelligent consideration.

[2016-04-25 22:41] Makuna commented on #55
http://www.arduino.cc/en/Reference/Micros
see the end of the first paragraph ;-)

[2016-04-25 23:24] rajdarge commented on #60
The hardware reference I was using was this one. I might need to post something on stm32duino asking for help.
[STM  Hardware](https://github.com/frankpolte/stm32duino/blob/master/hardware/Arduino_STM32/STM32F1/boards.txt)

[2016-04-25 23:32] gioblu commented on #60
I don't know which board you have and which options in the boards menu but, you should look if `build.board` of your case is defined:

i.e. https://github.com/frankpolte/stm32duino/blob/master/hardware/Arduino_STM32/STM32F1/boards.txt#L201

[2016-04-25 23:43] rajdarge commented on #60
first thing i tried :(

[2016-04-26 05:59] rajdarge commented on #60
Ok that didn't work either. But there another issue with
PJON::initialize()
https://github.com/gioblu/PJON/blob/master/PJON.cpp#L72
references analog pin A0 which does not exist on STM32F1
![maple mini](https://cloud.githubusercontent.com/assets/11167188/14808073/c1ebf1de-0bc5-11e6-8294-a4b74a8424b6.png)
These are the pinouts. for the board PB3 is the equivalent.
I suppose something like this will

[2016-04-26 06:06] zoomx commented on #60
Use PB0, A0 was used in the original Maple Mini board and it was not used anymore because all the other boards has printed the real STM32 pin name.

[2016-04-26 11:24] gioblu commented on #60
Ciao @rajdarge, yes you are right. Pin mapping is necessary.
There we can also define A0 as PB3. If you need help I could try to write it for you also if I don't have now a chance to test it.

[2016-04-26 12:21] domonetic commented on #51
So far so good, I'm testing the magnetometer gives me a headache, so I open in
case of finding any error.
But with 15 meters of cable does not give any communication problems

2016-04-25 18:52 GMT-03:00 Giovanni Blu Mitolo <notifications@github.com>:

--
El que pregunta aprende, y el que contesta aprende a responder.

No a la obsolecencia programada:
http://www.rtve.es/noticias/20110104/productos-

[2016-04-26 13:23] domonetic opened #61 "extend range with rs485?"
my installation it is very extensive. I'm about to try using PJON as protocol, but using rs485 like interface.
Analyzing the code I see very optimal to send commands as I need.
I'm trying to control remotely access a door, which sent a command it must receive a state when someone accesses through a RDIF tag.

I have some questions:

The master (data collector) should send commands long variables.

[2016-04-26 16:00] gioblu commented on #61
This is really interesting.
Please explain me more in particular which risks you see using analogRead on pin 0.
Do not use NULL terminator strategy to determine data length. Is not safe, if a 0 is transmitted in your datastream can be detected as the end of the string. Use always the length of your data to determine its end. Maximum determination can be a solution,

[2016-04-26 16:02] gioblu commented on #51
Good send us a video! I am so curious to see your application!
Happy tinkering.

[2016-04-26 18:16] domonetic commented on #61
When using analogRead after setup the pin is configured as analog, and if i use this pin as digital can fail.
I do not understand the rest.
In theory if the package is right one, I can know the length of the data received?
If send 5 byte and access to position payload [6] what happens?

[2016-04-26 19:23] gioblu commented on #61
Yes you can. If you read out of the variable, if I am not mistaken, you will read the rest of the memory.

[2016-04-26 20:02] domonetic commented on #61
rest of the memory between MAX_LEGHT_PACKET. out of this vector cause error or freezzing

[2016-04-27 05:20] rajdarge commented on #60
I think I also need to change this line to
` #if F_CPU == 72000000L`

[2016-04-27 06:20] gioblu commented on #60
Ciao @rajdarge, I passed to the thread you opened. 1-Wire GPIO strategy actually seems interesting and I am studiyng it to see if we can apply the same strategy mantaining the same support we have now. In any case, observing more closely the actual digitalWriteFast I probably started noticing parts of the mentioned complexity. Soon will be committed a refactored version.

Thank you for your valuab

[2016-04-27 07:35] MichMich commented on #58
I've been checking out this solution, but still PJON seems to have to much of an impact on my stepper motors. I'm trying some other solutions now to see if I can get better results.

[2016-04-27 21:45] rajdarge commented on #60
Ok, so the addition of that line allowed the timing.h file to work for my particular chip.
Now I need a bit of help on the pin mappings:
i am using what you used here:
[digital write fast](https://github.com/gioblu/PJON/blob/master/digitalWriteFast.h#L164)
as a template beginning with:
` #if defined(__STM32F1__)`
I think this is the document that will help the most in order to translate the pins:

[2016-04-28 08:00] zoomx commented on #60
STM32F1 have 3 ports, A, B and C. Every control 16 pins instead of only 8 as in 8bit MCU.
But many pin have special functions
You can see a pinout here
[https://cdn.hackaday.io/images/1925191437063394286.png](url)
It is a red pill but the pins are the same as a blue pill

[2016-04-29 12:50] gioblu opened #62 "Device presence confimation bit"
Ciao! Its a week I am reasoning to experiment the addition of a device presence confirmation bit after the receiver device id transmission. So the receiver should set the bus HIGH only if the packet is for its ID, giving confirmation of presence on the bus to the transmitting device. This addition would add a bit of overhead per packet, but would extremely reduce the bandwidth occupation when a de

[2016-04-29 13:13] #51 closed

[2016-04-29 15:02] aperepel commented on #62
Such a protocol change would require versioning introduced into a handshake. Can you share what ideas you had around that? E.g. negotiate automatically, set the protocol version in begin(), etc?

[2016-04-29 17:19] gioblu commented on #58
Maybe tihs is missing in the PJON codebase:
https://www.arduino.cc/en/Reference/NoInterrupts

Thank you for your report. I am studiyng a solution

[2016-04-30 07:07] Makuna commented on #52
I have some technical advice on how you can achieve this goal.  I will try to contact you out of band for discussion.

[2016-04-30 07:46] Makuna opened #63 "A single Sketch being a Transmitter and Reciever...."
I tried putting together a sketch that both transmits and receives; and it doesn't seem to work.

[code]
I confirmed the wiring works with your example, but I could not find an example that could be both a sender and receiver.

[2016-04-30 08:29] sticilface commented on #47
Would I be right in thinking that if this was possible on an arduino you could upload sketches to it by pjon. This would be amazing, as I planning to deploy a load of custom arduinos, on custom pcbs (not designed yet) but reprogramming is an issue!!

[2016-04-30 10:25] gioblu commented on #47
Yes correct, would really be an amazing functionality, I am digging. .

[2016-04-30 10:31] gioblu commented on #63
Ciao @Makuna, if you can please post the entire sketch you tested.

I think that maybe the issue is because of the Serial library (hardware) using interrupts, `Serial.read()` mode could affect PJON timing and my suggestion is to try to use `SoftwareSerial`.

In 2.1 interrupts will be probably paused using `noInterrupts()`  in the transmitting and receiving functions not to affect bit timing, and r

[2016-04-30 10:36] gioblu commented on #63
@Makuna you are right I will soon add a doubleBlink example where two devices will both send and receive a packet.

[2016-04-30 10:37] gioblu commented on #63
see https://github.com/gioblu/PJON/issues/58

[2016-04-30 10:47] gioblu commented on #61
Ciao @domonetic how its going?

[2016-04-30 11:15] gioblu commented on #62
Ciao @aperepel, this Standard optimization (if technically achievable) would provide so better results, to bring useless the use of the old version of the Standard, and in this case I would suggest the update an all devices running PJON. Probably for now and the future I would run as default the latest PJON Standard protocol version, giving the chance to the user to set through `begin` which older

[2016-04-30 11:19] gioblu commented on #52
Ciao @Makuna it will be a pleasure to hear from you! gioscarab@gmail.com

[2016-04-30 11:23] gioblu commented on #60
Ciao @rajdarge, I am near to push the refactored version of digitalWriteFast, still testing all the compatible architectures (quite long procedure). How it's going the porting?

[2016-04-30 11:25] gioblu commented on #55
Ciao @sticilface, would you share the modifications you made to port TEENSY to add it to the master version?

[2016-04-30 11:29] domonetic commented on #61
This weekend I try . I've had a tough week

-----Mensaje original-----
De: "Giovanni Blu Mitolo" <notifications@github.com>
Enviado el: ‎30/‎04/‎2016 07:47
Para: "gioblu/PJON" <PJON@noreply.github.com>
CC: "Maximiliano Duarte" <maximiliano.duarte@gmail.com>; "Mention" <mention@noreply.github.com>
Asunto: Re: [gioblu/PJON] extend range with rs485? (#61)

Ciao @domonetic how its going?
—
You are rec

[2016-04-30 15:11] Makuna commented on #63
Below you will find the complete sketch.  It uses my task library (GitHub/Makuna/Task) which does not use interrupts.
I am only reading one char at a time and only if its present in the buffer.
You might be right about interrupts; which in the long term will be problematic on Esp8266 as the core WiFi does not like having the interrupts disabled for longer than a few micro seconds.  And as another

[2016-04-30 15:37] gioblu commented on #63
Ciao @Makuna. I don't think it is necessary the usage of a task manager for this example, you could simply call `instance.send(10, "B", 1, 1000000); // Send "B" every second` `instance.update();` and `instance.receive();` in the loop but if you need one, I would suggest you to use Agenda: https://github.com/gioblu/Agenda I developed for High Altitude Balloon flight computer and for my PJON home au

[2016-05-01 18:29] gioblu commented on #63
Ciao @Makuna, I added the examples as you requested, see https://github.com/gioblu/PJON/commit/2a7a3571de0ac7009069ad258d14f9685ce3c2a7

[2016-05-01 22:55] #63 closed

[2016-05-04 12:27] gioblu commented on #52
Thanks to @Makuna suggestions I am developing the new framework for physical layer strategies based on templates and quite a new codebase, so the user will be able to easily develop its own strategy or use the proposed ones, also instancing multiple instances of PJON with different communication strategies / media

[2016-05-04 14:27] agsb commented on #52
great news!

[2016-05-04 14:28] agsb commented on #52
Consider add me to group;

[2016-05-04 21:37] gioblu commented on #52
Ciao @agsb! Soon will come the release, what you mean about the group?

[2016-05-05 14:13] agsb commented on #52
hello,

If you need any extra beta tests and followups, maybe some code too, i
would join.

best regards.

On Wed, May 4, 2016 at 6:37 PM, Giovanni Blu Mitolo <
notifications@github.com> wrote:

--

*"Sling and move continents, a rock at time.*"

[2016-05-05 15:19] gioblu commented on #52
for sure, I am finishing to document and create correct examples to the version I am locally developing. Soon will come the new release. I need still minor checks.

Sincerely thank you for you support to the project.

[2016-05-06 03:03] gioblu commented on #52
Ciao @agsb you can find it now unreleased in master, if you can make some tests would be highly appreciated! :+1:

[2016-05-06 03:22] #52 closed

[2016-05-06 03:24] gioblu commented on #61
Ciao @domonetic, now PJON supports 2 pins, I think can be useful for this experiment :+1:
Take a look to the 3.0 beta now released.

[2016-05-06 04:22] #55 closed

[2016-05-06 04:23] gioblu commented on #55
Thank you for sharing :+1:

[2016-05-06 09:23] domonetic commented on #61
I see it and test.

-----Mensaje original-----
De: "Giovanni Blu Mitolo" <notifications@github.com>
Enviado el: ‎06/‎05/‎2016 00:24
Para: "gioblu/PJON" <PJON@noreply.github.com>
CC: "Maximiliano Duarte" <maximiliano.duarte@gmail.com>; "Mention" <mention@noreply.github.com>
Asunto: Re: [gioblu/PJON] extend range with rs485? (#61)

Ciao @domonetic, now PJON supports 2 pins, I think can be useful for

[2016-05-06 19:35] domonetic commented on #61
Wow!! is incredible change. I've only seen the code and it really is very neat and advanced programming.
My congratulations.
Right now, I go along with the RS485 interface to put into practice.

[2016-05-06 19:44] domonetic commented on #61
I think it would take in version 2 pin an output toggle to switch RX / TX.
If the pin is assigned to transmit put the output high

[2016-05-06 20:46] gioblu commented on #61
Thank you :+1:

What you mean?

If the pin is assigned to transmit put the output high
I can't understand what you mean!

[2016-05-06 21:05] domonetic commented on #61
in rs485(max485 or 75175) chip to Transmit in simplex you need put pin 2&3 to high. And receive data put 2&3 to low. Because otherwise, sending you get an echo

[2016-05-06 21:52] gioblu commented on #61
So if I am not mistaken you are reporting the necessity of passing both pins to the strategy functions to have the chance to correctly implement RS485?

[2016-05-06 22:22] domonetic commented on #61
Yes

-----Mensaje original-----
De: "Giovanni Blu Mitolo" <notifications@github.com>
Enviado el: ‎06/‎05/‎2016 18:52
Para: "gioblu/PJON" <PJON@noreply.github.com>
CC: "Maximiliano Duarte" <maximiliano.duarte@gmail.com>; "Mention" <mention@noreply.github.com>
Asunto: Re: [gioblu/PJON] extend range with rs485? (#61)

So if I am not mistaken you are reporting the necessity of passing both pins to the

[2016-05-06 22:25] gioblu opened #67 "Modifications to support interrupt-driven strategies"
Ciao! I am still testing 3.0-beta but already considering which modifications are necessary to have a nominal functionality with a strategy using an interrupt driven procedure. The first thing came out speaking with a friend is the necessity of the `SENDING` state for the packets where interrupt calls are already attached. Feel free to share you consideration.

[2016-05-06 22:28] gioblu commented on #61
You are right, thank you for the report. I will now test the effect of this modifications and push it.
Question, you would implement this by yourself or you would use another library inside your strategy?
You want to use interrupts?

[2016-05-06 22:55] domonetic commented on #61
Interruptions no.
you can use a strategywith toggle pin. Is more clear.
It is simpler. Send or Send_byte the function must switch to Tx while a data is sentand back immediately to RX.
Why do I do outside? Because if I have packets periodicals as send(44, c, 1, 1000); I can not have control of the TX / RX line.
It is also important that the library has control over delays to rehear correctly.

Excu

[2016-05-06 23:53] gioblu commented on #61
So if I understood correctly you would use a software emulated bit bang strategy to emulate rs485 through a PJON strategy.

If you are implementing your strategy and you need to read the pin, inside the send_byte function, you can. WIth the modification you proposed, both pins will be passed to the strategy and so you will be able to define your dedicated function inside the strategy where to do w

[2016-05-07 03:20] gioblu commented on #61
https://github.com/gioblu/PJON/commit/2c6fe7f0caf01459c3083f68378f02ffc6cadd65

[2016-05-14 23:18] fredilarsen opened #70 "SendAndReceive example fails with OverSampling via wireless"
Using PJON 3.0 beta as of 2016-05-13.

To me it seems that sending messages in both directions like this works over a wire but not wirelessly.

Having set up two Arduino Unos with a wireless sender+receiver each, I have changed some of the examples from using SoftwareBitBang to OverSampling, and changing set_pin(12) to set_pins(6,7). The SpeedTest and NetworkAnalysis samples work perfectly over th

[2016-05-15 03:13] gioblu commented on #70
Ciao @fredilarsen. Thank you for your report. What sort of rf modules you are using?
I will today test it and give you feedback.

[2016-05-15 09:25] fredilarsen commented on #70
Hi, and thanks for the fast feedback.I am using cheap modules from eBay. I bought these in receiver+transmitter pairs for less than a dollar a pair.The transmitter is named FS1000A and the receiver is named XD-RF-5V. They use 433MHz and run directly on the 5V output from the Arduino board.
Regards,Fred Larsen

Date: Sat, 14 May 2016 20:13:13 -0700
From: notifications@github.com
To: PJON@noreply.gi

[2016-05-15 12:25] fredilarsen commented on #70
Here is a picture of the modules used:
![image](https://cloud.githubusercontent.com/assets/7693974/15273976/a316f5f0-1aa8-11e6-9df4-b0205589fd00.png)

[2016-05-15 14:02] gioblu commented on #70
Ciao @fredilarsen! Thank you for the detailed report. I am testing it now.

[2016-05-16 10:38] gioblu commented on #70
Ciao @fredilarsen. Testing with a couple of wires I detect the same problem also on the blink example.
I have the sensation that:
- One of the two pins state for OverSampling strategy is working against it, creating interference.
- Some sort of eletrical interference is affecting the bus only when you send seldom, maybe pull down resistors could be required.

Further testing this afternoon.

[2016-05-16 13:58] domonetic commented on #61
My apologies for the delay.
It is simpler but my C ++ is very bad and not doing
must inherit from SoftwareBitBang and override the send_byte function to enable transmición (DTR), but the methods must be defined as virtual in a base class and inherit these in each strategy, so inheriting code is saved only as needed

_Mis disculpas por la demora.
Es mas simple pero mi C++ es muy malo y no se hacerl

[2016-05-16 14:13] domonetic commented on #61
![shieldrs485](https://cloud.githubusercontent.com/assets/4523833/15291999/31b1eafa-1b57-11e6-83a9-bbaa9eddf82e.png)

[2016-05-16 22:01] gioblu commented on #61
Ciao @domonetic! Happy to see you going forward with this.
If I got correctly what you mean, you want to extend SoftwareBitBang class with your new rs485, you need to redefine send_byte, but at the same time you need the old version : ), right?

[2016-05-17 01:45] domonetic commented on #61
Yes. Only need add set to high pin dtr, send byte and set to low the pin dtr.
If you see is simple to implement. But why implement all methods?.
If inherited only send_byte can call the ascent.

Do you understand?

-----Mensaje original-----
De: "Giovanni Blu Mitolo" <notifications@github.com>
Enviado el: ‎16/‎05/‎2016 19:01
Para: "gioblu/PJON" <PJON@noreply.github.com>
CC: "Maximiliano Duarte" <m

[2016-05-17 02:51] gioblu commented on #61
Clear, you are right virtual in SoftwareBitBang is necessary.

to access to the base class method see:
http://stackoverflow.com/questions/10177809/c-extend-inherited-functions
I am not sure self:: is right, but more probably SoftwareBitBang??

I will have to run the tests for all the architectures to be sure not to brake nothing, that now become quite long so, I will make this modification in the

[2016-05-17 04:29] gioblu commented on #70
Ciao @fredilarsen after extended tests I identified the lack of io pin setup for correct bidirectional communication. The bug has been fixed but I still have to test on all architectures this changes.
Thank you again for your report.

[2016-05-17 04:29] gioblu commented on #70
Will be soon released in 3.1

[2016-05-17 06:27] fredilarsen commented on #70
That is good news! I can assist in testing with Arduino Nano, Uno and Mega, with direct wire connection and with the above mentioned Wireless modules. The more testers, the merrier? :-)

[2016-05-17 13:19] domonetic commented on #61
As I said, my c ++ is bad, I am programmer Object-Pascal and I did not find
how. now I got it.
In delphi there is a class inheritance, which new items are released. To
json should be so.
virtualizing base class methods that will possibly be overwritten for other
platforms, using a single timing.h.
This mode reduces significantly and more extensible code. Besides the
communication
process will be a

[2016-05-17 18:17] gioblu commented on #61
It's not interfering but supporting with passion. Thank you for your suggestion.
Let me experiment a little with your codebase.

[2016-05-18 03:01] gioblu commented on #70
Ciao @fredilarsen I pushed the modifications. I now am able to run the SendAndReceive example nominally. This opens up a lot of applications and seems, performance is now comparable `SIMPLEX` mode.

[2016-05-18 15:58] gioblu commented on #70
If you can test it woulld be great to validate this fix also with your hardware

[2016-05-18 16:01] gioblu commented on #61
CIao @domonetic, thank you for your precious suggestions. I worked yesterday to completely abstract the physical layer of out PJON.h (pinModeFast, digitalWritFast) and also to create the necessary strategy's methods. I think there is still the lack of a init_transmission() to set the pinMode.
After this little addon, having a complete setup, I will start experimenting with the approach you propose

[2016-05-18 17:43] domonetic commented on #61
Wow, You are very fast.
Please let me help you test

2016-05-18 13:01 GMT-03:00 Giovanni Blu Mitolo <notifications@github.com>:

--
El que pregunta aprende, y el que contesta aprende a responder.

No a la obsolecencia programada:
http://www.rtve.es/noticias/20110104/productos-consumo-duran-cada-vez-menos/392498.shtml

Linux User #495070
http://domonetic.com/blog

[2016-05-18 19:04] gioblu commented on #61
Now Would be amazing to test the actual nominal functionality of:
- ESP8266 to ESP8266
- ESP8266 to Arduino Duemilanove or Uno or Nano or Mega
- Teensy to Teensy
- Teensy to Arduino Duemilanove or Uno or Nano or Mega

I would have a good tests resolution to be sure :)

After a double check I will also do in tonight and tomorrow, I would finally dedicate some time to this issue you proposed and to

[2016-05-20 09:22] fredilarsen commented on #70
I changed all included tests to the OverSampling strategy, and all tests now run successfully on the Uno clone with the wireless modules. Great work!

Unfortunately I am not able to run tests on my other board types at the moment.
I have been fighting with Windows 10 because the Mega now comes up as an unrecognized USB device. Installing the driver from ch341ser.zip does not help. Reinstalling the

[2016-05-20 12:44] gioblu commented on #70
Thank you @fredilarsen for discovering and reporting this issue,  :+1:
Happy tinkering!!

[2016-05-20 12:46] gioblu opened #71 "What do you think about the new logo?"
Ciao guys. I finally added the PJON's logo in the main readme.
What do you think about it? You like it?

[2016-05-20 12:47] #70 closed

[2016-05-20 14:33] aperepel commented on #71
Looks good, but be careful with gradients, they don't print well. Maybe have a b&w version of it or go for a few clear colors?

[2016-05-20 14:35] gioblu commented on #71
CIao @aperepel, its a while I was not hearing from you. How it's going?
Absolutely right! Take a look to the wiki, I added the new illustration we worked for months!! Hope you like!

[2016-05-20 15:01] aperepel commented on #71
Still around, and watching the PJON progress. Bit busy with work projects and Raspberry Pis recently (isn't it exciting?) :)

I bet implementing an RPI support for PJON would be interesting, but non-RT timing nature of linux might make it difficult. But hey, I2C and SPI work on RPI, so maybe maybe...

[2016-05-24 01:36] gioblu commented on #71
Ciao @aperepel, absolutely, this is the next phase.
I now have pushed something quite extensive, if you can give it a try.

[2016-05-24 02:01] gioblu commented on #70
Ciao @fredilarsen, I released 3.0 stable that contains the bus id implementation to enable a shared media communication with other channell less transceivers. Thanks to this rule is not only possible to share a medium with neighbors, but also network with them and enhance connectivity for free.

[2016-05-24 02:07] gioblu commented on #61
Ciao @domonetic, I am finally back.
I have released the 3.0 stable version with a quite extensive update. Take a look, I would be happy to know what you think about it. Now I think I have some time to try to help you / implement for you this strategy. Happy tinkering :+1:

[2016-05-24 02:08] gioblu commented on #62
I for now close this issue and consider in the future its implementation.

[2016-05-24 02:08] #62 closed

[2016-05-24 15:55] ictabc commented on #47
Have a look at [Tine Safe Boot](http://jtxp.org/tech/tinysafeboot_en.htm). Maybe that will give you some ideas.

[2016-05-25 22:56] #71 closed

[2016-06-01 00:45] zsq19958629 opened #72 "I need help: serial communication"
hello everyone
I really like the library.
However, it is based on single wire communication.
And my equipment works in the serial port (Uart:RX, TX) dual mode.
Excuse me, is there a way to let the library run in a two - line communication mode?
PS: my first language is Chinese, English is Machine Translation. I'm sorry!

Hardware：Arduino UNO

[2016-06-01 11:41] gioblu commented on #72
Ciao @zsq19958629, you can configure the library to use 2 pins:
https://github.com/gioblu/PJON/wiki/IO-pins-setup

And also you could write your own strategy based on Serial:
https://github.com/gioblu/PJON/wiki/Strategies

If you need support, write me back here

[2016-06-01 11:46] zsq19958629 commented on #72
Thank you very much for your reply.
I'll try and hope to solve the problem.
If you can't meet the requirements I need, I'll come back and ask for your advice.
Thank you very much.

[2016-06-01 11:47] gioblu commented on #72
Sure!! Happy tinkering :+1:

[2016-06-01 11:52] gioblu commented on #47
@ictabc this is really cool, thanks!

[2016-06-04 12:42] gioblu commented on #72
Ciao @zsq19958629, hope your tests were positive. I close for now this issue, feel free to ask!

[2016-06-04 12:42] #72 closed

[2016-06-09 00:27] vincent-bruel opened #74 "MKR1000 compatibility"
Hi,
First of all thx for your amazing work !
I've the following error when trying to use the library with an Arduino MKR1000:
SoftwareBitBang.h:95:27: error: 'SWBB_BIT_WIDTH' was not declared in this scope

Do you plan to release/port this library for Arduino MKR1000 ?

I've tried to #if defined(__ARDUINO_MKR1000__) in Timing.h
but this is not the right define of course.
May be you know where I ca

[2016-06-09 08:06] gioblu commented on #74
Ciao @vincent-bruel. Thank you so much.
I think the main issue is:
https://github.com/gioblu/PJON/blob/master/strategies/SoftwareBitBang/Timing.h#L100

As far as I know Arduino Zero mounts the same MCU of MKR1000.
We should find where and how the indentifiyng constant is defined in the Arduino IDE codebase.

i.e. `defined(ARDUINO_SAMD_ZERO || ARDUINO_SAMD_MKR1000)`
Then should be determined if the

[2016-06-09 21:15] vincent-bruel commented on #74
Thanks you so much for your help !
I will give it a try :)

[2016-06-09 21:21] vincent-bruel commented on #74
I have also made a patch to digitalWriteFast.h (+Timing.h)

[2016-06-10 12:35] gioblu commented on #74
Good so you were able to get it working? :+1:
Feel free to make a pull request to share your code with other PJON's users.

[2016-06-10 16:49] vincent-bruel commented on #74
Not yet, I think i've got a hardware problem (seen that on oscillo).
But the coding was easy, due to bus.set_receive(func) and filtering action on first command char, as in the examples of the lib.
It will take a few days before I can change the bogus level shifter, due to some WAF :)
Anyway I will let the community know the result.
For the pull request I've never done that, but life is nothing bu

[2016-06-13 09:24] buzzvertising opened #75 "Analog ports as in/out pins for PJON"
Hi Giovanni,

Is there an issue using the analog ports as pins for PJON?
I've put bus.set_pin(A4); on you samples and there is no way to make it work.

Do I miss something? I there a workaround?

Regards, Mircea

[2016-06-13 15:30] thomsna commented on #75
Hi @buzzvertising, I've had no problems setting A4 as a bus pin on Arduino Pro Minis.

[2016-06-13 20:23] gioblu commented on #75
Ciao @buzzvertising ! Can you tell me which hardware you are using?
On some architectures the standard timing values present in `Timing.h` can be not compatible on some pins. Bit-banging the same squarewave with different group of pins like `PORTC` or `PORTD` with a good oscilloscope can let you visually see how different they can be, doing the same with different architectures will be shocking, s

[2016-06-13 20:28] gioblu commented on #74
Good luck! and feel free to ask support!

[2016-06-14 08:16] buzzvertising commented on #75
Ciao @Giovanni,
I'm using some Chinese clone of Arduino Uno. (DCcEle DCcduino UNO)
But they are installed on an an extension board and the A4, A5 pins have each a 1.5K pullup resistor. I did not consider this as a problem as I use them for I2C and they work fine.

So, I just have tried with two plain Arduino's and it works fine on analog ports:
Starting 1 second communication speed test...
Absolut

[2016-06-14 08:28] buzzvertising commented on #75
Thank you @thomsna for your confirmation. Now it works for me too.

[2016-06-14 08:30] gioblu commented on #75
Ciao @buzzvertising, definetly, in this case timing seems not connected as I was considering.
Thank you for sharing this!

[2016-06-14 10:43] buzzvertising commented on #75
Ciao @gioblu, Solved by removing the 1.5 pull-up resistors.
Your protocol works like a charm. Thank you for a great work.
Mircea

[2016-06-14 11:32] vincent-bruel commented on #74
Hi,
I am always dealing with the hardware issue on the level shifter between the MKR1000 and the arduino MEGA.
For PJON I use 1 bus with 2 pins on each side, swapping inputs and outputs like we do with RX/TX:
At the software level with bus.set_pins(PIN_INPUT_MEGA, PIN_OUTPUT_MEGA) and but.set_pins(PIN_INPUT_MKR1000, PIN_OUTPUT_MKR1000)
At the hardware level by connecting PIN_OUTPUT_MKR1000 to PIN_

[2016-06-14 14:13] gioblu commented on #75
It is a pleasure to know that was not useless to work 5 years on this project :+1:

[2016-06-14 14:15] gioblu commented on #74
Ciao @vincent-bruel, it's a pleasure to know you going forward. Yes I agree with you, seems that the library is working nominally, or at least is bit-banging out the message you coded, but for sure 5.6v on the Arduino Mega pin is not nominal. Try to use a pull-down resistor if necessary.

[2016-06-14 14:16] gioblu commented on #75
So, I will for now close this issue, if you need support feel free to write!!
Happy tinkering :)

[2016-06-14 14:16] #75 closed

[2016-06-16 22:03] vincent-bruel commented on #74
Hi,
I didn't found my hardware problem and my project became really too complicated for my electronic skills, and also too complicated on the software part (that was a fact before I used your library), so I decided to start it from scratch, only with MKR1000 and 3.3V modules, and I don't need a serial library at this point.
Anyway I will recommend your library as it has a very fast learning curve,

[2016-06-18 19:44] Kortenbach opened #76 "Loopback"
First of all: I really like this software ! It made me wanna redo an old project...
Today I was trying to get PJON running on my Nano.
I defined 2 separate busses, both with the same ID do do a loopback test (senderID=45 rec=44).
It didn't work, but then I read that the software does'nt use an interrupt routine, so I'm wondering:
Is it even possible to do a loopback test (can the software receive

[2016-06-18 19:45] Kortenbach commented on #76
Oh, forgot to say:
I'm using bitbang strategy on pin 9 and 10 (pins tied together)

[2016-06-20 02:07] gioblu commented on #76
Ciao, @Kortenbach I'm happy to hear you tinkering with PJON. Communication with PJON works in `SIMPLEX` and `HALF_DUPLEX`, `FULL_DUPLEX` mode is not yet supported and was never before proposed or requested as a new feature :)

PJON codebase make no use of interrupts, but I am now working to optionally enable interrupt driven watchdog for incoming packets (obviously this will not be compatible with

[2016-06-20 16:03] Kortenbach commented on #76
So, loopback test cannot be done?
Op 20 jun. 2016 4:07 a.m. schreef "Giovanni Blu Mitolo" <
notifications@github.com>:

[2016-06-20 16:23] gioblu commented on #76
As far as I know a loopback test can be done only if you transmit in full duplex.
In a half duplex system while transmitting is not possible to receive, so transmitter can't hear itself on the input line physically looping back the tx in the rx.

I will soon push some modifications that will enable the complete router functionality.
Setting a device as a router will give you the chance to receive

[2016-06-20 16:26] gioblu commented on #74
Ciao @vincent-bruel, simpler is often better :+1:
I will in any case soon buy MKR1000 and give it a try :)

Happy tinkering

[2016-06-20 17:50] Kortenbach commented on #76
Hi Giovanni,

Thanks for your quick response! I hope I will be able to use your code, cuz
I really like it! Here is what I am trying to do:

I want to build a laser tag game in which every player sends his hitlist as
soon as he gets hit by another player. This may save me the trouble of
building a game server, but I don't want other players to miss any of these
broadcast messages just because the

[2016-06-20 19:07] gioblu commented on #76
Ciao @Kortenbach fantastic project!! For sure is the first time PJON is applied in such a system.

- If you disable ACK the packet could be potentially be lost forever
- If ACK is enabled the packet is resent until ACK with a cubic backoff with a maximum of 125 attempts, if the maximum is reached CONNECTION_LOST error is thrown
- With ACK disabled, to be sure not to loose neither one packet you ca

[2016-06-23 15:28] gioblu commented on #76
CIao @Kortenbach, how its going? If you are ok with it and you don't need any other info, I would for now close this issue. Good luck and feel write to write me personally if needed

[2016-06-24 17:45] Kortenbach commented on #76
Hij Giovanni,

I am still a bit confused about your last answer. How much time can the CPU
spent on doing other stuff before it will start losing messages?

Best regards,
Bert kortenbach
Op 23 jun. 2016 17:28 schreef "Giovanni Blu Mitolo" <
notifications@github.com>:

[2016-06-30 18:58] shacal opened #77 "Update does not try to send if package in index 0 is done"
I  think row 2 in update() function should be swapped from https://github.com/gioblu/PJON/blob/master/PJON.h#L536

to

This keeps update sending other packages in every loop.

[2016-07-01 11:52] gioblu commented on #77
Ciao @shacal absolutely right.
You found a bug, thank you for your report.

[2016-07-02 23:18] gioblu commented on #77
Bus fixed, I will mention your report in the next release.
Thank you again and have fun with PJON.

[2016-07-02 23:19] #77 closed

[2016-07-15 00:00] gioblu commented on #76
Ciao @Kortenbach, being every byte predended by padding bits or a header, the maximum time dedicated not to reception should not exceed `BIT_SPACER` - `ACCEPTANCE` (see  https://github.com/gioblu/PJON/wiki). How much time is this value depends on which PJON strategy, architecture and clock, see the Timing.h file of the strategy you use to find the values you need.

(I am sorry for the late answer

[2016-07-28 00:06] gioblu commented on #56
Ciao @thomsna, how are you?
I would investigate further on this side.
You still have this sort of bug?

I can't replicate it.

[2016-07-28 00:07] #76 closed

[2016-07-28 16:30] thomsna commented on #56
Hi @gioblu, I won't have time to test this further the coming month, so maybe you can close this bug in the meantime, if you can't replicate it?

[2016-07-28 17:53] #56 closed

[2016-08-08 07:50] phpfs opened #83 "PJON with only two wires"
Hello!

Can PJON be used with only two wires in total which also send the energy for the arduino?

Example:
--------- Ground
--------- 5V and Data

Thanks you :)

[2016-08-08 10:13] gioblu commented on #83
Ciao @phpfs parasitic power mode (like 1-Wire) is still not an available functionality.
What could be done to enable this over PJON is develop a strategy able to use 1-Wire as communication medium.

[2016-08-08 12:42] gioblu commented on #83
@phpfs or obviously try to develop a parasitic version of SoftwareBitBang, but it is quite a work

[2016-08-10 21:01] traverseda opened #85 "msp430 compatability"
Something I'd like to see. The low-power and low-cost nature of ti's launchpad looks nice.

[2016-08-11 11:53] gioblu commented on #85
@traverseda ciao! It seems a really interesting platform!! I didn't know it before your proposal! I will order one to try it.

[2016-08-14 18:41] MortimerNeuss opened #86 "HC-12 433MHz wireless serial module (HCMODU0054)"
Hello

I habe some trouble getting the code to perform for me on some ~~HC-11~~ HC-12 Modules.
The ~~HC-11~~ HC-12 comes with a microchip on board that allowes to put the module in three different modes (Passing-Mode, AT-Mode, IO-Mode). There is a great resource doc [here](http://forum.hobbycomponents.com/viewtopic.php?f=74&t=1678) that shows all the available command and what pins have to be set

[2016-08-14 19:08] gioblu commented on #86
Ciao Mortimer! PJON_ASK is an obsolete version of PJON integrated in The PJON repo since The 3.0 as a Strategy. In your particolar case I would use the ThroughHardwareSerial Strategy! If I understood correctly your modules can work with serial I/O. I agree would be nice to have them workin also with OverSampling or better SoftwareBitBang! I will be soon back from vacation and I will look for this

[2016-08-17 09:25] Girgitt commented on #61
Hi, Thank you @gioblu for your great work.
I'm running my home automation system on a RS485 bus and considering switching from poling-based field protocol (based on ModbusRTU@153600bps) to multi-master PJON implementation and would like to suggest simplified approach to using RS485 as a physical layer.

@domonetic - did you try so called "auto-tx" RS485 setup?  You don't need the third DTR pin if

[2016-08-17 12:47] gioblu commented on #61
Ciao @Girgitt , I see this as a quite elegant solution! I was considering to develop an rs485 dedicated strategy on my return from vacation but your proposal seems another to get away with it! Seeing so good results of SoftwareBitBang in terms of range and connected devices number, I was also considering to develop a SoftwareBitBang inverted twisted pair strategy, to emulate via software the RS485

[2016-08-17 12:53] gioblu commented on #86
Hi @MortimerNeuss have you got better results with ThroughHardwareSerial strategy? Happy tinkering

[2016-08-17 14:39] domonetic commented on #61
@Girgitt very good proposal , I will try how it works .
thanks

[2016-08-17 14:53] Girgitt commented on #61
Hi @gioblu, what a surprisingly fast response :)
The problem I have may require separate thread but in few words: ACKs do not seem to come back to the transmitting node; maybe 1 out of 50 gets through but this number may be misleading as the default MAX_ATTEMPTS 125 may be clogging up the tx once message's delivery was not confirmed interrupting next transmission attempts.

Here is the test code I

[2016-08-17 15:12] MortimerNeuss commented on #86
Not yet. But the next Weekend is coming :)
I will keep it in the back of my head though!

[2016-08-17 15:14] gioblu commented on #61
Ciao @Girgitt this is a known issue! And should obviously exposed in the issues! My miss. After a lot of testing I concluded that the problem is in the transmitter's receiver! After transmission the sensitivity is low because of the strong radiation of the transmitter near to the receiver, that will need to hear some far packets to regulate back its sensitivity to the necessary value to receive fr

[2016-08-17 15:52] Girgitt commented on #61
Thank you @gioblu for valuable hints. Receiver's (XY-MK-5V) Vcc current is within ATMEGA328P's pin's max rating; let's test that.. what may go wrong? ;) Anyway loosing third pin just to control receiver's mode may be not worth the hassle and maybe RXB8 receiver will work better without additional modifications (I will give it a try if I find it).

[2016-08-17 19:29] gioblu commented on #61
If you want to give it a try I would be inspired by the set serial implementation in ThroughHardwareSerial. So not changing the PJON code base but adding a function to the Strategy and handle it there

[2016-08-17 22:05] MortimerNeuss commented on #86
I think I got it working. I tried it this evening and it seems to did the job. It is a bit hard to debug as the RX/TX Lines are now connected to the HC-11 and therefore I have no Arduino Serial Monitor anymore, but the blinkpattern looks like device A is sending something and device B is receiving aparently an B, because it does blink too. I will hook up a 16x2 OLED Display on the Weekend to have

[2016-08-18 08:29] gioblu commented on #86
@MortimerNeuss this is a good news!! Which is the maximum range of those transceivers?? Are you using ThroughHardwareSerial ?? Happy tinkering

[2016-08-20 21:33] Girgitt commented on #61
I tested using "auto-tx" RS485 PHY with two pins configuration of the SoftwareBitBang strategy. No go. I didn't use a logic analyzer but I suspect the rx line duplicates tx data which causes interference.

However I created a sketch of a strategy with collision avoidance to enable multi-master communication through the hardware serial port over auto-tx RS485 bus.

The initial draft handles 50 10-b

[2016-08-21 01:31] chrwei opened #87 "Arduino Pro Mini 8Mhz"
it seems SoftwareBitBang/Timing.h does not have any settings for atmega328 and F_CPU == 8000000L and thus does not compile.  would copying the attiny85 values do the trick, and is there a guide for what these values mean and how to tweak them?

[2016-08-21 12:38] gioblu commented on #87
Ciao @chrwei those values are different because every architecture has its own relative timing! So every device delaying the same value produce a little different timing, for this reason every architecture needs its own values to produce the same bit duration! My suggestion is to try to measure the difference between a delay produced by duemilanove and your pro! Probably pro will need a slightly s

[2016-08-21 12:45] gioblu commented on #61
Ciao @Girgitt this is really cool! Could ThroughHardwareSerial be modified to include your modifications instead of having two really similar strategies?? I agree with you that could really be nice to bring compatible also SoftwareSerial as you proposed!! Happy to hear satisfactory results from your side! I will be in a couple of days be back working and will be able to support you directly if nec

[2016-08-21 14:58] chrwei commented on #87
I did a test using the attiny values and with an esp8266 and I got nothing at all.  I don't have a level shitfer  and this is the only 3.3V device I have.  I also was unable to get a esp-12 and a esp-01 to talk, so maybe I'm just having a separate esp issue...

[2016-08-21 20:46] Girgitt commented on #61
Hi @gioblu, You're right the ThroughHardwareSerial can be easily extended instead of making a new strategy. Collision avoidance can be activated with e.g. set_collision_avoidance(bool) setter as in other strategies.
As for SoftwareSerial support - my experience with Cpp classes may be too limited to provide proper/clean way of overriding the public *serial pointer which should either be HardwareSe

[2016-08-23 13:30] MortimerNeuss commented on #86
Hello

I spend the past weekend on the modules again and found out that they are not HC-11 but the AT-Command for the Version said it are in fact HC-12 (therefore the Edit in the Title and the Post).

To sum it up: I got no step further but learned a lot. I tried to use the HardwareSerial Mode without luck. I got the SoftwareSerial again working but very slow. Sometimes the output showed weird Cha

[2016-08-24 12:14] gioblu commented on #87
Ciao @chrwei every architecture needs its timing value as you can find in the Timing.h file (if you are using SoftwareBitBang strategy). To bring a new architecture compatible you should cons

[2016-08-24 12:19] gioblu commented on #87
(Closed the issue unintentionally,now back open) see wiki to get more info

[2016-08-24 12:23] gioblu commented on #61
Ciao @Girgitt I agree with you. I would for now extend ThroughHardwareSerial and consider collision avoidance as a possible new feature after testing.

[2016-08-24 12:25] gioblu commented on #61
@Girgitt feel free to pull request your changes or ask for support if necessary

[2016-08-24 13:17] chrwei commented on #87
yeah.  as i said, I coped the attiny values as they are both 8-bit 8Mhz AVR.  the difference is the Mini does use an external crystal.  I've no idea what these numbers mean or where I should start with tweaking them, and I don't see it on the wiki.

I've just borrowed a FIO board today so hopefully soon i can test with 2 atmega328 3.3V 8Mhz and see if that works.  I did get 2 Uno's to talk, but wa

[2016-08-24 13:21] chrwei commented on #87
BTW, my goal was to have an ESP and several Minis on the same bus, with the ESP acting as a web gateway.  is this a reasonable and achievable goal?  I have the gateway code done in theory, just can't test it if I can't get the devices to talk.

[2016-08-24 13:23] gioblu commented on #87
Ciao @chrwei every architecture produces slightly different delays asking for the same delay to be produced. This can be easily detected with an oscilloscope and two different architectures or the same with a different clock setup. So a new, correct timing setup has to be found for a new architecture to work nominally and has to be added in the timing.h file, the architectures / setups you are spe

[2016-08-24 13:26] gioblu commented on #87
@chrwei yes it's for sure achievable result. the general issue on esp Arduino interfacing is to find the correct pull down resistors to be coupled with the level shifter.

[2016-08-25 10:22] Girgitt commented on #61
Hi @gioblu, I started coding a python client for PJON protocol [PJON-python](https://github.com/Girgitt/PJON-python) and when I'm done with it - including unit and functional tests with hardware - I'll issue a pull request with modified serial strategy.

[2016-08-26 23:50] chrwei commented on #87
got the Fio v1 and the Pro Mini hooked up with short jumpers, no breadboard. both are 328p 3.3V 8Hz.  using pjon 4.2, local, network analysis example I'm getting nothing with the Uno timing or the attiny timing.  the [troubleshooting guide](https://github.com/gioblu/PJON/wiki/Troubleshooting) says zip about what these timing values mean and no hints at all about how to tweak them.  I don't have an

[2016-08-27 09:38] gioblu commented on #87
You are trying to interface two devices were still never tested with PJON.

Speaking about the result of your tests see https://github.com/gioblu/PJON/wiki/Troubleshooting#interference :

Interference
* **Channel detected busy many times.**
* Many mistakes detected by CRC.
* Low or absent communication speed.

Device avoids to transmit over noise to ensure correct communication, when the medium is

[2016-08-27 12:45] chrwei commented on #87
can you really not see how that's a 10 mile overview and says nothing at all about what i should do?

what I'm hearing you say is that without an o-scope and a deep understanding of the protocol there's no way I'm getting this to work.

[2016-08-27 13:47] gioblu commented on #87
Ciao @chrwei
You are right, for sure for now, there is not a guide for new architecture porting, and for sure you needed a more articulated answer, but I was in the only two weeks of inactivity due to vacation, so here I am back :). I tried to give you some suggestions if you want to try to do it by your own, probably I should have been more practical:

Without an oscilloscope you have two ways to

[2016-08-27 14:31] gioblu commented on #86
Ciao @MortimerNeuss , yes the errors you detect are raw errors / interferences. The faster you transmit the higher is the chance to get interference, in general with radio signals.

Seems the hardware you are using is compatible only with SoftwareSerial? Do you have any HardwareSerial working setup?

If no, probably this could be the reason and a ThroughSoftwareSerial strategy could be necessary t

[2016-08-28 23:20] chrwei commented on #87
to make sure I understand, I run the first on the Uno, and the 2nd on the Mini with a level shifter, and tweak the bit width for the mini until the uno's serial shows 40?  if so, 40 and 112 on the mini produce 40 and 112 on the Uno's output, which makes sense since they both use a crystal of about the same tolerance, just different Mhz.

Am I right to assume that READ_DELAY is the time it takes to

[2016-08-28 23:29] gioblu commented on #87
Ciao @chrwei happy to hear from you with perseverance!
READ_DELAY is there to give you the chance to tweak the position of the reading, that could need to be necessarily moved due to different code execution time of the two architectures / same architecture with different clock rate. My suggestion is to try to tweak READ_DELAY. Probably, ATmega328 with a 8Mhz clock needs more time to roll the PJON

[2016-08-28 23:31] gioblu commented on #87
@chrwei answering to your first answer, yes they will generate a different delay time, because of code execution time, and so on. Personally tested many architectures have really strong difference, see timing differences in Timing.h file

[2016-08-29 22:27] chrwei commented on #87
how hard would it be make a test version that would try different values in some intelligent manner to locate the best value autonomously?

[2016-09-01 11:38] gioblu commented on #87
Ciao @chrwei, what you are speaking about is moving (in the graph below) from a bottom left Strategy, or transport layer to a top left self clocked one (like 1-Wire):

![3967table01](https://cloud.githubusercontent.com/assets/764497/18165544/211a52a6-7046-11e6-8e8d-53e90eb6ca7d.gif)

I think it is a nice idea, and could provide the community with a faster to interface "plug and play" bus transport

[2016-09-01 12:56] chrwei commented on #87
I was thinking something more like a discovery system to get values that produce some results and then could be manually tweaked in.  either with a PC based program that talks to both sides or have the 2 talk over ttl serial and save the result in eeprom to be read later.  4 variables and lots of compiling is very tedious, but if the first 100 or so iterations were automated it would really speed

[2016-09-01 13:31] gioblu commented on #87
Yes @chrwei , I agree with your point. #define let you have a really fast variable access time. Instead using a variable unkown at compile time makes all the calls to the low level functions, quite slower.
Would have been nice to instance the strategy passing its timing values to let a simple sketch find the correct values, but it would have a slower maximum throughput because of the issue describ

[2016-09-03 21:54] Matheus-Garbelini opened #89 "Porting PJON to C (To support limited devices)"
Hello. Are there any planning in doing a lightweight version of this library?. Currently i'm porting to C only SoftwarerBitBang startegy.

[2016-09-04 00:08] gioblu commented on #89
CIao @Matheus-Garbelini happy to hear from you, would be amazing to have PJON available also in C.
I would ask you as I asked to Girgitt, that is developing the python version, to mantain the same sort of license, and obviously acknowledge the PJON Standard copyright in your files.
Feel free to write me personally for support.
Take a look to the repo because soon will be released 5.0-beta!

[2016-09-05 17:22] buzzvertising opened #90 "SoftwareBitBang - Interrupts messing with the message content?"
Hi Giovanni,
I'm using your library to make a series of devices communicate.
Here is the code for two of them:
https://codeshare.io/otiat
https://codeshare.io/cNdWX

The problem is that both id and state value I'm sending gets random values on the receiver end.
Is this still an issue with the interrupts or I am missing something.

Best Regards,
Mircea

[2016-09-05 17:32] gioblu commented on #90
Ciao @buzzvertising happy to hear from you. The best test to determine if the problem is the interrupt interference issue is to run the same sketch with the ThoughHardwareSerial strategy that uses interrupts and should not be affected by them leveraging of a different detection procedure!

Which version of the repo you are using?

[2016-09-05 19:32] gioblu commented on #89
Ciao @Matheus-Garbelini Take a look to the official specification of the Padded jittering da link implimenented by the SoftwareBitBang and OverSampling strategies:
https://github.com/gioblu/PJON/blob/master/strategies/SoftwareBitBang/specification/padded-jittering-protocol-specification-v0.1.md

Here the specification for the PJON protocol layer:
https://github.com/gioblu/PJON/blob/master/specific

[2016-09-06 04:53] buzzvertising commented on #90
Ciao Giovanni,
I'm using PJON v4.1 as latest repository was reporting some errors on compiling. Was easier to  downgrade to get rid of errors :)
I'll follow your advice update to latest PJON and use ThoughHardwareSerial. I'll come back with a report.
Thank you for your support and time.
Regards,
Mircea

[2016-09-06 11:37] gioblu commented on #90
Ciao @buzzvertising  Its a pleasure to help, let me know your results

[2016-09-06 14:20] #67 closed

[2016-09-06 14:21] gioblu commented on #67
Closed because the issue is solved with the completion of the data link layer abstraction.
i.e. now PJON can run thourgh serial or any other interrupt driven data link layer

[2016-09-08 17:26] gioblu commented on #58
Ciao @MichMich take a look to version 5!
So I would close this issue, because it is a documented known issue related to the SoftwareBitBang and OverSampling strategies. With the addition of strategies, now ThroughHardwareSerial enables to have flawless communication with those devices where interrupts are vastly used. The development of other interrupt compatible strategies will offer a wide selec

[2016-09-08 17:26] #58 closed

[2016-09-08 18:08] gioblu commented on #41
Ciao @aperepel how its going?
Have you considered to update the analyzer to be compliant with the 0.3 specification?

[2016-09-08 18:11] gioblu commented on #61
Ciao! Its is sad to close this issue, because one of the most interesting.
Is the use of ThroughHardwareSerial + rs485 modules solving this issue?

[2016-09-10 17:05] gioblu opened #91 "OverSampling - HALF_DUPLEX mode with reduced range"
Ciao! It's a while I am trying to fix this issue locally, but seems this is harder than expected. I am trying to enable HALF_DUPLEX mode with a couple of cheap ASK/FSK 315/433 modules. After various tests seems the receiver is saturated by the transmitter, so its sensitivity is lowered, and the sync ACK can not be received correctly at far distances, SRX885 in particular has a CS pin that should b

[2016-09-13 05:10] dvv opened #92 "Proteus simulation - Sudden comm problem"
Hi!

Do not know if it is PJON's issue but still if I add

[code]

right after https://github.com/gioblu/PJON/blob/master/examples/Local/SendArbitraryValues/Transmitter/Transmitter.ino#L28 the communication stops:

[code]

Wonder how to fix that?

TIA,
--Vladimir

[2016-09-13 06:40] gioblu commented on #92
Ciao @dvv could you please tell me the version of PJON, which board you are using for communication (both) and which strategy you are using?

[2016-09-13 06:51] dvv commented on #92
5.0.0 via arduino lib manager, both nano328p16MHz.
Oh, forgot to mention I ran tests in proteus.
They work until I add the mentioned line. And if I comment out either of prints, it still works.

[2016-09-13 12:04] gioblu commented on #92
Ciao @dvv the problem is the example itself :) and in this case, my fault.
This should work fine:
[code]
 So I am saving the pointer to the packet in the setup and I use it in the loop to detect if was delivered and if was schedule it to be sent again! The method send, includes a packet in the buffer and will try to send it at the first update call.

I will soon publish a fix to this reported inco

[2016-09-13 12:39] dvv commented on #92
Yes, `if(!bus.packets[packet].state) {` seems a bit of snooping.
Thank you! I'll wait for the example updated.

[2016-09-13 12:58] gioblu commented on #92
You can also call `send_repeatedly(id, content, length, timing)`
i.e. `bus.send(44, content, 3, 1000000);` to send the packet every second.

Soon update release.

[2016-09-13 23:42] gioblu commented on #86
CIao @MortimerNeuss finally thanks to the work of girgitt, ThroughHardwareSerial, is now ThroughSerial and supports the use of both Serial and SoftwareSerial. Give it a try: https://github.com/gioblu/PJON/tree/master/strategies/ThroughSerial

Simply pull from master (still unreleased)

[2016-09-14 00:21] gioblu commented on #92
Ciao @dvv I have made some tests. As always I take for granted to have made a mistake.
Seems the proposed sketch is working nominally, and the packet is sent once per second as it should, the snooping is obviously not necessary and the packet sending procedure is ok (so I erase a part of my answer not to mislead users).

Analizing better the data you submitted seems transmitter is affected by, pot

[2016-09-14 00:35] #61 closed

[2016-09-14 00:37] gioblu commented on #14
See https://github.com/Girgitt/PJON-python
Try PJON on python running on a raspberry :)

[2016-09-14 14:05] gioblu commented on #92
Ciao @dvv Could you please run this test again with the addition of a pull down resistor on the bus line?

[2016-09-14 17:07] dvv commented on #92
Mmm, I believe there're no noise in lines in proteus. But I'll do, sure.

[2016-09-14 17:42] gioblu commented on #92
Ciao @dvv I missed the fact you are simulating on Proteus.
I never tried to simulate with it, and I am sincerely not sure if is it able to be coherent at microsecond resolution with the bits produced by a single task non concurrent program. Instead Proteus runs in a system where there are multpiple threads running together at the same time, this could lead to malfunction. There is also the chance

[2016-09-14 17:59] gioblu commented on #92
@dvv try switching Strategy from SoftwareBitBang to ThroughHardwareSerial

[2016-09-14 18:29] dvv commented on #92
Well, time accuracy I believe to be _the same for all_ chips involved (both tx and rx), hence I doubt the second assumption.

[2016-09-14 18:33] gioblu commented on #92
Ciao @dvv Every architecture produces a slightly different trace if looked with an oscilloscope (with SoftwareBitBang and OverSampling). This because every architecture executes the PJON codebase with a different pace because of their differences (clock, processor, other software running i.e. an operative system). Infact, as you can see in the TIming.h file, the timing values are different on arch

[2016-09-14 18:45] dvv commented on #92
What I do know that it simulates quite well bitbanged 1-wire and I believe 1-wire's timings are quite tight enough.
Again, I do not insist this is a PJON issue and have said in my very first sentense.
Wonder if someone else could as well confirm/void simulation suspection.

[2016-09-14 19:32] gioblu commented on #92
Ciao @dvv I will make some tests with it tonight.
Thanks for sharing.

[2016-09-14 19:40] MortimerNeuss commented on #86
Thank you for the update, I will check it out after Dinner. Nice Contribution!

[2016-09-15 05:14] gioblu commented on #92
Ciao @dvv see https://github.com/gioblu/PJON/commit/be9d7ed9d5e5f4f8665b67b3063bc9b11dec98f1

[2016-09-15 18:00] MortimerNeuss commented on #86
Ciao

I'm really stuck. Somewhere somehow I must be missing a crucial point.
Maybe you can give me your thoughts on my situation:

I'm currently running the following code on two Arduino Nano with a serial connection to the HC-12 Modules. I modified the code in a way that the LED's should blink when a B was received from either module. One Module is has the ID 33 and the other 66.

`
//HC-12 messe

[2016-09-15 19:26] gioblu commented on #86
Ciao @MortimerNeuss seems you should cross the serial pins? rx -> tx and tx -> rx?
Seems you are also using the Serial object and not SoftwareSerial, be sure of the modules configuration, of the correct Serial type and the baudrate. Obviously both modules should be free from usb connection to avoid to influence the experiment.

[2016-09-15 19:54] gioblu commented on #86
@MortimerNeuss would be more effective to start with the use of this sketches:
https://github.com/gioblu/PJON/tree/master/examples/Local/ThroughHardwareSerialBlinkTest
modified to use the correct Serial type, and see if it blinks :)

- module configuration (baudrate, serial type)
- Serial object and baudrate set in the sketch
- Avoid usb connection during test
- Clarify following tutorials / video

[2016-09-15 20:55] MortimerNeuss commented on #86
After your first reply I sat back at the table, cleaned up the code and switched from Serial to  SoftwareSerial again as ThroughSerial now accepts SoftwareSerial. Previously HardwareSerial of course only accepted the original Serial. This is working fine now. Yet, using the Hardware-Serial is still not working for me somehow. I will try the Sketch from your second post on the Weekend.

Here is the

[2016-09-15 21:25] gioblu commented on #86
@MortimerNeuss Fantastic! This is a great achievement :). Great experiment.
Would be nice to add some documentation and maybe if you agree with it the gif you made (or maybe if you have a second a brief one more explanatory) to the ThroughSerial wiki, and to the examples a working example documenting your result. When you have a second could you mimic one of the proposed examples, test its nominal

[2016-09-15 21:27] gioblu commented on #86
Shocking you made it work in 12 hours after I pushed an unreleased version of this strategy ;)

[2016-09-15 22:16] gioblu commented on #90
Ciao @buzzvertising have you got some results? Need some support?

[2016-09-16 02:35] gioblu commented on #89
Ciao @Matheus-Garbelini how its going?

[2016-09-16 23:30] Radiusxe opened #93 "Is possible to use two strategies in one sketch?"
Hi,
is possible to use two strategies in one sketch? I need to send data over SoftwareBitBang (Arduino A to ESP) and to use OverSampling to receive data (Arduino C to Arduino A).

Currently I don't know, how to make second instance of PJON, it is not possible right? Is there some kind of solution?

Very thanks Radius

[2016-09-17 00:02] gioblu commented on #93
ciao @Radiusxe Absolutely, possible :)

[code]

[2016-09-17 00:10] gioblu commented on #93
And so beautiful things like
[code]

So every packet travelling in the wire will be mirrored on the radio

[2016-09-17 16:18] Radiusxe commented on #93
Hi,
great very thanks.

Radius

[2016-09-17 16:18] #93 closed

[2016-09-20 16:09] MortimerNeuss commented on #86
I would love to help you out with Demos and General Wiki-Contribution, sure!
I've played with the code a bit longer and have currently a hard time pushig out the data and understanding the correct types. For Example the PacketInfo and the informations in it. When I Serial.print them out, I can read "33" e.g. but when I try to send it to [my LCD](https://github.com/gadjet/1602-OLED-Arduino-Library/

[2016-09-20 17:04] gioblu commented on #86
the send function receives an array of characters so something like:
[code]
If the type is `char` and there is `[]` you are speaking of an array of characters.

See the SendArbitraryValues example: https://github.com/gioblu/PJON/blob/master/examples/Network/SendArbitraryValues/Transmitter/Transmitter.ino

Speaking about the receiver_id in the packet_info we are spaking about a byte. You can print

[2016-09-20 17:31] gioblu commented on #86
CIao @MortimerNeuss see above answer and about the pseudocode I missed before:
[code]
This is working and tested code with the actual master!

[2016-09-20 17:31] Matheus-Garbelini commented on #89
Sorry for the delay. I managed to get it working, but it's in a older version (4.2), and i'm thinking in updating it and running more tests on it before posting it completly with examples included, code cleaned up and such on.
As i'm working on it in parallel with the project i'm doing, the porting is being naturally implemented.

If you have interest in looking how it is right now, you can give a

[2016-09-20 18:03] gioblu commented on #89
Ciao @Matheus-Garbelini I am reading your work.
Fantastic! It is an honour to see PJON implemented in C. :)

Please feel free to ask for all the support you need to keep it compliant and interoperable with the other compliant tools.

If I can give you a suggestion I would consider the use of a constant to define which strategy you want, something like #define SOFTWARE_BIT_BANG true

if SOFTWARE_BI

[2016-09-20 18:08] gioblu commented on #89
@Matheus-Garbelini consider that your implementation should:
- be licensed as PJON is so with Apache 2.0
- If you can, mantain a sort of Standardization and so follow the project structure of PJON, see PJON-python: https://github.com/Girgitt/PJON-python
- Remember to include the acknowledgment
- Include specification (see PJON-python)

Would be nice if is ok for you to switch to PJON-C instead of

[2016-09-20 18:25] Matheus-Garbelini commented on #89
Thank you, i will update it with the corrections. Also, I tested it with, with the c++ implementations and it works fine, c++ and c implementations works together.

So, my idea was to allow just one instance for testing purpoises, As it is now, the memory footprint is around 3kB in a 32bits system with optimize for size option checked.

When i finish the porting, i will cleanup it and include the

[2016-09-20 19:26] dvv commented on #92
I've tested _the master_ with a pair of tranceivers (ids switched):

[code]

The comm not performed -- https://gyazo.com/1e7980b6e57fa12243a11305aa65796f.
I noticed the line stays high after the first burst -- is it expected?

[2016-09-20 21:37] MortimerNeuss commented on #86
I still dont get the packet_info.receiver_id type part:
[code]
As you can see, sometimes I get a ! and sometimes a B. I guess when I see the B, that means that it must be the first char of the Byte Notation B00100001 (dec=33). I tried out Binary to int dec converter but got only the ! back. I tried casting packet_info.receiver_id to an int, to a String, to a Char-Array. It might be that the OLED-D

[2016-09-21 02:06] gioblu commented on #92
Ciao @dvv I am happy to see you digging.
I dont see how the line can remain up after transmission:
- The last bit of ACK is 0
- The first action of receive_byte is to pull down the line https://github.com/gioblu/PJON/blob/master/strategies/SoftwareBitBang/SoftwareBitBang.h#L101

So in what ever case, on both sides the line should end up down after transmission.

I am now testing with a couple of d

[2016-09-21 12:14] gioblu commented on #86
Looking at the documentation of LiquidCristal library i think you should use:
[code]

[2016-09-21 12:15] gioblu commented on #86
yes, @MortimerNeuss should be the right call.

[2016-09-21 13:29] MortimerNeuss commented on #86
Sadly, I dont use a standard Liquid Cristal Display but an OLED Display. Because of that I'am using [this](https://github.com/gadjet/1602-OLED-Arduino-Library/blob/master/OLedI2C.h) lib. As you can see, I am very limited on what I can feed into the Display:

[code]

Do you see what would match the type or what would be the easiest way to cast?

Thank you so much, you are really helpfull!

[2016-09-21 13:30] MortimerNeuss commented on #86
Ups, I think I unwillingly closed the thread _/

[2016-09-21 13:58] gioblu commented on #86
Ciao @MortimerNeuss, I am sorry, reading back all I see that simply the library you are using doesnt support to send an integer. The solution proposed above could be a solution but is not efficient as the use of the simple itoa function:
[code]

[2016-09-22 09:48] Darksecond opened #94 "Dynamic Addressing"
I was wondering if there is a way to dynamically assign addresses with PJON, instead of statically assigning them.

[2016-09-22 12:34] gioblu commented on #94
Ciao @Darksecond, It is a feature scheduled to be added soon! :), we are now working on master-slave auto addressing, with the addition of a new class to be used on the master and some changes on the original PJON class.

[2016-09-27 01:15] Matheus-Garbelini commented on #94
This is awesome. Currently i have to use series switches (relays) to auto address slaves by their relative position to the master: The bus pass in series by each slave relay, whose can cut the communication to the next slave. When the circuit power up. All slaves cut the next line, but when the master configures the first, the slave open the line to the second and so on... just an idea.

[2016-09-29 00:57] gioblu commented on #94
Ciao @Matheus-Garbelini How is the C porting going?
Speaking about this issue, we are working on a master-slave with multi-master fallback in absence of master. Using a new class `PJONMaster` that inherits `PJON` and adds the master functionality. On the other side in `PJON` has been added the slave functionality necessary for the exchange:

[code]
`rid` = random generated 4 bytes unique identifie

[2016-09-29 01:21] Matheus-Garbelini commented on #94
Hello gioblu, still working on it and doing more test. i Believe it will be nice next month.

Thank you a lot by this feature, it looks very great. Also could you also add an optative callback that masters or slave execute on auto addressing success? It would be useful to make decisions on every new registration, possibly enabling interaction with an external peripheral that could be also interact

[2016-10-02 00:42] gioblu commented on #94
@Darksecond, @Matheus-Garbelini, see https://github.com/gioblu/PJON/blob/master/specification/PJON-dynamic-addressing-specification-v0.1.md

[2016-10-02 20:12] gioblu commented on #94
Ciao @Darksecond @Matheus-Garbelini  here is the example:
https://github.com/gioblu/PJON/tree/master/examples/Network/MasterSlaveAutoAddressing

Here the file: https://github.com/gioblu/PJON/blob/master/PJONMaster.h

Please if you can give it a try, I would be happy to know your opinion and test results.

For now the Master is able to get a device disconnected only the first time it will try to sp

[2016-10-02 22:04] gioblu commented on #94
@Darksecond @Matheus-Garbelini extracted in PJONSlave: https://github.com/gioblu/PJON/commit/a667d8860398c2cf95c602229b82a1498abfa4ea

[2016-10-05 11:52] fastriker opened #96 "ThroughSerial and ESP8266"
Hi,
I get the following error message when I include the PJON library  and want to compile for an ESP8266 board.
[code]

My minimum example:
[code]
Regards,
Kai

[2016-10-05 16:49] gioblu commented on #96
Ciao @fastriker. Recently we added the compatibility for SoftwareSerial, that is included in the top of the file. To fastly fix the problem on your side, add in the libraries directory an implementation of SoftwareSerial for you architecture, i.e. : https://github.com/plerup/espsoftwareserial

I will evaluate how to avoid this for the ESP user, thank you for pointing out.

[2016-10-06 14:17] gioblu commented on #96
The problem should be fixed with: https://github.com/gioblu/PJON/commit/074612f931eada6fa0c987424555f388ea9692a6

Is duty of the user to include and declare the sort of Serial he needs :)
I don't know why I forgot there a static inclusion.

Thank you again.

[2016-10-06 14:45] fastriker commented on #96
Nice :) No matter

[2016-10-06 14:46] #96 closed

[2016-10-06 19:30] Elbas opened #98 "Error compiling: 'SoftwareSerial' has not been declared"
Hello,

I am experimenting with making a wireless network with RF modules on my Arduino for home automation, and stumbled upon this library. As far as I can see for now, its exactly what I am looking for. Great work!

But.... When I try the example on the wiki ( https://github.com/gioblu/PJON/wiki ), I get the following error message:
[code]

It can be some sort of stupid mistake or misunderstandi

[2016-10-06 23:58] gioblu commented on #98
Ciao @Elbas the linked commit above should fix this issue.
Generalizing the setter parameter type to `Stream` should avoid this error.

Thank you so much for pointing out, and for your compliments :)
Try to pull master version and give it a try!

[2016-10-08 02:43] MortimerNeuss commented on #86
Ciao Giovanni
I have some days off and ways able to work a bit more on my submission for your wiki, but I am htting once again some problems.

I created a small initial "bootsequence" to get more structure in my experiment ([GIF](http://imgur.com/K5YyIRc)). The Problem sometimes is, when I start both modules at the same time, they will not listen to one another. I need to reset one to make them pi

[2016-10-08 10:37] Elbas commented on #98
Changed the lines in my local library. That solved the issue.
Data transfer by wire is going as expected.
Thank you!

Next issue to tackle is the range of the RF modules (like 50cm/20inch max on quick experiment), but thats not a topic to discuss here.

Keep up the good work!

[2016-10-08 11:11] #98 closed

[2016-10-08 19:35] gioblu commented on #86
Ciao @MortimerNeuss, coud you please try to isolate in which case the reset necessity occurs?

Speaking about the `PACKETS_BUFFER_FULL` error, it is quite strange.
It seems not possible for this error to be received running the code you attached, because the `BROADCAST` packet is considered sent at the first try, and for how is constructed your code it seems impossible to accumulate packets until

[2016-10-13 17:43] gioblu commented on #92
Ciao @dvv, could you give a try to it with a different strategy to see if the problem occurs also in that case, could help to clear out this issue

[2016-10-15 20:40] gioblu commented on #94
Ciao @Darksecond @Matheus-Garbelini have you got any test of this new feature?

[2016-10-17 09:21] Darksecond commented on #94
haven't gotten the chance, sorry!

[2016-10-18 16:19] Matheus-Garbelini commented on #94
Sorry for the delay. Planning to test next week!!

[2016-10-19 20:12] dterweij commented on #46
Would that be my problem?
How do i send this:

`
String celsius;
celsius = (float)raw / 16.0;
// example:   the string holds:   celsius = "23.36"

bus.send(44, "Hello" , 5);
`

How to send celsius without  the compile errors (mixing/converting int/string things)...

[2016-10-20 14:52] gioblu commented on #46
Ciao @dterweij would be nice to add support to string type.
We are now in the process of release a new version. Will soon dedicate some time to this, if you have a fix proposal feel free to share. Thank you for pointing out.

[2016-10-20 17:07] dterweij commented on #46
Right now I solved it this way:
[code]

But as a add more temperature sensors later I have to send a ID like:

A 12.45 B 23.34 C -2.53

Now that my sender is working, I am working now at the receiver Arduino with Ethernet Shield. It directly stores temperatures into a MySQL database.

I needed to use 2 Arduino's because the receiver did had a to big sketch. (mysql, ethernet, ntp  libs).
Soon I con

[2016-10-20 19:30] gioblu commented on #46
Ciao @dterweij on which architecture / platform you are using PJON?
Which errors you get? Could you document them in issues to lem me fix them? :)

[2016-10-28 06:17] dvv commented on #92
Ciao @gioblu.

Returned to the problem. Used the current master. First node transmits once a 1000ms, second once a 750ms.
https://gyazo.com/ad8ab15110cb2e547a1d70e2e66adcfc shows there's a clinch after 2 comms (line is highly active, but error -1 reported), and after it is somehow resolved, comm continues without error (as far as I see for several minutes).

I thought it can be linked to both A0 (

[2016-10-28 12:47] gioblu commented on #92
Yes the A0 issue can be the solution.
Are you printing the result of send there? If so, being packet an int (not unsigned), maybe it prints -1 instead of 65535 (FAIL)

[2016-10-28 12:48] gioblu commented on #92
@dvv probably I should change the type in every examples to avoid this issue if possible

[2016-10-28 13:27] dvv commented on #92
`int packet`, right.
As I said, I pulled A0 of two devices to ground/power respectively, and saw no changes in behavior.
But look, relying on A0 being _float_ is a failure for some setups (say, those which use A0 as normal input).
Couldn't you fork a testing branch on which you would add additional randomness based on device ID so I could test it?
TIA

[2016-10-30 01:54] gioblu commented on #92
ciao @dvv I am sorry for the late answer.
I agree with you that would be interesting to use the device id if present.
Do you know if randomSeed can be called more than once? Because if so could be set again after dynamic addressing acquisition. I dont understand your point about float.
I can fork for you tomorrow! Thank you again for your support to the project.

[2016-10-30 07:03] dvv commented on #92
I mean if one has schematic where A0 pulled down at startup, no randomness is introduced, since `randomSeed(0)` should result in constant seed. No?

[2016-11-01 13:27] gioblu commented on #92
Ciao @dvv you are right, I didn't consider this possibility.
So you suggest to call randomSeed passing the device_id if is defined, or call again randomSeed, after id acquisition passing the new id?

[2016-11-02 07:30] dvv commented on #92
Well, I though `device_id` is hardcoded. Something like that. Or leave option to define the pin for source of randomness.

[2016-11-02 09:22] gioblu commented on #92
Ciao @dvv `device_id` can be hardcoded, but if you instance PJON<> bus without parameters, your device is initialized with `NOT_ASSIGNED` id and dynamic addressing procedure will start after begin.

[2016-11-02 09:23] gioblu commented on #92
Ok @dvv , so I will add setter for randomness pin, and use device_id if present for randomness. I hope this will fix this issue.

[2016-11-07 16:42] #90 closed

[2016-11-16 09:36] gioblu opened #101 "PJON Standard: Opinions / Suggestions"
What do you think about it? What you would change? Have you any suggestions?

[2016-11-19 17:00] muratangi commented on #101
I hope this is notice is for collecting suggestions from the community.
Would it be nice to set a connection from linux arduino over serial?
This sort of connection will open many doors to
My appologies if it is already available.

[2016-11-19 19:25] gioblu commented on #101
ciao @muratangi, thank you for your feedback! Yes this is the right place for suggestion from the community related to the PJON Standard. Speaking about linux - arduino connection see PJON-Python of @girgitt user, and for C PJON-C of @Matheus-Garbelini. Both implementations needs to be updated to be compatible with 6.0 and following but are a good start.

[2016-11-23 13:00] adrianrolla commented on #15
Gioblu, I have a DUE, uno, nano, mega and some time to help with.
Tryed to make it work with no success, I just could make a DUE send a byte to UNO/MEGA with ACK ok, but could not get UNO/MEGA send anything to DUE.
If you wish, let me know what can I do in order to try making DUE work with pjon. Regards!

[2016-11-23 13:14] gioblu commented on #15
Ciao @adrianrolla, using `ThroughSerial` should work, but if you are interested in `SoftwareBitBang`, you should find the constant definining your architecture / processor (see https://github.com/gioblu/PJON/blob/master/strategies/SoftwareBitBang/Timing.h) write a new section with the timing definition related to Due and try to tweak its timing, changing `SWBB_READ_DELAY` (could also be negative).

[2016-11-23 13:21] gioblu commented on #15
@adrianrolla see also https://github.com/gioblu/PJON/wiki/Troubleshooting

[2016-11-23 14:26] gioblu commented on #15
@adrianrolla be sure to be on master

[2016-11-23 20:38] adrianrolla commented on #15
Ciao @gioblu , many thanks for your answer.
Will do both things `ThroughSerial` and try to tweek a new section in Timing.h for `SoftwareBitBang`
Whatever the outcome is,  will let you know about the results.
Regards!

[2016-11-23 22:34] gioblu commented on #15
@adrianrolla feel free to write if needed!

[2016-11-24 17:08] gioblu commented on #15
A solution if no success is obtained with SoftwareBitBang on Due could be to use a ATmega family router from ThroughSerial to SoftwareBitBang (So running two different PJON instances with the described strategies)

[2016-12-02 11:56] Nippius opened #103 "Porting PJON to ARM MCUs"
Hi everyone!

I'm thinking of porting the PJON protocol to ARM embeded devices (in particular the Texas instruments Tiva-C family), however i have never done something like this (porting to a new architecture) and so i have a few questions that i hope someone could answer.

So first, from what i can tell, besides getting the code to compile, the only thing i need to port are the various strategies

[2016-12-02 14:30] gioblu commented on #103
CIao @Nippius, theoretically yes to the first question, but I will list you some considerations:
- I am not sure about byte order could be different there (little or big endian)
- Which type is used for the results of calculations where the type is not implicit (i.e. you can notice around the PJON code (uint32_t)(micros() - time) there to typecast the result and be sure of its type.
- `SoftwareBit

[2016-12-02 14:32] gioblu commented on #103
Forgot to tell you that would be great to receive from you a pull-request with this porting if working, expanding the use cases and making for sure other users happy :). Feel free to ask support if needed.

[2016-12-02 14:35] gioblu commented on #103
@Nippius maybe this issue is a dupe of https://github.com/gioblu/PJON/issues/15
10 days ago another user @adrianrolla issued the same need/desire, maybe he already made some step forward!

[2016-12-02 19:06] gioblu commented on #103
@Nippius maybe this issue is a dupe of https://github.com/gioblu/PJON/issues/15
10 days ago another user @adrianrolla

[2016-12-03 12:52] Nippius commented on #103
Hi @gioblu ! Thanks for the reply.

I see what you mean. I'll need to take a closer look to the code but it's probably doable with a few modifications like you said.
Regarding the endianess, i'm think that it won´t be a problem because most ARM can run in both big and little endian. I'll just make sure it's consistent :)

About user @adrianrolla , it looks similar but i want to do something a litt

[2016-12-03 14:08] gioblu commented on #92
Ciao @dvv here is the commit you asked for, sorry for being late https://github.com/gioblu/PJON/commit/27ac42744f860b857388f7e2c2cc0f2195a74b46

[2016-12-04 18:39] pacproduct opened #104 "OverSamplingSimplex Example: Transmitter code KO with NOT_ASSIGNED?"
Hello :)

I could not manage to make the example Local/OverSamplingSimplex work when configuring the pin in the **Transmitter** as instructed:
`bus.strategy.set_pins(NOT_ASSIGNED, 12);`

However, configuring the pin as follows seems to work as expected:
`bus.strategy.set_pins(11, 12);`
The following seems to work too:
`bus.strategy.set_pin(12);`

I'm note sure if I'm doing something wrong or if th

[2016-12-04 22:14] gioblu commented on #104
Ciao @pacproduct could you please include how you phisically connect the devices?
I am in any case running a test to be sure.

[2016-12-05 20:29] pacproduct commented on #104
Sure,

Here is the schematic of both circuits (receiver being an Arduino Uno board on the left hand, transmitter being a autonomous ATMega328P with a dedicated 16Mhz resonator on the right hand):
![test_rf_pjon](https://cloud.githubusercontent.com/assets/2098407/20900790/ed0ccaf4-bb2f-11e6-8c02-804bdb9e99e6.png)

When using `bus.strategy.set_pins(NOT_ASSIGNED, 12);` (in fact, when using your _Loca

[2016-12-06 00:09] gioblu commented on #104
Ciao @pacproduct I will try to be as precise as you were detailing your experiment. Thank you for your valuable support. It seems you spotted an issue:
- Inconsistency in the example: it misses a configuration line `bus.set_communication_mode(SIMPLEX);`.

It is described in the documentation but got lost during development in this sketch.

Reading back the code made me consider:
- The mode should

[2016-12-06 07:21] pacproduct commented on #104
Many thanks for your fast responses, I'll carry on testing your library that looks promising :)

_My 2 cents:_
I suppose strategies could guess what mode is being used when we call set_pins() indeed, as using both parameters would mean being in half-duplex, and using NOT_ASSIGNED in place of one of them would mean being in simplex mode.
But it's still required when using set_pin() so the strategy

[2016-12-06 17:15] elusive-code commented on #94
Hi, I just found this project, and it looks really interesting.
However it seems that example mentioned doesn't work when there are several slaves.

I tried simple setup with one master (Arduino Mega2560) and 2 slaves (Arduino Uno and Arduino Mega2560).

Master outputs in serial only one device.
From what I can tell - the one that was first to connect (I tried connecting only one slave at a time -

[2016-12-06 18:26] gioblu commented on #104
@pacproduct ciao, can handled completely by the strategy, If a pin is `NOT_ASSIGNED` the strategy can set `SIMPLEX`, for all other use cases as you pointed out i can `set_pin(12)` but use `SoftwareBitBang` in `HALF_DUPLEX` so, I would leave HALF_DUPLEX as default and suggest the user to call `bus.strategy.set_communication_mode(SIMPLEX);` if the channel is used so. I would leave `set_pin` present

[2016-12-06 18:30] gioblu commented on #94
Ciao @elusive-code thank you for your feedback, will run again tests tonight and dig out!

[2016-12-06 21:12] pacproduct commented on #104
Created pull request https://github.com/gioblu/PJON/pull/105 for the doc improvement I had in mind.

[2016-12-06 21:33] gioblu commented on #104
Ciao @pacproduct I have accepted your pull, thanks again for your support

[2016-12-06 21:34] gioblu commented on #104
@pacproduct  I have some doubt to move the setter and the mode in the strategy, because, it seems better not to call receive_response instead of calling it and inside avoid the execution...
What do you think about it?

[2016-12-07 12:43] gioblu commented on #94
Ciao @elusive-code it is strange, I made a test with an Arduino Duemilanove an Arduino Mega used as a master and an Arduino Micro and it works quite flawlessly printing:
[code]
Which strategy you are using?

[2016-12-07 13:03] pacproduct commented on #104
I must say I'm not sure to get what you mean...
I'm probably not familiar enough with your library yet to have an educated opinion on this to be honest.

AFAIK, the communication mode feels like it does not belong to strategies because they do not alter it, they simply use the mode that was defined previously. If that makes sense...

[2016-12-07 14:22] gioblu commented on #104
I agree with you, and I understand you need some time to get used to the abstraction layers of PJON.
I will close for now this issue, and leave as it is now the mode configuration.
Thank you for your support and opinion.

[2016-12-07 14:22] #104 closed

[2016-12-08 07:56] elusive-code commented on #94
@gioblu, I tried running code in the example - it uses SoftwareBitBang strategy. Only modification I made is pin used (I changed 12 to 2).

Maybe I did something wrong in the setup? I just connected them directly in one line through breadboard. Does it require pull-up (or pull down) resistor?
(Actually I think I tried with pull-up resistor too, because before I was checking out 1-wire, though I'm

[2016-12-08 10:15] gioblu commented on #94
CIao @elusive-code, pull down resistor could be necessary in some use cases / depending on you grounding / power supply. Do not forget share a common ground for all devices

[2016-12-08 11:01] elusive-code commented on #94
Ahhh, yes, the common ground, it seemed that was the issue, now it works, thanks!

Btw I noticed that method acquire_id_multi_master is in PJONSlave, does it mean that for multimaster mode PJONSlave should be used?
Is it possible then add ids list to PJONSlave as well (to have information on who is online)?

Also, while speaking of multimaster, is there some kind of bus arbitration? like when two

[2016-12-08 11:27] gioblu commented on #94
@elusive-code  PJONMaster and PJONSlave are abstractions over PJON base class (that includes multiplexing and traffic control features, to answer you to the arbitration question). You could use both multi-master an master-slave with the PJON base class implementing on top the procedure.
PJONSlave and PJONMaster are offering the addressing procedure. The slave contacts master to have an id, if mast

[2016-12-08 17:08] elusive-code opened #106 "PJONMaster - Arduino reboots when packet delivery fails"
When MAX_ATTEMPTS reached arduino goes into reboot.

It looks like it happens because `_master_error` is never set, so when `error_handler` invokes it - null dereferenced and arduino goes down.

(not sure if the same is valid for `PJONSlave`, but from the look of the code - it should be)

Apparently `PJONMaster `constructor invokes `set_error` of parent class `PJON`, which set it's own `_error ` f

[2016-12-08 17:13] elusive-code commented on #94
Thanks!
Auto-removal on failed delivery is actually a good solution for me. I can just send heartbeat messages if need be.

I believe I found an actual issue related to splitting PJON into PJONMaster and PJONSlave #106

[2016-12-08 20:28] gioblu commented on #106
Ciao @elusive-code I have run a fast test without oscilloscope not having enough time to run an extended analysis. What I see is that:

- on the slave's side the if 3000 millis forces the slave not to receive after 3 seconds and should be removed to do this test
- that on both sides `receive` should be called passing a timeframe to higher the time dedicated to reception, because as it is proposed

[2016-12-09 09:15] elusive-code commented on #106
Hi, @gioblu, sorry, I wasn't clear in the report.
I didn't invoke `set_error` manually from my code, from my understanding it is optional.
At least there is `dummy_error_handler`, and it is set as error handler in `PJON`, but not in `PJONMaster`.

- If you will look at the [`PJONMaster` constructor](https://github.com/gioblu/PJON/blob/master/PJONMaster.h#L82), you will see it invokes
```PJON<Strat

[2016-12-09 13:54] gioblu commented on #106
@elusive-code thank you for your analysis I will dedicate some time today to fix this, and to hopefully provide a fix for tomorrow!

[2016-12-10 22:40] gioblu commented on #106
CIao @elusive-code thank you for your report.
It now works flawlessly with the referenced changes.

[2016-12-11 15:47] gioblu commented on #106
@elusive-code will close here considering fixed.
Thank you for your support! Happy tinkering.

[2016-12-11 15:47] #106 closed

[2016-12-11 15:49] gioblu commented on #94
Ciao @elusive-code thank you for your support exposing the issue 106, I fixed thanks to your suggestions.

[2016-12-11 15:51] gioblu commented on #92
Ciao @dvv trying to revive this issue after version change again. 6.1 seems have partially fixed some of the proteus errors also if I have obtained few other reports by users, have you tried 6.1 in the Proteus environment?

[2016-12-15 08:12] dvv commented on #92
Ciao @gioblu much better now. Thank you!

[2016-12-15 14:27] gioblu commented on #92
Ciao @dvv thank you for your feedback, can I consider this issue closed?

[2016-12-15 14:37] dvv commented on #92
I think yes.

[2016-12-15 14:37] #92 closed

[2016-12-22 17:44] gioblu commented on #94
@elusive-code @Darksecond @Matheus-Garbelini The feature is now considered stable after extended testing. I will close this issue, feel free to reopen it in case of bug report or change proposal

[2016-12-22 17:44] #94 closed

[2016-12-26 23:43] budaics commented on #25
Can you help me whats going on?

![image](https://cloud.githubusercontent.com/assets/6849527/21487600/4ebfd8d8-cbcd-11e6-9744-30bdfd426046.png)

[2016-12-27 14:54] gioblu commented on #25
Ciao @budaics, thanks for the report. Ethernet is not present in the ATtiny core so it complains.
Will soon push and relate a commit to this issue with the fix. If you need it now, simply comment the lines 78 and 79 (https://github.com/gioblu/PJON/blob/master/PJON.h#L78) in PJON.h
Thanks again.

[2016-12-27 20:08] budaics commented on #25
Ciao,

I just found and I really love this library, much more easy than the others. Commented those lines and the build was successful. Thank You for the help. But sorry for saying that, Attiny85 doesn't work for me.

On the left there is an arduino/transmitter.
On the right with attiny85 not working, receiver_function not called.
If i change right to arduino, everithing is ok again

![image](http

[2016-12-27 20:58] gioblu commented on #25
Ciao @budaics if your device includes a dedicated external oscillator the motivation could be because there is not dedicated timing for that clock. See strategies/SoftwareBItBang/Timing.h. If there are no compatible timing, you can simply try to define them yourself as many users did.

If your ATtiny85 is running its internal oscillator at 8Mhz, experiments have shown this component to be extremel

[2016-12-27 21:40] budaics commented on #25
Thank you again, 16 MHz external oscillator solved the problem! :)

[2016-12-27 21:43] gioblu commented on #25
Hei @budaics happy to hear you fixed, why don't you share your setup here or make a pull request so other users with external 16 will be able to follow your steps :) ?

[2016-12-28 16:21] gioblu commented on #25
Ciao @budaics, thanks a lot, I fixed few minor things in the wiki, seems the default values are ok for ATtiny85 at 16Mhz external! Cool! Maybe they should be defined in the condition related to ATtiny to have them dedicated. Could you run the networkAnalysis example and print me here the results?

[2016-12-28 18:53] budaics commented on #25
[code]

[2016-12-29 12:37] gioblu commented on #25
Ciao @budaics, thank you for your tests, fantastic it seems working perfectly with the default timing!
It may work also in mode `FAST` simply by default!

[code]

[2016-12-29 14:38] budaics commented on #25
With ` #define SWBB_MODE 2` mode
[code]

[2016-12-29 16:37] gioblu commented on #25
Ciao @budaics cool, thank you again for the great news! So you assessed nominal functionality on both `STANDARD` and `FAST` modes without the necessity of dedicated timing.

[2016-12-30 13:27] gioblu commented on #25
Ciao @budaics here the fix to the inclusion error you reported: https://github.com/gioblu/PJON/commit/a2561bd36338b128559e360bf8b8390ca61807aa

thanks again.

[2016-12-31 01:59] Radiusxe opened #107 "Oversamplig for ESP8266"
Hi,
will be oversampling method implemented for ESP8266?

Thanks.

With best regards
Radius

[2016-12-31 15:55] gioblu commented on #107
Ciao @Radiusxe, it should work also on ESP8266, give it a try.

[2016-12-31 15:57] gioblu commented on #107
I am sorry, but I am not able today to test this configuration, I can follow with practical tests in the next days. Happy tinkering, and new year :)

[2017-01-02 22:32] Radiusxe commented on #107
Hi,
for me it is not working. This sketch receives nothing and on this page is ESP
 not in supported list.
https://github.com/gioblu/PJON/tree/master/strategies/OverSampling

I have try all combinations of settings (with, without receiver, with without simplex; another pins, not ESP like names of pins, but arduino names of pins etc D2 = 4)
#include <PJON.h>
//#include <ESP8266WiFi.h>          //ht

[2017-01-03 14:06] gioblu commented on #107
Ciao @Radiusxe thank you for assessing that it actually doesnt work out of the box.
I am working on it, a potential issue could be that is necessary to power both transmitter and receiver modules with the same voltage (so no tx 5v, rx 3v3 or the contrary because, power supply voltage slightly shifts transmission frequency) Thank you for your support.

[2017-01-03 21:28] Radiusxe commented on #107
Hi,
doesn't know why, but on the fifth line should be (and I have) PJON<OverSampling> bus(44);

Tested nodemcu with 5V receiver (PJON 6,2) and still nothing :/. I have test Arduino Uno with 3,3V receiver and works like with 5V receiver (PJON 6,2).

With best regards
Radius

[2017-01-04 00:59] gioblu commented on #107
Ciao @Radiusxe thank you for your feedback. I am trying to port it, will give you a response late tomorrow.

[2017-01-04 21:37] Radiusxe commented on #107
Ah, I need to add the code as "code"
`#include <PJON.h>
//#include <ESP8266WiFi.h> //https://github.com/esp8266/Arduino

// bus(selected device id)
PJON<OverSampling> bus(44);

void setup() {
bus.set_communication_mode(SIMPLEX);
//bus.strategy.set_pins(D2, D7);
bus.strategy.set_pins(D2, NOT_ASSIGNED);
//bus.strategy.set_pin(D2);
bus.set_receiver(receiver_function);
bus.set_error(error_handler);
bu

[2017-01-05 16:50] gioblu commented on #107
Ciao @Radiusxe, I have accepted your pull and now working on porting, needed to test, retest, organize and push the changes I had locally here. Sorry for the delay and thank you again.

[2017-01-06 21:46] Radiusxe commented on #107
Hi,
I'm glad to hear these good news.

Radius

[2017-01-07 11:09] nomeme opened #109 "Arduino Pro Mini interference"
Hi,
I am currently trying to get PJON running on an Arduino Pro Mini 16Mhz and two of those cheap 433 Mhz rf receiver and transmitter pairs.

         Using Programmer              : arduino
         Overriding Baud Rate          : 57600
         AVR Part                      : ATmega328P
         Chip Erase delay              : 9000 us
         PAGEL                         : PD7
         BS2

[2017-01-07 13:27] gioblu commented on #109
Ciao @nomeme thank you for the detailed report.
Could you please assess nominal functionality in SIMPLEX mode (so only tx on one side, only rx on the other) running the OverSamplingSimplex example? https://github.com/gioblu/PJON/tree/master/examples/Local/OverSamplingSimplex

If you have a positive test result we can exclude a problem related to your particular hardware and assess that at least si

[2017-01-07 13:43] gioblu commented on #109
@nomeme reading better your report, are you using two Pro Mini or 1 Pro Mini and another supported device? If yes, which?

[2017-01-07 14:50] nomeme commented on #109
Hi,
Thanks for your quick reply.
I am currently using two pro minis. I also tried with a pro mini and uno with similar results.
I'll check the simplex test later today with both devices and will post my results here.
Would it help you if Itry to find out at how many attempts the packet was received more or less reliably?

Kind Regards.

[2017-01-07 16:44] nomeme commented on #109
Hi again,
using the simplex i get following output using two pro mini

---------------------
Starting 1 second communication speed test...
Absolute com speed: 75.00B/s
Practical bandwidth: 60.00B/s
Packets sent: 3.00
Mistakes (error found with CRC) 3.00
Fail (no answer from receiver) 0
Busy (Channel is busy or affected by interference) 255
Accuracy: 0.00 %
 ---------------------
Starting 1 second

[2017-01-07 16:47] nomeme commented on #109
Using the uno as receiver and pro mini as sender:

 ---------------------
Starting 1 second communication speed test...
Absolute com speed: 200.00B/s
Practical bandwidth: 160.00B/s
Packets sent: 8.00
Mistakes (error found with CRC) 0.00
Fail (no answer from receiver) 0
Busy (Channel is busy or affected by interference) 26
Accuracy: 100.00 %
 ---------------------
Starting 1 second communication sp